<p>
  SCVO membership fees are based on the most recent annual income figure for your organisation. Details of our membership bands and the fees involved are outlined below:
</p>

<table border="0" cellspacing="0" cellpadding="0" class="table{{#unless link}} table-hover{{/unless}}">
  <thead>
    <tr>
      <th>Income band</th>
      <th>Member category</th>
      <th>Membership fee</th>
      {{#if link}}<th>&nbsp;</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        £0k - £100K
      </td>
      <td>
        Free
      </td>
      <td>
        £0.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-member-free">Details</a>
        </td>
      {{/if}}
    </tr>
    <tr>
      <td>
        £100k - £500k
      </td>
      <td>
        Small
      </td>
      <td>
        £279.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-member-small">Details</a>
        </td>
      {{/if}}
    </tr>
    <tr>
      <td>
        £500k - £3million
      </td>
      <td>
        Medium
      </td>
      <td>
        £449.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-member-medium">Details</a>
        </td>
      {{/if}}
    </tr>
    <tr>
      <td>
        £3million+
      </td>
      <td>
        Large
      </td>
      <td>
        £749.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-member-large">Details</a>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>