<p>
  SCVO supporter fees are based on the most recent annual income figure for your organisation. Details of our supporter bands and the fees involved are outlined below:
</p>

<table border="0" cellspacing="0" cellpadding="0" class="table{{#unless link}} table-hover{{/unless}}">
  <thead>
    <tr>
      <th>Income band</th>
      <th>Supporter category</th>
      <th>Membership fee</th>
      {{#if link}}<th>&nbsp;</th>{{/if}}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Individuals
      </td>
      <td>
        Individuals
      </td>
      <td>
        £119.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-supporter-individual">Details</a>
        </td>
      {{/if}}
    </tr>
    <tr>
      <td>
        Organisations with income under £500k
      </td>
      <td>
        Organisations £0k-£500k
      </td>
      <td>
        £299.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-supporter-organisations-with-income-under-500k">Details</a>
        </td>
      {{/if}}
    </tr>
    <tr>
      <td>
        Organisations with income £500k+
      </td>
      <td>
        Organisations £500k+
      </td>
      <td>
        £899.00
      </td>
      {{#if link}}
        <td class="card-footer">
          <a href="/about/membership/fees/scvo-supporter-organisations-with-income-over-500k">Details</a>
        </td>
      {{/if}}
    </tr>
  </tbody>
</table>
