<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you for completing your Device Refurbishment Support Fund online application form.
  </p>
  <p>
    Our application assessment process will be completed by mid-May and we will notify all applicants of the outcome by 4th June.
  </p>
</div>