<div class="container v-margin-full">
  <div class="b-margin-full b-padding-full splash-image splash-image-header">
     {{!-- style="background-image:url('{{~>asset_url url='images/home/charityawards-bg.jpg'~}}');" --}}
    <div class="splash-overlay splash-overlay-hidden v-padding-full" style="background-image:url('{{~>asset_url url='images/awards/bg-2021.jpg'~}}');background-size:cover;">
      <div class="header-logo hide-sm">
        <div class="header-image t-padding-full t-margin-full">
          <img src="{{~>asset_url url='images/awards/logo_2021_inline_reverse.svg'~}}" alt="Scottish Charity Awards">
        </div>
        {{!-- <h1 class="text-white" style="font-size:3.5rem;">The stars are out</h1> --}}
        <p class="header-text">
          Friday 1<sup>st</sup> October<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank" class="no-ext">#ScotCharityAwards</a>
        </p>
      </div>
      <div class="header-logo show-sm b-margin-full">
        <img src="{{~>asset_url url='images/awards/logo_2021_stacked_reverse.svg'~}}" alt="Scottish Charity Awards">
        {{!-- <h1 class="text-white">The stars are out</h1> --}}
        <p class="header-text">
          Friday 1<sup>st</sup> October<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank" class="no-ext">#ScotCharityAwards</a>
        </p>
      </div>
    </div>
  </div>
</div>
