<div class="container v-margin-full">
  <div class="b-margin-full b-padding-full splash-image splash-image-header">
    <div class="splash-overlay splash-overlay-hidden v-padding-full" style="background-image:url('{{~>asset_url url='images/awards/bg-2021.jpg'~}}');background-size:cover;">
      <div class="header-logo hide-sm">
        <div class="header-image t-padding-full t-margin-full">
          <img src="{{~>asset_url url='images/awards/vote-2021.svg'~}}" alt="Scottish Charity Awards">
        </div>
      </div>
    </div>
  </div>
</div>
