</div>
<div class="bg-primary">
  <div class="container">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-engine-warning fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <p class="v-margin v-padding">
          We are still accepting bookings for our training courses but due to the ongoing coronavirus guidelines we are working with our trainers to either reschedule these until future dates or set up as online courses.<br />
          <strong>If you have signed up for one of our workshops we will contact you with updated information as soon as we can.</strong>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">