{{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
<div class="related">
  <h3>Similar events</h3>
  <div class="columns">
    {{#each @root.data.supplimentaryResponses.related_events.hits.hits ~}}
    <div class="column col-6 col-md-12">
      {{#with _source ~}}
      {{> content_event_list}}
      {{/with ~}}
    </div>
    {{/each ~}}
  </div>
</div>
{{/compare ~}}