</div>
<div class="bg-secondary">
  <div class="container">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-calendar-check fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <p class="v-margin v-padding">
          We continue to operate during these uncertain times and remain able to respond to your enquiries and accept bookings for our Autumn programme, so have a look at our training and events calendar below and book your place. Please note more Autumn courses will be added and open for bookings soon.
          <br />
          Due to the ongoing coronavirus pandemic we have taken the decision to reschedule our May and June classroom-based training courses and are working with our trainers to find alternative dates. If you have signed up for one of these courses we will contact you with updated information as soon as we can.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">