{{#compare @root.data.supplimentaryResponses.related_posts.hits.total ">" 0 ~}}
<div class="related">
  <h3>{{default title "Related posts"}}</h3>
  <div class="columns">
    {{#each @root.data.supplimentaryResponses.related_posts.hits.hits ~}}
    <div class="column col-3 col-md-6 col-sm-12">
      {{{_source.rendered.scvo_gist}}}
    </div>
    {{/each ~}}
  </div>
</div>
{{/compare ~}}
