<h3 class="text-primary">Useful links</h3>
<div class="columns">
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a>
  </div>
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/projects-campaigns/eu-are-valued/applying-for-settled-status">Applying for settled status</a>
  </div>
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/credit-union">Credit Union</a>
  </div>
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/running-your-organisation/finance-business-management/bank-accounts">Charity bank accounts</a>
  </div>
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/events">Training</a>
  </div>
  <div class="column col-4 col-md-6 col-sm-12">
    <a href="/setting-up-a-charity/decide-on-structure">Charity structure</a>
  </div>
</div>