<h3>Useful links</h3>
<ul>
  <li class="b-margin">
    <a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a>
  </li>
  <li class="b-margin">
    <a href="/policy/campaigns/eu-are-valued/applying-for-settled-status">Applying for settled status</a>
  </li>
  <li class="b-margin">
    <a href="/services/credit-union">Credit Union</a>
  </li>
  <li class="b-margin">
    <a href="/support/running-your-organisation/finance-business-management/bank-accounts">Charity bank accounts</a>
  </li>
  <li class="b-margin">
    <a href="/support/events">Training</a>
  </li>
  <li class="b-margin">
    <a href="/support/setting-up-a-charity/decide-on-structure">Charity structure</a>
  </li>
</ul>