<h3>Useful links</h3>
<div class="columns">
  <div class="column col-6 col-md-12 b-margin">
    <a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a>
  </div>
  <div class="column col-6 col-md-12 b-margin">
    <a href="/policy/campaigns/eu-are-valued/applying-for-settled-status">Applying for settled status</a>
  </div>
  <div class="column col-6 col-md-12 b-margin">
    <a href="/services/credit-union">Credit Union</a>
  </div>
  <div class="column col-6 col-md-12 b-margin">
    <a href="/support/running-your-organisation/finance-business-management/bank-accounts">Charity bank accounts</a>
  </div>
  <div class="column col-6 col-md-12 b-margin">
    <a href="/support/events">Training</a>
  </div>
  <div class="column col-6 col-md-12 b-margin">
    <a href="/support/setting-up-a-charity/decide-on-structure">Charity structure</a>
  </div>
</div>