{{#unless hide_title}}<h3>Useful links</h3>{{/unless}}
<ul style="list-style-type:none;margin:0;">
  <li class="b-margin">
    <a href="/support/coronavirus">Coronavirus Third Sector Information Hub</a>
  </li>
  <li class="b-margin">
    <a href="/support/training">Training courses</a>
  </li>
  <li class="b-margin">
    <a href="/services/hr">HR Service</a>
  </li>
  <li class="b-margin">
    <a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a>
  </li>
  <li class="b-margin">
    <a href="/services/credit-union">Credit Union</a>
  </li>
  <li class="">
    <a href="/support/running-your-organisation">Running your organisation</a>
  </li>
</ul>