<div class="scvo-service bg-primary">
  {{!-- <div class="columns">
    <div class="column col-2 col-lg-3 col-md-12">

    </div>
    <div class="column col-10 col-lg-9 col-md-12"> --}}
      <div class="x-padding-full">
        <h2 class="text-white">
          <strong>Hub</strong>
          <span class="text-secondary">&ensp;|&ensp;</span>
          Shared office space
        </h2>
        <div class="columns">
          <div class="column col-8 col-xl-12 text-secondary">
            <strong>Four locations; in Edinburgh, Glasgow, and Inverness</strong>
          </div>
          <div class="column col-4 col-xl-12">
            <a href="/services/office-space" class="btn btn-lg btn-block pull-right">Join our hub</a>
          </div>
        </div>
      </div>
    {{!-- </div>
  </div> --}}
</div>