<div class="scvo-service bg-secondary">
  {{!-- <div class="columns">
    <div class="column col-2 col-lg-3 col-md-12">

    </div>
    <div class="column col-10 col-lg-9 col-md-12"> --}}
      <div class="x-padding-full">
        <h2 class="text-primary">
          <strong>Payroll services</strong>
        </h2>
        <div class="columns">
          <div class="column col-8 col-xl-12 text-white">
            <strong>Our experienced team process salaries for over 400 organisations across Scotland</strong>
          </div>
          <div class="column col-4 col-xl-12">
            <a href="/services/payroll" class="btn btn-lg btn-block pull-right">Find out more</a>
          </div>
        </div>
      </div>
    {{!-- </div>
  </div> --}}
</div>