<div class="container">
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/information-service">Information Service</a></li>
    <li class="breadcrumb-item"><a href="/support/information-service/events">Events</a></li>
    <li class="breadcrumb-item"><a href="{{path}}">{{{title}}}</a></li>
    <li class="breadcrumb-item">Booking</li>
  </ul>

</div>
<div class="bg-yellow">
  <div class="container">
    <p class="v-padding-full">
      We are still accepting bookings for our training courses but due to the ongoing COVID-19 guidelines we are working with our trainers to either reschedule these until future dates or set up as online courses. If you have signed up for one of our workshops we will contact you with updated information as soon as we can.
    </p>
  </div>
</div>
<div class="container">

  <h1>{{{title}}}</h1>
  {{/with ~}}
</div>