{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
{{#if booking_url ~}}
<iframe src="{{booking_url}}?sfid={{Id}}" frameborder="0" width="100%" height="400" style="overflow:hidden"></iframe>
{{else}}
<iframe src="https://www.surveygizmo.eu/s3/90208458/Event-Booking-Info-Service-free?sfid={{Id}}" frameborder="0" width="100%" height="550" style="overflow:hidden" class="b-margin-full"></iframe>
<p>
  <strong>The information you provide will be stored in our database to allow us to respond to your booking request. <a href="/privacy/training-and-events" target="_blank">Read our full privacy notice</a>.</strong>
</p>
{{/if ~}}
{{/with ~}}