<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/information-service">Information Service</a></li>
    <li class="breadcrumb-item"><a href="/support/information-service/events">Events</a></li>
    <li class="breadcrumb-item">{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
  </ul>

  <h1>Information service events</h1>
</div>