<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
  <div class="mdc-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">
        <a href="/policy-research/policy/{{replace slug 'p_policy_' ''}}">
          <span class="fal fa-fw fa-comment-alt-lines fa-2x">&nbsp;</span>
          {{{title}}}
        </a>
      </h1>
    </section>
    {{#if statement ~}}
    <section class="mdc-card__supporting-text">
      {{{truncate statement 280}}}
    </section>
    {{/if ~}}
    <section class="mdc-card__actions">
      <a class="mdc-card__action" href="/policy-research/policy/{{replace slug 'p_policy_' ''}}">Read more</a>
    </section>
  </div>
</div>