<div class="card card-no-padding gist scvo-post scvo-post-{{wpid}} b-margin-full">
  <div class="card-header">
    <div class="card-title h5">
      <a href="{{path}}">{{{title}}}</a>
    </div>
  </div>
  <div class="card-body">
    <div class="post-info">
      {{> content_post_info_author}}
      {{> content_post_info_published}}
    </div>
  </div>
</div>