{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}


<p>
  <strong>The information you provide will be stored in our database to help us plan future events. <a href="/privacy/training-and-events" target="_blank">Read our full privacy notice</a>.</strong>
</p>
{{/with ~}}