{{> search_info paging=@root.data.primaryResponse.pagination}}

{{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
{{#each @root.data.primaryResponse.hits.hits ~}}
{{#with _source ~}}
{{> content_event_list}}
{{/with ~}}
{{/each ~}}
{{else}}
<div class="label label-info v-padding h-padding-full">
  <span class="far fa-info-circle r-margin"></span>
  There are no future events currently listed
</div>
{{/compare ~}}

{{> pagination paging=@root.data.primaryResponse.pagination}}