{{#compare @root.request.params.query.team 'digital'}}
<div class="bg-blue v-padding-full">
  <div class="container">
    <div class="columns">
      <div class="col-8 col-xl-9 col-lg-10 col-md-11 col-sm-12 col-mx-auto">
        <h3>Qualifications in Digital Inclusion</h3>
        <p>
          Our free Digital Inclusion qualifications are suitable for Digital Champions and Digital Inclusion Project Managers. These were developed in collaboration with Kelvin College and are SCQF credit-rated.
        </p>
        <p class="card-footer b-padding">
          <a href="/support/digital/digital-inclusion-qualification">Find out more</a>
        </p>
      </div>
    </div>
  </div>
</div>
{{/compare}}