<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item">Events</li>
  </ul>

  {{> warnings_events}}

  <h1>Events &amp; training</h1>
</div>