<div class="v-margin-full text-center">
  <p>
    <strong>Community Jobs Scotland is supported by:</strong>
  </p>
  <a class="no-ext" href="http://gov.scot"><img class="alignnone size-full wp-image-23699" src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/Scot-Gov-Logo-768x140.jpg" alt="Scottish Government" width="300" /></a>
</div>