<div class="v-margin-full v-padding-full text-center">
  <p>
    <strong>Community Jobs Scotland is supported by:</strong>
  </p>
  <a class="no-ext no-underline" href="http://gov.scot"><img src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2018/01/Scot-Gov-Logo-768x140.jpg" alt="Scottish Government" width="300" /></a>
</div>