<div class="columns b-margin-full support-digital">
  <div class="column col-4 col-lg-6 col-sm-12">
    <a href="/digital/about" class="btn btn-primary btn-lg btn-block no-ext">
      <span class="far fa-newspaper fa-fw"></span>
      Sign up for our e:bulletin
    </a>
  </div>
  <div class="column col-4 col-lg-6 col-sm-12">
    <a href="https://twitter.com/digiscot" class="btn btn-primary btn-lg btn-block no-ext" target="_blank">
      <span class="fab fa-twitter fa-fw"></span>
      Follow us on Twitter
    </a>
  </div>
  <div class="column col-4 col-lg-6 col-sm-12">
    <a href="mailto:digital@scvo.org.uk" class="btn btn-primary btn-lg btn-block no-ext">
      <span class="far fa-envelope fa-fw"></span>
      Email us
    </a>
  </div>
</div>

<div class="logos">
  <h3>Our digital work is delivered in partnership with:</h3>
  <div class="columns">
    <div class="column col-3 col-md-6">
      <a href="http://gov.scot" class="no-ext">
        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scotgov.png" alt="The Scottish Government" class="p-centered" />
      </a>
    </div>
    <div class="column col-3 col-md-6">
      <a href="https://www.gov.scot/policies/digital" class="no-ext">
        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/digiscot.png" alt="Digital Scotland" class="p-centered" />
      </a>
    </div>
    <div class="column col-3 col-md-6">
      <a href="https://www.tnlcommunityfund.org.uk/" class="no-ext">
        <img src="https://onedigitaluk.com/wp-content/uploads/2019/01/NationalLotteryCommunityFundLogo.png" alt="National Lottery Community Fund" class="p-centered" />
      </a>
    </div>
    <div class="column col-3 col-md-6">
      <a href="http://onedigitaluk.com" class="no-ext">
        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" class="p-centered" />
      </a>
    </div>
  </div>
</div>