<div class="container-fluid logos">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner b-margin-full support-digital">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="/digital/about" class="mdc-button mdc-button--raised mdc-button--full">
          <span class="fal fa-envelope fa-fw"></span>
          Sign up for our e:bulletin
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="https://twitter.com/digiscot" class="mdc-button mdc-button--raised mdc-button--full">
          <span class="fab fa-twitter fa-fw"></span>
          Follow us on Twitter
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="mailto:digital@scvo.org.uk" class="mdc-button mdc-button--raised mdc-button--full" target="_blank">
          <span class="fal fa-at fa-fw"></span>
          Email us
        </a>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
        <h3>Our digital work is delivered in partnership with:</h3>
      </div>
    </div>
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="http://gov.scot">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scotgov.png" alt="The Scottish Government" />
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="https://www.gov.scot/policies/digital">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/digiscot.png" alt="Digital Scotland" />
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="https://www.tnlcommunityfund.org.uk/">
          <img src="https://onedigitaluk.com/wp-content/uploads/2019/01/NationalLotteryCommunityFundLogo.png" alt="National Lottery Community Fund" />
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
        <a href="http://onedigitaluk.com">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" />
        </a>
      </div>
    </div>
  </div>
</div>