<div class="footer-text sponsors">
  <div class="container-fluid">
    <hr />
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            Sponsors
          </h3>
          <p style="overflow:hidden;">
            <a href="https://www.ccla.co.uk" style="float:left;margin-right:8px;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ccla.png" height="75" /></a>
            <a href="https://www.keegan-pennykid.com" style="float:left;margin-right:8px;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/KPlogo.png" height="75" /></a>
            <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a>
          </p>
        </div>
      </div>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            Partners
          </h3>
          <p>
            <a href="https://www.socialenterprisescotland.org.uk" style="float:left;margin-right:4px;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ses-logo.png" height="75" /></a>
            <a href="https://www.socialenterprisescotland.org.uk" style="float:left;margin-right:8px;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/seem-logo.jpg" height="75" /></a>
            <a href="https://glasgowconventionbureau.com" style="float:left;margin-right:8px;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/glasgow-convention-bureau-logo-black.png" height="75" /></a>
            {{!-- <a href="https://www.rockpa.org" style="float:left;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/rpa_logo.png" width="225" /></a> --}}
            {{!-- <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a> --}}
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>
            Media
          </h3>
          <p>
            <a href="http://thirdforcenews.org.uk?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/tfn.png" width="80" height="80" /></a>
          </p>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
