<div class="footer-image join-our-hub">
  <h2>
    Affordable and flexible office space for voluntary sector organisations
  </h2>
  <p>
    We think everyone in the voluntary sector should have great places to work,
    so we’ve opened our doors to create shared office spaces for other charities and social enterprises.
  </p>
  <p>
    Office locations in Glasgow, Edinburgh and Inverness.
  </p>
  <a href="/services/office-space" class="mdc-button mdc-button--raised">Join our hub</a>
</div>
