{{#if (contains @root.request.url.pathname "digital/evolution/digishift") ~}}
<div class="bg-blue">
  <div class="container b-padding-full">
    <div class="columns b-padding-full">
      <div class="column col-xs-auto">
        <div class="columns">
          <div class="column col-10 col-mx-auto col-md-12">
            <div class="columns">
              <div class="column col-4 col-md-6">
                <a href="https://thirdsectorlab.co.uk" class="no-ext no-underline"><img src="{{~>asset_url url='images/logos/organisations/third-sector-lab.png'~}}" class="img-responsive align-centre" /></a>
              </div>
              <div class="column col-2 hide-md"></div>
              <div class="column col-4 col-md-6">
                <a href="https://www.thecatalyst.org.uk" class="no-ext no-underline"><img src="{{~>asset_url url='images/logos/organisations/catalyst.svg'~}}" class="img-responsive align-centre" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column col-3 col-xl-4 col-lg-12"></div>
    </div>
  </div>
</div>
{{/if ~}}
