<div class="footer-image join-our-hub">
  <div class="columns">
    <div class="column col-4 col-lg-6 col-sm-12">
      <h2>
        Office space
      </h2>
      <p>
        Locations in Edinburgh, Glasgow, and Inverness
      </p>
      <a href="/services/office-space" class="mdc-button mdc-button--raised">Join our hub</a>
    </div>
    <div class="column col-4 col-lg-6 col-sm-12">
      <h2>
        Payroll service
      </h2>
      <p>
        Our experienced team process salaries for over 400 organisations across Scotland
      </p>
      <a href="/services/payroll" class="mdc-button mdc-button--raised">Find out more</a>
    </div>
    <div class="column col-4 col-lg-6 col-sm-12">
      <h2>
        SCVO membership
      </h2>
      <p>
        Membership of SCVO provides great benefits
      </p>
      <a href="/about/membership" class="mdc-button mdc-button--raised">Find out more</a>
    </div>
  </div>
</div>