{{#compare @root.data.supplimentaryResponses.tfn_latest.hits.total ">" 0 ~}}
<div class="related-posts v-padding-full bg-tfn">
  <div class="container b-margin">
    <h3 class="no-margin">
      Latest TFN news&ensp;
      <a href="https://thirdforcenews.org.uk/tfn-news?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic" class="caption">See more</a>
    </h3>
    <div class="columns b-margin">
      {{#each (split "0,1,2" ",") ~}}
      {{#with (getProperty @root.data.supplimentaryResponses.tfn_latest.hits.hits (concat this '._source')) ~}}
      <div class="column col-4 col-lg-6 col-sm-12">
        {{> content_featured name="latest-tfn" link=(trim url) heading="h4" title=(trim title) body=(momentFormat (moment date_published 'x') "Do MMMM YYYY") ratio="16:9" image=image}}
      </div>
      {{/with ~}}
      {{/each ~}}
    </div>
  </div>
</div>
{{/compare ~}}