  <h1>
    Error 404: The requested page could not be found
  </h1>
  <h2 class="pb-2 mb-0">
    The page may have been moved or deleted
  </h2>

  <script>
  gtag('event', '404', {
    event_category: '{{name}}',
    event_label: '{{request.params.uri.pathname}}'
  });
  </script>
</div>
