  <h1>
    Error 404: The requested page could not be found
  </h1>
  <h2 class="b-margin-full">
    The page may have been moved or deleted
  </h2>

  {{#ifAll @root.data.not_found (compare @root.data.not_found.hits.total ">" 0) ~}}
  {{> site_search_form id='error'}}

  <h3>Did you mean?</h3>
  {{#with @root.data.not_found.hits.hits.[0] ~}}
  {{> site_search_result this}}
  {{/with ~}}
  {{/ifAll ~}}
  {{#ifAll @root.data.not_found (compare @root.data.not_found.hits.total ">" 1) ~}}

  <h3>Other relevant content</h3>
  {{#each @root.data.not_found.hits.hits ~}}
  {{#compare @index "===" 0 ~}}
  {{else}}
  {{> site_search_result this}}
  {{/compare ~}}
  {{/each ~}}
  {{else}}
  <h3>Try searching for a topic</h3>
  {{> site_search_form id='error'}}
  {{/ifAll ~}}
  <script>
  gtag('event', '404', {
    event_category: '{{name}}',
    event_label: '{{request.params.uri.pathname}}'
  });
  </script>
</div>