<div class="bg-primary">
  <div class="container v-padding-full">
    <div class="columns v-margin-full">
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="/support/digital/about" class="btn btn-primary btn-lg btn-block no-ext">
          <span class="far fa-newspaper fa-fw"></span>
          Sign up for our e:bulletin
        </a>
      </div>
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="https://twitter.com/digiscot" class="btn btn-lg btn-block no-ext" target="_blank">
          <span class="fab fa-twitter fa-fw"></span>
          Follow us on Twitter
        </a>
      </div>
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="mailto:digital@scvo.org.uk" class="btn btn-lg btn-block no-ext">
          <span class="far fa-envelope fa-fw"></span>
          Email us
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray">
  <div class="container logos v-padding-full">
    <h4 class="v-padding-full">Our digital work is delivered in partnership with:</h4>
    <div class="columns v-margin-full">
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full">
        <a href="http://gov.scot" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="{{~>asset_url url='images/logos/organisations/SG_Quaternary_govscot_RGB.png'~}}" alt="The Scottish Government" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full">
        <a href="https://www.gov.scot/policies/digital" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="{{~>asset_url url='images/logos/organisations/digital-scotland.png'~}}" alt="Digital Scotland" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full">
        <a href="https://www.tnlcommunityfund.org.uk/" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="https://onedigitaluk.com/wp-content/uploads/2019/01/NationalLotteryCommunityFundLogo.png" alt="National Lottery Community Fund" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full">
        <a href="http://onedigitaluk.com" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
    </div>
  </div>
</div>