<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b">
</script>

<!-- FORM: BODY SECTION -->
<div class="bg-blue b-padding-full wFormContainer">
  <div class="container b-padding-full wForm" id="0-WRPR" dir="ltr">
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="form form-horizontal hintsBelow labelsAbove" id="0" role="form">
      <div class="htmlSection">
        <div class="htmlContent form-group">
          <div class="col-9 col-xl-12">
            {{{@root.data.primaryResponse.hits.hits.0._source.content}}}
          </div>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_4-D" role="radiogroup" aria-labelledby="tfa_4-L" data-tfa-labelledby="-L tfa_4-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField ">Cohort</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_4" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_5-L" for="tfa_5">
                <input type="radio" value="tfa_5" id="tfa_5" name="tfa_4" aria-labelledby="tfa_5-L" data-tfa-labelledby="tfa_4-L tfa_5-L">
                <span class="form-icon"></span>
                <strong>Cohort A:</strong><br />
                2-4.30pm<br />
                on 8/6/21, 6/7/21, 17/8/21, 7/9/21, 12/10/21, 9/11/21, 7/12/21, 18/1/22, 15/2/22
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_6-L" for="tfa_6">
                <input type="radio" value="tfa_6" id="tfa_6" name="tfa_4" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_4-L tfa_6-L">
                <span class="form-icon"></span>
                <strong>Cohort B:</strong><br />
                9.30-12pm<br />
                on 9/6/21, 7/7/21, 18/8/21, 8/9/21, 13/10/21, 10/11/21, 8/12/21, 19/1/22, 16/2/22
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_7-L" for="tfa_7">
                <input type="radio" value="tfa_7" id="tfa_7" name="tfa_4" aria-labelledby="tfa_7-L" data-tfa-labelledby="tfa_4-L tfa_7-L">
                <span class="form-icon"></span>
                <strong>No preference</strong>
              </label>
            </span>
          </span>
        </div>
      </div>

      <div class="htmlSection">
        <div class="htmlContent form-group">
          <div class="col-9 col-xl-12">
            <p>
              The deadline to submit your application is midday on 16th May 2021. If you have any questions or need help with your application please email <a href="mailto:claire.sharp@scvo.scot">claire.sharp@scvo.scot</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group field-container-D" id="tfa_8-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_8-L" class="form-label preField " for="tfa_8">First name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_8" name="tfa_8" value="" title="First name" class="form-input">
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_9-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_9-L" class="form-label preField " for="tfa_9">Last name</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_9" name="tfa_9" value="" title="Last name" class="form-input">
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_10-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_10-L" class="form-label preField " for="tfa_10">Organisation</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_10" name="tfa_10" value="" title="Organisation" class="form-input">
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_11-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_11-L" class="form-label preField " for="tfa_11">Job title</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_11" name="tfa_11" value="" title="Job title" class="form-input">
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_12-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_12-L" class="form-label preField " for="tfa_12">Email address</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_12" name="tfa_12" value="" title="Email address" class="validate-email form-input">
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_13-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_13-L" class="form-label preField " for="tfa_13">
            Please tell us about why your organisation is interested in taking part in this programme
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_13" name="tfa_13" title="Please tell us about why your organisation is interested in taking part in this programme" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_14-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_14-L" class="form-label preField " for="tfa_14">
            Tell us about your role and why you would make a good Digital Motivator
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_14" name="tfa_14" title="Tell us about your role and why you would make a good Digital Motivator" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_15-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_15-L" class="form-label preField " for="tfa_15">
            Please tell us about any digital inclusion activity you are currently delivering
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_15" name="tfa_15" title="Please tell us about any digital inclusion activity you are currently delivering" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_16-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_16-L" class="form-label preField " for="tfa_16">
            How has the way you work changed since the start of the pandemic?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_16" name="tfa_16" title="How has the way you work changed since the start of the pandemic?" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_17-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_17-L" class="form-label preField " for="tfa_17">
            As a social housing provider, what role can you play to tackle digital exclusion in your local community?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_17" name="tfa_17" title="As a social housing provider, what role can you play to tackle digital exclusion in your local community?" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_18-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_18-L" class="form-label preField " for="tfa_18">
            What are three digital inclusion goals you would like to achieve by participating in this programme/in your role as Digital Motivator?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_18" name="tfa_18" title="What are three digital inclusion goals you would like to achieve by participating in this programme/in your role as Digital Motivator?" class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_19-D" role="radiogroup" aria-labelledby="tfa_19-L" data-tfa-labelledby="-L tfa_19-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_19-L" class="form-label preField ">
            Do you currently have Digital Champions in your organisation?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_19" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_20-L" for="tfa_20">
                <input type="radio" value="tfa_20" id="tfa_20" name="tfa_19" data-conditionals="#tfa_22-D" aria-labelledby="tfa_20-L" data-tfa-labelledby="tfa_19-L tfa_20-L">
                <span class="form-icon"></span>
                Yes
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_21-L" for="tfa_21">
                <input type="radio" value="tfa_21" id="tfa_21" name="tfa_19" aria-labelledby="tfa_21-L" data-tfa-labelledby="tfa_19-L tfa_21-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_22-D" data-condition="`#tfa_20`">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_22-L" class="form-label preField " for="tfa_22">
            Can you tell us more about the work they do?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_22" name="tfa_22" title="Can you tell us more about the work they do? " class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_23-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_23-L" class="form-label preField " for="tfa_23">
            How ready is your organisation to deliver this on a scale of 1 to 5?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_23" name="tfa_23" title="How ready is your organisation to deliver this on a scale of 1 to 5?" class="form-select">
            <option value="" disabled selected>Please select&hellip;</option>
            <option value="tfa_24" id="tfa_24">1</option>
            <option value="tfa_25" id="tfa_25">2</option>
            <option value="tfa_26" id="tfa_26">3</option>
            <option value="tfa_27" id="tfa_27">4</option>
            <option value="tfa_28" id="tfa_28">5</option>
          </select>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_29-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_29-L" class="form-label preField " for="tfa_29">
            Is there anything else you would like to tell us?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_29" name="tfa_29" title="Is there anything else you would like to tell us? " class="form-input"></textarea>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_30-D" role="radiogroup" aria-labelledby="tfa_30-L" data-tfa-labelledby="-L tfa_30-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_30-L" class="form-label preField ">
            Are you able to commit to the essential requirements of the programme?
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_30" class="choices vertical ">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_31-L" for="tfa_31">
                <input type="radio" value="tfa_31" id="tfa_31" name="tfa_30" aria-labelledby="tfa_31-L" data-tfa-labelledby="tfa_30-L tfa_31-L">
                <span class="form-icon"></span>
                Yes
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_32-L" for="tfa_32">
                <input type="radio" value="tfa_32" id="tfa_32" name="tfa_30" data-conditionals="#tfa_33-D" aria-labelledby="tfa_32-L" data-tfa-labelledby="tfa_30-L tfa_32-L">
                <span class="form-icon"></span>
                No
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D" id="tfa_33-D" data-condition="`#tfa_32`">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_33-L" class="form-label preField " for="tfa_33">
            Please provide details
          </label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea id="tfa_33" name="tfa_33" title="Please provide details" class="form-input"></textarea>
        </div>
      </div>
      <div class="actions" id="0-A">
        <input type="submit" data-label="Submit" class="btn btn-primary primaryAction" id="submit_button" value="Submit">
      </div>
      <div style="clear:both">
      </div>
      <input type="hidden" value="4894882" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="5a52a8955554ed28bfcc6ffc437deff4" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="1" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>