{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<div class="container">
  <div class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column col-6 col-lg-5 col-md-12 hero-text">
          <h1 class="text-secondary r-margin-full">Digital</h1>
        </div>
        <div class="column col-6 col-lg-7 col-md-12 hero-illustration">
          <img src="{{~>asset_url url='images/headers/montage_digital.png'~}}" class="img-responsive t-margin-full" />
        </div>
      </div>
    </div>
  </div>
</div>
{{/if ~}}

<div class="bg-white v-padding-full">
  <div class="container v-padding">
    <h2 class="no-margin">
      <strong>We’re helping people and organisations in Scotland develop their digital potential</strong>
    </h2>
  </div>
</div>
