{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<div class="container">
  <div class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column col-8 col-lg-7 col-md-12 hero-text">
          <h1 class="text-secondary r-margin-full">Digital</h1>
          {{!-- <h2 class="text-secondary l-margin-full t-margin-full">We’re helping people and organisations in Scotland develop their digital potential</h2> --}}
        </div>
        <div class="column col-4 col-lg-5 col-md-12 hero-illustration">
          <img src="{{~>asset_url url='images/headers/montage_motheroftwo.png'~}}" alt="Illustration of a group of people" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
{{/if ~}}

<div class="b-padding-full">
  <div class="bg-gray v-padding-full b-margin-full">
    <div class="container v-padding">
      <p class="no-margin">
        <strong>We’re helping people and organisations in Scotland develop their digital potential</strong>
      </p>
    </div>
  </div>
</div>