<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        {{> content_featured name="participation" link="/support/digital/participation" heading="h3" title="Participation" body="Increasing social inclusion by helping people to develop their confidence, motivation and essential digital skills to go online." ratio="16:9" image="https://storage.googleapis.com/scvo-wordpress-media/2019/03/1bc3394a-participation.jpg" read_more_text="Find out more"}}
        {{!-- <div class="card card-no-padding v-margin participation">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/support/digital/participation">Participation</a>
            </div>
          </section>
          <section class="card-image" style="background-image:url('https://storage.googleapis.com/scvo-wordpress-media/2019/03/1bc3394a-participation.jpg');"></section>
          <section class="card-body t-padding">

          </section>
          <section class="card-footer t-padding"><a class="btn btn-link" href="/support/digital/participation"></a></section>
        </div> --}}
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        {{> content_featured name="evolution" link="/support/digital/evolution" heading="h3" title="Evolution" body="Increasing the capacity of voluntary organisations by supporting their use of digital tools and techniques." ratio="16:9" image="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/call_to_action-crop.jpg" read_more_text="Find out more"}}
        {{!-- <div class="card card-no-padding v-margin evolution">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/support/digital/evolution">Evolution</a>
            </div>
          </section>
          <section class="card-image" style="background-image:url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/call_to_action-crop.jpg');"></section>
          <section class="card-body t-padding">
            Increasing the capacity of voluntary organisations by supporting their use of digital tools and techniques
          </section>
          <section class="card-footer t-padding"><a class="btn btn-link" href="/support/digital/evolution">Find out more</a></section>
        </div> --}}
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        {{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
          {{#withExtend @root.data.supplimentaryResponses.related_events.hits ~}}
          {{> content_featured name="events" link="/support/digital/events" heading="h3" title="Events" body=(inflect total "upcoming event" "upcoming events" true) ratio="16:9" image="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/teamdigital-crop.jpg" read_more_text="See all events"}}
            {{!-- <div class="card card-no-padding v-margin events">
              <section class="card-header">
                <div class="card-title h3">
                  <a href="/support/digital/events">Events</a>
                </div>
              </section>
              <section class="card-image" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/teamdigital-crop.jpg');"></section>
              <section class="card-body t-padding">
                Upcoming events:

                {{#each hits}}
                  {{~#compare @index "<" ../limit}}
                    <div>
                      <a href="/support/digital/events/{{_source.slug}}">
                        {{{_source.title}}}
                      </a>
                    </div>
                  {{/compare}}
                {{/each}}
                {{#compare total ">" limit}}
                  <div>
                    &hellip;and {{subtract total limit}} more!
                  </div>
                {{/compare}}

              </section>
              <section class="card-footer t-padding">
                {{#compare total ">" 1 ~}}
                <a class="btn btn-link" href="/support/digital/events">See all events</a>
                {{/compare ~}}
              </section>
            </div> --}}
          {{/withExtend ~}}
        {{else}}
        {{> content_featured name="research" link="/support/digital/participation/reports" heading="h3" title="Research" body="Check out our resource library on developing digital potential." ratio="16:9" image="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/digital-resources.jpg" read_more_text="Find out more"}}
          {{!-- <div class="card card-no-padding v-margin research">
            <section class="card-header">
              <div class="card-title h3">
                <a href="/support/digital/participation/reports">Research</a>
              </div>
            </section>
            <section class="card-image" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/digital-resources.jpg');"></section>
            <section class="card-body t-padding">
              Check out our resource library on developing digital potential
            </section>
            <section class="card-footer t-padding">
              <a class="btn btn-link" href="/support/digital/participation/reports">Find out more</a>
            </section>
          </div> --}}
        {{/compare ~}}
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        {{> content_featured name="senior-leaders" link="/support/digital/evolution/senior-leaders" heading="h3" title="Senior leaders programme" body="SCVO are helping voluntary sector leaders grow their skills, confidence and understanding of digital opportunities." ratio="16:9" image="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/senior-leaders-programme.jpg" read_more_text="Find out more"}}
        {{!-- <div class="card card-no-padding v-margin senior-leaders">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/support/digital/evolution/senior-leaders">Senior leaders programme</a>
            </div>
          </section>
          <section class="card-image" style="background-image:url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/senior-leaders-programme.jpg')"></section>
          <section class="card-body t-padding">
            SCVO are helping voluntary sector leaders grow their skills, confidence and understanding of digital opportunities – find out what it's all about!
          </section>
          <section class="card-footer t-padding"><a class="btn btn-link" href="/support/digital/evolution/senior-leaders">Find out more</a></section>
        </div> --}}
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        {{> content_featured name="senior-leaders" link="/support/digital/participation/skills/scotlands-essential-digital-skills-toolkit" heading="h3" title="Essential skills" body="Test your digital skills with our toolkit." ratio="16:9" image="https://storage.googleapis.com/scvo-wordpress-media/2019/03/0f9b1f2c-toolkit.jpg" read_more_text="Find out more"}}
        {{!-- <div class="card card-no-padding v-margin skills">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/support/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Essential skills</a>
            </div>
          </section>
          <section class="card-image" style="background-image:url('https://storage.googleapis.com/scvo-wordpress-media/2019/03/0f9b1f2c-toolkit.jpg')"></section>
          <section class="card-body t-padding">
            Test your digital skills with our toolkit
          </section>
          <section class="card-footer t-padding"><a class="btn btn-link" href="/support/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Find out more</a></section>
        </div> --}}
      </div>
      {{#compare @root.data.supplimentaryResponses.related_posts.hits.total ">" 0 ~}}
      <div class="column col-4 col-lg-6 col-md-12 b-padding-full">
        <div class="card card-no-padding v-margin blog latest_content">
          <section class="card-header">
            <div class="card-title h3">
              Latest blog
            </div>
          </section>
          <section class="card-body t-padding">
            <ul class="supplimentary-list">
              {{> content_post_list @root.data.supplimentaryResponses.related_posts.hits.hits.0._source}}
            </ul>
          </section>
          <section class="card-footer t-padding">
            <a class="btn btn-link" href="/support/digital/blogs">All digital blog posts</a>
          </section>
        </div>
      </div>
      {{/compare ~}}
    </div>
  </div>
</div>