{{> sidebars_menu}}

{{!-- <div class="t-margin-full">
  {{> site_search_form placeholder='Search the Hub' target='/support/coronavirus/search' id='coronavirus'}}
</div> --}}

<h5 class="t-margin-full">Sign up for our e:bulletin</h5>
<p>
  Once a fortnight we send out a short email bulletin rounding up the latest news on digital participation, evolution and innovation in Scotland and beyond. Sign up here:
</p>
<iframe src="https://go.scvo.org.uk/l/566562/2018-09-25/3tv26" width="100%" height="410" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>