<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    <li class="breadcrumb-item"><a href="/policy/evidence-library">Evidence Library</a></li>
    <li class="breadcrumb-item">{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
  </ul>

  <h1>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</h1>
</div>