<div class="container b-padding-full">
  <div class="columns v-margin-full">
    <div class="column col-2 col-lg-12"></div>
    <div class="column col-4 col-lg-6 col-sm-12">
      <h3>
        Contact SCVO Credit Union
      </h3>
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><span class="fas fa-envelope-square"></span></span>
          <a href="mailto:credit.union@scvo.org.uk">credit.union@scvo.org.uk</a>
        </li>
        <li>
          <span class="fa-li"><span class="fas fa-phone-square fa-flip-horizontal"></span></span>
          <a href="tel:+441314748003">0131 474 8003</a>
        </li>
      </ul>
    </div>
    <div class="column col-4 col-lg-6 col-sm-12">
      <h3>
        Office opening hours
      </h3>
      <p>
        Monday to Thursday 9.30am to 4.00pm<br />
        Friday 9.30am to 12.00pm
      </p>
    </div>
  </div>
</div>