<div class="bg-white">
  <div class="container">
    <div class="columns">
      <div class="column col-5 col-xl-6 hide-sm" style="line-height:0; background-image:url('{{~>asset_url url='images/credit-union/cu-landing-2.png'~}}'); background-size:cover; background-position:center center;">
        {{!-- <img src="" style="max-width:100%;" class="hide-sm" /> --}}
      </div>
      <div class="column col-1 hide-xl"></div>
      <div class="column col-6 col-xl-6 col-md-12 v-margin-full v-padding-full">
        <h3>
          Contact SCVO Credit Union
        </h3>
        <p>
          <a href="mailto:credit.union@scvo.org.uk">credit.union@scvo.org.uk</a><br />
          <a href="tel:+441314748003">0131 474 8003</a>
        </p>
        <h3>
          Office opening hours
        </h3>
        <p>
          Monday to Thursday 9.30am to 4.00pm<br />
          Friday 9.30am to 12.00pm
        </p>
        <p class="text-small">
          Where possible saving withdrawals made before 11am should be available inmembers own bank accounts by 2pm on the same day.
        </p>
        <p class="text-small b-margin-full">
          Member loan applications will be dealt with as quickly as possible and to speed up this process member should include all the relevant documents before applying. Please check <a href="/services/credit-union/forms">loans policy</a> before applying.
        </p>
      </div>
    </div>
  </div>
</div>
