<div class="bg-white">
  <div class="container">
    <div class="columns">
      <div class="column col-5 col-lg-6" style="line-height:0;">
        <img src="{{~>asset_url url='images/credit-union/cu-landing-2.png'~}}" style="max-width:100%;" class="hide-sm" />
      </div>
      <div class="column col-7 col-lg-6 col-md-12 v-padding-full">
        <h3>
          Contact SCVO Credit Union
        </h3>
        <p>
          <a href="mailto:credit.union@scvo.org.uk">credit.union@scvo.org.uk</a><br />
          <a href="tel:+441314748003">0131 474 8003</a>
        </p>
        <h3>
          Office opening hours
        </h3>
        <p>
          Monday to Thursday 9.30am to 4.00pm<br />
          Friday 9.30am to 12.00pm
        </p>
        {{!-- <p class="text-small">
          Where possible saving withdrawals made before 11am should be available inmembers own bank accounts by 2pm on the same day.
        </p>
        <p class="text-small">
          Member loan applications will be dealt with as quickly as possible and to speed up this process member should include all the relevant documents before applying. Please check loans policy before applying.
        </p> --}}
      </div>
    </div>
  </div>
</div>

<div class="bg-credit-union-light b-padding-full t-padding">
  <div class="container v-padding-full">
    <a href="https://www.fscs.org.uk/what-we-cover/credit-unions/" class="no-underline no-ext pull-left"><img src="{{~>asset_url url='images/logos/organisations/FSCS_Protected_Logo.svg'~}}" alt="FSCS Protected" style="max-width:100px;margin-right:1rem;" /></a>
    <p class="text-small t-margin">
      CU registered no. 135CU(S) | FSA registered no. 213888 | Category ‘F’ Consumer Credit Licence held
    </p>
    <p class="text-small">
      Authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority (Registration No: 2138) (CU No: 135(S). Your eligible deposits with SCVO CU are protected up to a total of £85,000 by the Financial Services Compensation Scheme, the UK’s deposit protection scheme. Any deposits you hold above the £85,000 limit are not covered.
    </p>
  </div>
</div>