<div class="container">
  <div class="hero t-padding-full">
    <div class="hero-body">
      <div class="columns">
        <div class="column col-8 col-lg-7 col-md-12 hero-text">
          <h1 class="text-secondary">
            <span class="text-primary">Supporting</span> Scotland's vibrant voluntary sector
          </h1>
        </div>
        <div class="column col-4 col-lg-5 col-md-12 hero-illustration">
          <img src="{{~>asset_url url='images/headers/montage_motheroftwo.png'~}}" alt="Illustration of a group of people" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>