<div class="latest-content bg-white t-padding">
  <div class="container v-padding-full">
    <div class="columns b-padding-full">
      <div class="column col-4 col-md-12">
        {{> content_featured name="never-more-needed" link="/policy/campaigns/never-more-needed" heading="h4" title="#NeverMoreNeeded" body="We are exploring how the voluntary sector has responded and continues to respond to coronavirus through a series of articles and discussions, and we are collating content from across the sector that tells this story." logo="images/nmn/NMN_Scotland_logomark_NMN_logo_stacked_all_white.png" logo_style="padding:1rem;" ratio="16:9" image="images/nmn/NMN_Scotland_gradient_NMN_gradient-16x9_LRG.png" hide_read_more=true}}
        {{!-- {{> content_featured name="trustees-week" link="https://goodgovernance.scot/trustees-week/trustees-week-2020-2" heading="h4" title="Trustees’ Week" body="Since 2013, Scotland's Third Sector Governance Forum has been proud to host a conference for trustees and governance geeks every Trustees’ Week." logo="images/logos/trustees-week-logo-combined.png" logo_style="padding:1rem;" ratio="16:9" image="images/home/governance-bg.png" hide_read_more=true}} --}}
      </div>
      <div class="column col-4 col-md-12">
        {{> content_featured name="senior-leaders-programme" link="/support/digital/evolution/senior-leaders-2021" heading="h4" title="Senior Leaders Programme" body="Applications are now open for our Senior Leaders Programme! From the latest digital thinking to a network of diverse leaders from across the voluntary sector, the six-month programme covers a variety of digital topics." logo_style="padding:1rem;" ratio="16:9" image="images/home/slp_graphic.png" hide_read_more=true}}
      </div>
      <div class="column col-4 col-md-12">
        <div class="bg-primary s-rounded t-margin-full">
          <div class="x-padding-full">
            <div class="h4 b-padding-full">
              What can we help you with?
            </div>
            {{> site_search_form id='home'}}

            <div class="t-margin-full">
              {{> useful_links hide_title=true}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> sections_coronavirus title="Coronavirus Third Sector Information Hub" icon="exclamation-triangle" description="Find guidance and funding to help your organisation respond to the crisis" link="/support/coronavirus"}}

<div class="bg-primary-light">
  <div class="container t-padding-full">
    <div class="columns">
      <div class="column col-5 hide-md" style="background-image:url('{{~>asset_url url='images/headers/montage_fourperson.png'~}}');background-position-y: bottom;background-size: contain;background-repeat: no-repeat;">
      </div>
      <div class="column col-1 hide-xl">&nbsp;</div>
      <div class="column col-6 col-xl-7 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2 t-margin-full">Become a member</div>
          </div>
          <div class="card-body">
            <p>
              The Scottish Council for Voluntary Organisations (SCVO) is the national membership organisation for the voluntary sector.
            </p>
            <p>
              Along with our community of {{addCommas @root.data.supplimentaryResponses.members_total.hits.total}} members, we believe that charities, social enterprises and voluntary groups make Scotland a better place.
            </p>
            {{!-- <p>
              By joining SCVO you can become part of a movement that is dedicated to achieving the ambitions of Scotland’s voluntary sector.
            </p>
            <p>
              SCVO membership also gives you access to vital support services that can help your group or organisation run smoothly.
            </p> --}}
            <div class="v-padding-full b-margin-full text-center">
              <a href="/about/membership" class="btn btn-primary btn-lg b-margin-full">Join our community</a>
            </div>
          </div>
          <div class="text-center show-md">
            <img src="{{~>asset_url url='images/headers/montage_fourperson.png'~}}" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
