<div class="page">
  <div class="container-fluid">
    <ul class="breadcrumbs" aria-hidden="true">
      <li><a href="/">Home</a></li>
      <li><a href="/policy-research">Policy &amp; research</a></li>
      <li><a href="/policy-research/policies">Policies</a></li>
      <li>
        {{#each @root.data.primaryResponse.hits.hits.[0]._source.policy_topics_slugs ~}}
        {{#compare this "===" @root.request.params.topic ~}}
        {{{lookup @root.data.primaryResponse.hits.hits.[0]._source.policy_topics @index}}}
        {{/compare ~}}
        {{/each ~}}
      </li>
    </ul>
  </div>
  <div class="splash-image splash-image-{{@root.data.primaryResponse.hits.hits.[0]._type}}-category" style="{{> headers_splash_image}}">
    <div class="splash-overlay">
      <div class="container-fluid">
        <div class="mdc-layout-grid">
          <h1 class="header-text">
            <span class="header-text-banner">
              {{#each @root.data.primaryResponse.hits.hits.[0]._source.policy_topics_slugs ~}}
              {{#compare this "===" @root.request.params.topic ~}}
              {{{lookup @root.data.primaryResponse.hits.hits.[0]._source.policy_topics @index}}}
              {{/compare ~}}
              {{/each ~}}
            </span>
          </h1>
        </div>
        {{> headers_caption}}
      </div>
    </div>
  </div>
  <div class="container-fluid content page-content">
    <div class="mdc-layout-grid support support-policy b-margin t-margin-full">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-layout-grid equal-height linked-cards">
            <div class="mdc-layout-grid__inner">
              {{#each @root.data.primaryResponse.hits.hits ~}}
              {{#with _source ~}}
              {{> policies_card}}
              {{/with ~}}
              {{/each ~}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>