<div class="container v-margin-full">
  {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
  {{> search_info paging=@root.data.primaryResponse.pagination}}
  <ul class="supplimentary-list">
    {{#each @root.data.primaryResponse.hits.hits ~}}
    {{> content_post_list _source}}
    {{/each ~}}
  </ul>
  {{> pagination paging=@root.data.primaryResponse.pagination}}
  {{else}}
  <p>
    No posts in this category could be loaded.
  </p>
  {{/compare ~}}
</div>
