<div class="content post-content">
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <div class="full scvo-cms scvo-cms-post scvo-cms-post-{{wpid}}">
    <div class="post-info">
      {{> content_post_info_author}}
      {{> content_post_info_published}}
      {{> content_post_info_categories}}
    </div>
    {{{replace (replace (replace (replace content "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
  </div>
  {{/with ~}}
</div>