<div class="footer-image join-our-hub credit-union">
  <div class="columns">
    <div class="column col-4 col-lg-6 col-sm-12">
      <h2 style="text-align:left;">
        Contact SCVO Credit Union
      </h2>
      <ul class="fa-ul">
        <li style="text-align:left;">
          <span class="fa-li"><span class="fas fa-envelope-square"></span></span>
          <a href="mailto:credit.union@scvo.org.uk">credit.union@scvo.org.uk</a>
        </li>
        <li style="text-align:left;">
          <span class="fa-li"><span class="fas fa-phone-square fa-flip-horizontal"></span></span>
          <a href="tel:+441314748003">0131 474 8003</a>
        </li>
      </ul>
    </div>
    <div class="column col-4 col-lg-6 col-sm-12">
      <h2 style="text-align:left;">
        Office opening hours
      </h2>
      <p style="text-align:left;">
        Monday to Thursday 9.30am to 4.00pm<br />
        Friday 9.30am to 12.00pm
      </p>
    </div>
  </div>
</div>