{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>Staff directory – SCVO</title>
<meta property="og:title" content="Staff directory – SCVO" data-dynamic="true">
{{else}}
<title>Scottish Council for Voluntary Organisations – SCVO</title>
<meta property="og:title" content="Scottish Council for Voluntary Organisations – SCVO" data-dynamic="true">
{{/if ~}}