<div class="bg-primary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/running-your-organisation/funding/step-by-step-guide">Step by step guide</a>
    </h3>
    <div class="b-margin-full">
      <p>
        Finding your way through all the options there are for funding your organisation can be daunting.
      </p>
      <p>
        That’s why we have created a handy guide to the most important things you have to consider.
      </p>
      <p>
        <a href="/support/running-your-organisation/funding/step-by-step-guide" class="btn btn-primary">Our step by step guide to winning funding</a>
      </p>
    </div>
  </div>
</div>

{{#compare @root.data.supplimentaryResponses.recently_updated_funds.hits.total ">" 0 ~}}
<div class="bg-white">
  <div class="container">
    <div class="v-padding-full">
      <h2 class="b-margin-full">
        Recently updated funds&ensp;
        <a href="https://fundingscotland.com/search?utm_source=scvo&utm_campaign=page&utm_medium=website" class="caption">Find more funds</a>
      </h2>
      <div class="columns">
        {{#each @root.data.supplimentaryResponses.recently_updated_funds.hits.hits ~}}
        <div class="column col-4 col-lg-6 col-md-12">
          {{> content_fund_gist _source}}
        </div>
        {{/each ~}}
      </div>
    </div>
  </div>
</div>
{{/compare ~}}

{{> footers_posts_blog}}