<div class="card bg-secondary charity-awards">
  <a href="/scottish-charity-awards" class="card-image-link">
    <div class="card-image">
      <img src="{{~>asset_url url='images/1x1.png'~}}" class="img-responsive background">
      <img src="{{~>asset_url url='images/home/charityawards-logo.png'~}}" class="img-responsive logo">
      <div class="overlay-effect"></div>
    </div>
  </a>
  <div class="card-header">
    <div class="card-title h3">
      <a href="/scottish-charity-awards">Scottish Charity Awards</a>
    </div>
    <div class="card-subtitle">June 2020</div>
  </div>
  <div class="card-body">
    Thank you to all those who joined us to celebrate the 2019 Scottish Charity Awards at the EICC on Friday 14 June! <a href="/scottish-charity-awards">Take a look at the winners here</a>
  </div>
  <div class="card-footer">
    <a href="/scottish-charity-awards" class="btn btn-link">Find out more</a>
  </div>
</div>