<div class="card eu-are-valued">
  <a href="/policy/campaigns/eu-are-valued">
    <div class="card-image-link">
      <div class="card-image-wrapper">
        <div class="card-image" style="--aspect-ratio: 16/9; background-image:url('{{~>asset_url url='images/home/eu-are-valued-bg.jpg'~}}')">
          <img src="{{~>asset_url url='images/home/eu-are-valued-logo.png'~}}" class="img-responsive logo" style="padding:2rem; position:relative;">
        </div>
      </div>
      <div class="card-header">
        <h4 class="card-title">
          #EUareValued
        </h4>
      </div>
      <div class="card-body">
        <p>
          We believe every person who works to make a difference to Scottish communities should be valued, and that includes our colleagues who have come from other EU countries to live and work here. Scotland’s voluntary sector is strengthened thanks to their contribution.
        </p>
      </div>
    </div>
  </a>
  <div class="card-footer">
    <a href="/policy/campaigns/eu-are-valued" class="no-underline">Read more</a>
  </div>
</div>