<div class="card eu-are-valued">
  <div class="card-image">
    <a href="/projects-campaigns/eu-are-valued">
      <img src="{{~>asset_url url='images/home/eu-are-valued-bg.jpg'~}}" class="img-responsive background">
      <img src="{{~>asset_url url='images/home/eu-are-valued-logo.png'~}}" class="img-responsive logo">
    </a>
  </div>
  <div class="card-body">
    Here at SCVO, we love charities. We believe every person who works to make a difference to Scottish communities should be valued, and that includes our colleagues who have come from other EU countries to live and work here. Scotland’s voluntary sector is strengthened thanks to their contribution&hellip; <a href="/projects-campaigns/eu-are-valued">Read more</a>
  </div>
  {{!-- <div class="card-footer">
    <a href="/projects-campaigns/eu-are-valued" class="btn btn-link">Read more</a>
  </div> --}}
</div>