<div class="card card-no-padding the-gathering">
  <a href="/the-gathering-2020" class="no-underline">
    <div class="card-image-link">
      <div class="card-image-wrapper">
        <div class="card-image" style="--aspect-ratio: 4/1; background-image:url('{{~>asset_url url='images/gathering/header_2020.svg'~}}')">
          <img src="{{~>asset_url url='images/gathering/logo_2020_colour.svg'~}}" class="img-responsive logo" />
        </div>
      </div>
      <div class="card-header">
        <h3 class="card-title">
          The Gathering
        </h3>
        <div class="card-subtitle">19th & 20th February 2020</div>
      </div>
      <div class="card-body">
        <p>
          The Gathering is the largest free voluntary sector event in the UK, a place for all the amazing people working in the voluntary sector to network, showcase what they do and learn from each other.
        </p>
      </div>
    </div>
  </a>
  <div class="card-footer">
    <a href="/the-gathering-2020" class="no-underline r-margin-f">Find out more</a>
    <a href="/the-gathering-2020/event-programme" class="no-underline">Event programme</a>
    {{!-- <a href="/the-gathering-2020/book-a-stand" class="btn btn-link">Book a stand</a> --}}
  </div>
</div>
