<div class="card card-no-padding the-gathering">
  <div class="card-image">
    <a href="/the-gathering-2020">
      <img src="{{~>asset_url url='images/gathering/header_2020.svg'~}}" class="img-responsive background">
      <img src="{{~>asset_url url='images/gathering/logo_2020_colour.svg'~}}" class="img-responsive logo">
      <div class="overlay-effect"></div>
    </a>
  </div>
  <div class="card-header t-margin-full">
    <div class="card-title h3">
      <a href="/the-gathering-2020">The Gathering</a>
    </div>
    <div class="card-subtitle">19th & 20th February 2020</div>
  </div>
  <div class="card-body">
    The Gathering is the largest free voluntary sector event in the UK, a place for all the amazing people working in the voluntary sector to network, showcase what they do and learn from each other.
  </div>
  <div class="card-footer">
    <a href="/the-gathering-2020" class="btn btn-link">Find out more</a>
    <a href="/the-gathering-2020/event-programme" class="btn btn-link">Event programme</a>
    {{!-- <a href="/the-gathering-2020/book-a-stand" class="btn btn-link">Book a stand</a> --}}
  </div>
</div>
