<div class="card twenty-years">
  <div class="card-image">
    <a href="/projects-campaigns/20-years-delivering-change">
      <img src="https://storage.googleapis.com/scvo-cms/scvo-cms/scvo-cms-content/images/banners/20yrs-bg.png" class="img-responsive background">
      <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/20yrs.png" class="img-responsive logo">
      <div class="overlay-effect"></div>
    </a>
  </div>
  <div class="card-header">
    <div class="card-title h3">
      <a href="/projects-campaigns/20-years-delivering-change">Charities, Scotland & Holyrood</a>
    </div>
    <div class="card-subtitle">Twenty years delivering change</div>
  </div>
  <div class="card-body">
    To celebrate the Scottish Parliament marking its 20th anniversary, SCVO has produced a limited-edition book - Charities, Scotland & Holyrood: Twenty Years Delivering Change.
  </div>
  <div class="card-footer">
    <a href="/projects-campaigns/20-years-delivering-change" class="btn btn-link">Take a look</a>
  </div>
</div>
