<div class="card card-no-padding twenty-years">
  <a href="/policy/campaigns/20-years-delivering-change" class="no-underline">
    <div class="card-image-link">
      <div class="card-image-wrapper">
        <div class="card-image" style="--aspect-ratio: 4.5/1; background-image:url('https://storage.googleapis.com/scvo-cms/scvo-cms/scvo-cms-content/images/banners/20yrs-bg.png')">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/20yrs.png" class="img-responsive logo">
        </div>
      </div>
      <div class="card-header">
        <h3 class="card-title">
          Charities, Scotland & Holyrood
        </h3>
        <div class="card-subtitle">Twenty years delivering change</div>
      </div>
      <div class="card-body">
        <p>
          To celebrate the Scottish Parliament marking its 20th anniversary, SCVO has produced a limited-edition book - Charities, Scotland & Holyrood: Twenty Years Delivering Change.
        </p>
      </div>
    </div>
  </a>
  <div class="card-footer">
    <a href="/policy/campaigns/20-years-delivering-change" class="btn btn-link">Take a look</a>
  </div>
</div>
