{{!-- {{> sidebars_menu items=@root.context.metaData.sidebarMenus.charity-awards path=@root.request.url.pathname id="charity-awards-menu"}} --}}

{{!-- <hr /> --}}
<div class="container">
  <p>
    <strong>Sponsored by:</strong>
  </p>
  <div class="awards sponsors b-margin-full b-padding">
    {{!-- <div class="sponsor scvo">
      <a href="/" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/caf.svg'~}}" class="img-responsive" title="Scottish Council for Voluntary Organisations" /></a>
    </div> --}}
    <div class="sponsor caf">
      <a href="http://www.cafonline.org" target="_blank" class="no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/caf.svg'~}}" class="img-responsive" title="Charities Aid Foundation" /></a>
    </div>
    <div class="sponsor cld">
      <a href="http://cldstandardscouncil.org.uk" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/cld.svg'~}}" class="img-responsive" title="CLD Standards Council Scotland" /></a>
    </div>
    <div class="sponsor digital-scotland">
      <a href="https://gov.scot/policies/digital" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/digital-scotland.svg'~}}" class="img-responsive" title="Scottish Government - Digital Scotland" /></a>
    </div>
    <div class="sponsor keegan-pennykid">
      <a href="http://www.keegan-pennykid.com" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/keegan-pennykid.svg'~}}" class="img-responsive" title="Keegan & Pennykid" /></a>
    </div>
    <div class="sponsor oscr">
      <a href="http://www.oscr.org.uk" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/oscr.svg'~}}" class="img-responsive" title="Office of the Scottish Charity Regulator" /></a>
    </div>
    <div class="sponsor sgn">
      <a href="http://www.sgn.co.uk" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/sgn.svg'~}}" class="img-responsive" title="SGN" /></a>
    </div>
    {{!-- <div class="sponsor robertson-trust">
      <a href="https://www.therobertsontrust.org.uk/" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/robertson-trust.svg'~}}" class="img-responsive" itle="The Robertson Trust" /></a>
    </div> --}}
    {{!-- <div class="sponsor goodmoves">
      <a href="https://goodmoves.com?utm_source=scvo&utm_campaign=charity-awards&utm_medium=website" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/goodmoves.svg'~}}" class="img-responsive" title="Goodmoves" /></a>
    </div> --}}
    {{!-- <div class="sponsor sustainability">
      <a href="https://sustainability.co" target="_blank" class="sponsor no-ext no-underline"><img src="{{~>asset_url url='images/awards/sponsors/sustainability.svg'~}}" class="img-responsive" title="Sustainability" /></a>
    </div> --}}
  </div>
</div>

{{!-- <p class="t-margin-full">
  <a href="mailto:alex.thomson@scvo.org.uk">Contact us for sponsorship opportunities</a>
</p> --}}
