<div class="container v-margin-full">
  <div class="b-margin-full splash-image splash-image-header">
     {{!-- style="background-image:url('{{~>asset_url url='images/home/charityawards-bg.jpg'~}}');" --}}
    <div class="splash-overlay splash-overlay-hidden v-padding-full" style="--aspect-ratio: 3/1;background-image:url('{{~>asset_url url='images/home/charityawards-bg.jpg'~}}');background-size:cover;">
      <div class="header-logo hide-sm">
        <div class="header-image">
          <img src="{{~>asset_url url='images/awards/logo_2020_inline_reverse.svg'~}}" alt="Scottish Charity Awards">
        </div>
        <h1 class="text-white">The stars are out</h1>
        <p class="header-text">
          Friday 25 September<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank">#ScotCharityAwards</a>
        </p>
      </div>
      <div class="header-logo show-sm">
        <img src="{{~>asset_url url='images/awards/logo_2020_stacked_reverse.svg'~}}" alt="Scottish Charity Awards">
        <h1 class="text-white">The stars are out</h1>
        <p class="header-text">
          Friday 25 September<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank">#ScotCharityAwards</a>
        </p>
      </div>
    </div>
  </div>
</div>

{{> content_page_full @root.data.primaryResponse.hits.hits.[0]._source}}