<div class="container">
  <ul class="breadcrumb" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    {{#if @root.request.params.query.q ~}}
    <li class="breadcrumb-item"><a href="/policy/policies">Policies</a></li>
    <li class="breadcrumb-item">Search results</li>
    {{else}}
    <li class="breadcrumb-item">Policies</li>
    {{/if ~}}
  </ul>

  <h1>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</h1>
</div>