<div class="container">
  <ul class="breadcrumb" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    <li class="breadcrumb-item"><a href="/policy/policies">Policies</a></li>
    <li class="breadcrumb-item">
      {{#each @root.data.primaryResponse.hits.hits.[0]._source.policy_topics_slugs ~}}
      {{#compare this "===" @root.request.params.topic ~}}
      {{{lookup @root.data.primaryResponse.hits.hits.[0]._source.policy_topics @index}}}
      {{/compare ~}}
      {{/each ~}}
    </li>
  </ul>

  <h1>
    {{#each @root.data.primaryResponse.hits.hits.[0]._source.policy_topics_slugs ~}}
    {{#compare this "===" @root.request.params.topic ~}}
    {{{lookup @root.data.primaryResponse.hits.hits.[0]._source.policy_topics @index}}}
    {{/compare ~}}
    {{/each ~}}
  </h1>
</div>