<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/events">Events</a></li>
    <li class="breadcrumb-item">{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
  </ul>

  <h1>Find training courses &amp; events</h1>
</div>