<div class="container b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the Community & Third Sector Recovery Programme application form
  </h2>
  <p>
    Applications for the current round of the Community & Third Sector Recovery Programme are now closed. Assessment of those applications is now in progress as the application form closed at **DATE**.
  </p>
</div>
