<div class="container b-margin-full b-padding-full">
  <h2>
    We are sorry – it appears that your organisation has already submitted an application
  </h2>
  <p>
    We are only accepting one application per organisation for the first round of the Community & Third Sector Recovery Programme.
  </p>
  <p>
    If you think you haven’t submitted an application, please use the <a href="/support/coronavirus/funding/scottish-government/community-recovery/helpdesk">helpdesk</a> or email <a href="mailto:grantsupport@scvo.scot">grantsupport@scvo.scot</a> with your details.
  </p>
</div>