<div class="container b-margin-full b-padding-full">
  <h2>
    Your application confirmations have been accepted
  </h2>
  <p>
    Thank you for providing additional information to your application. Your confirmations have been recorded.
  </p>
</div>