<div class="container b-margin-full b-padding-full">
  <h2>
    No further action required
  </h2>
  <p>
    Thank you for your application. Your confirmations have already been recorded.
  </p>
</div>