<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
</script>

<div class="container">
  <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="form-horizontal form b-margin-full b-padding-full">

    <input type=hidden name='captcha_settings' value='{"keyname":"SCVO","fallback":"true","orgId":"00D3z000002LkgS","ts":""}'>
    <input type=hidden name="orgid" value="00D3z000002LkgS">
    <input type=hidden name="retURL" value="https://scvo.scot/support/coronavirus/funding/scottish-government/community-recovery/helpdesk/thanks">

    {{!-- NOTE: These fields are optional debugging elements. Please uncomment these lines if you wish to test in debug mode. --}}
    {{!-- <input type="hidden" name="debug" value=1>
    <input type="hidden" name="debugEmail" value="calum.macuisdean@scvo.org.uk"> --}}

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="name">Name</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="name" maxlength="80" name="name" type="text" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="email">Email address</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="email" maxlength="80" name="email" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-input" required />
      </div>
    </div>

    {{!-- <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="phone">Phone number</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="phone" maxlength="15" name="phone" type="text" class="form-input" />
      </div>
    </div> --}}

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="subject">Application type</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="subject" name="subject" class="form-select" required>
          <option value="" selected disabled>Please select&hellip;</option>
          <option value="Adapt and Thrive">Adapt and Thrive</option>
          <option value="Community Recovery">Community Recovery</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="reason">Issue type</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="reason" name="reason" class="form-select" required>
          <option value="" selected disabled>Please select&hellip;</option>
          <option value="General Application Question">General application question</option>
          <option value="Instructions not clear">Instructions not clear</option>
          <option value="Edit/Amendment to Application">Edit/amendment to application</option>
          <option value="Existing problem">Existing problem with application</option>
          <option value="New problem">New problem with application</option>
          <option value="Website functionality">Website functionality problem</option>
          <option value="No action needed">No action needed (comments only)</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="description">Description</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <textarea name="description" rows="5" class="form-input b-margin"></textarea>
        <div class="g-recaptcha" data-sitekey="6LeRg88ZAAAAAALWhEw7nGFTL-u78xSr3Dhkp82e"></div>
      </div>
    </div>

    <div class="form-group t-margin" id="gdpr-D" role="group" aria-labelledby="gdpr-L">
      <div class="col-9 col-xl-12">
        <label class="form-checkbox" id="gdpr-L" for="gdpr">
          <input type="checkbox" value="gdpr" id="gdpr" name="gdpr" aria-labelledby="gdpr-L" required>
          <i class="form-icon"></i>
          By submitting your enquiry, you confirm that you understand and accept our obligations under the General Data Protection Regulation (GDPR) set out in our <a href="/privacy/community-third-sector-recovery-programme" target="_blank">Privacy Policy</a>
        </label>
      </div>
    </div>

    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
  </form>
</div>
