<div class="empty">
  <div class="empty-icon text-success">
    <span class="fal fa-user-check fa-3x"></span>
  </div>
  <p class="empty-title h5">Account approval</p>
  <p class="empty-subtitle">
    Approval successful. {{@root.data.accountInfo.first_name}} will now be able to use all the features of this site.
  </p>
</div>
