<div class="empty">
  <div class="empty-icon text-error">
    <span class="fal fa-user-times fa-3x"></span>
  </div>
  <p class="empty-title h5">Account approval</p>
  <p class="empty-subtitle">
    Approval has failed. Please <a href="/contact">contact us</a> for assistance.
  </p>
</div>
