{{#if @root.data.auth ~}}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  window.location.href = '/jobs/community-jobs-scotland/vacancies';
});
</script>
{{else}}
<div class="columns v-margin-full v-padding-full">
  <div class="column">
    <form id="sign-in-form" class="form authentication-form" accept-charset="utf-8">
      <h2>Sign in to your CJS account</h2>

      <div class="l-margin r-margin">
        <div class="bg-error s-rounded x-padding v-margin" id="sign-in-message">
          <span id="form-message"></span>
        </div>
      </div>
      <div id="form-section-email">
        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="sign-in-email" placeholder="Email" />
          <span class="form-icon far fa-envelope" id="sign-in-email-icon"></span>
        </div>

        <div class="form-group has-icon-left">
          <input class="form-input" type="password" id="sign-in-password" placeholder="Password" />
          <span class="form-icon far fa-key" id="sign-in-password-icon"></span>
        </div>
      </div>
      <div id="form-section-sign-in-buttons" class="t-margin">
        <p class="v-margin-full">
          Forgot your password? <a href="/reset-password-cjs" class="no-underline">Reset password</a>
        </p>
        <button class="btn btn-primary" type="submit" id="sign-in-submit" data-component="TasksTrigger" data-TasksTrigger="sign-in-cjs" data-provider-id="password">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
{{/if ~}}

{{> account_task_sign_in_cjs}}
