<h2>
  Deleting your account&hellip;
</h2>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.setTimeout(function() {
      saltireawards.auth.deleteUser().then(function(user) {
        window.setTimeout(function() {
          window.location.href = '/';
        }, 1000);
      }).catch(function(err) {
        console.error('Failed to delete user', err);
        if (err.code === 'auth/requires-recent-login') {
          window.setTimeout(function() {
            window.location.href = '/sign-in?reauth=true';
          }, 1000);
        }
      });
    }, 1000);
  });
</script>