<div class="columns v-margin-full v-padding-full">
  <div class="column">
    <form id="reset-password-form" method="POST" class="form authentication-form" data-component="TasksTrigger" data-TasksTrigger="reset-password">
      <h2>Reset password</h2>
      <p>
        Enter your email address to be sent a password reset link
      </p>
      <div id="password-reset-alert" class="alert hidden bg-error s-rounded x-padding v-margin">
        <span class="alert-message"></span>
      </div>
      <div id="form-section-email">
        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="reset-password-email" placeholder="Your email address" required />
          <span class="form-icon far fa-envelope"></span>
        </div>
      </div>
      <div id="form-section-sign-in-buttons" class="t-margin">
        <button class="btn btn-primary" type="submit" id="reset-password-submit">
          Send reset link
        </button>
      </div>
    </form>
  </div>
</div>

{{{{raw}}}}
<script data-component-config="reset-password" type="javascript/blocked">
{
  submit: {
    preventDefault: true,
    tasks: [
      {
        type: "elementManipulator",
        config: { ">": { addClass: "disabled" } }
      },
      {
        name: "resetPassword",
        type: "firebaseSendPasswordReset",
        config: { email: { __template: "{{{jquery '#reset-password-email' 'val'}}}" } }
      },
      {
        name: "responseSwitch",
        type: "switch",
        config: {
          which: { __template: "{{#if errors.resetPassword}}error{{/if}}" },
          branches: {
            default: {
              tasks: [
                {
                  type: "elementManipulator",
                  config: {
                    "#password-reset-alert": { removeClass: "hidden" },
                    "#password-reset-alert .alert-message": { contents: "Password reset link set" }
                  }
                }
              ]
            },
            error: {
              __doNotCompile: true,
              tasks: [
                {
                  type: "elementManipulator",
                  config: {
                    "#password-reset-alert": { removeClass: "hidden" },
                    "#password-reset-alert .alert-message": { contents: { __pointer: "errors.resetPassword.message" } }
                  }
                }
              ]
            }
          }
        }
      },
      {
        type: "elementManipulator",
        config: { ">": { removeClass: "disabled" } }
      }
    ]
  }
}
</script>
{{{{/raw}}}}