<div class="columns col-gapless v-margin-full v-padding-full">
  <div class="column col-6 col-xl-12">
    <form id="sign-in-form" class="form authentication-form" accept-charset="utf-8">
      <h2>Sign in to your SCVO account</h2>
      <div class="l-margin r-margin">
        <div class="bg-error s-rounded x-padding v-margin" id="sign-in-message">
          <span id="form-message"></span>
        </div>
      </div>
      <div id="form-section-email">
        {{!-- {{> account_sign_in_social messageSelector="#sign-in-message"}} --}}

        {{!-- <div class="divider text-center v-margin-full" data-content="or"></div> --}}

        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="sign-in-email" placeholder="Email" />
          <span class="form-icon far fa-envelope" id="sign-in-email-icon"></span>
        </div>

        <div class="form-group has-icon-left">
          <input class="form-input" type="password" id="sign-in-password" placeholder="Password" />
          <span class="form-icon far fa-key" id="sign-in-password-icon"></span>
        </div>
      </div>
      <div id="form-section-sign-in-buttons" class="t-margin">
        <p class="v-margin-full">
          Forgot your password? <a href="/reset-password" class="no-underline">Reset password</a>
        </p>
        <button class="btn btn-primary" type="submit" id="sign-in-submit" data-component="TasksTrigger" data-TasksTrigger="sign-in" data-provider-id="password">
          Sign in
        </button>
      </div>
    </form>
  </div>
  <div class="divider-vert hide-xl" data-content="OR"></div>
  <div class="divider text-center show-xl" data-content="OR"></div>
  <div class="column col-6 col-xl-12">
    <form id="sign-up-form" method="POST" class="form authentication-form" data-component="TasksTrigger" data-TasksTrigger="sign-up" accept-charset="utf-8">
      <h2>Sign up for an SCVO account</h2>

      <div class="l-margin r-margin">
        <div class="bg-error s-rounded x-padding v-margin" id="sign-up-message">
          <span id="form-message"></span>
        </div>
      </div>
      <div id="form-section-email" class="form">
        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="sign-up-email" placeholder="Email" required />
          <span class="form-icon far fa-envelope" id="sign-up-email-icon"></span>
        </div>
        <div class="form-group has-icon-left">
          <input class="form-input" type="email" id="sign-up-email-confirm" placeholder="Confirm email" data-lpignore="true" autocomplete="nope" required />
          <span class="form-icon far fa-envelope" id="sign-up-email-confirm-icon"></span>
        </div>
        <div class="form-group has-icon-left">
          <input class="form-input" type="password" id="sign-up-password" placeholder="Password" data-lpignore="true" autocomplete="nope" required />
          <span class="form-icon far fa-key" id="sign-up-password-icon"></span>
        </div>
        <div class="form-group has-icon-left">
          <input class="form-input" type="password" id="sign-up-password-confirm" placeholder="Confirm password" data-lpignore="true" autocomplete="nope" required />
          <span class="form-icon far fa-key" id="sign-up-password-confirm-icon"></span>
        </div>
      </div>
      <div id="form-section-sign-up-buttons" class="t-margin">
        <p class="v-margin-full">
          Read our <a href="/privacy" target="_blank" class="no-underline">privacy notice</a>
        </p>
        <button class="btn btn-primary" type="submit" id="sign-up-submit" >
          Sign up
        </button>
      </div>
      <input type="hidden" name="redirect" id="redirect" value="home" />
    </form>
  </div>
</div>

{{> account_task_sign_in}}
{{> account_task_sign_up}}
