<form id="sign-out-form" method="POST" class="form authentication-form">
  <div class="form-group">
    <span class="form-icon loading"></span>
  </div>
</form>
<script>
window.onload = function() {
  window.location.href = "/jobs/community-jobs-scotland/vacancies/sign-in";
}
</script>
