<div class="columns">
  <div class="column col-9 col-xl-10 col-lg-11 col-md-12">
    <p class="b-margin-full">
      Thank you for signing up for an SCVO account, please add your details so we can verify your membership. If you work for or volunteer with multiple organisations choose "Link another" under the linked organisations section.
    </p>

    <form id="user-details-form" action="/submit-sign-up-details" method="POST" autocomplete="nope" data-component="TasksTrigger" data-TasksTrigger='{
      change: { tasks: [ "validate-details-form" ] },
      keyup: { tasks: [ "validate-details-form" ] },
      load: { tasks: [ "validate-details-form" ] },
      submit: { tasks: [ "just-spin" ]}
    }'>
      {{> account_details_form_fields}}

      <input type="hidden" name="signup" value="true">
      {{!-- This will probably have a captcha in it, hence the separation, and weird submit format --}}
      <div class="columns h-padding">
        <div class="column col-3 hide-sm"></div>
        <div class="column col-2">
          <button id="submit" class="btn btn-primary b-margin-full" type="submit">
            Submit details
          </button>
        </div>
      </div>
    </form>
    {{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}
  </div>
</div>