<div class="container b-margin-full b-padding-full">
  <h2>
    Your application edits have been accepted
  </h2>
  <p>
    Thank you for providing additional information to your application. Your edits have now been accepted.
  </p>
</div>