<div class="container">
  {{#with data.primaryResponse.hits.hits.[0]._source ~}}
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/funding">Funding</a></li>
    <li class="breadcrumb-item"><a href="/funding/digital-participation-charter-fund">Charter fund</a></li>
    <li class="breadcrumb-item"><a href="/funding/digital-participation-charter-fund/projects">Projects</a></li>
    <li class="breadcrumb-item">{{{title}}}</li>
  </ul>

  <h1>{{{title}}}</h1>
  {{/with ~}}
</div>