<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/terrific-trustees">Terrific trustees</a></li>
    <li class="breadcrumb-item">{{{@root.data.supplimentaryResponses.page.hits.hits.[0]._source.title}}}</li>
  </ul>

  <h1>{{{@root.data.supplimentaryResponses.page.hits.hits.[0]._source.title}}}</h1>
</div>