<title>Evidence Library – SCVO</title>
<description>The Evidence Library is a resource for anyone interested in learning about the voluntary sector in Scotland. The database is regularly being added to and visitors are encouraged to submit their research for possible inclusion on the site. For further information, please email: research@scvo.org.uk</description>
<link>https://scvo.org{{{replace (replace @root.request.params.uri.path "&_view=rss" "") "?_view=rss" ""}}}</link>