<div class="container">
  <p>
    Please complete this form to tell us about your HR support need.
  </p>

  <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="form-horizontal form b-margin-full b-padding-full">
    <input type="hidden" name='captcha_settings' value='{"keyname":"SCVO","fallback":"true","orgId":"00Db0000000KJWY","ts":""}' />
    <input type="hidden" name="orgid" value="00Db0000000KJWY" />
    <input type="hidden" name="recordType" id="recordType" value="0123z00000084okAAA" />
    <input type="hidden" name="retURL" value="https://scvo.scot/services/hr/enquire/thanks" />
    <input type="hidden" name="type" id="type" value="HR Service" />
    <input type="hidden" name="external" id="external" value="1" />

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="name">Name</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="name" maxlength="80" name="name" type="text" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="email">Email address</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="email" maxlength="80" name="email" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="phone">Phone number</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="phone" maxlength="15" name="company" type="text" autocomplete="nope" data-lpignore="true" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="00N0N00000AbXqu">Job title</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="00N0N00000AbXqu" maxlength="255" name="00N0N00000AbXqu" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="company">Organisation</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="company" maxlength="80" name="company" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="00N3z00000CqiZQ">Charity number (if applicable)</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="00N3z00000CqiZQ" maxlength="80" name="00N3z00000CqiZQ" type="text" autocomplete="nope" data-lpignore="true" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="subject">Enquiry subject</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="subject" maxlength="80" name="subject" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="description">Your enquiry</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <textarea name="description" rows="5" maxlength="1000" class="form-input"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="00N3z00000Cqi0z">How did you hear about this service?</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="00N3z00000Cqi0z" name="00N3z00000Cqi0z" class="form-select">
          <option value="" selected>Please select&hellip;</option>
          <option value="E-bulletin">E-bulletin</option>
          <option value="Social media">Social media</option>
          <option value="Mailing">Mailing</option>
          <option value="SCVO live event">SCVO live event</option>
          <option value="SCVO online event">SCVO online event</option>
          <option value="SCVO website">SCVO website</option>
          <option value="Third Force News (TFN)">Third Force News (TFN)</option>
          <option value="Recommended by another voluntary organisation">Recommended by another voluntary organisation</option>
          <option value="Referred by your local TSI">Referred by your local TSI</option>
          <option value="Referred by OSCR">Referred by OSCR</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group t-margin" id="gdpr-D" role="group" aria-labelledby="gdpr-L">
      <div class="col-9 col-xl-12">
        <label class="form-checkbox" id="gdpr-L" for="gdpr">
          <input type="checkbox" value="gdpr" id="gdpr" name="gdpr" aria-labelledby="gdpr-L" required>
          <i class="form-icon"></i>
          By submitting your enquiry, you confirm that you understand and accept our obligations under the General Data Protection Regulation (GDPR) set out in our <a href="/privacy/hr-employment-service" target="_blank">privacy policy</a> and agree to our <a href="/terms/hr-service" target="_blank">terms &amp; conditions</a>
        </label>
      </div>
    </div>

    <div class="g-recaptcha b-margin-full" data-sitekey="6Lejg88ZAAAAAKw0FTDLw3Uj_4dCr_6Od4Erp9_o"></div>

    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
  </form>
</div>
