<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
 function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);
</script>

<div class="container">
  <p class="label label-error">
    Please note: this form is in test mode
  </p>
  <p>
    Please complete this form to tell us about your HR support need.
  </p>

  <form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" class="form-horizontal form b-margin-full b-padding-full">
    <input type=hidden name='captcha_settings' value='{"keyname":"SCVO","fallback":"true","orgId":"00Db0000000KJWY","ts":""}'>
    <input type=hidden name="orgid" value="00Db0000000KJWY">
    <input type=hidden name="recordType" id="recordType" value="0123z00000084okAAA">
    <input type=hidden name="retURL" value="https://scvo.scot/services/hr/enquire/thanks">
    <input type=hidden name="type" id="type" value="HR Service">

    {{!-- NOTE: These fields are optional debugging elements. Please uncomment these lines if you wish to test in debug mode. --}}
    <input type="hidden" name="debug" value=1>
    <input type="hidden" name="debugEmail" value="colette.osborne@scvo.org.uk">

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="name">Name</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="name" maxlength="80" name="name" type="text" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="email">Email address</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="email" maxlength="80" name="email" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="phone">Phone number</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="phone" maxlength="15" name="company" type="text" autocomplete="nope" data-lpignore="true" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="00N0N00000AbXqu">Job title</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="00N0N00000AbXqu" maxlength="255" name="00N0N00000AbXqu" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="company">Organisation</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="company" maxlength="80" name="company" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="00N3z00000CqiZQ">Charity number (if applicable)</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="00N3z00000CqiZQ" maxlength="80" name="00N3z00000CqiZQ" type="text" autocomplete="nope" data-lpignore="true" class="form-input" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="subject">Enquiry subject</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <input id="subject" maxlength="80" name="subject" type="text" autocomplete="nope" data-lpignore="true" class="form-input" required />
      </div>
    </div>
    {{!-- <input id="subject" name="subject" type="hidden" value="Web HR service enquiry" /> --}}

    {{!-- <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="reason">Please choose the category that best describes your problem</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="reason" name="reason" class="form-select">
          <option value="" disabled selected>Please select&hellip;</option>
          <option value="Equality and diversity">Equality and diversity</option>
          <option value="Recruitment and starting employment">Recruitment and starting employment</option>
          <option value="Salaries and benefits">Salaries and benefits</option>
          <option value="Developing performance, managing underperformance">Developing performance, managing underperformance</option>
          <option value="Flexible working and time off">Flexible working and time off</option>
          <option value="Managing annual, parental and compassionate/dependants leave">Managing annual, parental and compassionate/dependants leave</option>
          <option value="Sickness absence, wellbeing and stress">Sickness absence, wellbeing and stress</option>
          <option value="Discipline, grievance and whistleblowing">Discipline, grievance and whistleblowing</option>
          <option value="Health and safety and risk assessment">Health and safety and risk assessment</option>
          <option value="Managing organisational change, TUPE">Managing organisational change, TUPE</option>
          <option value="Leaving employment">Leaving employment</option>
          <option value="Covid payroll: Furlough and SSP">COVID-19 payroll: Furlough and SSP</option>
          <option value="Covid: changes to T+Cs and redundancy">COVID-19: changes to T&Cs and redundancy</option>
          <option value="Covid: blended and remote working">COVID-19: blended and remote working</option>
        </select>
      </div>
    </div> --}}

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="description">Your enquiry</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <textarea name="description" rows="5" maxlength="1000" class="form-input"></textarea>
      </div>
    </div>

    {{!-- <div class="form-group t-margin" id="coronavirus-D" role="group" aria-labelledby="coronavirus-L">
      <div class="col-9 col-xl-12">
        <label class="form-checkbox" id="coronavirus-L" for="00N3z00000Cqfbn">
          <input type="checkbox" value="1" id="00N3z00000Cqfbn" name="00N3z00000Cqfbn" aria-labelledby="coronavirus-L">
          <i class="form-icon"></i>
          Please tick this box if your support request is due to the coronavirus crisis – this is for our internal reporting and will not impact on the support we provide
        </label>
      </div>
    </div> --}}

    <div class="form-group">
      <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <label for="referral">How did you hear about SCVO?</label>
      </div>
      <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <select id="referral" name="referral" class="form-select">
          <option value="" selected>Please select&hellip;</option>
          <option value="E-bulletin">E-bulletin</option>
          <option value="Social media">Social media</option>
          <option value="Mailing">Mailing</option>
          <option value="SCVO live event">SCVO live event</option>
          <option value="SCVO online event">SCVO online event</option>
          <option value="SCVO website">SCVO website</option>
          <option value="Third Force News (TFN)">Third Force News (TFN)</option>
          <option value="Recommended by another voluntary organisation">Recommended by another voluntary organisation</option>
          <option value="Referred by your local TSI">Referred by your local TSI</option>
          <option value="Referred by OSCR">Referred by OSCR</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group t-margin" id="gdpr-D" role="group" aria-labelledby="gdpr-L">
      <div class="col-9 col-xl-12">
        <label class="form-checkbox" id="gdpr-L" for="gdpr">
          <input type="checkbox" value="gdpr" id="gdpr" name="gdpr" aria-labelledby="gdpr-L" required>
          <i class="form-icon"></i>
          By submitting your enquiry, you confirm that you understand and accept our obligations under the General Data Protection Regulation (GDPR) set out in our <a href="/privacy/hr-employment-service" target="_blank">privacy policy</a>
        </label>
      </div>
    </div>

    <div class="g-recaptcha b-margin-full" data-sitekey="6Lejg88ZAAAAAKw0FTDLw3Uj_4dCr_6Od4Erp9_o"></div>

    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
  </form>
</div>
