<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=d4ec73ce443a895912a9889efa43c347c85c971a"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=d4ec73ce443a895912a9889efa43c347c85c971a"></script>

<div class="wFormContainer">
  <div class="wFormHeader"></div>
  <div class="wForm" id="4849249-WRPR" dir="ltr">
    <div class="codesection" id="code-4849249"></div>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="4849249" role="form">
      <input type="hidden" id="tfa_11" name="tfa_11" value="{{@root.request.params.sid}}" />

      <div class="oneField field-container-D form-group" id="tfa_12-D" role="radiogroup" aria-labelledby="tfa_12-L" data-tfa-labelledby="-L tfa_12-L">
        <div class="">
          <label id="tfa_12-L" class="form-label preField h4 t-padding-full">
            To what extent has the SCVO HR and Employment service helped build your knowledge and understanding of HR practice?
          </label>
        </div>
        <div class="columns">
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterBefore" id="tfa_12-DB">Not much at all</div>
          <span id="tfa_12" class="text-center choices column col-6 col-lg-4 col-md-12 horizontal ">
            <span class="oneChoice">
              <input type="radio" value="tfa_13" class="" id="tfa_13" name="tfa_12" aria-labelledby="tfa_13-L" data-tfa-labelledby="tfa_12-L tfa_13-L">
              <label class="r-padding postField" id="tfa_13-L" for="tfa_13">
                <span class="input-radio-faux"></span>1
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_14" class="" id="tfa_14" name="tfa_12" aria-labelledby="tfa_14-L" data-tfa-labelledby="tfa_12-L tfa_14-L">
              <label class="r-padding postField" id="tfa_14-L" for="tfa_14">
                <span class="input-radio-faux"></span>2
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_15" class="" id="tfa_15" name="tfa_12" aria-labelledby="tfa_15-L" data-tfa-labelledby="tfa_12-L tfa_15-L">
              <label class="r-padding postField" id="tfa_15-L" for="tfa_15">
                <span class="input-radio-faux"></span>3
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_16" class="" id="tfa_16" name="tfa_12" aria-labelledby="tfa_16-L" data-tfa-labelledby="tfa_12-L tfa_16-L">
              <label class="r-padding postField" id="tfa_16-L" for="tfa_16">
                <span class="input-radio-faux"></span>4
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_17" class="" id="tfa_17" name="tfa_12" aria-labelledby="tfa_17-L" data-tfa-labelledby="tfa_12-L tfa_17-L">
              <label class="r-padding postField" id="tfa_17-L" for="tfa_17">
                <span class="input-radio-faux"></span>5
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_18" class="" id="tfa_18" name="tfa_12" aria-labelledby="tfa_18-L" data-tfa-labelledby="tfa_12-L tfa_18-L">
              <label class="r-padding postField" id="tfa_18-L" for="tfa_18">
                <span class="input-radio-faux"></span>6
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_19" class="" id="tfa_19" name="tfa_12" aria-labelledby="tfa_19-L" data-tfa-labelledby="tfa_12-L tfa_19-L">
              <label class="r-padding postField" id="tfa_19-L" for="tfa_19">
                <span class="input-radio-faux"></span>7
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_20" class="" id="tfa_20" name="tfa_12" aria-labelledby="tfa_20-L" data-tfa-labelledby="tfa_12-L tfa_20-L">
              <label class="r-padding postField" id="tfa_20-L" for="tfa_20">
                <span class="input-radio-faux"></span>8
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_21" class="" id="tfa_21" name="tfa_12" aria-labelledby="tfa_21-L" data-tfa-labelledby="tfa_12-L tfa_21-L">
              <label class="r-padding postField" id="tfa_21-L" for="tfa_21">
                <span class="input-radio-faux"></span>9
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_22" class="" id="tfa_22" name="tfa_12" aria-labelledby="tfa_22-L" data-tfa-labelledby="tfa_12-L tfa_22-L">
              <label class="r-padding postField" id="tfa_22-L" for="tfa_22">
                <span class="input-radio-faux"></span>10
              </label>
            </span>
          </span>
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterAfter text-right" id="tfa_12-DA">Very much</div>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_89-D">
        <div class="">
          <label id="tfa_89-L" class="form-label preField" for="tfa_89">
            What, if anything, can we do to improve the service? e.g. tools, content, type of support
          </label>
        </div>
        <div class="">
          <textarea maxlength="5000" id="tfa_89" name="tfa_89" title="What, if anything, can we do to improve the service? e.g. tools, content, type of support" class="form-input"></textarea>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_34-D" role="radiogroup" aria-labelledby="tfa_34-L" data-tfa-labelledby="-L tfa_34-L">
        <div class="">
          <label id="tfa_34-L" class="form-label preField h4 t-padding-full">
            How easy did we make it to solve your enquiry?
          </label>
        </div>
        <div class="columns">
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterBefore" id="tfa_34-DB">Not much at all</div>
          <div id="tfa_34" class="text-center choices column col-6 col-lg-4 col-md-12 horizontal ">
            <span class="oneChoice">
              <input type="radio" value="tfa_35" class="" id="tfa_35" name="tfa_34" aria-labelledby="tfa_35-L" data-tfa-labelledby="tfa_34-L tfa_35-L">
              <label class="r-padding postField" id="tfa_35-L" for="tfa_35">
                <span class="input-radio-faux"></span>1
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_36" class="" id="tfa_36" name="tfa_34" aria-labelledby="tfa_36-L" data-tfa-labelledby="tfa_34-L tfa_36-L">
              <label class="r-padding postField" id="tfa_36-L" for="tfa_36">
                <span class="input-radio-faux"></span>2
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_37" class="" id="tfa_37" name="tfa_34" aria-labelledby="tfa_37-L" data-tfa-labelledby="tfa_34-L tfa_37-L">
              <label class="r-padding postField" id="tfa_37-L" for="tfa_37">
                <span class="input-radio-faux"></span>3
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_38" class="" id="tfa_38" name="tfa_34" aria-labelledby="tfa_38-L" data-tfa-labelledby="tfa_34-L tfa_38-L">
              <label class="r-padding postField" id="tfa_38-L" for="tfa_38">
                <span class="input-radio-faux"></span>4
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_39" class="" id="tfa_39" name="tfa_34" aria-labelledby="tfa_39-L" data-tfa-labelledby="tfa_34-L tfa_39-L">
              <label class="r-padding postField" id="tfa_39-L" for="tfa_39">
                <span class="input-radio-faux"></span>5
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_40" class="" id="tfa_40" name="tfa_34" aria-labelledby="tfa_40-L" data-tfa-labelledby="tfa_34-L tfa_40-L">
              <label class="r-padding postField" id="tfa_40-L" for="tfa_40">
                <span class="input-radio-faux"></span>6
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_41" class="" id="tfa_41" name="tfa_34" aria-labelledby="tfa_41-L" data-tfa-labelledby="tfa_34-L tfa_41-L">
              <label class="r-padding postField" id="tfa_41-L" for="tfa_41">
                <span class="input-radio-faux"></span>7
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_42" class="" id="tfa_42" name="tfa_34" aria-labelledby="tfa_42-L" data-tfa-labelledby="tfa_34-L tfa_42-L">
              <label class="r-padding postField" id="tfa_42-L" for="tfa_42">
                <span class="input-radio-faux"></span>8
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_43" class="" id="tfa_43" name="tfa_34" aria-labelledby="tfa_43-L" data-tfa-labelledby="tfa_34-L tfa_43-L">
              <label class="r-padding postField" id="tfa_43-L" for="tfa_43">
                <span class="input-radio-faux"></span>9
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_44" class="" id="tfa_44" name="tfa_34" aria-labelledby="tfa_44-L" data-tfa-labelledby="tfa_34-L tfa_44-L">
              <label class="r-padding postField" id="tfa_44-L" for="tfa_44">
                <span class="input-radio-faux"></span>10
              </label>
            </span>
          </div>
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterAfter text-right" id="tfa_34-DA">Very much</div>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_91-D">
        <div class="">
          <label id="tfa_91-L" class="form-label preField" for="tfa_91">
            What is the main reason for your score?
          </label>
        </div>
        <div class="">
          <textarea maxlength="5000" id="tfa_91" name="tfa_91" title="What is the main reason for your score?" class="form-input"></textarea>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_56-D" role="radiogroup" aria-labelledby="tfa_56-L" data-tfa-labelledby="-L tfa_56-L">
        <div class="">
          <label id="tfa_56-L" class="form-label preField h4 t-padding-full">
            How would you rate the HR and Employment service and your overall customer experience with SCVO?
          </label>
        </div>
        <div class="columns">
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterBefore" id="tfa_56-DB">Not much at all</div>
          <div id="tfa_56" class="text-center choices column col-6 col-lg-4 col-md-12 horizontal ">
            <span class="oneChoice">
              <input type="radio" value="tfa_57" class="" id="tfa_57" name="tfa_56" aria-labelledby="tfa_57-L" data-tfa-labelledby="tfa_56-L tfa_57-L">
              <label class="r-padding postField" id="tfa_57-L" for="tfa_57">
                <span class="input-radio-faux"></span>1
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_58" class="" id="tfa_58" name="tfa_56" aria-labelledby="tfa_58-L" data-tfa-labelledby="tfa_56-L tfa_58-L">
              <label class="r-padding postField" id="tfa_58-L" for="tfa_58">
                <span class="input-radio-faux"></span>2
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_59" class="" id="tfa_59" name="tfa_56" aria-labelledby="tfa_59-L" data-tfa-labelledby="tfa_56-L tfa_59-L">
              <label class="r-padding postField" id="tfa_59-L" for="tfa_59">
                <span class="input-radio-faux"></span>3
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_60" class="" id="tfa_60" name="tfa_56" aria-labelledby="tfa_60-L" data-tfa-labelledby="tfa_56-L tfa_60-L">
              <label class="r-padding postField" id="tfa_60-L" for="tfa_60">
                <span class="input-radio-faux"></span>4
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_61" class="" id="tfa_61" name="tfa_56" aria-labelledby="tfa_61-L" data-tfa-labelledby="tfa_56-L tfa_61-L">
              <label class="r-padding postField" id="tfa_61-L" for="tfa_61">
                <span class="input-radio-faux"></span>5
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_62" class="" id="tfa_62" name="tfa_56" aria-labelledby="tfa_62-L" data-tfa-labelledby="tfa_56-L tfa_62-L">
              <label class="r-padding postField" id="tfa_62-L" for="tfa_62">
                <span class="input-radio-faux"></span>6
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_63" class="" id="tfa_63" name="tfa_56" aria-labelledby="tfa_63-L" data-tfa-labelledby="tfa_56-L tfa_63-L">
              <label class="r-padding postField" id="tfa_63-L" for="tfa_63">
                <span class="input-radio-faux"></span>7
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_64" class="" id="tfa_64" name="tfa_56" aria-labelledby="tfa_64-L" data-tfa-labelledby="tfa_56-L tfa_64-L">
              <label class="r-padding postField" id="tfa_64-L" for="tfa_64">
                <span class="input-radio-faux"></span>8
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_65" class="" id="tfa_65" name="tfa_56" aria-labelledby="tfa_65-L" data-tfa-labelledby="tfa_56-L tfa_65-L">
              <label class="r-padding postField" id="tfa_65-L" for="tfa_65">
                <span class="input-radio-faux"></span>9
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_66" class="" id="tfa_66" name="tfa_56" aria-labelledby="tfa_66-L" data-tfa-labelledby="tfa_56-L tfa_66-L">
              <label class="r-padding postField" id="tfa_66-L" for="tfa_66">
                <span class="input-radio-faux"></span>10
              </label>
            </span>
          </div>
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterAfter text-right" id="tfa_56-DA">Very much</div>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_93-D">
        <div class="">
          <label id="tfa_93-L" class="form-label preField" for="tfa_93">
            What is the main reason for your answer?
          </label>
        </div>
        <div class="">
          <textarea maxlength="5000" id="tfa_93" name="tfa_93" title="What is the main reason for your answer?" class="form-input"></textarea>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_78-D" role="radiogroup" aria-labelledby="tfa_78-L" data-tfa-labelledby="-L tfa_78-L">
        <div class="">
          <label id="tfa_78-L" class="form-label preField h4 t-padding-full">
            How likely are you to recommend the SCVO HR and Employment service to a friend or colleague?
          </label>
        </div>
        <div class="columns">
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterBefore" id="tfa_78-DB">Not much at all</div>
          <div id="tfa_78" class="text-center choices column col-6 col-lg-4 col-md-12 horizontal ">
            <span class="oneChoice">
              <input type="radio" value="tfa_79" class="" id="tfa_79" name="tfa_78" aria-labelledby="tfa_79-L" data-tfa-labelledby="tfa_78-L tfa_79-L">
              <label class="r-padding postField" id="tfa_79-L" for="tfa_79">
                <span class="input-radio-faux"></span>1
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_80" class="" id="tfa_80" name="tfa_78" aria-labelledby="tfa_80-L" data-tfa-labelledby="tfa_78-L tfa_80-L">
              <label class="r-padding postField" id="tfa_80-L" for="tfa_80">
                <span class="input-radio-faux"></span>2
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_81" class="" id="tfa_81" name="tfa_78" aria-labelledby="tfa_81-L" data-tfa-labelledby="tfa_78-L tfa_81-L">
              <label class="r-padding postField" id="tfa_81-L" for="tfa_81">
                <span class="input-radio-faux"></span>3
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_82" class="" id="tfa_82" name="tfa_78" aria-labelledby="tfa_82-L" data-tfa-labelledby="tfa_78-L tfa_82-L">
              <label class="r-padding postField" id="tfa_82-L" for="tfa_82">
                <span class="input-radio-faux"></span>4
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_83" class="" id="tfa_83" name="tfa_78" aria-labelledby="tfa_83-L" data-tfa-labelledby="tfa_78-L tfa_83-L">
              <label class="r-padding postField" id="tfa_83-L" for="tfa_83">
                <span class="input-radio-faux"></span>5
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_84" class="" id="tfa_84" name="tfa_78" aria-labelledby="tfa_84-L" data-tfa-labelledby="tfa_78-L tfa_84-L">
              <label class="r-padding postField" id="tfa_84-L" for="tfa_84">
                <span class="input-radio-faux"></span>6
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_85" class="" id="tfa_85" name="tfa_78" aria-labelledby="tfa_85-L" data-tfa-labelledby="tfa_78-L tfa_85-L">
              <label class="r-padding postField" id="tfa_85-L" for="tfa_85">
                <span class="input-radio-faux"></span>7
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_86" class="" id="tfa_86" name="tfa_78" aria-labelledby="tfa_86-L" data-tfa-labelledby="tfa_78-L tfa_86-L">
              <label class="r-padding postField" id="tfa_86-L" for="tfa_86">
                <span class="input-radio-faux"></span>8
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_87" class="" id="tfa_87" name="tfa_78" aria-labelledby="tfa_87-L" data-tfa-labelledby="tfa_78-L tfa_87-L">
              <label class="r-padding postField" id="tfa_87-L" for="tfa_87">
                <span class="input-radio-faux"></span>9
              </label>
            </span>
            <span class="oneChoice">
              <input type="radio" value="tfa_88" class="" id="tfa_88" name="tfa_78" aria-labelledby="tfa_88-L" data-tfa-labelledby="tfa_78-L tfa_88-L">
              <label class="r-padding postField" id="tfa_88-L" for="tfa_88">
                <span class="input-radio-faux"></span>10
              </label>
            </span>
          </div>
          <div class="column col-3 col-lg-4 col-md-12 delimiter delimiterAfter text-right" id="tfa_78-DA">Very much</div>
        </div>
      </div>
      <div class="oneField field-container-D form-group" id="tfa_95-D">
        <div class="">
          <label id="tfa_95-L" class="form-label preField" for="tfa_95">
            What is the main reason for your score?
          </label>
        </div>
        <div class="">
          <textarea maxlength="5000" id="tfa_95" name="tfa_95" title="What is the main reason for your score?" class="form-input"></textarea>
        </div>
      </div>
      <div class="actions v-margin-full" id="4849249-A">
        <input type="submit" data-label="Submit" id="submit_button" value="Submit" class="btn btn-lg btn-primary primaryAction" />
      </div>
      <div style="clear:both"></div>
      <input type="hidden" value="4871597" name="tfa_dbFormId" id="tfa_dbFormId" />
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId" />
      <input type="hidden" value="b0a4a99780d925e58fc52beac0213438" name="tfa_dbControl" id="tfa_dbControl" />
      <input type="hidden" value="1" name="tfa_dbVersionId" id="tfa_dbVersionId" />
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff" />
    </form>
  </div>
  <div class="wFormFooter b-margin-full b-padding-full">
    <p class="supportInfo b-margin-full">
      <a target="new" class="contactInfoLink" href="/privacy">Privacy policy</a>
    </p>
  </div>
</div>
