<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns v-padding-full">
      <div class="column col-8 col-lg-12">
        {{!-- {{> content_page_full @root.data.primaryResponse.hits.hits.[0]._source}} --}}
        <div class="equal-height linked-cards">
          <div class="columns">
            <div class="column col-6 col-md-12">
              <div class="card card-no-padding office-space">
                <section class="card-header">
                  <h2 class="card-title">
                    <a href="/services/office-space">
                      <span class="fal fa-fw fa-building">&nbsp;</span>
                      Office &amp; meeting space
                    </a>
                  </h2>
                </section>
                <section class="card-body">
                  Join us in one of our affordable shared office space locations in Glasgow, Edinburgh and Inverness.
                </section>
                <section class="card-footer">
                  <a class="btn btn-link" href="/services/office-space">Find out more</a>
                </section>
              </div>
            </div>
            <div class="column col-6 col-md-12">
              <div class="card card-no-padding managed-it">
                <section class="card-header">
                  <h2 class="card-title">
                    <a href="/services/managed-it">
                      <span class="fal fa-fw fa-sitemap">&nbsp;</span>
                      Managed IT
                    </a>
                  </h2>
                </section>
                <section class="card-body">
                  The SCVO IT Service offers a broad range of expertise to bring you the right technological solutions and support to help you in your day-to-day work.
                </section>
                <section class="card-footer">
                  <a class="btn btn-link" href="/services/managed-it">Find out more</a>
                </section>
              </div>
            </div>
            <div class="column col-6 col-md-12">
              <div class="card card-no-padding payroll">
                <section class="card-header">
                  <h2 class="card-title">
                    <a href="/services/payroll">
                      <span class="fal fa-fw fa-money-check-edit">&nbsp;</span>
                      Payroll
                    </a>
                  </h2>
                </section>
                <section class="card-body">
                  Professional and friendly service, dealing with all aspects of payroll – from management reporting and issuing P60s to dealing with sick and maternity leave.
                </section>
                <section class="card-footer">
                  <a class="btn btn-link" href="/services/payroll">Find out more</a>
                </section>
              </div>
            </div>
            <div class="column col-6 col-md-12">
              <div class="card card-no-padding credit-union">
                <section class="card-header">
                  <h2 class="card-title">
                    <a href="/services/credit-union">
                      <span class="fal fa-fw fa-money-bill-wave">&nbsp;</span>
                      SCVO Credit Union
                    </a>
                  </h2>
                </section>
                <section class="card-body">
                  The SCVO Credit Union is Scotland’s leading voluntary sector credit union. It offers low-cost loans, easy savings facilities, payroll deduction and quick bank transfers.
                </section>
                <section class="card-footer">
                  <a class="btn btn-link" href="/services/credit-union">Find out more</a>
                </section>
              </div>
            </div>
          </div>
        </div>
        {{!-- <h3>Business partners</h3>
        <div class="equal-height linked-cards">
          <div class="columns">
            <div class="column col-6 col-md-12">
              <div class="card gray mdc-card insurance">
                <section class="card-header">
                  <h2 class="card-title"><a href="/services/insurance"><span class="fal fa-fw fa-shield-check fa-2x">&nbsp;</span>Insurance</a></h2>
                </section>
                <section class="card-body">Keegan and Pennykid provide professional and independent advice to the voluntary sector</section>
                <section class="card-footer"><a class="btn btn-link" href="/services/insurance">Find out more</a></section>
              </div>
            </div>
          </div>
        </div> --}}
      </div>
      <div class="column col-4 col-lg-12">
        {{!-- {{> sidebars_tfn_latest}}
        <br /> --}}
        {{> sidebars_goodmoves_latest}}
      </div>
    </div>
  </div>
</div>