{{#if @root.request.params.section ~}}
{{> checkup_section section=@root.request.params.section}}
{{else}}
{{#ifAll @root.request.params.query.sid @root.data.rootResponse.organisation @root.data.rootResponse.name ~}}
<div class="container">
  <div class="container-content">
    <h1 class="mdc-typography--headline3">
      Welcome to the Good Governance checkup for {{@root.data.rootResponse.organisation}}.
    </h1>
    <h3 class="mdc-typography--headline5">
      Please complete this survey to see your results compared to answers from {{@root.data.rootResponse.name}}.
    </h3>
  </div>
</div>
{{/ifAll ~}}
{{> checkup_section section="section-start"}}
{{/if ~}}