<div class="container b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the application form
  </h2>
  <p>
    This could be for a number of reasons. Please use the <a href="/funding/digital-participation/charter-fund/helpdesk">helpdesk</a> or email <a href="mailto:digital@scvo.scot">digital@scvo.scot</a> with your details.
  </p>
</div>
