<div class="bg-white">
  <div class="container t-padding-full">
    {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
    {{> page_full @root.data.primaryResponse.hits.hits.[0]._source}}
    {{/if ~}}
  </div>
</div>