<div class="bg-white sidebar-present v-padding-full">
  <div class="container">
    <div class="columns">
      <main class="body column col-xs-auto">
        {{> page_full @root.data.primaryResponse.hits.hits.[0]._source}}
      </main>
      <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
        {{> sidebars_sidebar_menu}}
      </aside>
    </div>
  </div>
</div>