{{!-- <div class="bg-white sidebar-present v-padding-full">
  <div class="container">
    <div class="columns">
      <main class="body column col-xs-auto">
        {{> content_page_full @root.data.primaryResponse.hits.hits.[0]._source}}
      </main>
      <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
        {{> sidebars_sidebar_menu}}
      </aside>
    </div>
  </div>
</div> --}}


<div class="bg-gray sidebar-not-present v-padding-full">
  <div class="container t-padding">
    <p>
      The Scottish Council for Voluntary Organisations (SCVO) is the national membership organisation for the voluntary sector.
    </p>
  </div>
</div>

<div class="bg-white sidebar-not-present v-padding-full">
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-lg-6 col-md-12">
        <h2>Who we are</h2>
        <p>
          <a href="/about/constitution" class="no-underline">Constitution [NEW!] </a><br />
          <a href="/about/staff-team" class="no-underline">Staff team</a><br />
          <a href="/about/board-of-trustees" class="no-underline">Board of trustees</a><br />
          <a href="/about/work-with-us" class="no-underline">Work with us</a><br />
          <a href="/about/offices" class="no-underline">Offices [NEW!] </a>
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h2>What we do</h2>
        <p>
          <a href="/about/press-media" class="no-underline">Press releases</a><br />
          <a href="/about/blog" class="no-underline">Blog</a><br />
          <a href="/about/annual-review" class="no-underline">Annual review</a><br />
          <a href="/about/accounts" class="no-underline">Accounts</a><br />
          <a href="/about/strategy" class="no-underline">Strategy 2019-22</a><br />
          <a href="/about/partnership-projects" class="no-underline">Partnership projects [NEW!] </a><br />
          <a href="/about/european-projects" class="no-underline">European projects</a>
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h2>Join our community</h2>
        <p>
          <a href="/about/membership" class="no-underline">Membership</a><br />
          <a href="/about/members" class="no-underline">Our members</a><br />
          <a href="/about/professional-networks" class="no-underline">Professional networks</a>
        </p>
      </div>
    </div>
    <img src="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2019/10/logo-strip-for-website.png" alt="" style="max-width:600px; text-align:center; margin:1rem auto; display:block;" />
    <p>
      [*TBC* Support our network (this will contain business development stuff but doesn’t need to exist yet, although may affect layout if ends up being 4-across)]
    </p>
  </div>
</div>

<div class="bg-secondary sidebar-not-present v-padding-full">
  <div class="container">
    SECTION 2 – social media icons and links (banner)
  </div>
</div>

<div class="bg-white sidebar-not-present v-padding-full">
  <div class="container">
    <h2>About the voluntary sector</h2>
    <div class="columns">
      <div class="column col-4 col-lg-6 col-md-12">
        <h4>What is a modern charity</h4>
        <p>
          [The content currently on I Love Charity]
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h4>State of the Sector</h4>
        <p>
          [Stats]
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h4>Guide to working and volunteering in the sector</h4>
        <p>
          [Document]
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h4>What are intermediaries</h4>
        <p>
          [Content]
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h4>Terrific Trustees</h4>
        <p>
          [Content]
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <p>
          [*TBC* Goodmoves job salaries info]
        </p>
      </div>
    </div>
  </div>
</div>