{{#compare @root.data.supplimentaryResponses.posts.hits.total ">" 0 ~}}
{{> search_info paging=@root.data.supplimentaryResponses.posts.pagination}}
<ul class="supplimentary-list">
  {{#each @root.data.supplimentaryResponses.posts.hits.hits ~}}
  {{> content_post_list _source}}
  {{/each ~}}
</ul>
{{> pagination paging=@root.data.supplimentaryResponses.posts.pagination}}
{{else}}
<p>
  Error 404: No press releases could be loaded.
</p>
{{/compare ~}}