{{{replace (replace (replace (replace (replace @root.data.primaryResponse.hits.hits.[0]._source.content "@scvo.org.uk" "@scvo.scot") "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}

{{#compare data.supplimentaryResponses.scvo_jobs.hits.total "===" 0 ~}}
  <p>
    We don't currently have any vacancies but when we do they will appear here automatically.
  </p>
  <p>
    In the meantime you can search for jobs on
    <a href="https://goodmoves.com?utm_source=scvo&utm_campaign=page&utm_medium=website"><strong>good</strong>moves</a> and set up email alerts.
  </p>
{{else}}
<div class="b-margin-full">
  <h2>Current vacancies with SCVO</h2>
  {{#each @root.data.supplimentaryResponses.scvo_jobs.hits.hits ~}}
  {{> content_goodmoves_search_result _source}}
  {{/each ~}}
</div>
{{/compare ~}}
