<div class="container b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the application form
  </h2>
  <p>
    This could be for a number of reasons. Please email <a href="mailto:NewScotsProjectApplications@gov.scot">NewScotsProjectApplications@gov.scot</a> with your details.
  </p>
</div>
