{{#*inline "filter_checkbox" ~}}
<div class="form-group">
  <label class="form-checkbox">
  <input type="checkbox" id="type-{{value}}" name="type"
  value="{{value}}"{{#if (contains @root.request.params.query.type value)}} checked{{/if}} />
  <span class="form-icon"></span> {{label}}
</div>
{{/inline ~}}

<form action="/search" method="GET" autocomplete="off" class="v-margin-full">
  {{#if @root.request.params.query.q ~}}
  <input type="hidden" name="q" value="{{@root.request.params.query.q}}" />
  {{/if ~}}
  <h3>Filters</h3>
  <h4>SCVO</h4>
  {{>filter_checkbox label="Pages" value="scvo-page"}}
  {{>filter_checkbox label="Events & training" value="scvo-event"}}
  {{>filter_checkbox label="Member organisations" value="scvo-member"}}
  {{>filter_checkbox label="Staff" value="scvo-staff"}}

  <h4>News &amp; research</h4>
  {{>filter_checkbox label="SCVO posts" value="scvo-post"}}
  {{>filter_checkbox label="Evidence Library publications" value="scvo-document-evidence"}}
  {{>filter_checkbox label="News posts (on TFN)" value="tfn-legacy-post-news"}}
  {{>filter_checkbox label="Features (on TFN)" value="tfn-legacy-feature"}}
  {{>filter_checkbox label="Blog posts (on TFN)" value="tfn-legacy-post-blog"}}

  <h4>Funding</h4>
  {{>filter_checkbox label="Funds (on Funding Scotland)" value="fs-fund"}}
  {{>filter_checkbox label="Cyber fund organisations" value="scvo-grant-cyber"}}
  {{>filter_checkbox label="CCRF fund projects" value="scvo-grant-ccrf"}}
  {{>filter_checkbox label="CATS fund organisations" value="scvo-grant-cats"}}
  {{>filter_checkbox label="Charter fund projects" value="scvo-grant-charter"}}
  {{>filter_checkbox label="Charter signatories" value="charter-signatory-digitalparticipation"}}

  {{!-- <h4>Good HQ</h4>
  {{>filter_checkbox label="Organisations" value="goodhq-organisation"}}
  {{>filter_checkbox label="Posts" value="goodhq-post"}} --}}

  <h4>Jobs</h4>
  {{>filter_checkbox label="Jobs (on Goodmoves)" value="goodmoves-vacancy"}}
  {{>filter_checkbox label="CJS vacancies" value="cjs-vacancy"}}

  <button class="btn btn-primary btn-block t-margin-full" type="submit" title="Filter results">
    Filter
  </button>
</form>