{{#if data.primaryResponse.hits.hits.[0] ~}}
{{#with data.primaryResponse.hits.hits.[0]._source ~}}
<title>Search – SCVO</title>
<meta property="og:title" content="Search – SCVO" data-dynamic="true">
{{#ifAny og_image ../og_image}}
<meta property="og:image" content="{{default og_image ../og_image}}" data-dynamic="true">
{{/ifAny ~}}
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>Scottish Council for Voluntary Organisations – SCVO</title>
<meta property="og:title" content="Scottish Council for Voluntary Organisations – SCVO" data-dynamic="true">
{{/if ~}}