{{#*inline "filter_checkbox" ~}}
<div class="form-group">
  <label class="form-checkbox">
  <input type="checkbox" id="type-{{value}}" name="type"
  value="{{value}}"{{#if (contains @root.request.params.query.type value)}} checked{{/if}} />
  <span class="form-icon"></span> {{label}}
</div>
{{/inline ~}}

<form action="/search" method="GET" autocomplete="off">
  <h2>Filters</h2>
  <h3>SCVO</h3>
  {{>filter_checkbox label="Pages" value="scvo-page"}}
  {{>filter_checkbox label="Posts" value="scvo-post"}}
  {{>filter_checkbox label="Evidence Library documents" value="scvo-document-evidence"}}
  {{>filter_checkbox label="Member organisations" value="scvo-member"}}
  {{>filter_checkbox label="Staff" value="scvo-staff"}}
  {{>filter_checkbox label="Events & training" value="scvo-event"}}

  <h3>Digital programme</h3>
  {{>filter_checkbox label="Funded projects" value="scvo-grant-charter"}}
  {{>filter_checkbox label="Charter signatories" value="charter-signatory-digitalparticipation"}}

  <h3>Funding Scotland</h3>
  {{>filter_checkbox label="Funds" value="fs-fund"}}

  <h3>Good HQ</h3>
  {{>filter_checkbox label="Organisations" value="goodhq-organisation"}}
  {{>filter_checkbox label="Posts" value="goodhq-post"}}

  <h3>Jobs</h3>
  {{>filter_checkbox label="Goodmoves jobs" value="goodmoves-vacancy"}}
  {{>filter_checkbox label="CJS vacancies" value="cjs-vacancy"}}

  <h3>TFN</h3>
  {{>filter_checkbox label="Blog posts" value="tfn-legacy-post-blog"}}
  {{>filter_checkbox label="Events" value="tfn-legacy-event"}}
  {{>filter_checkbox label="Features" value="tfn-legacy-feature"}}
  {{>filter_checkbox label="Lists" value="tfn-legacy-list"}}
  {{>filter_checkbox label="News posts" value="tfn-legacy-post-news"}}
  {{>filter_checkbox label="Polls" value="tfn-legacy-poll"}}

  <button class="btn btn-primary" type="submit">
    Search
  </button>
</form>