{{> search_info paging=@root.data.primaryResponse.pagination}}

{{#each @root.data.primaryResponse.hits.hits ~}}
<div class="card search-result {{_type}} {{_type}}-{{_id}} b-margin-full">
  {{#with _source ~}}
  {{> site_search_result}}
  {{/with ~}}
</div>
{{/each ~}}

{{> pagination paging=@root.data.primaryResponse.pagination}}