<footer>
  <div class="bg-secondary t-padding">
    <div class="container t-padding-full">
      <div class="columns">
        <div class="copyright column col-10 col-lg-12">
          <a href="https://www.fscs.org.uk/what-we-cover/credit-unions/" class="no-underline no-ext pull-left" style="line-height:0;"><img src="{{~>asset_url url='images/logos/organisations/FSCS_Protected_Logo.svg'~}}" alt="FSCS Protected" style="max-width:100px;" class="r-margin-full" /></a>
          <p class="text-small t-margin text-white">
            CU registered no. 135CU(S) | FSA registered no. <a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000MfMIwAAN">213888</a> | Category ‘F’ Consumer Credit Licence held
          </p>
          <p class="text-small text-white">
            Authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority (Registration No: 2138) (CU No: 135(S). Your eligible deposits with SCVO CU are protected up to a total of £85,000 by the Financial Services Compensation Scheme, the UK’s deposit protection scheme. Any deposits you hold above the £85,000 limit are not covered.
          </p>
        </div>
        <div class="logos column col-2 col-md-4 col-sm-5 col-xs-6 col-mr-auto">
          <a href="/" class="scvo-logo no-underline" title="Scottish Council for Voluntary Organisations">
            <img src="{{~>asset_url url='images/logos/scvo-white.svg'~}}" alt="Scottish Council for Voluntary Organisations" class="t-margin b-padding-full" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>