<a href="/support/coronavirus" class="banner banner-coronavirus-info-hub bg-yellow">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-auto align-centre logo">
        {{!-- <span class="fa-stack fa-fw fa-2x" style="line-height: 4rem;">
          <i class="fal fa-triangle fa-stack-2x"></i>
          <i class="far fa-virus fa-stack-1x"></i>
        </span> --}}
        <span class="fal fa-exclamation-triangle fa-3x fa-fw" aria-hidden="true"></span>
        {{!-- <div class="scvo-logo"></div> --}}
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <h3 class="no-margin">
          Coronavirus Third Sector Information Hub
        </h3>
      </div>
    </div>
  </div>
</a>