<a href="/support/coronavirus" class="bg-yellow">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-exclamation-triangle fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <h3 class="no-margin">
          Coronavirus Third Sector Information Hub
        </h3>
      </div>
    </div>
  </div>
</a>