<a href="/support/covid-19" class="bg-yellow">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-exclamation-triangle fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col">
        <h2 class="no-margin">
          Coronavirus
        </h2>
        <div class="no-margin">
          <span class="link-hover">Latest update on COVID-19</span>
        </div>
      </div>
    </div>
  </div>
</a>