<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">SCVO</a></li>
    <li class="breadcrumb-item"><a href="/jobs">Jobs &amp; employability</a></li>
    <li class="breadcrumb-item"><a href="/jobs/employability-support">Employability support</a></li>
    <li class="breadcrumb-item">Vacancies</li>
  </ul>

  <h1>CJS vacancies</h1>
</div>