<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/jobs">Jobs &amp; employability</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
    <li class="breadcrumb-item">Vacancies</li>
  </ul>

  <h1>CJS vacancies</h1>
</div>