<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/jobs">Jobs &amp; employability</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland/vacancies">Vacancies</a></li>
    <li class="breadcrumb-item">16–29 year olds {{#compare @root.request.params.phase "===" "p52"}}(part-time){{/compare}}</li>
  </ul>

  <h1>CJS vacancies</h1>
</div>