<div class="bg-primary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/setting-up-a-charity/frequently-asked-questions">Frequently asked questions</a>
    </h3>
    <p>What is a SCIO?</p>
    <p>Do I need to be a charity to fundraise?</p>
    <p>Can we pay the trustees of our charity?</p>
    <p>What is an honorarium?</p>
    <p>How long does it take to set up a charity?</p>
    <a href="/support/setting-up-a-charity/frequently-asked-questions" class="btn btn-primary v-margin">See all FAQs</a>
  </div>
</div>

{{!-- {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{#unless @root.data.primaryResponse.hits.hits.[0]._source.hide_related_posts ~}}
{{> posts_related}}
{{/unless ~}}
{{/if ~}} --}}
{{> posts_latest}}
