<div class="bg-gray">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <h3 class="b-padding">
          <a href="/support/terrific-trustees">Terrific trustees</a>
        </h3>
        <p class="b-padding">
          With over 250,000 trustees across the country who help manage, shape and guide voluntary sector organisations, we think it’s important to provide practical help and information which caters specifically to board members. <a href="/support/terrific-trustees">Read more</a>
        </p>
      </div>
      <div class="column col-4 col-md-12">
        <h3 class="b-padding">
          <a href="/support/milo">Milo training</a>
        </h3>
        <p class="b-padding">
          The data management and reporting platform used by Scotland’s Third Sector Interfaces. <a href="/support/milo">Read more</a>
        </p>
      </div>
      <div class="column col-4 col-md-12">
        <h3 class="b-padding">
          <a href="/support/milo">Milo training</a>
        </h3>
        <p class="b-padding">
          The data management and reporting platform used by Scotland’s Third Sector Interfaces.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/setting-up-a-charity/frequently-asked-questions">Frequently asked questions</a>
    </h3>
    <div class="b-margin-full">
      <p>What is a SCIO?</p>
      <p>Do I need to be a charity to fundraise?</p>
      <p>Can we pay the trustees of our charity?</p>
      <p>What is an honorarium?</p>
      <p>How long does it take to set up a charity?</p>
      <p>
        <a href="/support/setting-up-a-charity/frequently-asked-questions" class="btn btn-primary">See all FAQs</a>
      </p>
    </div>
  </div>
</div>

<div class="bg-secondary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/information-service">Information Service</a>
    </h3>
    <div class="b-margin-full">
      <p>
        The SCVO Information Service offers help for anyone setting up or running a voluntary sector organisation.
      </p>
      <p>
        <a href="/support/information-service" class="btn btn-primary">Find out more</a>
        <a href="/support/information-service/events" class="btn">Upcoming events</a>
      </p>
    </div>
  </div>
</div>

{{> footers_posts_latest}}
