  {{!-- {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{> content_page_full @root.data.primaryResponse.hits.hits.[0]._source}}
  {{/if ~}} --}}
<div class="container v-padding-full">
  <div class="columns b-padding">
    <div class="column col-4 col-lg-6 col-md-12">
      <h2>
        <a href="/support/setting-up-a-charity">Setting up a charity</a>
      </h2>
      <p>
        <strong>Are you thinking about setting up a new voluntary organisation, community group or charity? Is your aim to bring about change or provide a service for the benefit of your community?</strong>
      </p>
      <p>
        You’ll find material here to help you think through some of the key issues relating to starting a voluntary sector organisation in Scotland and deciding on what needs to happen next.
      </p>
      <p>
        <a href="/support/setting-up-a-charity" class="no-underline">Find out more</a>
      </p>
    </div>
    <div class="column col-4 col-lg-6 col-md-12">
      <h2>
        <a href="/support/running-your-organisation">Running your organisation</a>
      </h2>
      <p>
        <strong>Here you can find detailed information on a range of topics to help you run your organisation.</strong>
      </p>
      <p>
        You can find information on finance and governance, as well as managing staff and volunteers and finding affordable office space.
      </p>
      <p>
        <a href="/support/running-your-organisation" class="no-underline">Find out more</a>
      </p>
    </div>
    <div class="column col-4 col-lg-12">
      <h2>
        <a href="/support/digital">Digital</a>
      </h2>
      <p>
        <strong>SCVO’s digital team helps voluntary sector organisations across Scotland develop their digital potential to better support their communities.</strong>
      </p>
      <p>
        The team provides everything from useful resources and online tools to interactive events and immersive training programmes. The focus is on increasing the capacity of voluntary organisations by supporting their use of digital tools and techniques, and improving essential digital skills to increase social inclusion.
      </p>
      <p>
        <a href="/support/digital" class="no-underline">Find out more</a>
      </p>
    </div>
  </div>
</div>

<div class="bg-primary">
  <div class="container v-padding-full">
    <h2 class="b-padding">
      Events & training courses&ensp;
      <a href="/support/events"><span class="caption">See all</span></a>
    </h2>
    <div class="columns b-margin">
      {{#each @root.data.supplimentaryResponses.event_types.aggregations.types.buckets ~}}
      <div class="column col-3 col-lg-6 col-sm-12 b-padding-full">
        <a href="/support/events?q=&course_type={{replace key ' ' '+'}}">{{inflect doc_count (lowercase (replace key "Workshops" "Workshop")) (concat (lowercase (replace key "Workshops" "Workshop")) 's') true}}
      </div>
      {{/each ~}}
    </div>
  </div>
</div>
