<div class="bg-primary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/setting-up-a-charity/frequently-asked-questions">Frequently asked questions</a>
    </h3>
    <div class="b-margin-full">
      <p>What is a SCIO?</p>
      <p>Do I need to be a charity to fundraise?</p>
      <p>Can we pay the trustees of our charity?</p>
      <p>What is an honorarium?</p>
      <p>How long does it take to set up a charity?</p>
      <p>
        <a href="/support/setting-up-a-charity/frequently-asked-questions" class="btn btn-primary">See all FAQs</a>
      </p>
    </div>
  </div>
</div>

<div class="bg-secondary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/information-service">Information Service</a>
    </h3>
    <div class="b-margin-full">
      <p>
        The SCVO Information Service offers help for anyone setting up or running a voluntary sector organisation.
      </p>
      <p>
        <a href="/support/information-service" class="btn btn-primary">Find out more</a>
        <a href="/support/information-service/events" class="btn">Upcoming events</a>
      </p>
    </div>
  </div>
</div>

{{> posts_latest}}
