{{!-- {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{> content_page_full @root.data.primaryResponse.hits.hits.[0]._source}}
{{/if ~}} --}}

<div class="container v-padding-full v-margin-full">
  <div class="columns">
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/support/setting-up-a-charity">
              <span class="fal fa-fw fa-map-marker-question fa-2x">&nbsp;</span>
              Setting up a charity
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            What to consider when setting up a new voluntary organisation, including legal structures and model constitutions.
          </p>
        </div>
        <p class="card-footer">
          <a href="/support/setting-up-a-charity">Find out more</a>
        </p>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/support/running-your-organisation">
              <span class="fal fa-fw fa-info-circle fa-2x">&nbsp;</span>
              Running your organisation
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            How to solve problems and run effective and sustainable voluntary organisations. Includes governance, finance and managing people.
          </p>
        </div>
        <p class="card-footer">
          <a href="/support/running-your-organisation">Find out more</a>
        </p>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/support/digital">
              <span class="fal fa-fw fa-user-headset fa-2x">&nbsp;</span>
              Digital
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            How to deliver digital services, tackle digital exclusion and develop digital skills.
          </p>
        </div>
        <p class="card-footer">
          <a href="/support/digital">Find out more</a>
        </p>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/support/training">
              <span class="fal fa-fw fa-chalkboard-teacher fa-2x">&nbsp;</span>
              Training
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            Our programme of trainer led courses to support skills development and learning.
          </p>
        </div>
        <p class="card-footer">
          <a href="/support/events?type=Training+Course" class="btn btn-primary mr">Training programme</a>
          <a href="/support/training">Find out more</a>
        </p>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/support/elearning">
              <span class="fal fa-fw fa-graduation-cap fa-2x">&nbsp;</span>
              Self-study eLearning
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            Learn at your own pace, and at a time that suits you with these free modules.
          </p>
        </div>
        <p class="card-footer">
          <a href="/support/elearning">Find out more</a>
        </p>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card b-padding">
        <div class="card-header">
          <h2 class="card-title">
            <a href="/about/community/networks">
              <span class="fal fa-fw fa-chart-network fa-2x">&nbsp;</span>
              Networks
            </a>
          </h2>
        </div>
        <div class="card-body">
          <p>
            Make the most of professional connections and peer support
          </p>
        </div>
        <p class="card-footer">
          <a href="/about/community/networks">Find out more</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary">
  <div class="container v-padding-full">
    <h2 class="b-margin-full">
      Upcoming events &amp; training
      &ensp;
      <a href="/support/events"><span class="caption">See all</span></a>
    </h2>
    <div class="columns t-margin">
      {{#each @root.data.supplimentaryResponses.event_types.aggregations.types.buckets}}
      <div class="column col-4 col-xl-6 col-md-12 b-padding-full text-center">
        <span class="fal fa-fw fa-{{itemAt (split 'users-class,user-headset,house-user,user,users' ',') @index}} fa-4x p-centered b-margin-full"></span>
        <a href="/support/events?type={{replace key ' ' '+'}}" class="btn btn-block">List {{inflect doc_count (concat 'upcoming ' (lowercase (replace key "Workshops" "Workshop"))) (concat 'upcoming ' (lowercase (replace key "Workshops" "Workshop")) 's') true}}</a>
        {{!-- {{#if (compare key 'Training Course')}}
        <p class="t-margin">
        <a href="/support/training" class="btn btn-primary">Find out more</a>
      </p>
      {{/if}} --}}
    </div>
    {{/each}}
  </div>
</div>
</div>

{{> sections_coronavirus title="Coronavirus Third Sector Information Hub" icon="exclamation-triangle" description="Find guidance and funding to help your organisation respond to the crisis" link="/support/coronavirus"}}