<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-4 col-lg-12">
        <h3 class="b-padding">
          <a href="/support/setting-up-a-charity/frequently-asked-questions">Frequently asked questions</a>
        </h3>
        <p class="b-padding">
          From associations to trusts, social enterprises, companies limited by guarantee and SCIOs – it’s no wonder that setting up a voluntary sector organisation can feel confusing.
        </p>
        <p class="b-padding">
          <a href="/support/setting-up-a-charity/frequently-asked-questions" class="no-underline">Find out more</a>
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">
          <a href="/support/terrific-trustees">Terrific trustees</a>
        </h3>
        <p class="b-padding">
          With over 250,000 trustees across the country who help manage, shape and guide voluntary sector organisations, we think it’s important to provide practical help and information which caters specifically to board members.
        </p>
        <p class="b-padding">
          <a href="/support/terrific-trustees" class="no-underline">Find out more</a>
        </p>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">
          <a href="/support/milo">Milo training</a>
        </h3>
        <p class="b-padding">
          The data management and reporting platform used by Scotland’s Third Sector Interfaces.
        </p>
        <p class="b-padding">
          <a href="/support/milo" class="no-underline">Find out more</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="bg-secondary">
  <div class="container text-centre v-padding-full">
    <h3>
      <a href="/support/information-service">Information Service</a>
    </h3>
    <div class="b-margin-full">
      <p>
        The SCVO Information Service offers help for anyone setting up or running a voluntary sector organisation.
      </p>
      <p>
        <a href="/support/information-service" class="btn btn-primary">Find out more</a>
        <a href="/support/information-service/events" class="btn">Upcoming events</a>
      </p>
    </div>
  </div>
</div>

{{> footers_posts_blog}}