<h2>
  <a href="/setting-up-a-charity/frequently-asked-questions">Frequently asked questions</a>
</h2>
<p>What is a SCIO?</p>
<p>Do I need to be a charity to fundraise?</p>
<p>Can we pay the trustees of our charity?</p>
<p>What is an honorarium?</p>
<p>How long does it take to set up a charity?</p>
<a href="/setting-up-a-charity/frequently-asked-questions" class="mdc-button mdc-button--raised">See all FAQs</a>
