<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=b32da48fb5359ae5263737f3eafe9b6a4ec85f81"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=b32da48fb5359ae5263737f3eafe9b6a4ec85f81"></script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer columns b-margin-full b-padding-full">
  <div class="wForm column col-8 col-xl-9 col-lg-10 col-md-11 col-sm-12 b-margin-full b-padding-full" id="4865958-WRPR" dir="ltr">
    <div class="codesection" id="code-4865958"></div>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="4865958" role="form">
      <div class="form-group" id="tfa_13-D" role="radiogroup" aria-labelledby="tfa_13-L" data-tfa-labelledby="-L tfa_13-L">
        <label id="tfa_13-L" class="form-label">How likely are you to recommend SCVO webinars to a friend or colleague?</label>
      </div>
      <div class="form-group">
        <span id="tfa_13" class="choices horizontal ">
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_14-L" for="tfa_14">
              <input type="radio" value="tfa_14" id="tfa_14" name="tfa_13" aria-labelledby="tfa_14-L" data-tfa-labelledby="tfa_13-L tfa_14-L">
              <span class="form-icon"></span>
              1 (Not at all likely)
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_15-L" for="tfa_15">
              <input type="radio" value="tfa_15" id="tfa_15" name="tfa_13" aria-labelledby="tfa_15-L" data-tfa-labelledby="tfa_13-L tfa_15-L">
              <span class="form-icon"></span>
              2
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_16-L" for="tfa_16">
              <input type="radio" value="tfa_16" id="tfa_16" name="tfa_13" aria-labelledby="tfa_16-L" data-tfa-labelledby="tfa_13-L tfa_16-L">
              <span class="form-icon"></span>
              3
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_17-L" for="tfa_17">
              <input type="radio" value="tfa_17" id="tfa_17" name="tfa_13" aria-labelledby="tfa_17-L" data-tfa-labelledby="tfa_13-L tfa_17-L">
              <span class="form-icon"></span>
              4
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_18-L" for="tfa_18">
              <input type="radio" value="tfa_18" id="tfa_18" name="tfa_13" aria-labelledby="tfa_18-L" data-tfa-labelledby="tfa_13-L tfa_18-L">
              <span class="form-icon"></span>
              5
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_19-L" for="tfa_19">
              <input type="radio" value="tfa_19" id="tfa_19" name="tfa_13" aria-labelledby="tfa_19-L" data-tfa-labelledby="tfa_13-L tfa_19-L">
              <span class="form-icon"></span>
              6
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_20-L" for="tfa_20">
              <input type="radio" value="tfa_20" id="tfa_20" name="tfa_13" aria-labelledby="tfa_20-L" data-tfa-labelledby="tfa_13-L tfa_20-L">
              <span class="form-icon"></span>
              7
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_21-L" for="tfa_21">
              <input type="radio" value="tfa_21" id="tfa_21" name="tfa_13" aria-labelledby="tfa_21-L" data-tfa-labelledby="tfa_13-L tfa_21-L">
              <span class="form-icon"></span>
              8
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_22-L" for="tfa_22">
              <input type="radio" value="tfa_22" id="tfa_22" name="tfa_13" aria-labelledby="tfa_22-L" data-tfa-labelledby="tfa_13-L tfa_22-L">
              <span class="form-icon"></span>
              9
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_23-L" for="tfa_23">
              <input type="radio" value="tfa_23" id="tfa_23" name="tfa_13" aria-labelledby="tfa_23-L" data-tfa-labelledby="tfa_13-L tfa_23-L">
              <span class="form-icon"></span>
              10 (Extremely likely)
            </label>
          </span>
        </span>
      </div>
      <div class="form-group" id="tfa_7-D">
        <label id="tfa_7-L" class="form-label" for="tfa_7">Have our webinars helped you gain new information, knowledge &amp; skills?</label>
        <span id="tfa_4" class="choices vertical ">
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_5-L" for="tfa_5">
              <input type="radio" value="tfa_5" class="" id="tfa_5" name="tfa_4" aria-labelledby="tfa_5-L" data-tfa-labelledby="tfa_4-L tfa_5-L">
              <span class="form-icon"></span>
              Yes
            </label>
          </span>
          <span class="form-group">
            <label class="form-radio form-inline" id="tfa_6-L" for="tfa_6">
              <input type="radio" value="tfa_6" class="" id="tfa_6" name="tfa_4" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_4-L tfa_6-L">
              <span class="form-icon"></span>
              No
            </label>
          </span>
        </span>
        <textarea id="tfa_7" name="tfa_7" class="form-input"></textarea>
      </div>
      <div class="form-group" id="tfa_8-D">
        <label id="tfa_8-L" class="form-label" for="tfa_8">
          What changes would you like to see to help us make SCVO webinars better in future?
        </label>
        <textarea id="tfa_8" name="tfa_8" class="form-input"></textarea>
      </div>
      <div class="form-group" id="tfa_9-D">
        <label id="tfa_9-L" class="form-label" for="tfa_9">
          Is there anything else you'd like to let us know?
        </label>
        <textarea id="tfa_9" name="tfa_9" class="form-input"></textarea>
      </div>
      <div class="htmlSection t-margin-full" id="tfa_12">
        Thank you for sharing your feedback. This will help us improve future events. Your comments will remain anonymous, but if you wish you can leave your contact details so we can follow up with you.
      </div>
      <div class="form-group t-margin" id="tfa_10-D">
        <label id="tfa_10-L" class="form-label" for="tfa_10">Your name (optional)</label>
        <input type="text" id="tfa_10" name="tfa_10" value="" class="form-input">
      </div>
      <div class="form-group t-margin" id="tfa_11-D">
        <label id="tfa_11-L" class="form-label" for="tfa_11">Your email (optional)</label>
        <input type="email" id="tfa_11" name="tfa_11" value="" class="form-input">
      </div>
      <div class="actions" id="4865958-A">
        <input type="submit" data-label="Submit" class="btn btn-primary t-margin" id="submit_button" value="Submit">
      </div>
      <div style="clear:both"></div>
      <input type="hidden" value="4865958" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="3abca14e2a7959056e56849de3a749ef" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="5" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>
