<div class="landing-header-cjs">
  <div class="">
    <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/cjs-logo.png" alt="Community Jobs Scotland" />
    <div class="landing-header-text">
      <p>
        Over 8,000 young people employed
      </p>
      <p>
        Over 600 partner organisations
      </p>
    </div>
  </div>
</div>