<div class="b-margin-full b-padding-full">
  {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  {{{replace (replace (replace (replace content "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
  {{/with ~}}
  {{/if ~}}

  {{#compare @root.data.supplimentaryResponses.funds.hits.total ">" 0}}
  {{#each @root.data.supplimentaryResponses.funds.hits.hits ~}}
  {{#with _source ~}}
  {{> content_fund_search_result this}}
  {{/with ~}}
  {{/each ~}}
  {{/compare ~}}
</div>