<div class="bg-secondary">
  <div class="container">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-info-circle fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <p class="v-margin v-padding">
          We have spoken to the Scottish Government with regards to the ongoing situation concerning the coronavirus (COVID-19) pandemic and sought guidance with regards to the Community Jobs Scotland employer funding. <a href="/jobs/community-jobs-scotland/coronavirus-update">Read more</a>
        </p>
      </div>
    </div>
  </div>
</div>