<div class="bg-secondary">
  <div class="container">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-info-circle fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <p class="v-margin v-padding">
          Please note our membership team is now working remotely to continue processing membership applications and are happy to answer any queries you may have.
        </p>
      </div>
    </div>
  </div>
</div>