<div class="b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    We aim to assess all applications within 10 days and make a decision as soon as possible. In some circumstances we may call you to ask for clarification on aspects of the form.
  </p>
  <p>
    The Fund will operate in a place-based way, with local intelligence from Third Sector Interfaces forming part of the assessment of applications.
  </p>
  <p>
    We might need to contact you for further information but please do not be concerned if you do not hear from us as we aim to assess applications from the information supplied.
  </p>
  <p>
    You will receive an email advising you of the decision. Should your application be successful, payments will be made direct to the bank account given in the application form.
  </p>
</div>