<div class="b-margin-full b-padding-full">
  <h2>
    Thank you for you interest in the Community & Third Sector Recovery Programme. Your organisation has already been offered a substantive grant of between £5k and £100k.
  </h2>
  <p>
    If you think that you haven't submitted a successful application please contact <a href="mailto:recoveryfund@scvo.org.uk">recoveryfund@scvo.org.uk</a>
  </p>
</div>