<div class="b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the Recovery Fund application form
  </h2>
  <p>
    Your application could not be found. Please contact support.
  </p>
</div>
