<div class="b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the Recovery Fund application form
  </h2>
  <p>
    Applications for the current round of the Recovery Fund are now closed. Assessment of those applications is now in progress as the application form closed at **DATE**.
  </p>
</div>
