<div class="b-margin-full b-padding-full">
  <h2>
    Sorry - your organisation has already submitted an application
  </h2>
  <p>
    We are only accepting one application per organisation for the first round of the Recovery Fund.
  </p>
  <p>
    If you think you haven’t submitted an application, contact <a href="mailto:recoveryfund@scvo.org.uk">recoveryfund@scvo.org.uk</a>
  </p>
</div>