<div class="container">
  <div class="form-horizontal form b-margin-full b-padding-full b-margin-full">
    <p>
      Before you complete this online form please note the following:
    </p>
    <ul>
      <li>Only Church of Scotland congregations and presbyteries are eligible to apply for this Fund.</li>
      <li>All of the support documents for making an application can be downloaded from the <a href="https://www.churchofscotland.org.uk/connect/small-grants-fund/how-to-apply" target="_blank">2021 Small Grants pages on the Church of Scotland website</a>.</li>
      <ul>
        <li>We recommend that you use the <a href="https://www.churchofscotland.org.uk/connect/small-grants-fund/how-to-apply#template" target="_blank">Microsoft Word template</a> to plan your draft before completing this online form.</li>
        <li>Ensure that in completing the form you have referred to <a href="https://www.churchofscotland.org.uk/connect/small-grants-fund/how-to-apply#Guidance" target="_blank">2021 Small Grants Fund Guidance Notes</a>.</li>
        <li>At the end of the form you will need to upload a signed <a href="https://www.churchofscotland.org.uk/connect/small-grants-fund/how-to-apply#ExtractMinute" target="_blank">extract minute from the relevant church court</a> supporting the application, indicating acceptance of the <a href="https://www.churchofscotland.org.uk/connect/small-grants-fund/how-to-apply#Conditions" target="_blank">General Conditions of Award</a>.</li>
      </ul>
      <li>By completing the application form, the person completing and submitting it is undertaking that they have permission to disclose to us, and that we have permission to disclose to any third parties we may instruct for the purposes of administering the application and any grant, all of the personal data included in the application form. Personal data is any information that can be used to identify a living person.</li>
      <li>We are contracting with SCVO for the purposes of administering this web site and grant-related processes.</li>
      <li>Personal data that we, or any third parties instructed by us, process for the purpose the 2021 Small Grants Fund is processed on the basis of fulfilment of an agreement with you to process grant applications forms and to facilitate grants that are awarded. Links to The Church of Scotland and SCVO Privacy Notices can be found at the bottom of this page.</li>
    </ul>

    <p class="t-margin">
      <a href="/funding/church-of-scotland-2021-small-grants-fund/apply" class="btn btn-lg btn-primary">Apply</a>
    </p>

    <h3>Help</h3>
    <p>
      For questions regarding guidance/criteria, email <a href="mailto:2021SGF@churchofscotland.org.">2021SGF@churchofscotland.org.uk</a>
    </p>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var valid = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 67, 83, 99, 115, 37, 39, 111, 79, 46, 35, 36];
  $('#charity_number')
  .on('keydown', function(evt) {
    if (evt.ctrlKey) {
      return;
    }

    if (valid.indexOf(evt.which) === -1 && evt.which > 31) {
      evt.preventDefault();
    }
  })
  .on('keyup', checkCN)
  .on('change', checkCN)
  .on('paste', function(evt) {
    setTimeout(function() {
      checkCN(evt);
    }, 0);
  })
  .select();

  function checkCN(evt) {
    var matches = evt.target.value.replace(/[^sco0-9]/img, '');
    var charityNumber = evt.target.value = (matches || '').toUpperCase().replace(/o/ig, '0');

    if (evt.ctrlKey || charityNumber.match(/SC[0-9]{6}/)) {
      var url = '/funding/church-of-scotland-2021-small-grants-fund/apply/' + charityNumber;
      $('#charity_number_submit')
      .removeAttr('disabled', false)
      .attr('href', url);
      if (evt.which === 13) {
        window.location.href = url;
      }
    } else {
      $('#charity_number_submit')
      .attr('disabled', true)
      .attr('href', '');
    }
  }

})
</script>