<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you for completing your Church of Scotland Small Grants 2021 online application form.
  </p>
  <p>
    Our application assessment process will be completed by [DATE] and we will notify all applicants of the outcome by [DATE].
  </p>
</div>