<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you for completing your Church of Scotland Small Grants 2021 online application form.
  </p>
  <p>
    Please email <a href="mailto:2021SGF@churchofscotland.org.uk">2021SGF@churchofscotland.org.uk</a> if you have any questions.
  </p>
</div>