{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  <div class="full scvo-cms scvo-cms-page scvo-cms-page-42775">
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}

    <h3>Member categories</h3>
    {{> content_fees_table_member link=true}}

    <h3>Supporter categories</h3>
    {{> content_fees_table_supporter link=true}}
  </div>
{{/if ~}}
{{> page_feedback}}

<script src="{{~>asset_url url='js/accordion.js'~}}"></script>