<div class="b-margin-full b-padding-full">
  <h1>Thank you and what happens next</h1>

  <p class="b-margin-full b-padding-full">
    Thank you for your interest in SCVO membership or being an SCVO supporter. We will be in touch with you should we require any further information, otherwise your application will be processed by our membership team and we will contact you in due course.  In the meantime, you can start enjoying our <a href="https://scvo.org/about/membership/members" target="_blank">membership benefits</a> or <a href="https://scvo.org/about/membership/supporters" target="_blank">supporter benefits</a>.
  </p>
</div>