<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
  $("#4859763").submit(function(e){
    e.preventDefault();
    var q1 = $('#tfa_5').prop('checked');
    var q2 = $('#tfa_6').prop('checked');
    var q3 = $('#tfa_7').prop('checked');
    var q4 = $('#tfa_8').prop('checked');
    var q5 = $('#tfa_312').prop('checked');
    var q6 = $('#tfa_313').prop('checked');
    if (q1 && q2 && q3 && q4 && q5 && q6) {
      $('#tfa_286').val("Member");
    }
    this.submit();
  });
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=6b1109ac309299ec751af6a3c690f678773e405f" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=6b1109ac309299ec751af6a3c690f678773e405f">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=6b1109ac309299ec751af6a3c690f678773e405f">
</script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer b-margin-full">
  <div class="wForm" id="4859763-WRPR" dir="ltr">
    <div class="codesection" id="code-4859763">
    </div>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="form form-horizontal hintsBelow labelsAbove" id="4859763" role="form">
      <div class="wfPage" id="wfPgIndex-1">
        <div class="section pageSection" id="tfa_9">
          <p class="b-margin-full">
            We're really happy that you would like to join SCVO!
          </p>
          <p>
            Please have the following to hand to help you answer some of the questions in our application process:
          </p>
          <ul>
            <li>Link to your constitution/governance documents (or where we can find it)</li>
            <li>Your charity/companies house registration number (if applicable)</li>
            <li>Your current annual income</li>
          </ul>
          <p>
            The application form can't be saved but is very short and should only take approximately 5 minutes to complete.
          </p>
          <p>
            Please note that <a href="/about/membership/fees" target="_blank">membership fees</a> may apply.
          </p>
          <p>
            All set? Let's start&hellip;
          </p>

          <h2 id="tfa_9-T" class="t-margin">Membership eligibility</h2>
          <p>
            Acceptance of members to SCVO is based on our <a href="/about/membership/eligibility" target="_blank">eligibility statement</a>.
          </p>
          <p>
            Please read our membership <a href="/about/membership/eligibility-guidance" target="_blank">eligibility guidance</a> before proceeding with this form.
          </p>

          <div class="oneField field-container-D form-group" id="tfa_4-D" role="group" aria-labelledby="tfa_4-L" data-tfa-labelledby="-L tfa_4-L">
            <label id="tfa_4-L" class="form-label preField ">
              Please select all of the statements that apply to your organisation:
            </label>
            <span id="tfa_4" class="choices vertical ">
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_5-L" for="tfa_5">
                  <input type="checkbox" value="tfa_5" id="tfa_5" name="tfa_5" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees" aria-labelledby="tfa_5-L" data-tfa-labelledby="tfa_4-L tfa_5-L">
                  <span class="form-icon"></span>
                  My organisation is a voluntary organisation (i.e. an independent, self-governing body of people who have come together to act for the benefit of the community)
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_6-L" for="tfa_6">
                  <input type="checkbox" value="tfa_6" id="tfa_6" name="tfa_6" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_4-L tfa_6-L">
                  <span class="form-icon"></span>
                  My organisation is non-profit distributing
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_7-L" for="tfa_7">
                  <input type="checkbox" value="tfa_7" id="tfa_7" name="tfa_7" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees" aria-labelledby="tfa_7-L" data-tfa-labelledby="tfa_4-L tfa_7-L">
                  <span class="form-icon"></span>
                  My organisation works towards the principles of good governance in line with the Scottish Governance Code
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_8-L" for="tfa_8">
                  <input type="checkbox" value="tfa_8" id="tfa_8" name="tfa_8" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees" aria-labelledby="tfa_8-L" data-tfa-labelledby="tfa_4-L tfa_8-L">
                  <span class="form-icon"></span>
                  My organisation has a presence in Scotland (i.e. my organisation is located in Scotland or my organisation has a postal address in Scotland)
                </label>
              </span>
            </span>
          </div>
          <div class="htmlSection" id="tfa_310">
            <div class="htmlContent" id="tfa_310-HTML">
              <h2>Additional confirmation statements</h2>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_311-D" role="group" aria-labelledby="tfa_311-L" data-tfa-labelledby="-L tfa_311-L">
            <label id="tfa_311-L" class="form-label preField ">
              Please select all of the statements that apply to your organisation
            </label>
            <span id="tfa_311" class="choices vertical ">
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_312-L" for="tfa_312">
                  <input type="checkbox" value="tfa_312" id="tfa_312" name="tfa_312" aria-labelledby="tfa_312-L" data-tfa-labelledby="tfa_311-L tfa_312-L" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees">
                  <span class="form-icon"></span>
                  My organisation is intended to be long-term e.g. NOT a fixed term project of less than 3 years
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_313-L" for="tfa_313">
                  <input type="checkbox" value="tfa_313" id="tfa_313" name="tfa_313" aria-labelledby="tfa_313-L" data-tfa-labelledby="tfa_311-L tfa_313-L" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L,#membership-fees,#supporter-fees">
                  <span class="form-icon"></span>
                  My organisation is not party-political
                </label>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-2">
        <div class="section pageSection" id="tfa_10" data-condition="NOT (`#tfa_5`) OR NOT (`#tfa_6`) OR NOT (`#tfa_7`) OR NOT (`#tfa_8`) OR NOT (`#tfa_312`) OR NOT (`#tfa_313`)">
          <h2 id="tfa_10-T">Supporter</h2>
          <p>
            Based on your answers, you are not eligible for SCVO membership.  However you can join us as an SCVO supporter.
          </p>
          <p>
            <a href="/about/membership/supporters" target="_blank">Find out more about supporter benefits</a>. Please note that your organisation will not be able to nominate a candidate to stand for election to our Board of Trustees or participate in any voting.
          </p>
          <p>
            In order for the membership team to process your application please answer the following questions.
          </p>

          <div class="oneField field-container-D form-group" id="tfa_11-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_11-L" class="form-label preField " for="tfa_11">
                Company Registration Number<br />
                <span class="caption">(if applicable)</span>
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_11" name="tfa_11" maxlength="15" title="Company Registration Number (if applicable)" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-3">
        <div class="section pageSection" id="tfa_12" data-condition="`#tfa_5` AND `#tfa_6` AND `#tfa_7` AND `#tfa_8` AND `#tfa_312` AND `#tfa_313`">
          <h2 id="tfa_12-T">Member</h2>
          <p>
            Based on your answers, you are eligible for SCVO membership.
          </p>
          <p>
            In order for the membership team to process your application please answer the following questions.
          </p>

          <div class="oneField field-container-D form-group" id="tfa_13-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_13-L" class="form-label preField " for="tfa_13">
                Scottish Charity Number<br />
                <span class="caption">(if applicable)</span>
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_13" name="tfa_13" maxlength="15" title="Scottish Charity Number (if applicable)" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_14-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_14-L" class="form-label preField " for="tfa_14">
                Registered Charity Number outwith Scotland<br />
                <span class="caption">(if applicable)</span>
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_14" name="tfa_14" maxlength="15" title="Registered Charity Number outwith Scotland (if applicable)" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_15-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_15-L" class="form-label preField " for="tfa_15">
                Company Registration Number<br />
                <span class="caption">(if applicable)</span>
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_15" name="tfa_15" maxlength="15" title="Company Registration Number (if applicable)" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-4">
        <div class="section pageSection" id="tfa_16">
          <h2 id="tfa_16-T">Organisation information</h2>
          <input type="hidden" id="tfa_286" name="tfa_286" value="Supporter" />

          <div class="oneField field-container-D form-group" id="tfa_17-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_17-L" class="form-label preField reqMark" for="tfa_17">
                Organisation name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_17" name="tfa_17" maxlength="255" aria-required="true" title="Organisation name" class="form-input required" required>
            </div>
          </div>
          <div id="tfa_18" class="section">
            <h3 id="tfa_18-L">Organisation address</h3>
            <div class="oneField field-container-D form-group" id="tfa_19-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_19-L" class="form-label preField reqMark" for="tfa_19">
                  Street
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_19" name="tfa_19" maxlength="255" aria-required="true" title="Street" class="form-input required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_20-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_20-L" class="form-label preField reqMark" for="tfa_20">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_20" name="tfa_20" maxlength="255" aria-required="true" title="Town/city" class="form-input required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_21-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_21-L" class="form-label preField reqMark" for="tfa_21">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_21" name="tfa_21" maxlength="255" aria-required="true" title="Please enter a valid postcode" pattern="^$|^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" class="form-input required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_22-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_22-L" class="form-label preField reqMark" for="tfa_22">
                  Local authority
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_22" name="tfa_22" title="Local authority" aria-required="true" class="form-select required" required>
                  <option value="" selected disabled>Please select&hellip;</option>
                  <option value="tfa_23" id="tfa_23">Aberdeen</option>
                  <option value="tfa_24" id="tfa_24">Aberdeenshire</option>
                  <option value="tfa_25" id="tfa_25">Angus</option>
                  <option value="tfa_26" id="tfa_26">Argyll &amp; Bute</option>
                  <option value="tfa_27" id="tfa_27">Clackmannanshire</option>
                  <option value="tfa_28" id="tfa_28">Dumfries &amp; Galloway</option>
                  <option value="tfa_29" id="tfa_29">Dundee</option>
                  <option value="tfa_30" id="tfa_30">East Ayrshire</option>
                  <option value="tfa_31" id="tfa_31">East Dunbartonshire</option>
                  <option value="tfa_32" id="tfa_32">East Lothian</option>
                  <option value="tfa_33" id="tfa_33">East Renfrewshire</option>
                  <option value="tfa_34" id="tfa_34">Edinburgh</option>
                  <option value="tfa_35" id="tfa_35">Falkirk</option>
                  <option value="tfa_36" id="tfa_36">Fife</option>
                  <option value="tfa_37" id="tfa_37">Glasgow</option>
                  <option value="tfa_38" id="tfa_38">Highland</option>
                  <option value="tfa_39" id="tfa_39">Inverclyde</option>
                  <option value="tfa_40" id="tfa_40">Midlothian</option>
                  <option value="tfa_41" id="tfa_41">Moray</option>
                  <option value="tfa_42" id="tfa_42">Na h-Eileanan Siar</option>
                  <option value="tfa_43" id="tfa_43">North Ayrshire</option>
                  <option value="tfa_44" id="tfa_44">North Lanarkshire</option>
                  <option value="tfa_45" id="tfa_45">Orkney</option>
                  <option value="tfa_46" id="tfa_46">Perth &amp; Kinross</option>
                  <option value="tfa_47" id="tfa_47">Renfrewshire</option>
                  <option value="tfa_48" id="tfa_48">Scottish Borders</option>
                  <option value="tfa_49" id="tfa_49">Shetland</option>
                  <option value="tfa_50" id="tfa_50">South Ayrshire</option>
                  <option value="tfa_51" id="tfa_51">South Lanarkshire</option>
                  <option value="tfa_52" id="tfa_52">Stirling</option>
                  <option value="tfa_53" id="tfa_53">West Dunbartonshire</option>
                  <option value="tfa_54" id="tfa_54">West Lothian</option>
                </select>
              </div>
            </div>
          </div>
          <div class="oneField field-container-D form-group t-margin" id="tfa_55-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_55-L" class="form-label preField " for="tfa_55">
                Organisation phone
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_55" name="tfa_55" maxlength="255" title="Organisation phone" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_56-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_56-L" class="form-label preField reqMark" for="tfa_56">
                Organisation email
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_56" name="tfa_56" maxlength="255" aria-required="true" title="Organisation email" class="form-input validate-email required" required>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_57-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_57-L" class="form-label preField " for="tfa_57">
                Website address
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="url" pattern="https?://.+" id="tfa_57" name="tfa_57" maxlength="255" title="Website address" class="form-input validate-custom /^(http:|https:)+[^\s]+[\w]/g">
              <p class="form-input-hint text-secondary">
                If you have a website, please copy &amp; paste the full address (beginning with http:// or https://)
              </p>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_58-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_58-L" class="form-label preField reqMark" for="tfa_58">
                What's the legal structure of your organisation?
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_58" name="tfa_58" title="What's the legal structure of your organisation?" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_293" id="tfa_293">CIC</option>
                <option value="tfa_294" id="tfa_294">CIO</option>
                <option value="tfa_295" id="tfa_295">Community Benefit Society</option>
                <option value="tfa_296" id="tfa_296">Co-operative Society</option>
                <option value="tfa_297" id="tfa_297">Industrial and Provident Society</option>
                <option value="tfa_298" id="tfa_298">Public Body</option>
                <option value="tfa_299" id="tfa_299">Registered Company</option>
                <option value="tfa_300" id="tfa_300">SCIO</option>
                <option value="tfa_301" id="tfa_301">Statutory Corporation</option>
                <option value="tfa_302" id="tfa_302">Trust</option>
                <option value="tfa_303" id="tfa_303">Unincorporated Association</option>
                <option value="tfa_304" id="tfa_304">Voluntary Association</option>
                <option value="tfa_305" id="tfa_305">Other</option>
                <option value="tfa_306" id="tfa_306">Not applicable</option>
              </select>
            </div>
          </div>

          <h2 id="supporter-contact-L" data-condition="NOT (`#tfa_5`) OR NOT (`#tfa_6`) OR NOT (`#tfa_7`) OR NOT (`#tfa_8`) OR NOT (`#tfa_312`) OR NOT (`#tfa_313`)">Supporter contact</h2>
          <h2 id="membership-contact-L" data-condition="`#tfa_5` AND `#tfa_6` AND `#tfa_7` AND `#tfa_8` AND `#tfa_312` AND `#tfa_313`">Membership contact</h2>

          <div class="oneField field-container-D form-group" id="tfa_71-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_71-L" class="form-label preField reqMark" for="tfa_71">
                First name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_71" name="tfa_71" maxlength="255" aria-required="true" title="Contact first name" class="form-input required" required>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_72-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_72-L" class="form-label preField reqMark" for="tfa_72">
                Last name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_72" name="tfa_72" maxlength="255" aria-required="true" title="Contact last name" class="form-input required" required>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_73-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_73-L" class="form-label preField reqMark" for="tfa_73">
                Job title
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_73" name="tfa_73" maxlength="255" title="Contact job title" class="form-input required" required>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_84-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_84-L" class="form-label preField reqMark" for="tfa_84">
                Email address
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_84" name="tfa_84" maxlength="255" aria-required="true" title="Contact email" class="form-input validate-email required" required>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_83-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_83-L" class="form-label preField " for="tfa_83">
                Phone number
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_83" name="tfa_83" maxlength="255" title="Contact phone" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D  labelsRemoved  " id="tfa_74-D" role="group" aria-labelledby="tfa_74-L" data-tfa-labelledby="-L tfa_74-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_74" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_78-L" for="tfa_78">
                    <input type="checkbox" value="tfa_78" id="tfa_78" name="tfa_78" data-conditionals="#tfa_80" aria-labelledby="tfa_78-L" data-tfa-labelledby="tfa_74-L tfa_78-L">
                    <span class="form-icon"></span>
                    Contact address is different to main address above
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div id="tfa_80" class="section" data-condition="`#tfa_78`">
            <h3 id="tfa_80-L">Contact address</h3>
            <div class="oneField field-container-D form-group" id="tfa_79-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_79-L" class="form-label preField " for="tfa_79">
                  Street address
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_79" name="tfa_79" maxlength="255" title="Contact street" class="form-input">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_81-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_81-L" class="form-label preField " for="tfa_81">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_81" name="tfa_81" maxlength="255" title="Contact town/city" class="form-input">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_82-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_82-L" class="form-label preField " for="tfa_82">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_82" name="tfa_82" maxlength="8" class="form-input" title="Please enter a valid postcode" pattern="^$|^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$">
              </div>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_85-D" role="radiogroup" aria-labelledby="tfa_85-L" data-tfa-labelledby="-L tfa_85-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_85-L" class="form-label preField ">
                Do you have a separate finance contact?
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_85" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-radio postField" id="tfa_86-L" for="tfa_86">
                    <input type="radio" value="tfa_86" id="tfa_86" name="tfa_85" data-conditionals="#tfa_88" aria-labelledby="tfa_86-L" data-tfa-labelledby="tfa_85-L tfa_86-L">
                    <span class="form-icon"></span>
                    Yes
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-radio postField" id="tfa_87-L" for="tfa_87">
                    <input type="radio" value="tfa_87" id="tfa_87" name="tfa_85" aria-labelledby="tfa_87-L" data-tfa-labelledby="tfa_85-L tfa_87-L">
                    <span class="form-icon"></span>
                    No
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div id="tfa_88" class="section" data-condition="`#tfa_86`">
            <h3 id="tfa_88-L">Finance contact details</h3>
            <div class="oneField field-container-D form-group" id="tfa_89-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_89-L" class="form-label preField reqMark" for="tfa_89">
                  First name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_89" name="tfa_89" maxlength="255" aria-required="true" title="Finance contact first name" class="form-input required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_90-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_90-L" class="form-label preField reqMark" for="tfa_90">
                  Last name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_90" name="tfa_90" maxlength="255" aria-required="true" title="Finance contact last name" class="form-input required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_91-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_91-L" class="form-label preField " for="tfa_91">
                  Job title
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_91" name="tfa_91" maxlength="255" title="Finance contact job title" class="form-input">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_92-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_92-L" class="form-label preField " for="tfa_92">
                  Street address
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_92" name="tfa_92" maxlength="255" title="Finance contact street" class="form-input">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_93-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_93-L" class="form-label preField " for="tfa_93">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_93" name="tfa_93" maxlength="255" title="Finance contact town/city" class="form-input">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_94-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_94-L" class="form-label preField " for="tfa_94">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_94" name="tfa_94" maxlength="8" class="form-input" title="Please enter a valid postcode" pattern="^$|^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$">
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_95-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_95-L" class="form-label preField reqMark" for="tfa_95">
                  Email address
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_95" name="tfa_95" maxlength="255" aria-required="true" title="Finance contact email" class="form-input validate-email required" required>
              </div>
            </div>
            <div class="oneField field-container-D form-group" id="tfa_96-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
                <label id="tfa_96-L" class="form-label preField " for="tfa_96">
                  Phone number
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_96" name="tfa_96" maxlength="255" title="Finance contact phone" class="form-input">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-5">
        <div class="section pageSection" id="tfa_97">
          <div class="oneField field-container-D form-group" id="tfa_101-D" role="radiogroup" aria-labelledby="tfa_101-L" data-tfa-labelledby="-L tfa_101-L" style="outline:none;">
            <label id="tfa_101-L" class="form-label preField reqMark mr">
              Is your organisation a faith-based group?
            </label>
            <span id="tfa_101" class="choices vertical required" required>
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_102-L" for="tfa_102">
                  <input type="radio" value="tfa_102" id="tfa_102" name="tfa_101" aria-required="true" data-conditionals="#tfa_104" aria-labelledby="tfa_102-L" data-tfa-labelledby="tfa_101-L tfa_102-L">
                  <span class="form-icon"></span>
                  Yes
                </label>
              </span>
              <span class="oneChoice">
                <label class="form-radio postField" id="tfa_103-L" for="tfa_103">
                  <input type="radio" value="tfa_103" id="tfa_103" name="tfa_101" aria-required="true" aria-labelledby="tfa_103-L" data-tfa-labelledby="tfa_101-L tfa_103-L">
                  <span class="form-icon"></span>
                  No
                </label>
              </span>
            </span>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_104-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_104-L" class="form-label preField reqMark" for="tfa_104">
                Please provide further details of the activities you provide beyond the promotion of religion
              </label>
              <textarea aria-required="true" id="tfa_104" name="tfa_104" data-condition="`#tfa_102`" title="Please provide further details of the activities you provide beyond the promotion of religion" class="form-input required" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-6">
        <div class="section pageSection" id="tfa_105">
          <div id="membership-fees" data-condition="`#tfa_5` AND `#tfa_6` AND `#tfa_7` AND `#tfa_8` AND `#tfa_312` AND `#tfa_313`">
            <h2>Membership fees</h2>

            <p>
              SCVO membership fees are based on the most recent annual income figure for your organisation. Details of our membership bands and the fees involved are outlined below:
            </p>

            <table border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Income Band</th>
                  <th>Member Category</th>
                  <th>Membership Fee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    £0k - £100K
                  </td>
                  <td>
                    Free
                  </td>
                  <td>
                    £0.00
                  </td>
                </tr>
                <tr>
                  <td>
                    £100k - £500k
                  </td>
                  <td>
                    Small
                  </td>
                  <td>
                    £279.00
                  </td>
                </tr>
                <tr>
                  <td>
                    £500k - £3million
                  </td>
                  <td>
                    Medium
                  </td>
                  <td>
                    £449.00
                  </td>
                </tr>
                <tr>
                  <td>
                    £3million+
                  </td>
                  <td>
                    Large
                  </td>
                  <td>
                    £749.00
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="supporter-fees" data-condition="NOT (`#tfa_5`) OR NOT (`#tfa_6`) OR NOT (`#tfa_7`) OR NOT (`#tfa_8`) OR NOT (`#tfa_312`) OR NOT (`#tfa_313`)">
            <h2>Supporter fees</h2>

            <p>
              SCVO supporter fees are based on the most recent annual income figure for your organisation. Details of our supporter bands and the fees involved are outlined below:
            </p>

            <table border="0" cellspacing="0" cellpadding="0" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Income Band</th>
                  <th>Supporter Category</th>
                  <th>Membership Fee</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Individuals
                  </td>
                  <td>
                    Individuals
                  </td>
                  <td>
                    £119.00
                  </td>
                </tr>
                <tr>
                  <td>
                    Organisations with income under £500k
                  </td>
                  <td>
                    Organisations £0k-£500k
                  </td>
                  <td>
                    £299.00
                  </td>
                </tr>
                <tr>
                  <td>
                    Organisations with income £500k+
                  </td>
                  <td>
                    Organisations £500k+
                  </td>
                  <td>
                    £899.00
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h2 id="tfa_105-T">About your organisation</h2>
          <div class="oneField field-container-D form-group" id="tfa_106-D">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <label id="tfa_106-L" class="form-label preField reqMark" for="tfa_106">
                Please provide a note of the most recent annual income figure for your organisation<br />
                <span class="caption">(N.B. this should include both earned income &amp; grants received)</span>
              </label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <div class="input-group" style="width:100%;">
                <span class="input-group-addon">&pound;</span>
                <input type="number" pattern="[0-9]*" id="tfa_106" name="tfa_106" value="" aria-required="true" title="Please provide a note of the most recent annual income figure for your organisation (N.B. this should include both earned income &amp; grants received)" autocomplete="nope" data-lpignore="true" class="form-input text-right required" required>
              </div>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_107-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_107-L" class="form-label preField reqMark" for="tfa_107">
                Primary field of work
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_107" name="tfa_107" title="Primary field of work" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_160" id="tfa_160" data-conditionals="#tfa_169">Culture &amp; recreation</option>
                <option value="tfa_161" id="tfa_161" data-conditionals="#tfa_180">Education &amp; research</option>
                <option value="tfa_162" id="tfa_162" data-conditionals="#tfa_194">Health care</option>
                <option value="tfa_163" id="tfa_163" data-conditionals="#tfa_210">Social care</option>
                <option value="tfa_164" id="tfa_164" data-conditionals="#tfa_231">Environment &amp; animals</option>
                <option value="tfa_165" id="tfa_165" data-conditionals="#tfa_240">Economic, community &amp; social development</option>
                <option value="tfa_166" id="tfa_166" data-conditionals="#tfa_255">Law, advocacy &amp; politics</option>
                <option value="tfa_167" id="tfa_167" data-conditionals="#tfa_270">Philanthropic intermediaries &amp; voluntarism promotion</option>
                <option value="tfa_168" id="tfa_168" data-conditionals="#tfa_276">Other</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_169-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_169" name="tfa_169" data-condition="`#tfa_160`" title="Primary field of work - Culture and recreation" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_170" id="tfa_170">Culture &amp; Arts</option>
                <option value="tfa_171" id="tfa_171">Media &amp; communication</option>
                <option value="tfa_172" id="tfa_172">Visual arts, architecture, ceramic arts, performing arts</option>
                <option value="tfa_173" id="tfa_173">Historical, literary &amp; humanistic societies</option>
                <option value="tfa_174" id="tfa_174">Museums, zoos &amp; aquariums</option>
                <option value="tfa_175" id="tfa_175">Sport &amp; recreation</option>
                <option value="tfa_176" id="tfa_176">Sports clubs</option>
                <option value="tfa_177" id="tfa_177">Leisure Trust/ALEO</option>
                <option value="tfa_178" id="tfa_178">Other Recreation &amp; social clubs</option>
                <option value="tfa_179" id="tfa_179">Welfare clubs</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_180-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_180" name="tfa_180" data-condition="`#tfa_161`" title="Primary field of work - Education and research" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_181" id="tfa_181">Primary &amp; secondary education</option>
                <option value="tfa_182" id="tfa_182">Parent-teacher associations</option>
                <option value="tfa_183" id="tfa_183">Educational foundations</option>
                <option value="tfa_184" id="tfa_184">Higher education</option>
                <option value="tfa_185" id="tfa_185">Universities &amp; colleges</option>
                <option value="tfa_186" id="tfa_186">Student associations</option>
                <option value="tfa_187" id="tfa_187">Other education</option>
                <option value="tfa_188" id="tfa_188">Vocational, technical schools</option>
                <option value="tfa_189" id="tfa_189">Adult/continuing education</option>
                <option value="tfa_190" id="tfa_190">Research</option>
                <option value="tfa_191" id="tfa_191">Medical research</option>
                <option value="tfa_192" id="tfa_192">Science &amp; technology</option>
                <option value="tfa_193" id="tfa_193">Social sciences &amp; policy studies</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_194-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_194" name="tfa_194" data-condition="`#tfa_162`" title="Primary field of work - Health care" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_195" id="tfa_195">Hospitals &amp; rehabilitation</option>
                <option value="tfa_196" id="tfa_196">Rehabilitation</option>
                <option value="tfa_197" id="tfa_197">Care homes</option>
                <option value="tfa_198" id="tfa_198">Mental health and wellbeing</option>
                <option value="tfa_199" id="tfa_199">Psychiatric hospitals</option>
                <option value="tfa_200" id="tfa_200">Mental health treatment</option>
                <option value="tfa_201" id="tfa_201">Crisis intervention</option>
                <option value="tfa_202" id="tfa_202">Other health services</option>
                <option value="tfa_203" id="tfa_203">Public health &amp; wellness education</option>
                <option value="tfa_204" id="tfa_204">Health treatment, primary outpatient</option>
                <option value="tfa_205" id="tfa_205">Rehabilitative medical services</option>
                <option value="tfa_206" id="tfa_206">Emergency medical services</option>
                <option value="tfa_207" id="tfa_207">Addictions support</option>
                <option value="tfa_208" id="tfa_208">Alcohol support</option>
                <option value="tfa_209" id="tfa_209">Drugs support</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_210-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_210" name="tfa_210" data-condition="`#tfa_163`" title="Primary field of work - Social care" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_211" id="tfa_211">Social services</option>
                <option value="tfa_212" id="tfa_212">Services for children &amp; families</option>
                <option value="tfa_213" id="tfa_213">After-school clubs</option>
                <option value="tfa_214" id="tfa_214">Pre-school daycare</option>
                <option value="tfa_215" id="tfa_215">Services for young people</option>
                <option value="tfa_216" id="tfa_216">Scouts, Guides etc.</option>
                <option value="tfa_217" id="tfa_217">Services for people with disabilities</option>
                <option value="tfa_218" id="tfa_218">Services for older people</option>
                <option value="tfa_219" id="tfa_219">Services for women</option>
                <option value="tfa_220" id="tfa_220">Carers organisations</option>
                <option value="tfa_221" id="tfa_221">Refugee &amp; immigrant services</option>
                <option value="tfa_222" id="tfa_222">Other social services, including multiple client groups</option>
                <option value="tfa_223" id="tfa_223">Emergency &amp; relief</option>
                <option value="tfa_224" id="tfa_224">Homelessness support</option>
                <option value="tfa_225" id="tfa_225">Disaster/emergency prevention &amp; control</option>
                <option value="tfa_226" id="tfa_226">Temporary shelters</option>
                <option value="tfa_227" id="tfa_227">Income support &amp; maintenance</option>
                <option value="tfa_228" id="tfa_228">Material support</option>
                <option value="tfa_229" id="tfa_229">Financial support</option>
                <option value="tfa_230" id="tfa_230">Food &amp; foodbanks</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_231-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_231" name="tfa_231" data-condition="`#tfa_164`" title="Primary field of work - Environment and animals" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_232" id="tfa_232">Environment</option>
                <option value="tfa_233" id="tfa_233">Pollution abatement &amp; control</option>
                <option value="tfa_234" id="tfa_234">Natural resources conservation &amp; protection</option>
                <option value="tfa_235" id="tfa_235">Environmental beautification &amp; open spaces</option>
                <option value="tfa_236" id="tfa_236">Animals</option>
                <option value="tfa_237" id="tfa_237">Animal protection &amp; welfare</option>
                <option value="tfa_238" id="tfa_238">Wildlife preservation &amp; protection</option>
                <option value="tfa_239" id="tfa_239">Veterinary services</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_240-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_240" name="tfa_240" data-condition="`#tfa_165`" title="Primary field of work - Economic, community and social development" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_241" id="tfa_241">Community development</option>
                <option value="tfa_242" id="tfa_242">Community &amp; neighbourhood organisations</option>
                <option value="tfa_243" id="tfa_243">Village halls &amp; community centres</option>
                <option value="tfa_244" id="tfa_244">Community transport</option>
                <option value="tfa_245" id="tfa_245">Economic development</option>
                <option value="tfa_246" id="tfa_246">Social development</option>
                <option value="tfa_247" id="tfa_247">Credit Unions</option>
                <option value="tfa_248" id="tfa_248">Housing</option>
                <option value="tfa_249" id="tfa_249">Housing Associations</option>
                <option value="tfa_250" id="tfa_250">Supported housing</option>
                <option value="tfa_251" id="tfa_251">Employment &amp; training</option>
                <option value="tfa_252" id="tfa_252">Job training programmes</option>
                <option value="tfa_253" id="tfa_253">Vocational counselling &amp; guidance</option>
                <option value="tfa_254" id="tfa_254">Vocational rehabilitation &amp; sheltered workshops</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_255-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_255" name="tfa_255" data-condition="`#tfa_166`" title="Primary field of work - Law, advocacy and politics" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_256" id="tfa_256">Civic &amp; advocacy organisations</option>
                <option value="tfa_257" id="tfa_257">Ethnic minority associations</option>
                <option value="tfa_258" id="tfa_258">Civil rights associations</option>
                <option value="tfa_259" id="tfa_259">Sexuality/LGBT</option>
                <option value="tfa_260" id="tfa_260">Civic associations</option>
                <option value="tfa_261" id="tfa_261">Advocacy organisations</option>
                <option value="tfa_262" id="tfa_262">Law &amp; legal services</option>
                <option value="tfa_263" id="tfa_263">Advice services</option>
                <option value="tfa_264" id="tfa_264">Crime prevention &amp; public safety</option>
                <option value="tfa_265" id="tfa_265">Offenders/ex-offenders support</option>
                <option value="tfa_266" id="tfa_266">Victim support</option>
                <option value="tfa_267" id="tfa_267">Consumer protection associations</option>
                <option value="tfa_268" id="tfa_268">Political organisations</option>
                <option value="tfa_269" id="tfa_269">Political parties &amp; organisations</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_270-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_270" name="tfa_270" data-condition="`#tfa_167`" title="Primary field of work - Philanthropic intermediaries and voluntarism promotion" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_271" id="tfa_271">Grantmaking foundations</option>
                <option value="tfa_272" id="tfa_272">Umbrella bodies</option>
                <option value="tfa_273" id="tfa_273">Volunteering</option>
                <option value="tfa_274" id="tfa_274">TSIs</option>
                <option value="tfa_275" id="tfa_275">Volunteer centres</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_276-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_276" name="tfa_276" data-condition="`#tfa_168`" title="Primary field of work - Other" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_277" id="tfa_277">Religious activities</option>
                <option value="tfa_278" id="tfa_278">Associations of congregations</option>
                <option value="tfa_279" id="tfa_279">Business &amp; professional associations</option>
                <option value="tfa_280" id="tfa_280">Congregations, e.g. churches. mosques</option>
                <option value="tfa_281" id="tfa_281">Business associations</option>
                <option value="tfa_282" id="tfa_282">Professional associations</option>
                <option value="tfa_283" id="tfa_283">Labour Unions</option>
                <option value="tfa_284" id="tfa_284">General charitable purposes</option>
                <option value="tfa_285" id="tfa_285">Not elsewhere classified</option>
              </select>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_111-D" role="group" aria-labelledby="tfa_111-L" data-tfa-labelledby="-L tfa_111-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_111-L" class="form-label preField ">
                Please select all UN Sustainable Development Goals that your organisation contributes towards (optional)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_111" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_112-L" for="tfa_112">
                    <input type="checkbox" value="tfa_112" id="tfa_112" name="tfa_112" aria-labelledby="tfa_112-L" data-tfa-labelledby="tfa_111-L tfa_112-L">
                    <span class="form-icon"></span>
                    No Poverty
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_113-L" for="tfa_113">
                    <input type="checkbox" value="tfa_113" id="tfa_113" name="tfa_113" aria-labelledby="tfa_113-L" data-tfa-labelledby="tfa_111-L tfa_113-L">
                    <span class="form-icon"></span>
                    Zero Hunger
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_114-L" for="tfa_114">
                    <input type="checkbox" value="tfa_114" id="tfa_114" name="tfa_114" aria-labelledby="tfa_114-L" data-tfa-labelledby="tfa_111-L tfa_114-L">
                    <span class="form-icon"></span>
                    Good Health and Well-being
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_115-L" for="tfa_115">
                    <input type="checkbox" value="tfa_115" id="tfa_115" name="tfa_115" aria-labelledby="tfa_115-L" data-tfa-labelledby="tfa_111-L tfa_115-L">
                    <span class="form-icon"></span>
                    Quality Education
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_116-L" for="tfa_116">
                    <input type="checkbox" value="tfa_116" id="tfa_116" name="tfa_116" aria-labelledby="tfa_116-L" data-tfa-labelledby="tfa_111-L tfa_116-L">
                    <span class="form-icon"></span>
                    Gender Equality
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_117-L" for="tfa_117">
                    <input type="checkbox" value="tfa_117" id="tfa_117" name="tfa_117" aria-labelledby="tfa_117-L" data-tfa-labelledby="tfa_111-L tfa_117-L">
                    <span class="form-icon"></span>
                    Clean Water and Sanitation
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_118-L" for="tfa_118">
                    <input type="checkbox" value="tfa_118" id="tfa_118" name="tfa_118" aria-labelledby="tfa_118-L" data-tfa-labelledby="tfa_111-L tfa_118-L">
                    <span class="form-icon"></span>
                    Affordable and Clean Energy
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_119-L" for="tfa_119">
                    <input type="checkbox" value="tfa_119" id="tfa_119" name="tfa_119" aria-labelledby="tfa_119-L" data-tfa-labelledby="tfa_111-L tfa_119-L">
                    <span class="form-icon"></span>
                    Decent Work and Economic Growth
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_121-L" for="tfa_121">
                    <input type="checkbox" value="tfa_121" id="tfa_121" name="tfa_121" aria-labelledby="tfa_121-L" data-tfa-labelledby="tfa_111-L tfa_121-L">
                    <span class="form-icon"></span>
                    Reduced Inequalities
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_122-L" for="tfa_122">
                    <input type="checkbox" value="tfa_122" id="tfa_122" name="tfa_122" aria-labelledby="tfa_122-L" data-tfa-labelledby="tfa_111-L tfa_122-L">
                    <span class="form-icon"></span>
                    Sustainable Cities and Communities
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_123-L" for="tfa_123">
                    <input type="checkbox" value="tfa_123" id="tfa_123" name="tfa_123" aria-labelledby="tfa_123-L" data-tfa-labelledby="tfa_111-L tfa_123-L">
                    <span class="form-icon"></span>
                    Responsible Consumption and Production
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_124-L" for="tfa_124">
                    <input type="checkbox" value="tfa_124" id="tfa_124" name="tfa_124" aria-labelledby="tfa_124-L" data-tfa-labelledby="tfa_111-L tfa_124-L">
                    <span class="form-icon"></span>
                    Climate Action
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_125-L" for="tfa_125">
                    <input type="checkbox" value="tfa_125" id="tfa_125" name="tfa_125" aria-labelledby="tfa_125-L" data-tfa-labelledby="tfa_111-L tfa_125-L">
                    <span class="form-icon"></span>
                    Life Below Water
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_126-L" for="tfa_126">
                    <input type="checkbox" value="tfa_126" id="tfa_126" name="tfa_126" aria-labelledby="tfa_126-L" data-tfa-labelledby="tfa_111-L tfa_126-L">
                    <span class="form-icon"></span>
                    Life on Land
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_128-L" for="tfa_128">
                    <input type="checkbox" value="tfa_128" id="tfa_128" name="tfa_128" aria-labelledby="tfa_128-L" data-tfa-labelledby="tfa_111-L tfa_128-L">
                    <span class="form-icon"></span>
                    Partnerships for the Goals
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_307-L" for="tfa_307">
                    <input type="checkbox" value="tfa_307" id="tfa_307" name="tfa_307" aria-labelledby="tfa_307-L" data-tfa-labelledby="tfa_111-L tfa_307-L">
                    <span class="form-icon"></span>
                    Industry and Innovation and Infrastructure
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_319-L" for="tfa_319">
                    <input type="checkbox" value="tfa_319" id="tfa_319" name="tfa_319" aria-labelledby="tfa_319-L" data-tfa-labelledby="tfa_111-L tfa_319-L">
                    <span class="form-icon"></span>
                    Peace, Justice and Strong Institutions
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_129-D">
            <div class="col-9 col-xl-12">
              <h2>Aims & objectives</h2>
              <label id="tfa_129-L" class="form-label preField reqMark" for="tfa_129">
                Please provide a brief summary of your organisation's aims &amp; objectives, highlighting where your organisation is based, what services/activities you provide and who your target audience is (if your services are not open to all).<br />
                <br />
                If you are applying for individual membership please tell us if you are a student or retiree and what your interest in the Scottish voluntary sector is<br />
                <br />
                <span class="caption">
                  e.g. Greentrees Public Hall is based in Perth. We provide and maintain an affordable venue, which the local community uses for a variety of social and recreational purposes, including exercise classes, meeting space, and music and drama productions.<br />
                  e.g. Paws for Pets is a rescue and re-homing charity based in Fife. Our mission is to find suitable loving homes for abandoned and unwanted pets and to promote responsible pet ownership through education and training.<br />
                  e.g. Wind in the Willows Playgroup provides affordable, flexible childcare for families with children aged between 1-5 years in Prestonpans, East Lothian.<br />
                  e.g. I'm a student currently studying Communications and Marketing in Edinburgh. I volunteer for my local Citizens Advice Bureau and I'm interested in finding out more about career options in the voluntary sector.
                </span>
                <br />
                <br />
                (word limit 400)
              </label>
              <textarea aria-required="true" data-maxwords="400" id="tfa_129" name="tfa_129" title="Aims and objectives" class="form-input count-words required" required></textarea>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_130-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_130-L" class="form-label preField " for="tfa_130">
                Where can we publicly find your aims and objectives?
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_130" name="tfa_130" maxlength="255" title="Where can we publicly find your aims and objectives?" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_154-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_154-L" class="form-label preField reqMark" for="tfa_154">
                In a few words please can you tell us what made you join SCVO? (word limit 250)
              </label>
              <textarea aria-required="true" data-maxwords="250" id="tfa_154" name="tfa_154" title="In a few words please can you tell us what made you join SCVO? (word limit 250)" class="form-input required count-words" required></textarea>
            </div>
          </div>

          <div class="oneField field-container-D  labelsRemoved  " id="tfa_366-D">
            <div class="inputWrapper">
              <input type="text" id="tfa_366" name="tfa_366" value="" readonly title="Logic" class='text-error validate-custom /^$/ formula=TOPSERVICES&gt;3?TOOMANYSERVICES:"" readonly' style="border:none;width:100%;user-select:none;outline:none !important;">
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_366'] =  { selector: '*[id="tfa_366"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_366'] = "Please only select 3 services";
              }
            }
            </script>
            <input type="hidden" id="tfa_365" name="tfa_365" value="Please select up to 3 services" class="calc-TOOMANYSERVICES">
          </div>
          <div class="oneField field-container-D form-group" id="tfa_332-D" role="group" aria-labelledby="tfa_332-L" data-tfa-labelledby="-L tfa_332-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_332-L" class="form-label preField ">
                Please tell us the top 3 services you would like to access.
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_332" class="choices vertical ">
                {{!-- <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_333-L" for="tfa_333">
                    <input type="checkbox" value="tfa_333" class="calc-TOPSERVICES calcval-1" id="tfa_333" name="tfa_333" aria-labelledby="tfa_333-L" data-tfa-labelledby="tfa_332-L tfa_333-L">
                    <span class="form-icon"></span>
                    COSLA salary scales
                  </label>
                </span> --}}
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_334-L" for="tfa_334">
                    <input type="checkbox" value="tfa_334" class="calc-TOPSERVICES calcval-1" id="tfa_334" name="tfa_334" aria-labelledby="tfa_334-L" data-tfa-labelledby="tfa_332-L tfa_334-L">
                    <span class="form-icon"></span>
                    Digital Consultation
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_335-L" for="tfa_335">
                    <input type="checkbox" value="tfa_335" class="calc-TOPSERVICES calcval-1" id="tfa_335" name="tfa_335" aria-labelledby="tfa_335-L" data-tfa-labelledby="tfa_332-L tfa_335-L">
                    <span class="form-icon"></span>
                    Free Legal advice
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_336-L" for="tfa_336">
                    <input type="checkbox" value="tfa_336" class="calc-TOPSERVICES calcval-1" id="tfa_336" name="tfa_336" aria-labelledby="tfa_336-L" data-tfa-labelledby="tfa_332-L tfa_336-L">
                    <span class="form-icon"></span>
                    Free VAT advice
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_337-L" for="tfa_337">
                    <input type="checkbox" value="tfa_337" class="calc-TOPSERVICES calcval-1" id="tfa_337" name="tfa_337" aria-labelledby="tfa_337-L" data-tfa-labelledby="tfa_332-L tfa_337-L">
                    <span class="form-icon"></span>
                    Funding Scotland access
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_338-L" for="tfa_338">
                    <input type="checkbox" value="tfa_338" class="calc-TOPSERVICES calcval-1" id="tfa_338" name="tfa_338" aria-labelledby="tfa_338-L" data-tfa-labelledby="tfa_332-L tfa_338-L">
                    <span class="form-icon"></span>
                    Goodmoves Salary Guide
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_339-L" for="tfa_339">
                    <input type="checkbox" value="tfa_339" class="calc-TOPSERVICES calcval-1" id="tfa_339" name="tfa_339" aria-labelledby="tfa_339-L" data-tfa-labelledby="tfa_332-L tfa_339-L">
                    <span class="form-icon"></span>
                    HR &amp; Employment support service
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_340-L" for="tfa_340">
                    <input type="checkbox" value="tfa_340" class="calc-TOPSERVICES calcval-1" id="tfa_340" name="tfa_340" aria-labelledby="tfa_340-L" data-tfa-labelledby="tfa_332-L tfa_340-L">
                    <span class="form-icon"></span>
                    Information service support
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_341-L" for="tfa_341">
                    <input type="checkbox" value="tfa_341" class="calc-TOPSERVICES calcval-1" id="tfa_341" name="tfa_341" aria-labelledby="tfa_341-L" data-tfa-labelledby="tfa_332-L tfa_341-L">
                    <span class="form-icon"></span>
                    Influencing policy and practice
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_342-L" for="tfa_342">
                    <input type="checkbox" value="tfa_342" class="calc-TOPSERVICES calcval-1" id="tfa_342" name="tfa_342" aria-labelledby="tfa_342-L" data-tfa-labelledby="tfa_332-L tfa_342-L">
                    <span class="form-icon"></span>
                    Member discounted products / services
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_343-L" for="tfa_343">
                    <input type="checkbox" value="tfa_343" class="calc-TOPSERVICES calcval-1" id="tfa_343" name="tfa_343" aria-labelledby="tfa_343-L" data-tfa-labelledby="tfa_332-L tfa_343-L">
                    <span class="form-icon"></span>
                    Membership Bulletin
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_344-L" for="tfa_344">
                    <input type="checkbox" value="tfa_344" class="calc-TOPSERVICES calcval-1" id="tfa_344" name="tfa_344" aria-labelledby="tfa_344-L" data-tfa-labelledby="tfa_332-L tfa_344-L">
                    <span class="form-icon"></span>
                    Member only networks
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_345-L" for="tfa_345">
                    <input type="checkbox" value="tfa_345" class="calc-TOPSERVICES calcval-1" id="tfa_345" name="tfa_345" aria-labelledby="tfa_345-L" data-tfa-labelledby="tfa_332-L tfa_345-L">
                    <span class="form-icon"></span>
                    Payroll Services
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_346-L" for="tfa_346">
                    <input type="checkbox" value="tfa_346" class="calc-TOPSERVICES calcval-1" id="tfa_346" name="tfa_346" aria-labelledby="tfa_346-L" data-tfa-labelledby="tfa_332-L tfa_346-L">
                    <span class="form-icon"></span>
                    Policy consultation
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_347-L" for="tfa_347">
                    <input type="checkbox" value="tfa_347" class="calc-TOPSERVICES calcval-1" id="tfa_347" name="tfa_347" aria-labelledby="tfa_347-L" data-tfa-labelledby="tfa_332-L tfa_347-L">
                    <span class="form-icon"></span>
                    Priority booking for events
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_348-L" for="tfa_348">
                    <input type="checkbox" value="tfa_348" class="calc-TOPSERVICES calcval-1" id="tfa_348" name="tfa_348" aria-labelledby="tfa_348-L" data-tfa-labelledby="tfa_332-L tfa_348-L">
                    <span class="form-icon"></span>
                    SJC Salary Scales
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_349-L" for="tfa_349">
                    <input type="checkbox" value="tfa_349" class="calc-TOPSERVICES calcval-1" id="tfa_349" name="tfa_349" aria-labelledby="tfa_349-L" data-tfa-labelledby="tfa_332-L tfa_349-L">
                    <span class="form-icon"></span>
                    Third Force News access
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_350-L" for="tfa_350">
                    <input type="checkbox" value="tfa_350" class="calc-TOPSERVICES calcval-1" id="tfa_350" name="tfa_350" aria-labelledby="tfa_350-L" data-tfa-labelledby="tfa_332-L tfa_350-L">
                    <span class="form-icon"></span>
                    Training courses discount
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_351-L" for="tfa_351">
                    <input type="checkbox" value="tfa_351" class="calc-TOPSERVICES calcval-1" id="tfa_351" name="tfa_351" aria-labelledby="tfa_351-L" data-tfa-labelledby="tfa_332-L tfa_351-L">
                    <span class="form-icon"></span>
                    Webinar exclusives
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_352-L" for="tfa_352">
                    <input type="checkbox" value="tfa_352" class="calc-total calcval-1" id="tfa_352" name="tfa_352" data-conditionals="#tfa_322" aria-labelledby="tfa_352-L" data-tfa-labelledby="tfa_332-L tfa_352-L">
                    <span class="form-icon"></span>
                    Other
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_322-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_322-L" class="form-label preField " for="tfa_322">
                Please specify
              </label>
              <textarea id="tfa_322" name="tfa_322" data-condition="`#tfa_352`" title="Please specify" class="form-input"></textarea>
            </div>
          </div>

          <div class="oneField field-container-D form-group" id="tfa_353-D" role="group" aria-labelledby="tfa_353-L" data-tfa-labelledby="-L tfa_353-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_353-L" class="form-label preField ">
                How did you hear about SCVO? (select all that apply)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_353" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_354-L" for="tfa_354">
                    <input type="checkbox" value="tfa_354" class="" id="tfa_354" name="tfa_354" aria-labelledby="tfa_354-L" data-tfa-labelledby="tfa_353-L tfa_354-L">
                    <span class="form-icon"></span>
                    E-bulletin
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_355-L" for="tfa_355">
                    <input type="checkbox" value="tfa_355" class="" id="tfa_355" name="tfa_355" aria-labelledby="tfa_355-L" data-tfa-labelledby="tfa_353-L tfa_355-L">
                    <span class="form-icon"></span>
                    Social media
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_356-L" for="tfa_356">
                    <input type="checkbox" value="tfa_356" class="" id="tfa_356" name="tfa_356" aria-labelledby="tfa_356-L" data-tfa-labelledby="tfa_353-L tfa_356-L">
                    <span class="form-icon"></span>
                    Mailing
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_357-L" for="tfa_357">
                    <input type="checkbox" value="tfa_357" class="" id="tfa_357" name="tfa_357" aria-labelledby="tfa_357-L" data-tfa-labelledby="tfa_353-L tfa_357-L">
                    <span class="form-icon"></span>
                    SCVO live event
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_358-L" for="tfa_358">
                    <input type="checkbox" value="tfa_358" class="" id="tfa_358" name="tfa_358" aria-labelledby="tfa_358-L" data-tfa-labelledby="tfa_353-L tfa_358-L">
                    <span class="form-icon"></span>
                    SCVO online event
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_359-L" for="tfa_359">
                    <input type="checkbox" value="tfa_359" class="" id="tfa_359" name="tfa_359" aria-labelledby="tfa_359-L" data-tfa-labelledby="tfa_353-L tfa_359-L">
                    <span class="form-icon"></span>
                    SCVO Website
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_360-L" for="tfa_360">
                    <input type="checkbox" value="tfa_360" class="" id="tfa_360" name="tfa_360" aria-labelledby="tfa_360-L" data-tfa-labelledby="tfa_353-L tfa_360-L">
                    <span class="form-icon"></span>
                    Third Force News (TFN)
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_361-L" for="tfa_361">
                    <input type="checkbox" value="tfa_361" class="" id="tfa_361" name="tfa_361" aria-labelledby="tfa_361-L" data-tfa-labelledby="tfa_353-L tfa_361-L">
                    <span class="form-icon"></span>
                    Recommended by another voluntary organisation
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_362-L" for="tfa_362">
                    <input type="checkbox" value="tfa_362" class="" id="tfa_362" name="tfa_362" aria-labelledby="tfa_362-L" data-tfa-labelledby="tfa_353-L tfa_362-L">
                    <span class="form-icon"></span>
                    Referred by your local TSI
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_363-L" for="tfa_363">
                    <input type="checkbox" value="tfa_363" class="" id="tfa_363" name="tfa_363" aria-labelledby="tfa_363-L" data-tfa-labelledby="tfa_353-L tfa_363-L">
                    <span class="form-icon"></span>
                    Referred by OSCR
                  </label>
                </span>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_364-L" for="tfa_364">
                    <input type="checkbox" value="tfa_364" class="" id="tfa_364" name="tfa_364" data-conditionals="#tfa_155" aria-labelledby="tfa_364-L" data-tfa-labelledby="tfa_353-L tfa_364-L">
                    <span class="form-icon"></span>
                    Other
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_155-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_155-L" class="form-label preField " for="tfa_155">
                Please specify
              </label>
              <textarea maxlength="5000" id="tfa_155" name="tfa_155" data-condition="`#tfa_364`" title="How did you hear of SCVO Other Specify" class="form-input"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-7">
        <div class="section pageSection" id="tfa_156">
          <h2 id="tfa_156-T">Authorisation</h2>
          <p>
            I confirm that I am able to apply for SCVO membership on behalf of my organisation.
          </p>
          <input type="hidden" value="{{momentFormat (moment) 'YYYY-MM-DD'}}" id="tfa_157" name="tfa_157">
          <div class="oneField field-container-D form-group" id="tfa_158-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_158-L" class="form-label preField " for="tfa_158">
                Name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_158" name="tfa_158" maxlength="255" title="Name" class="form-input">
            </div>
          </div>
          <div class="oneField field-container-D form-group" id="tfa_159-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_159-L" class="form-label preField " for="tfa_159">
                Organisation name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_159" name="tfa_159" maxlength="255" title="Organisation name" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="actions" id="4859763-A">
        <input type="submit" data-label="Submit" class="primaryAction btn btn-primary" id="submit_button" value="Submit">
      </div>
      {{!-- Membership offer --}}
      <input type="hidden" value="{{@root.request.params.query.offer}}" name="tfa_367" id="tfa_367">
      {{!-- FormAssembly  --}}
      <input type="hidden" value="4859763" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="7e3c80a17a001ad807266b91a77a7bb8" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="44" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>

<div class="b-margin-full b-padding-full">
  <hr />

  <p>
    The information you provide will be stored to allow us to process your application and manage your membership of SCVO. <a href="/privacy/membership">Read our full privacy notice</a>.
  </p>
</div>