<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
  $("#4830198").submit(function(e){
    e.preventDefault();
    var q1 = $('#tfa_5').prop('checked');
    var q2 = $('#tfa_6').prop('checked');
    var q3 = $('#tfa_7').prop('checked');
    var q4 = $('#tfa_8').prop('checked');
    var q5 = $('#tfa_99').prop('checked');
    var q6 = $('#tfa_100').prop('checked');
    if (q1 && q2 && q3 && q4 && q5 && q6) {
      $('#tfa_286').val("Member");
    }
    this.submit();
  });
});
</script>
<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=c3b9cbcedf4034fce2cb803518bc10b2c688cc53" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=c3b9cbcedf4034fce2cb803518bc10b2c688cc53"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=c3b9cbcedf4034fce2cb803518bc10b2c688cc53"></script>

<div class="form form-horizontal wFormContainer">
  <div class="wForm" id="4830198-WRPR" dir="ltr">
    <div class="codesection" id="code-4830198"></div>
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="4830198" role="form">
      <div class="wfPage" id="wfPgIndex-1">
        <div class="section pageSection" id="tfa_9">
          <p class="b-margin-full">
            We're really happy that you would like to join SCVO!
          </p>
          <p>
            Please have the following to hand to help you answer some of the questions in our application process:
          </p>
          <ul>
            <li>Link to your constitution/governance documents (or where we can find it)</li>
            <li>Your charity/companies house registration number (if applicable)</li>
            <li>Your current annual income</li>
          </ul>
          <p>
            The application form can’t be saved but is very short and should only take approximately 5 minutes to complete.
          </p>
          <p>
            Please note that <a href="/about/membership/fees" target="_blank">membership fees</a> may apply.
          </p>
          <p>
            All set? Let’s start&hellip;
          </p>

          <h2 id="tfa_9-T" class="t-margin">Membership eligibility</h2>
          <p>
            Acceptance of members to SCVO is based on our <a href="/about/membership/eligibility" target="_blank">eligibility statement</a>.
          </p>
          <p>
            Please read our membership <a href="/about/membership/eligibility-guidance" target="_blank">eligibility guidance</a> before proceeding with this form.
          </p>

          <div class="oneField field-container-D" id="tfa_4-D" role="group" aria-labelledby="tfa_4-L" data-tfa-labelledby="-L tfa_4-L">
            <label id="tfa_4-L" class="form-label r-margin preField">Please select all of the statements that apply to your organisation</label>
            <div class="form-group">
              <span id="tfa_4" class="choices vertical">
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_5-L" for="tfa_5">
                    <input type="checkbox" value="tfa_5" class="" id="tfa_5" name="tfa_5" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L" aria-labelledby="tfa_5-L" data-tfa-labelledby="tfa_4-L tfa_5-L">
                    <i class="form-icon"></i>
                    My organisation is a voluntary organisation (i.e. an independent, self-governing body of people who have come together to act for the benefit of the community)
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_6-L" for="tfa_6">
                    <input type="checkbox" value="tfa_6" class="" id="tfa_6" name="tfa_6" data-conditionals="#tfa_12,#membership-contact-L,#supporter-contact-L" aria-labelledby="tfa_6-L" data-tfa-labelledby="tfa_4-L tfa_6-L">
                    <i class="form-icon"></i>
                    My organisation is non-profit distributing
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_7-L" for="tfa_7">
                    <input type="checkbox" value="tfa_7" class="" id="tfa_7" name="tfa_7" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L" aria-labelledby="tfa_7-L" data-tfa-labelledby="tfa_4-L tfa_7-L">
                    <i class="form-icon"></i>
                    My organisation works towards the principles of good governance in line with the Scottish Governance Code
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_8-L" for="tfa_8">
                    <input type="checkbox" value="tfa_8" class="" id="tfa_8" name="tfa_8" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L" aria-labelledby="tfa_8-L" data-tfa-labelledby="tfa_4-L tfa_8-L">
                    <i class="form-icon"></i>
                    My organisation has a presence in Scotland (i.e. my organisation is located in Scotland or my organisation has a postal address in Scotland)
                  </label>
                </span>
              </span>
            </div>
          </div>

          <div class="section pageSection" id="tfa_97">
            <h3 id="tfa_97-T">
              Additional confirmation statements
            </h3>
            <div class="form-group field-container-D" id="tfa_98-D" role="group" aria-labelledby="tfa_98-L" data-tfa-labelledby="-L tfa_98-L">
              <label id="tfa_98-L" class="form-label r-margin preField" aria-label="Please confirm the following statements are true" style="width:100%;">
                Please select all of the statements that apply to your organisation
              </label>
              <span id="tfa_98" class="choices vertical">
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_99-L" for="tfa_99">
                    <input type="checkbox" value="tfa_99" id="tfa_99" name="tfa_99" aria-labelledby="tfa_99-L" data-tfa-labelledby="tfa_98-L tfa_99-L" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L">
                    <i class="form-icon"></i>
                    My organisation is intended to be long-term e.g. NOT a fixed term project of less than 3 years
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_100-L" for="tfa_100">
                    <input type="checkbox" value="tfa_100" id="tfa_100" name="tfa_100" aria-labelledby="tfa_100-L" data-tfa-labelledby="tfa_98-L tfa_100-L" data-conditionals="#tfa_10,#tfa_12,#membership-contact-L,#supporter-contact-L">
                    <i class="form-icon"></i>
                    My organisation is not party-political
                  </label>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-2">
        <div class="section pageSection" id="tfa_10" data-condition="NOT (`#tfa_5`) OR NOT (`#tfa_6`) OR NOT (`#tfa_7`) OR NOT (`#tfa_8`) OR NOT (`#tfa_99`) OR NOT (`#tfa_100`)">
          <h2 id="tfa_10-T">
            Supporter
          </h2>
          <p>
            Based on your answers, you are not eligible for SCVO membership. However, you can join us as an <a href="/about/membership/supporters" target="_blank">SCVO supporter</a>.
          </p>
          <p>
            Supporter offers the same benefits as membership, with the exception that your organisation will not be able to nominate a candidate to stand for election to our Board of Trustees or participate in any voting.
          </p>
          <p>
            In order for the membership team to process your application please answer the following questions.
          </p>

          <div class="form-group field-container-D" id="tfa_11-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_11-L" class="form-label r-margin preField" for="tfa_11">
                Company Registration Number (if applicable)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_11" name="tfa_11" value="" maxlength="12" title="Company Registration Number (if applicable)" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-3">
        <div class="section pageSection" id="tfa_12" data-condition="`#tfa_5` AND `#tfa_6` AND `#tfa_7` AND `#tfa_8` AND `#tfa_99` AND `#tfa_100`">
          <h2 id="tfa_12-T">
            Member
          </h2>
          <p>
            Based on your answers, you are eligible for SCVO membership.
          </p>
          <p>
            In order for the membership team to process your application please answer the following questions.
          </p>

          <div class="form-group field-container-D" id="tfa_13-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_13-L" class="form-label r-margin preField" for="tfa_13">
                Scottish Charity Number (if applicable)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_13" name="tfa_13" value="" maxlength="12" title="Scottish Charity Number (if applicable)" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_14-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_14-L" class="form-label r-margin preField" for="tfa_14">
                Registered Charity Number outwith Scotland (if applicable)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_14" name="tfa_14" value="" maxlength="24" title="Registered Charity Number outwith Scotland (if applicable)" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_15-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_15-L" class="form-label r-margin preField" for="tfa_15">
                Company Registration Number (if applicable)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_15" name="tfa_15" value="" maxlength="12" title="Company Registration Number (if applicable)" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-4">
        <div class="section pageSection" id="tfa_16">
          <h2 id="tfa_16-T">
            Organisation information
          </h2>
          <input type="hidden" id="tfa_286" name="tfa_286" value="Supporter" />
          <div class="form-group field-container-D" id="tfa_17-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_17-L" class="form-label r-margin preField reqMark" for="tfa_17">
                Organisation name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_17" name="tfa_17" value="" maxlength="255" aria-required="true" title="Organisation name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <fieldset id="tfa_18" class="section">
            <legend id="tfa_18-L">
              <strong>Organisation address</strong>
            </legend>
            <p>
              Please enter your main address in Scotland.
            </p>
            <div class="form-group field-container-D" id="tfa_19-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_19-L" class="form-label r-margin preField reqMark" for="tfa_19">
                  Street
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_19" name="tfa_19" value="" maxlength="255" aria-required="true" title="Street" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_20-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_20-L" class="form-label r-margin preField reqMark" for="tfa_20">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_20" name="tfa_20" value="" maxlength="255" aria-required="true" title="Town/city" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_21-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_21-L" class="form-label r-margin preField reqMark" for="tfa_21">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_21" name="tfa_21" value="" maxlength="255" aria-required="true" title="Postcode" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
          </fieldset>
          <div class="form-group field-container-D" id="tfa_22-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_22-L" class="form-label r-margin preField reqMark" for="tfa_22">
                Local authority
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_22" name="tfa_22" title="Local authority" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_23" id="tfa_23" class="">Aberdeen</option>
                <option value="tfa_24" id="tfa_24" class="">Aberdeenshire</option>
                <option value="tfa_25" id="tfa_25" class="">Angus</option>
                <option value="tfa_26" id="tfa_26" class="">Argyll &amp; Bute</option>
                <option value="tfa_27" id="tfa_27" class="">Clackmannanshire</option>
                <option value="tfa_28" id="tfa_28" class="">Dumfries &amp; Galloway</option>
                <option value="tfa_29" id="tfa_29" class="">Dundee</option>
                <option value="tfa_30" id="tfa_30" class="">East Ayrshire</option>
                <option value="tfa_31" id="tfa_31" class="">East Dunbartonshire</option>
                <option value="tfa_32" id="tfa_32" class="">East Lothian</option>
                <option value="tfa_33" id="tfa_33" class="">East Renfrewshire</option>
                <option value="tfa_34" id="tfa_34" class="">Edinburgh</option>
                <option value="tfa_35" id="tfa_35" class="">Falkirk</option>
                <option value="tfa_36" id="tfa_36" class="">Fife</option>
                <option value="tfa_37" id="tfa_37" class="">Glasgow</option>
                <option value="tfa_38" id="tfa_38" class="">Highland</option>
                <option value="tfa_39" id="tfa_39" class="">Inverclyde</option>
                <option value="tfa_40" id="tfa_40" class="">Midlothian</option>
                <option value="tfa_41" id="tfa_41" class="">Moray</option>
                <option value="tfa_42" id="tfa_42" class="">Na h-Eileanan Siar</option>
                <option value="tfa_43" id="tfa_43" class="">North Ayrshire</option>
                <option value="tfa_44" id="tfa_44" class="">North Lanarkshire</option>
                <option value="tfa_45" id="tfa_45" class="">Orkney</option>
                <option value="tfa_46" id="tfa_46" class="">Perth &amp; Kinross</option>
                <option value="tfa_47" id="tfa_47" class="">Renfrewshire</option>
                <option value="tfa_48" id="tfa_48" class="">Scottish Borders</option>
                <option value="tfa_49" id="tfa_49" class="">Shetland</option>
                <option value="tfa_50" id="tfa_50" class="">South Ayrshire</option>
                <option value="tfa_51" id="tfa_51" class="">South Lanarkshire</option>
                <option value="tfa_52" id="tfa_52" class="">Stirling</option>
                <option value="tfa_53" id="tfa_53" class="">West Dunbartonshire</option>
                <option value="tfa_54" id="tfa_54" class="">West Lothian</option>
              </select>
            </div>
          </div>
          <p>
            Please complete the following fields with your general contact information or a key contact.
          </p>
          <div class="form-group field-container-D" id="tfa_55-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_55-L" class="form-label r-margin preField" for="tfa_55">
                Organisation phone
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_55" name="tfa_55" value="" maxlength="255" title="Organisation phone" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_56-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_56-L" class="form-label r-margin preField reqMark" for="tfa_56">
                Organisation email
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_56" name="tfa_56" value="" maxlength="255" aria-required="true" title="Organisation email" autocomplete="nope" data-lpignore="true" class="form-input validate-email required" required>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_57-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_57-L" class="form-label r-margin preField" for="tfa_57">
                Website address
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_57" name="tfa_57" value="" maxlength="255" title="Website address" autocomplete="nope" data-lpignore="true" class="form-input validate-custom /^(http:|https:)+[^\s]+[\w]/g">
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_57'] =  { selector: '*[id="tfa_57"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_57'] = "Please enter a single valid website URL, beginning with http:// or https://";
              }
            }
            </script>
          </div>
          <div class="form-group field-container-D" id="tfa_58-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_58-L" class="form-label r-margin preField reqMark" for="tfa_58">
                What’s the legal structure of your organisation?
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_58" name="tfa_58" title="What’s the legal structure of your organisation?" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_293" id="tfa_293" class="">CIC</option>
                <option value="tfa_294" id="tfa_294" class="">CIO</option>
                <option value="tfa_295" id="tfa_295" class="">Community Benefit Society</option>
                <option value="tfa_296" id="tfa_296" class="">Co-operative Society</option>
                <option value="tfa_297" id="tfa_297" class="">Industrial and Provident Society</option>
                <option value="tfa_298" id="tfa_298" class="">Public Body</option>
                <option value="tfa_299" id="tfa_299" class="">Registered Company</option>
                <option value="tfa_300" id="tfa_300" class="">SCIO</option>
                <option value="tfa_301" id="tfa_301" class="">Statutory Corporation</option>
                <option value="tfa_302" id="tfa_302" class="">Trust</option>
                <option value="tfa_303" id="tfa_303" class="">Unincorporated Association</option>
                <option value="tfa_304" id="tfa_304" class="">Voluntary Association</option>
                <option value="tfa_305" id="tfa_305" class="">Other</option>
                <option value="tfa_306" id="tfa_306" class="">Not applicable</option>
              </select>
            </div>
          </div>

          <h2 id="supporter-contact-L" data-condition="NOT (`#tfa_5`) OR NOT (`#tfa_6`) OR NOT (`#tfa_7`) OR NOT (`#tfa_8`) OR NOT (`#tfa_99`) OR NOT (`#tfa_100`)">Supporter contact</h2>
          <h2 id="membership-contact-L" data-condition="`#tfa_5` AND `#tfa_6` AND `#tfa_7` AND `#tfa_8` AND `#tfa_99` AND `#tfa_100`">Membership contact</h2>

          <div class="form-group field-container-D" id="tfa_71-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_71-L" class="form-label r-margin preField reqMark" for="tfa_71">
                Contact first name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_71" name="tfa_71" value="" maxlength="255" aria-required="true" title="Contact first name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_72-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_72-L" class="form-label r-margin preField reqMark" for="tfa_72">
                Contact last name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_72" name="tfa_72" value="" maxlength="255" aria-required="true" title="Contact last name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_73-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_73-L" class="form-label r-margin preField" for="tfa_73">
                Job title
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_73" name="tfa_73" value="" maxlength="255" title="Contact job title" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_74-D" role="group" aria-labelledby="tfa_74-L" data-tfa-labelledby="-L tfa_74-L">
            <span id="tfa_74" class="choices vertical">
              <span class="input-group">
                <label class="form-checkbox postField" id="tfa_78-L" for="tfa_78">
                  <input type="checkbox" value="tfa_78" class="" id="tfa_78" name="tfa_78" data-conditionals="#tfa_80" aria-labelledby="tfa_78-L" data-tfa-labelledby="tfa_74-L tfa_78-L">
                  <i class="form-icon"></i>
                  Contact address is different to main address above
                </label>
              </span>
            </span>
          </div>
          <fieldset id="tfa_80" class="section" data-condition="`#tfa_78`">
            <legend id="tfa_80-L">
              <strong>Contact address</strong>
            </legend>
            <div class="form-group field-container-D" id="tfa_79-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_79-L" class="form-label r-margin preField" for="tfa_79">
                  Street
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_79" name="tfa_79" value="" maxlength="255" title="Contact street" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_81-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_81-L" class="form-label r-margin preField" for="tfa_81">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_81" name="tfa_81" value="" maxlength="255" title="Contact town/city" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_82-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_82-L" class="form-label r-margin preField" for="tfa_82">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_82" name="tfa_82" value="" maxlength="8" title="Contact postcode" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
          </fieldset>
          <div class="form-group field-container-D" id="tfa_83-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_83-L" class="form-label r-margin preField" for="tfa_83">
                Contact phone
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_83" name="tfa_83" value="" maxlength="255" title="Contact phone" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_84-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_84-L" class="form-label r-margin preField reqMark" for="tfa_84">
                Contact email
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_84" name="tfa_84" value="" maxlength="255" aria-required="true" title="Contact email" class="form-input validate-email required" required>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_85-D" role="radiogroup" aria-labelledby="tfa_85-L" data-tfa-labelledby="-L tfa_85-L">
            <label id="tfa_85-L" class="form-label r-margin preField" style="width:100%">
              Do you have a separate finance contact
            </label>
            <span id="tfa_85" class="choices vertical">
              <span class="input-group">
                <label class="form-radio postField" id="tfa_86-L" for="tfa_86">
                  <input type="radio" value="tfa_86" class="" id="tfa_86" name="tfa_85" data-conditionals="#tfa_88" aria-labelledby="tfa_86-L" data-tfa-labelledby="tfa_85-L tfa_86-L">
                  <i class="form-icon"></i>
                  Yes
                </label>
              </span>
              <span class="input-group">
                <label class="form-radio postField" id="tfa_87-L" for="tfa_87">
                  <input type="radio" value="tfa_87" class="" id="tfa_87" name="tfa_85" aria-labelledby="tfa_87-L" data-tfa-labelledby="tfa_85-L tfa_87-L" checked>
                  <i class="form-icon"></i>
                  No
                </label>
              </span>
            </span>
          </div>
          <fieldset id="tfa_88" class="section" data-condition="`#tfa_86`">
            <legend id="tfa_88-L">
              <strong>Finance contact details</strong>
            </legend>
            <div class="form-group field-container-D" id="tfa_89-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_89-L" class="form-label r-margin preField reqMark" for="tfa_89">
                  First name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_89" name="tfa_89" value="" maxlength="255" aria-required="true" title="Finance contact first name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_90-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_90-L" class="form-label r-margin preField reqMark" for="tfa_90">
                  Last name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_90" name="tfa_90" value="" maxlength="255" aria-required="true" title="Finance contact last name" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_91-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_91-L" class="form-label r-margin preField" for="tfa_91">
                  Job title
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_91" name="tfa_91" value="" maxlength="255" title="Finance contact job title" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_92-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_92-L" class="form-label r-margin preField" for="tfa_92">
                  Street
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_92" name="tfa_92" value="" maxlength="255" title="Finance contact street" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_93-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_93-L" class="form-label r-margin preField" for="tfa_93">
                  Town/city
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_93" name="tfa_93" value="" maxlength="255" title="Finance contact town/city" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_94-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_94-L" class="form-label r-margin preField" for="tfa_94">
                  Postcode
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_94" name="tfa_94" value="" maxlength="8" title="Finance contact postcode" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_95-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_95-L" class="form-label r-margin preField reqMark" for="tfa_95">
                  Email
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_95" name="tfa_95" value="" maxlength="255" aria-required="true" title="Finance contact email" autocomplete="nope" data-lpignore="true" class="form-input validate-email required" required>
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_96-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_96-L" class="form-label r-margin preField" for="tfa_96">
                  Phone
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_96" name="tfa_96" value="" maxlength="255" title="Finance contact phone" autocomplete="nope" data-lpignore="true" class="form-input">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-5">
        <div class="section pageSection" id="tfa_105">
          <h2 id="tfa_105-T">
            About your organisation
          </h2>
          <div class="form-group field-container-D" id="tfa_101-D" role="radiogroup" aria-labelledby="tfa_101-L" data-tfa-labelledby="-L tfa_101-L">
            <label id="tfa_101-L" class="form-label r-margin preField reqMark" style="width:100%;">
              Is your organisation a faith-based group?
            </label>
            <span id="tfa_101" class="choices vertical required">
              <span class="input-group">
                <label class="form-radio postField" id="tfa_102-L" for="tfa_102">
                  <input type="radio" value="tfa_102" class="" id="tfa_102" name="tfa_101" aria-required="true" data-conditionals="#tfa_104-D" aria-labelledby="tfa_102-L" data-tfa-labelledby="tfa_101-L tfa_102-L">
                  <i class="form-icon"></i>
                  Yes
                </label>
              </span>
              <span class="input-group">
                <label class="form-radio postField" id="tfa_103-L" for="tfa_103">
                  <input type="radio" value="tfa_103" class="" id="tfa_103" name="tfa_101" aria-required="true" aria-labelledby="tfa_103-L" data-tfa-labelledby="tfa_101-L tfa_103-L">
                  <i class="form-icon"></i>
                  No
                </label>
              </span>
            </span>
          </div>
          <div class="form-group field-container-D" id="tfa_104-D" data-condition="`#tfa_102`">
            <div class="col-9 col-xl-12">
              <label id="tfa_104-L" class="form-label r-margin preField reqMark" for="tfa_104">
                Please provide further details of the activities you provide beyond the promotion of religion
              </label>
            </div>
            <div class="col-9 col-xl-12">
              <textarea aria-required="true" id="tfa_104" name="tfa_104" title="Please provide further details of the activities you provide beyond the promotion of religion" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_106-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_106-L" class="form-label r-margin preField reqMark" for="tfa_106">
                Please provide a note of the most recent annual income figure for your organisation (N.B. this should include both earned income &amp; grants received)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_106" name="tfa_106" value="" maxlength="255" aria-required="true" title="Please provide a note of the most recent annual income figure for your organisation (N.B. this should include both earned income &amp; grants received)" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_107-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_107-L" class="form-label r-margin preField reqMark" for="tfa_107">
                Primary field of work
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_107" name="tfa_107" title="Primary field of work" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_160" id="tfa_160" data-conditionals="#tfa_169-D" class="">Culture &amp; recreation</option>
                <option value="tfa_161" id="tfa_161" data-conditionals="#tfa_180-D" class="">Education &amp; research</option>
                <option value="tfa_162" id="tfa_162" data-conditionals="#tfa_194-D" class="">Health care</option>
                <option value="tfa_163" id="tfa_163" data-conditionals="#tfa_210-D" class="">Social care</option>
                <option value="tfa_164" id="tfa_164" data-conditionals="#tfa_231-D" class="">Environment &amp; animals</option>
                <option value="tfa_165" id="tfa_165" data-conditionals="#tfa_240-D" class="">Economic, community &amp; social development</option>
                <option value="tfa_166" id="tfa_166" data-conditionals="#tfa_255-D" class="">Law, advocacy &amp; politics</option>
                <option value="tfa_167" id="tfa_167" data-conditionals="#tfa_270-D" class="">Philanthropic intermediaries &amp; voluntarism promotion</option>
                <option value="tfa_168" id="tfa_168" data-conditionals="#tfa_276-D" class="">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_169-D" data-condition="`#tfa_160`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_169-L" class="form-label r-margin preField reqMark" for="tfa_169">
                Primary field of work - Culture &amp; recreation
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_169" name="tfa_169" title="Primary field of work - Culture and recreation" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_170" id="tfa_170" class="">Culture &amp; Arts</option>
                <option value="tfa_171" id="tfa_171" class="">Media &amp; communication</option>
                <option value="tfa_172" id="tfa_172" class="">Visual arts, architecture, ceramic arts, performing arts</option>
                <option value="tfa_173" id="tfa_173" class="">Historical, literary &amp; humanistic societies</option>
                <option value="tfa_174" id="tfa_174" class="">Museums, zoos &amp; aquariums</option>
                <option value="tfa_175" id="tfa_175" class="">Sport &amp; recreation</option>
                <option value="tfa_176" id="tfa_176" class="">Sports clubs</option>
                <option value="tfa_177" id="tfa_177" class="">Leisure Trust/ALEO</option>
                <option value="tfa_178" id="tfa_178" class="">Other Recreation &amp; social clubs</option>
                <option value="tfa_179" id="tfa_179" class="">Welfare clubs</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_180-D" data-condition="`#tfa_161`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_180-L" class="form-label r-margin preField reqMark" for="tfa_180">
                Primary field of work - Education &amp; research
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_180" name="tfa_180" title="Primary field of work - Education and research" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_181" id="tfa_181" class="">Primary &amp; secondary education</option>
                <option value="tfa_182" id="tfa_182" class="">Parent-teacher associations</option>
                <option value="tfa_183" id="tfa_183" class="">Educational foundations</option>
                <option value="tfa_184" id="tfa_184" class="">Higher education</option>
                <option value="tfa_185" id="tfa_185" class="">Universities &amp; colleges</option>
                <option value="tfa_186" id="tfa_186" class="">Student associations</option>
                <option value="tfa_187" id="tfa_187" class="">Other education</option>
                <option value="tfa_188" id="tfa_188" class="">Vocational, technical schools</option>
                <option value="tfa_189" id="tfa_189" class="">Adult/continuing education</option>
                <option value="tfa_190" id="tfa_190" class="">Research</option>
                <option value="tfa_191" id="tfa_191" class="">Medical research</option>
                <option value="tfa_192" id="tfa_192" class="">Science &amp; technology</option>
                <option value="tfa_193" id="tfa_193" class="">Social sciences &amp; policy studies</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_194-D" data-condition="`#tfa_162`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_194-L" class="form-label r-margin preField reqMark" for="tfa_194">
                Primary field of work - Health care
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_194" name="tfa_194" title="Primary field of work - Health care" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_195" id="tfa_195" class="">Hospitals &amp; rehabilitation</option>
                <option value="tfa_196" id="tfa_196" class="">Rehabilitation</option>
                <option value="tfa_197" id="tfa_197" class="">Care homes</option>
                <option value="tfa_198" id="tfa_198" class="">Mental health &amp; wellbeing</option>
                <option value="tfa_199" id="tfa_199" class="">Psychiatric hospitals</option>
                <option value="tfa_200" id="tfa_200" class="">Mental health treatment</option>
                <option value="tfa_201" id="tfa_201" class="">Crisis intervention</option>
                <option value="tfa_202" id="tfa_202" class="">Other health services</option>
                <option value="tfa_203" id="tfa_203" class="">Public health &amp; wellness education</option>
                <option value="tfa_204" id="tfa_204" class="">Health treatment, primary outpatient</option>
                <option value="tfa_205" id="tfa_205" class="">Rehabilitative medical services</option>
                <option value="tfa_206" id="tfa_206" class="">Emergency medical services</option>
                <option value="tfa_207" id="tfa_207" class="">Addictions support</option>
                <option value="tfa_208" id="tfa_208" class="">Alcohol support</option>
                <option value="tfa_209" id="tfa_209" class="">Drugs support</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_210-D" data-condition="`#tfa_163`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_210-L" class="form-label r-margin preField reqMark" for="tfa_210">
                Primary field of work - Social care
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_210" name="tfa_210" title="Primary field of work - Social care" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_211" id="tfa_211" class="">Social services</option>
                <option value="tfa_212" id="tfa_212" class="">Services for children &amp; families</option>
                <option value="tfa_213" id="tfa_213" class="">After-school clubs</option>
                <option value="tfa_214" id="tfa_214" class="">Pre-school daycare</option>
                <option value="tfa_215" id="tfa_215" class="">Services for young people</option>
                <option value="tfa_216" id="tfa_216" class="">Scouts, Guides etc.</option>
                <option value="tfa_217" id="tfa_217" class="">Services for people with disabilities</option>
                <option value="tfa_218" id="tfa_218" class="">Services for older people</option>
                <option value="tfa_219" id="tfa_219" class="">Services for women</option>
                <option value="tfa_220" id="tfa_220" class="">Carers organisations</option>
                <option value="tfa_221" id="tfa_221" class="">Refugee &amp; immigrant services</option>
                <option value="tfa_222" id="tfa_222" class="">Other social services, including multiple client groups</option>
                <option value="tfa_223" id="tfa_223" class="">Emergency &amp; relief</option>
                <option value="tfa_224" id="tfa_224" class="">Homelessness support</option>
                <option value="tfa_225" id="tfa_225" class="">Disaster/emergency prevention &amp; control</option>
                <option value="tfa_226" id="tfa_226" class="">Temporary shelters</option>
                <option value="tfa_227" id="tfa_227" class="">Income support &amp; maintenance</option>
                <option value="tfa_228" id="tfa_228" class="">Material support</option>
                <option value="tfa_229" id="tfa_229" class="">Financial support</option>
                <option value="tfa_230" id="tfa_230" class="">Food &amp; foodbanks</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_231-D" data-condition="`#tfa_164`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_231-L" class="form-label r-margin preField reqMark" for="tfa_231">
                Primary field of work - Environment &amp; animals
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_231" name="tfa_231" title="Primary field of work - Environment and animals" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_232" id="tfa_232" class="">Environment</option>
                <option value="tfa_233" id="tfa_233" class="">Pollution abatement &amp; control</option>
                <option value="tfa_234" id="tfa_234" class="">Natural resources conservation &amp; protection</option>
                <option value="tfa_235" id="tfa_235" class="">Environmental beautification &amp; open spaces</option>
                <option value="tfa_236" id="tfa_236" class="">Animals</option>
                <option value="tfa_237" id="tfa_237" class="">Animal protection &amp; welfare</option>
                <option value="tfa_238" id="tfa_238" class="">Wildlife preservation &amp; protection</option>
                <option value="tfa_239" id="tfa_239" class="">Veterinary services</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_240-D" data-condition="`#tfa_165`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_240-L" class="form-label r-margin preField reqMark" for="tfa_240">
                Primary field of work - Economic, community &amp; social development
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_240" name="tfa_240" title="Primary field of work - Economic, community and social development" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_241" id="tfa_241" class="">Community development</option>
                <option value="tfa_242" id="tfa_242" class="">Community &amp; neighbourhood organisations</option>
                <option value="tfa_243" id="tfa_243" class="">Village halls &amp; community centres</option>
                <option value="tfa_244" id="tfa_244" class="">Community transport</option>
                <option value="tfa_245" id="tfa_245" class="">Economic development</option>
                <option value="tfa_246" id="tfa_246" class="">Social development</option>
                <option value="tfa_247" id="tfa_247" class="">Credit Unions</option>
                <option value="tfa_248" id="tfa_248" class="">Housing</option>
                <option value="tfa_249" id="tfa_249" class="">Housing Associations</option>
                <option value="tfa_250" id="tfa_250" class="">Supported housing</option>
                <option value="tfa_251" id="tfa_251" class="">Employment &amp; training</option>
                <option value="tfa_252" id="tfa_252" class="">Job training programmes</option>
                <option value="tfa_253" id="tfa_253" class="">Vocational counselling &amp; guidance</option>
                <option value="tfa_254" id="tfa_254" class="">Vocational rehabilitation &amp; sheltered workshops</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_255-D" data-condition="`#tfa_166`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_255-L" class="form-label r-margin preField reqMark" for="tfa_255">
                Primary field of work - Law, advocacy &amp; politics
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_255" name="tfa_255" title="Primary field of work - Law, advocacy and politics" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_256" id="tfa_256" class="">Civic &amp; advocacy organisations</option>
                <option value="tfa_257" id="tfa_257" class="">Ethnic minority associations</option>
                <option value="tfa_258" id="tfa_258" class="">Civil rights associations</option>
                <option value="tfa_259" id="tfa_259" class="">Sexuality/LGBT</option>
                <option value="tfa_260" id="tfa_260" class="">Civic associations</option>
                <option value="tfa_261" id="tfa_261" class="">Advocacy organisations</option>
                <option value="tfa_262" id="tfa_262" class="">Law &amp; legal services</option>
                <option value="tfa_263" id="tfa_263" class="">Advice services</option>
                <option value="tfa_264" id="tfa_264" class="">Crime prevention &amp; public safety</option>
                <option value="tfa_265" id="tfa_265" class="">Offenders/ex-offenders support</option>
                <option value="tfa_266" id="tfa_266" class="">Victim support</option>
                <option value="tfa_267" id="tfa_267" class="">Consumer protection associations</option>
                <option value="tfa_268" id="tfa_268" class="">Political organisations</option>
                <option value="tfa_269" id="tfa_269" class="">Political parties &amp; organisations</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_270-D" data-condition="`#tfa_167`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_270-L" class="form-label r-margin preField reqMark" for="tfa_270">
                Primary field of work - Philanthropic intermediaries &amp; voluntarism promotion
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_270" name="tfa_270" title="Primary field of work - Philanthropic intermediaries and voluntarism promotion" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_271" id="tfa_271" class="">Grantmaking foundations</option>
                <option value="tfa_272" id="tfa_272" class="">Umbrella bodies</option>
                <option value="tfa_273" id="tfa_273" class="">Volunteering</option>
                <option value="tfa_274" id="tfa_274" class="">TSIs</option>
                <option value="tfa_275" id="tfa_275" class="">Volunteer centres</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_276-D" data-condition="`#tfa_168`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_276-L" class="form-label r-margin preField reqMark" for="tfa_276">
                Primary field of work - Other
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_276" name="tfa_276" title="Primary field of work - Other" aria-required="true" class="form-select required" required>
                <option value="">Please select&hellip;</option>
                <option value="tfa_277" id="tfa_277" class="">Religious activities</option>
                <option value="tfa_278" id="tfa_278" class="">Associations of congregations</option>
                <option value="tfa_279" id="tfa_279" class="">Business &amp; professional associations</option>
                <option value="tfa_280" id="tfa_280" class="">Congregations, e.g. churches. mosques</option>
                <option value="tfa_281" id="tfa_281" class="">Business associations</option>
                <option value="tfa_282" id="tfa_282" class="">Professional associations</option>
                <option value="tfa_283" id="tfa_283" class="">Labour Unions</option>
                <option value="tfa_284" id="tfa_284" class="">General charitable purposes</option>
                <option value="tfa_285" id="tfa_285" class="">Not elsewhere classified</option>
              </select>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_111-D" role="group" aria-labelledby="tfa_111-L" data-tfa-labelledby="-L tfa_111-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_111-L" class="form-label r-margin preField">
                Please select all UN Sustainable Development Goals that your organisation contributes towards (optional)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_111" class="choices vertical">
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_112-L" for="tfa_112">
                    <input type="checkbox" value="tfa_112" class="" id="tfa_112" name="tfa_112" aria-labelledby="tfa_112-L" data-tfa-labelledby="tfa_111-L tfa_112-L">
                    <i class="form-icon"></i>
                    No Poverty
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_113-L" for="tfa_113">
                    <input type="checkbox" value="tfa_113" class="" id="tfa_113" name="tfa_113" aria-labelledby="tfa_113-L" data-tfa-labelledby="tfa_111-L tfa_113-L">
                    <i class="form-icon"></i>
                    Zero Hunger
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_114-L" for="tfa_114">
                    <input type="checkbox" value="tfa_114" class="" id="tfa_114" name="tfa_114" aria-labelledby="tfa_114-L" data-tfa-labelledby="tfa_111-L tfa_114-L">
                    <i class="form-icon"></i>
                    Good Health &amp; Wellbeing
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_115-L" for="tfa_115">
                    <input type="checkbox" value="tfa_115" class="" id="tfa_115" name="tfa_115" aria-labelledby="tfa_115-L" data-tfa-labelledby="tfa_111-L tfa_115-L">
                    <i class="form-icon"></i>
                    Quality Education
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_116-L" for="tfa_116">
                    <input type="checkbox" value="tfa_116" class="" id="tfa_116" name="tfa_116" aria-labelledby="tfa_116-L" data-tfa-labelledby="tfa_111-L tfa_116-L">
                    <i class="form-icon"></i>
                    Gender Equality
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_117-L" for="tfa_117">
                    <input type="checkbox" value="tfa_117" class="" id="tfa_117" name="tfa_117" aria-labelledby="tfa_117-L" data-tfa-labelledby="tfa_111-L tfa_117-L">
                    <i class="form-icon"></i>
                    Clean Water &amp; Sanitation
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_118-L" for="tfa_118">
                    <input type="checkbox" value="tfa_118" class="" id="tfa_118" name="tfa_118" aria-labelledby="tfa_118-L" data-tfa-labelledby="tfa_111-L tfa_118-L">
                    <i class="form-icon"></i>
                    Affordable &amp; Clean Energy
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_119-L" for="tfa_119">
                    <input type="checkbox" value="tfa_119" class="" id="tfa_119" name="tfa_119" aria-labelledby="tfa_119-L" data-tfa-labelledby="tfa_111-L tfa_119-L">
                    <i class="form-icon"></i>
                    Decent Work &amp; Economic Growth
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_120-L" for="tfa_120">
                    <input type="checkbox" value="tfa_120" class="" id="tfa_120" name="tfa_120" aria-labelledby="tfa_120-L" data-tfa-labelledby="tfa_111-L tfa_120-L">
                    <i class="form-icon"></i>
                    Industry, Innovation, &amp; Infrastructure
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_121-L" for="tfa_121">
                    <input type="checkbox" value="tfa_121" class="" id="tfa_121" name="tfa_121" aria-labelledby="tfa_121-L" data-tfa-labelledby="tfa_111-L tfa_121-L">
                    <i class="form-icon"></i>
                    Reduced Inequalities
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_122-L" for="tfa_122">
                    <input type="checkbox" value="tfa_122" class="" id="tfa_122" name="tfa_122" aria-labelledby="tfa_122-L" data-tfa-labelledby="tfa_111-L tfa_122-L">
                    <i class="form-icon"></i>
                    Sustainable Cities &amp; Communities
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_123-L" for="tfa_123">
                    <input type="checkbox" value="tfa_123" class="" id="tfa_123" name="tfa_123" aria-labelledby="tfa_123-L" data-tfa-labelledby="tfa_111-L tfa_123-L">
                    <i class="form-icon"></i>
                    Responsible Consumption &amp; Production
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_124-L" for="tfa_124">
                    <input type="checkbox" value="tfa_124" class="" id="tfa_124" name="tfa_124" aria-labelledby="tfa_124-L" data-tfa-labelledby="tfa_111-L tfa_124-L">
                    <i class="form-icon"></i>
                    Climate Action
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_125-L" for="tfa_125">
                    <input type="checkbox" value="tfa_125" class="" id="tfa_125" name="tfa_125" aria-labelledby="tfa_125-L" data-tfa-labelledby="tfa_111-L tfa_125-L">
                    <i class="form-icon"></i>
                    Life Below Water
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_126-L" for="tfa_126">
                    <input type="checkbox" value="tfa_126" class="" id="tfa_126" name="tfa_126" aria-labelledby="tfa_126-L" data-tfa-labelledby="tfa_111-L tfa_126-L">
                    <i class="form-icon"></i>
                    Life on Land
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_127-L" for="tfa_127">
                    <input type="checkbox" value="tfa_127" class="" id="tfa_127" name="tfa_127" aria-labelledby="tfa_127-L" data-tfa-labelledby="tfa_111-L tfa_127-L">
                    <i class="form-icon"></i>
                    Peace, Justice &amp; Strong Institutions
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_128-L" for="tfa_128">
                    <input type="checkbox" value="tfa_128" class="" id="tfa_128" name="tfa_128" aria-labelledby="tfa_128-L" data-tfa-labelledby="tfa_111-L tfa_128-L">
                    <i class="form-icon"></i>
                    Partnerships for the Goals
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_129-D">
            <div class="col-9 col-xl-12">
              <label id="tfa_129-L" class="form-label r-margin preField reqMark" for="tfa_129">
                Please provide a brief summary of your organisation’s aims & objectives, highlighting where your organisation is based, what services/activities you provide and who your target audience is (if your services are not open to all). <br /><br />
                If you are applying for individual membership please tell us if you are a sole-trader, student or retiree and what your interest in the Scottish voluntary sector is (character limit 400)
                <br /><br />
                <span class="caption">
                  e.g. Greentrees Public Hall is based in Perth. We provide and maintain an affordable venue, which the local community uses for a variety of social and recreational purposes, including exercise classes, meeting space, and music and drama productions.<br />
                  e.g. Paws for Pets is a rescue and re-homing charity based in Fife. Our mission is to find suitable loving homes for abandoned and unwanted pets and to promote responsible pet ownership through education and training.<br />
                  e.g. Wind in the Willows Playgroup provides affordable, flexible childcare for families with children aged between 1-5 years in Prestonpans, East Lothian.<br />
                  e.g. I’m a student currently studying Communications and Marketing in Edinburgh. I volunteer for my local Citizens Advice Bureau and I’m interested in finding out more about career options in the voluntary sector.
                </span>
              </label>
            </div>
            <div class="col-9 col-xl-12">
              <textarea maxlength="400" id="tfa_129" name="tfa_129" title="Aims and objectives" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_130-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_130-L" class="form-label r-margin preField" for="tfa_130">
                Where can we publicly find your aims and objectives?
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_130" name="tfa_130" value="" maxlength="255" title="Where can we publicly find your aims and objectives?" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_131-D" role="group" aria-labelledby="tfa_131-L" data-tfa-labelledby="-L tfa_131-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_131-L" class="form-label r-margin preField">
                Please tell us why you’d like to join SCVO? (select all that apply)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_131" class="choices vertical">
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_132-L" for="tfa_132">
                    <input type="checkbox" value="tfa_132" class="" id="tfa_132" name="tfa_132" aria-labelledby="tfa_132-L" data-tfa-labelledby="tfa_131-L tfa_132-L">
                    <i class="form-icon"></i>
                    Technology services
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_133-L" for="tfa_133">
                    <input type="checkbox" value="tfa_133" class="" id="tfa_133" name="tfa_133" aria-labelledby="tfa_133-L" data-tfa-labelledby="tfa_131-L tfa_133-L">
                    <i class="form-icon"></i>
                    Credit union
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_134-L" for="tfa_134">
                    <input type="checkbox" value="tfa_134" class="" id="tfa_134" name="tfa_134" aria-labelledby="tfa_134-L" data-tfa-labelledby="tfa_131-L tfa_134-L">
                    <i class="form-icon"></i>
                    Influencing policy &amp; practice
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_135-L" for="tfa_135">
                    <input type="checkbox" value="tfa_135" class="" id="tfa_135" name="tfa_135" aria-labelledby="tfa_135-L" data-tfa-labelledby="tfa_131-L tfa_135-L">
                    <i class="form-icon"></i>
                    Information service
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_136-L" for="tfa_136">
                    <input type="checkbox" value="tfa_136" class="" id="tfa_136" name="tfa_136" aria-labelledby="tfa_136-L" data-tfa-labelledby="tfa_131-L tfa_136-L">
                    <i class="form-icon"></i>
                    Members discounts &amp; deals
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_137-L" for="tfa_137">
                    <input type="checkbox" value="tfa_137" class="" id="tfa_137" name="tfa_137" aria-labelledby="tfa_137-L" data-tfa-labelledby="tfa_131-L tfa_137-L">
                    <i class="form-icon"></i>
                    Free legal &amp; VAT advice
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_138-L" for="tfa_138">
                    <input type="checkbox" value="tfa_138" class="" id="tfa_138" name="tfa_138" aria-labelledby="tfa_138-L" data-tfa-labelledby="tfa_131-L tfa_138-L">
                    <i class="form-icon"></i>
                    Networking opportunities
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_139-L" for="tfa_139">
                    <input type="checkbox" value="tfa_139" class="" id="tfa_139" name="tfa_139" aria-labelledby="tfa_139-L" data-tfa-labelledby="tfa_131-L tfa_139-L">
                    <i class="form-icon"></i>
                    Third Force News (TFN)
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_140-L" for="tfa_140">
                    <input type="checkbox" value="tfa_140" class="" id="tfa_140" name="tfa_140" aria-labelledby="tfa_140-L" data-tfa-labelledby="tfa_131-L tfa_140-L">
                    <i class="form-icon"></i>
                    Training &amp; events
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_141-L" for="tfa_141">
                    <input type="checkbox" value="tfa_141" class="" id="tfa_141" name="tfa_141" aria-labelledby="tfa_141-L" data-tfa-labelledby="tfa_131-L tfa_141-L">
                    <i class="form-icon"></i>
                    Payroll services
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_142-L" for="tfa_142">
                    <input type="checkbox" value="tfa_142" class="" id="tfa_142" name="tfa_142" aria-labelledby="tfa_142-L" data-tfa-labelledby="tfa_131-L tfa_142-L">
                    <i class="form-icon"></i>
                    Funding information
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_143-L" for="tfa_143">
                    <input type="checkbox" value="tfa_143" class="" id="tfa_143" name="tfa_143" data-conditionals="#tfa_154-D" aria-labelledby="tfa_143-L" data-tfa-labelledby="tfa_131-L tfa_143-L">
                    <i class="form-icon"></i>
                    Other
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_154-D" data-condition="`#tfa_143`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_154-L" class="form-label r-margin preField" for="tfa_154">
                Please provide further detail
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea maxlength="5000" id="tfa_154" name="tfa_154" title="Please provide further detail" class="form-input"></textarea>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_144-D" role="group" aria-labelledby="tfa_144-L" data-tfa-labelledby="-L tfa_144-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_144-L" class="form-label r-margin preField">
                How did you hear about SCVO? (select all that apply)
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_144" class="choices vertical">
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_145-L" for="tfa_145">
                    <input type="checkbox" value="tfa_145" class="" id="tfa_145" name="tfa_145" aria-labelledby="tfa_145-L" data-tfa-labelledby="tfa_144-L tfa_145-L">
                    <i class="form-icon"></i>
                    E-bulletin
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_146-L" for="tfa_146">
                    <input type="checkbox" value="tfa_146" class="" id="tfa_146" name="tfa_146" aria-labelledby="tfa_146-L" data-tfa-labelledby="tfa_144-L tfa_146-L">
                    <i class="form-icon"></i>
                    Mailing
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_147-L" for="tfa_147">
                    <input type="checkbox" value="tfa_147" class="" id="tfa_147" name="tfa_147" aria-labelledby="tfa_147-L" data-tfa-labelledby="tfa_144-L tfa_147-L">
                    <i class="form-icon"></i>
                    SCVO event
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_148-L" for="tfa_148">
                    <input type="checkbox" value="tfa_148" class="" id="tfa_148" name="tfa_148" aria-labelledby="tfa_148-L" data-tfa-labelledby="tfa_144-L tfa_148-L">
                    <i class="form-icon"></i>
                    SCVO staff
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_149-L" for="tfa_149">
                    <input type="checkbox" value="tfa_149" class="" id="tfa_149" name="tfa_149" aria-labelledby="tfa_149-L" data-tfa-labelledby="tfa_144-L tfa_149-L">
                    <i class="form-icon"></i>
                    SCVO website
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_150-L" for="tfa_150">
                    <input type="checkbox" value="tfa_150" class="" id="tfa_150" name="tfa_150" aria-labelledby="tfa_150-L" data-tfa-labelledby="tfa_144-L tfa_150-L">
                    <i class="form-icon"></i>
                    Third Force News (TFN)
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_151-L" for="tfa_151">
                    <input type="checkbox" value="tfa_151" class="" id="tfa_151" name="tfa_151" aria-labelledby="tfa_151-L" data-tfa-labelledby="tfa_144-L tfa_151-L">
                    <i class="form-icon"></i>
                    Referred by another organisation
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_152-L" for="tfa_152">
                    <input type="checkbox" value="tfa_152" class="" id="tfa_152" name="tfa_152" aria-labelledby="tfa_152-L" data-tfa-labelledby="tfa_144-L tfa_152-L">
                    <i class="form-icon"></i>
                    Cyber Essentials Grant
                  </label>
                </span>
                <span class="input-group">
                  <label class="form-checkbox postField" id="tfa_153-L" for="tfa_153">
                    <input type="checkbox" value="tfa_153" class="" id="tfa_153" name="tfa_153" data-conditionals="#tfa_155-D" aria-labelledby="tfa_153-L" data-tfa-labelledby="tfa_144-L tfa_153-L">
                    <i class="form-icon"></i>
                    Other
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_155-D" data-condition="`#tfa_153`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_155-L" class="form-label r-margin preField" for="tfa_155">
                Please provide further detail
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea maxlength="5000" id="tfa_155" name="tfa_155" title="Please provide further detail" class="form-input"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-6">
        <div class="section pageSection" id="tfa_156">
          <h2 id="tfa_156-T">Authorisation</h2>
          <input type="hidden" id="tfa_157" name="tfa_157" value="{{momentFormat (moment) 'YYYY-MM-DD'}}" class="">
          <div class="form-group field-container-D" id="tfa_158-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_158-L" class="form-label r-margin preField" for="tfa_158">
                Name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_158" name="tfa_158" value="" maxlength="255" autocomplete="nope" data-lpignore="true" title="Name" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D" id="tfa_159-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_159-L" class="form-label r-margin preField" for="tfa_159">
                Organisation name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_159" name="tfa_159" value="" autocomplete="nope" data-lpignore="true" maxlength="255" title="Organisation name" class="form-input">
            </div>
          </div>
        </div>
        <div class="actions" id="4830198-A">
          <input type="submit" data-label="Submit" class="primaryAction btn btn-primary btn-lg" id="submit_button" value="Submit">
        </div>
      </div>
      <div style="clear:both"></div>
      <input type="hidden" value="4830198" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="fe6fdaa921ec6df0f5415fa3f3ef8404" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="32" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>

<div class="b-margin-full b-padding-full">
  <hr />

  <p>
    The information you provide will be stored to allow us to process your application and manage your membership of SCVO. <a href="/privacy/membership">Read our full privacy notice</a>.
  </p>
</div>