{{#with @root.data.primaryResponse.hits.hits.[0] ~}}
<div class="b-margin-full">
  {{{replace (replace (replace (replace _source.content "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
</div>
{{/with ~}}

<div class="caption pull-right">
  <button class="btn btn-sm" id="accordions_expand">
    Expand all
  </button>
  <button class="btn btn-sm" id="accordions_collapse">
    Collapse all
  </button>
</div>

<div class="b-margin-full">
  <br />
</div>

<div class="b-margin-full b-padding-full">
  {{#if @root.request.params.fund ~}}
  {{#compare @root.data.supplimentaryResponses.faqs.hits.total ">" 0 ~}}
  {{#each @root.data.supplimentaryResponses.faqs.hits.hits ~}}
  {{#with _source ~}}
  {{#if answer ~}}
  <h4 class="{{#compare @root.data.supplimentaryResponses.faqs.hits.total '>' 3}}accordion{{/compare}}">{{{question}}}</h4>
  <div class="{{#compare @root.data.supplimentaryResponses.faqs.hits.total '>' 3}}accordion-content{{/compare}}">
    <p>
      {{{answer}}}
    </p>
  </div>
  {{/if ~}}
  {{/with ~}}
  {{/each ~}}
  {{/compare ~}}
  {{/if ~}}
</div>

<script src="{{~>asset_url url='js/accordion.js'~}}"></script>