<div class="container">
  <div class="hero">
    <div class="hero-body">
      <div class="columns">
        <div class="column col-7 col-lg-6 col-md-12 hero-text">
          <h1 class="text-secondary smaller">Coronavirus Third Sector Information Hub</h1>
        </div>
        <div class="column col-5 col-lg-6 col-md-12 hero-illustration">
          <img src="{{~>asset_url url='images/headers/montage_socialdistance.png'~}}" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="b-padding-full">
  <div class="bg-gray v-padding-full b-margin-full">
    <div class="container v-padding">
      {{!-- {{{@root.data.primaryResponse.hits.hits.[0]._source.sub_title}}} --}}
      {{!-- We are working rapidly to update this hub with practical guidance and <a href="/support/coronavirus/faq">answers to common questions</a> about how organisations can manage during the coronavirus crisis. --}}
    </div>
  </div>
</div>