<div class="container">
  <h3>Quick guide</h3>
  <p>
    <strong>Note:</strong> This information does not constitute as legal advice and merely serves to provide an indication – visit the <a href="https://www.gov.uk/guidance/status-of-eu-nationals-in-the-uk-what-you-need-to-know">Home Office website</a> for more detailed information.
  </p>
  <form name="settled_status" id="settled_status" action="get">
    <div id="settled_status_q_a">
      <p>
        <strong>Q1.</strong> Do you currently live in the UK?
      </p>
      <div class="mdc-radio"><input id="answer-1" class="mdc-radio__native-control" name="a" value="1" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-1-label" for="answer-1">Yes</label>
      <div class="mdc-radio"><input id="answer-2" class="mdc-radio__native-control" name="a" value="2" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-2-label" for="answer-2">No</label>
    </div>
    <div id="settled_status_q_b">
      <p>
        <strong>Q2.</strong> Do you intend to arrive in the UK before or after 31 December 2020??
      </p>
      <div class="mdc-radio"><input id="answer-3" class="mdc-radio__native-control" name="b" value="1" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-3-label" for="answer-3">Before</label>
      <div class="mdc-radio"><input id="answer-4" class="mdc-radio__native-control" name="b" value="2" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-4-label" for="answer-4">After</label>
    </div>
    <div id="settled_status_q_c">
      <p>
        <strong>Q2.</strong> Do you have <a href="https://www.gov.uk/settle-in-the-uk">indefinite leave to remain</a> status?
      </p>
      <div class="mdc-radio"><input id="answer-5" class="mdc-radio__native-control" name="c" value="1" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-5-label" for="answer-5">Yes</label>
      <div class="mdc-radio"><input id="answer-6" class="mdc-radio__native-control" name="c" value="2" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-6-label" for="answer-6">No</label>
    </div>
    <div id="settled_status_q_d">
      <p>
        <strong>Q3.</strong> Do you have a 'UK permanent residence document'?
      </p>
      <div class="mdc-radio"><input id="answer-7" class="mdc-radio__native-control" name="d" value="1" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-7-label" for="answer-7">Yes</label>
      <div class="mdc-radio"><input id="answer-8" class="mdc-radio__native-control" name="d" value="2" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-8-label" for="answer-8">No</label>
    </div>
    <div id="settled_status_q_e">
      <p>
        <strong>Q4.</strong> Have you lived in the UK for more than five years?
      </p>
      <div class="mdc-radio"><input id="answer-9" class="mdc-radio__native-control" name="e" value="1" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-9-label" for="answer-9">Yes</label>
      <div class="mdc-radio"><input id="answer-10" class="mdc-radio__native-control" name="e" value="2" type="radio" onchange="window.showGuide()" />
        <div class="mdc-radio__background">
          <div class="mdc-radio__outer-circle"></div>
          <div class="mdc-radio__inner-circle"></div>
        </div>
      </div>
      <label id="answer-10-label" for="answer-10">No</label>
    </div>
  </form>
  <div id="settled_status_guide" class="mdc-elevation--z6">
    <div class="guide_text" id="guide_21000">
      <p>
        People who arrive by 31 December 2020, but won’t have been here lawfully for 5 years, will be able to apply for ‘pre-settled status’ to stay in the UK.
      </p>
      <p>
        After you have reached the 5-year threshold you can apply for full settled status.
      </p>
      <p>
        Individuals with ‘pre-settled status’ will also be free to live here, have access to public funds and services, enrol in education or continue studying and travel in and out of the UK.
      </p>
      <p>
        The EU Settlement Scheme is already open and you are able to <a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">apply online</a>.
      </p>
    </div>
    <div class="guide_text" id="guide_22000">
      <p>
        The current UK Government has suggested that a new points based immigration system will be introduced.
      </p>
      <p>
        Following the UK’s withdrawal from the EU, it is expected that this system will apply to EU citizens after the deadline of 31 December 2020.
      </p>
    </div>
    <div class="guide_text" id="guide_10100">
      <p>
        Your <a href="https://www.gov.uk/settle-in-the-uk">'indefinite leave to remain'</a> status is not affected by the UK leaving the EU. However, should you wish to exchange your existing indefinite leave to remain document for the new 'settled status' document, you will be able to do so free of charge.
      </p>
      <p>
        You may wish to keep proof of your ‘indefinite leave to remain’ status in a safe place - in case this is required.
      </p>
    </div>
    <div class="guide_text" id="guide_10210">
      <p>
        Unlike with indefinite leave to remain, individuals who hold ‘permanent residence documents’ will still be required to apply for the settlement scheme if they wish to remain in the UK after 31 December 2020.
      </p>
      <p>
        Those with permanent residence documents will not have to prove five years continuous residence in the UK.
      </p>
      <p>
        Alternatively, those with permanent residence can apply for UK citizenship before 30 June 2021.
      </p>
    </div>
    <div class="guide_text" id="guide_10221">
      <p>
        You will be able to apply to stay in the UK indefinitely by getting 'settled status'. That means you will be free to continue living here and have access to public funds and services.
      </p>
      <p>
        Getting this status will prove (for example, to employers or public service providers) that you have permission to continue living and working here in future.
      </p>
      <p>
        The EU Settlement Scheme is already open and you are able to can <a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">apply online</a>.
      </p>
      <p>
        Family members who are living with, or join, EU citizens in the UK by 31 December 2020 will also be able to apply for pre-settled or settled status before the deadline.
      </p>
    </div>
    <div class="guide_text" id="guide_10222">
      <p>
        People who arrive by 31 December 2020, but won’t have been here lawfully for 5 years, will be able to apply for ‘pre-settled status’ to stay in the UK.
      </p>
      <p>
        After you have reached the 5-year threshold you can apply for full settled status.
      </p>
      <p>
        Individuals with ‘pre-settled status’ will also be free to live here, have access to public funds and services, enrol in education or continue studying and travel in and out of the UK.
      </p>
      <p>
        Family members who are living with, or join, EU citizens in the UK by 31 December 2020 will also be able to apply for pre-settled or settled status before the deadline.
      </p>
      <p>
        The EU Settlement Scheme is already open and you are able to <a href="https://www.gov.uk/settled-status-eu-citizens-families/applying-for-settled-status">apply online</a>.
      </p>
    </div>
  </div>
  <p>
    <br />
    <strong>NB.</strong> This information applies to both the citizens of the "EU27" (minus citizens of Ireland whose right to live and reside in the UK will be unaffected by EU withdrawal) and citizens from the EFTA states. Those states are “EU27”: Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Italy, Latvia, Lithuania, Luxembourg, Malta, the Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, and Sweden. EFTA: Iceland, Liechtenstein, Norway. Citizens of Switzerland are also included.
  </p>
  <script src="{{~>asset_url url='js/eu-are-settled.js'}}"></script>
</div>

{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{#unless @root.data.primaryResponse.hits.hits.[0]._source.hide_related_posts ~}}
{{> footers_posts_related}}
{{/unless ~}}
{{/if ~}}