{{> sidebars_menu}}

<div class="v-margin-full v-padding-full">
  <img src="{{~>asset_url url='images/nmn/NMN_Scotland_logomark_NMN_logo_stacked_full_colour.png'~}}" alt="#NeverMoreNeeded" class="img-responsive" />
</div>