<div class="container">
  {{#compare @root.data.supplimentaryResponses.resources.hits.total ">" 0 ~}}
  <div class="mdc-layout-grid equal-height v-margin-full">
    <div class="mdc-layout-grid__inner">
      {{#each @root.data.supplimentaryResponses.resources.hits.hits ~}}
      {{#with _source ~}}
      {{> content_resource_card slug=post_tags_slug.[0] link=link title=title author=author_attribution content=content}}
      {{/with ~}}
      {{/each ~}}
    </div>
  </div>
  {{/compare ~}}
</div>