<div class="card card-no-padding b-margin-full gist scvo-cms scvo-cms-post scvo-cms-post-{{wpid}}">
  <section class="card-header">
    <div class="card-title">
      <a href="{{path}}">{{{title}}}</a>
    </div>
  </section>
  <section class="card-body">
    <div class="post-info">
      {{> post_info_author}}
      {{> post_info_published}}
    </div>
  </section>
</div>