<div class="gist scvo-cms scvo-cms-post scvo-cms-post-{{wpid}} mdc-card">
  <section class="mdc-card__primary">
    <div class="supplimentary-list-title">
      <a href="{{path}}">{{{title}}}</a>
    </div>
  </section>
  <section class="mdc-card__supporting-text">
    <div class="post-info">
      {{> post_info_author}}
      {{> post_info_published}}
    </div>
  </section>
</div>