<div class="post-info-item post-info-published post-info-updated" title="{{#compare (momentFormat (moment publish_on 'x') 'Do MMMM YYYY') '===' (momentFormat (moment updated 'x') 'Do MMMM YYYY')}}Published{{else}}Last updated{{/compare}} on {{momentFormat (moment updated 'x') 'Do MMMM YYYY'}}">
  <span class="far fa-calendar-edit" aria-hidden="true"></span>
  {{momentFormat (moment publish_on "x") "Do MMMM YYYY"}}
</div>