<div class="gist scvo-event scvo-event-{{Id}} card card-no-padding">
  <h4>
    <a href="{{path}}">{{{trim title}}}</a>
  </h4>
  <div class="post-info">
    {{> content_event_post_info_booked}}
    {{> content_event_post_info_date}}
    {{> content_event_post_info_city}}
  </div>
</div>