{{#if city ~}}
{{#unless (compare city "N/A") ~}}
<div class="post-info-item post-info-city">
  <span class="fas fa-map-marker-alt" aria-hidden="true"></span>
  {{city}}
</div>
{{/unless ~}}
{{/if ~}}