<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you for completing your New Scots Refugee Integration Delivery Project online application form.
  </p>
  <p>
    Our application assessment process will be completed by 23 June 2021 and we will notify all applicants of the outcome by 2 July 2021.
  </p>
</div>