<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/jobs">Jobs &amp; employability</a></li>
    <li class="breadcrumb-item"><a href="/jobs/kickstart-scheme">Kickstart Scheme</a></li>
    <li class="breadcrumb-item">Vacancies</li>
  </ul>

  <h1>Kickstart Scheme vacancies</h1>
</div>