<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    {{#if @root.request.params.topic}}
      <li class="breadcrumb-item">
        <a href="/policy/{{@root.request.params.topic}}" style="text-transform:capitalize;">{{replace @root.request.params.topic '-' ' '}}</a>
      </li>
    {{/if}}
    <li class="breadcrumb-item">Briefings &amp; consultation responses</li>
  </ul>

  <h1>Briefings &amp; consultation responses</h1>
</div>