<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">
      <a href="/policy">Policy</a>
    </li>
    <li class="breadcrumb-item">
      Consultation responses
    </li>
  </ul>

  <h1>Consultation responses</h1>
</div>