<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy</a></li>
    <li class="breadcrumb-item"><a href="/policy/posts">Posts</a></li>
    <li class="breadcrumb-item">Coronavirus</li>
  </ul>

  <h1>Coronavirus</h1>
</div>