<div class="container t-padding-full">
  {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
</div>

<div class="bg-grey">
  <div class="container b-margin-full">
    <h2>Our networks</h2>
    <div class="columns v-padding-full">
      <div class="column col-4 col-lg-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/intermediaries-network">
                <span class="r-margin far fa-fw fa-retweet"> </span>
                Intermediaries
              </a>
            </div>
          </section>
          <section class="card-body">
            Details on everything from our intermediaries network to resources and directories for those working in intermediary bodies.
          </section>
          <section class="card-footer">
            <a href="/policy/intermediaries-network">Find out more</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/policy-network">
                <span class="r-margin far fa-fw fa-landmark"> </span>
                Policy
              </a>
            </div>
          </section>
          <section class="card-body">
            Details on our policy network.
          </section>
          <section class="card-footer">
            <a href="/policy/policy-network">Find out more</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
