{{!-- {{> sections_coronavirus title="Coronavirus policy & research" icon="house-user" description="Policy & research in response to the COVID-19 pandemic" link="/policy/coronavirus"}} --}}

{{!-- <div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns linked-cards">
      <div class="column col-6 col-lg-12">
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              About
            </h2>
            <p>
              <strong>SCVO's policy team works to ensure that the needs and concerns of the voluntary sector in Scotland are represented in the Scottish, United Kingdom and European Parliaments.</strong>
            </p>
            <p>
              By acting as an authoritative and trusted voice for the sector, SCVO's policy and research output is delivered through a strong evidence base and an engaged membership.
            </p>
          </section>
        </div>
      </div>
      <div class="column col-3 col-lg-6 col-sm-12 linked-cards">
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              <a href="/policy/campaigns">
                <span class="far fa-fw fa-person-sign"></span>
                Campaigns
              </a>
            </h2>
          </section>
          <section class="card-footer">
            <a href="/policy/campaigns">Find out more</a>
          </section>
        </div>
      </div>
      <div class="column col-3 col-lg-6 col-sm-12 linked-cards">
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              <a href="/policy/events">
                <span class="far fa-fw fa-users"></span>
                Events
              </a>
            </h2>
          </section>
          {{#with @root.data.supplimentaryResponses.events_total.hits ~}}
          <section class="card-body b-margin">
            {{#compare total ">" 0 ~}}
            We have {{inflect total "upcoming event" "upcoming events" true}}
            {{else}}
            We don't have any upcoming events
            {{/compare ~}}
          </section>
          {{#compare total ">" 0 ~}}
          <section class="card-footer">
            <a href="/policy/events">See {{inflect total "event" "events"}}</a>
          </section>
          {{/compare ~}}
          {{/with ~}}
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns v-padding-full">
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/coronavirus">
                <span class="r-margin far fa-fw fa-viruses">&nbsp;</span>
                Coronavirus
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_coronavirus.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We will ensure that action is taken to mitigate the impact of COVID-19 on the voluntary sector.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/coronavirus" class="mr">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/europe">
                <span class="r-margin far fa-fw fa-globe-europe">&nbsp;</span>
                Europe
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_europe.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We will ensure that the consequences of Brexit for the Scottish Voluntary sector are understood and addressed.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/europe">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/economic-actor">
                <span class="r-margin far fa-fw fa-chart-pie">&nbsp;</span>
                Economic actor
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_economic_actor.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We will ensure that the Scottish Voluntary sector is recognised as a significant social and economic actor.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/economic-actor">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/employment">
                <span class="r-margin far fa-fw fa-briefcase">&nbsp;</span>
                Employment
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_employment.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We will ensure that the sector is recognised as both a significant employer and a contributor to the employability landscape.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/employment">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/partnerships">
                <span class="r-margin far fa-fw fa-chart-network">&nbsp;</span>
                Partnerships
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_partnerships.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We will ensure that the sector is recognised a strategic partner in public service planning, delivery and evaluation.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/partnerships">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/regulation">
                <span class="r-margin far fa-fw fa-gavel">&nbsp;</span>
                Regulation
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            {{!-- {{#each @root.data.supplimentaryResponses.latest_regulations.hits.hits ~}}
              {{#unless (compare @index ">=" 3)}}
                {{> content_post_gist _source}}
              {{/unless}}
            {{/each ~}} --}}
            <p>
              We work with colleagues across the voluntary sector to ensure the impacts of regulation on the sector is fully considered and understood.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/regulations">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-12">
        <p>
          Collaborate with us to develop voluntary sector policy perspectives for Scotland.
        </p>
      </div>
    </div>
    {{!-- <div class="columns b-padding-full">
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">Briefings</h3>

        {{#if @root.data.supplimentaryResponses.latest_briefings.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[2]._source}}
        {{/if ~}}

        <div class="card-footer">
          <a href="/policy/briefings">More briefings</a>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">Consultation responses</h3>

        {{#if @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[2]._source}}
        {{/if ~}}

        <div class="card-footer">
          <a href="/policy/consultation-responses">More consultation responses</a>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">Research</h3>

        {{#if @root.data.supplimentaryResponses.latest_research.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[2]._source}}
        {{/if ~}}

        <div class="card-footer">
          <a href="/policy/research">More research</a>
        </div>
      </div>
    </div> --}}
  </div>
</div>