<div class="bg-gray">
  <div class="container t-padding-full">
    <div class="columns t-padding-full">
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/get-involved">
                <span class="r-margin far fa-fw fa-info-circle"> </span>
                Get involved
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              Collaborate with us to develop voluntary sector policy perspectives for Scotland.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/get-involved">Find out more</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/achievements">
                <span class="r-margin far fa-fw fa-award"> </span>
                Our achievements
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              Find out more about what SCVO has been doing.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/achievements">Find out more</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/about">
                <span class="r-margin far fa-fw fa-users"> </span>
                Our team
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              Find out more about our policy team.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/about">Find out more</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{{> sections_stats}}

<div class="bg-white">
  <div class="container t-margin-full">
    <div class="columns v-padding-full">
      <div class="col-4 col-lg-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/evidence-library">
                <span class="r-margin far fa-fw fa-folder-open"> </span>
                Evidence Library
              </a>
            </div>
          </section>
          <section class="card-body">
            A resource for anyone interested in learning about the voluntary sector in Scotland
          </section>
          <section class="card-footer">
            <a href="/policy/evidence-library">Find out more</a>
          </section>
        </div>
      </div>
      <div class="col-4 col-lg-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/guide-to-working-and-volunteering-in-the-sector">
                <span class="r-margin far fa-fw fa-map-signs"> </span>
                Guide to working and volunteering in the sector
              </a>
            </div>
          </section>
          <section class="card-body">
            With three new charities registered in Scotland every working day, the sector is vast, vibrant and varied – and changing all the time.
          </section>
          <section class="card-footer">
            <a href="/policy/guide-to-working-and-volunteering-in-the-sector">Find out more</a>
          </section>
        </div>
      </div>
      <div class="col-4 col-lg-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/posts">
                <span class="r-margin far fa-fw fa-file-search"> </span>
                Previous work
              </a>
            </div>
          </section>
          <section class="card-body">

          </section>
          <section class="card-footer">
            <a href="/policy/posts">Find out more</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footers_posts_blog}}