<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns linked-cards">
      <div class="column col-6 col-lg-12">
        {{!-- {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}} --}}
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              {{!-- <span class="far fa-fw fa-map-marker-question"></span>  --}}
              About
            </h2>
            <p>
              <strong>SCVO's policy team works to ensure that the needs and concerns of the voluntary sector in Scotland are represented in the Scottish, United Kingdom and European Parliaments.</strong>
            </p>
            <p>
              By acting as an authoritative and trusted voice for the sector, SCVO's policy and research output is delivered through a strong evidence base and an engaged membership.
            </p>
          </section>
        </div>
      </div>
      <div class="column col-3 col-lg-6 col-sm-12 linked-cards">
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              <a href="/policy/campaigns">
                <span class="far fa-fw fa-person-sign"></span>
                Campaigns
              </a>
            </h2>
          </section>
          <section class="card-footer">
            <a class="btn" href="/policy/campaigns">Find out more</a>
            {{!-- <a class="btn btn-link" href="/policy/sector-stats">Latest sector stats</a> --}}
          </section>
        </div>
      </div>
      <div class="column col-3 col-lg-6 col-sm-12 linked-cards">
        <div class="card card-no-padding">
          <section class="card-title">
            <h2>
              <a href="/policy/events">
                <span class="far fa-fw fa-users"></span>
                Events
              </a>
            </h2>
          </section>
          {{#with @root.data.supplimentaryResponses.events_total.hits ~}}
          <section class="card-body b-margin">
            {{#compare total ">" 0 ~}}
            We have {{inflect total "upcoming event" "upcoming events" true}}
            {{else}}
            We don't have any upcoming events
            {{/compare ~}}
          </section>
          {{#compare total ">" 0 ~}}
          <section class="card-footer">
            <a class="btn" href="/policy/events">See {{inflect total "event" "events"}}</a>
          </section>
          {{/compare ~}}
          {{/with ~}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray">
  <div class="container v-padding-full">
    <div class="columns b-padding-full">
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">Briefings</h3>

        {{#if @root.data.supplimentaryResponses.latest_briefings.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_briefings.hits.hits.[2]._source}}
        {{/if ~}}

        <a href="/policy/briefings" class="no-underline">More briefings</a>
      </div>
      <div class="column col-4 col-lg-6 col-md-12">
        <h3 class="b-padding">Consultation responses</h3>

        {{#if @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[2]._source}}
        {{/if ~}}

        <a href="/policy/consultation-responses" class="no-underline">More consultation responses</a>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 no-border">
        <h3 class="b-padding">Research</h3>

        {{#if @root.data.supplimentaryResponses.latest_research.hits.hits ~}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[0]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[1]._source}}
        {{> content_post_gist @root.data.supplimentaryResponses.latest_research.hits.hits.[2]._source}}
        {{/if ~}}

        <a href="/policy/research" class="no-underline">More research</a>
      </div>
    </div>
  </div>
</div>