{{> sections_stats}}

<div class="container">
  <div class="columns v-padding-full">
    <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="/policy/evidence-library">
              <span class="r-margin far fa-fw fa-folder-open"> </span>
              Evidence Library
            </a>
          </div>
        </section>
        <section class="card-body">
          A resource for anyone interested in learning about the voluntary sector in Scotland
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="/policy/evidence-library">Find out more</a>
        </section>
      </div>
    </div>
    <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="/policy/forum">
              <span class="r-margin far fa-fw fa-comments"> </span>
              Policy Forum
            </a>
          </div>
        </section>
        <section class="card-body">
          Advising us on policies which reflect the best interests of the voluntary sector in Scotland
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="/policy/forum">Find out more</a>
        </section>
      </div>
    </div>
    {{!-- <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="https://wiki.scvo.org" target="_blank" rel="noopener" class="no-ext">
              <span class="r-margin far fa-fw fa-file-edit"> </span>
              Policy wiki
            </a>
          </div>
        </section>
        <section class="card-body">
          Collaborate with us to develop civil society policy perspectives for Scotland.
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="https://wiki.scvo.org" target="_blank" rel="noopener">Find out more</a>
        </section>
      </div>
    </div> --}}
    <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="/policy/positive-partnerships">
              <span class="r-margin far fa-fw fa-handshake-alt"> </span>
              Positive partnerships
            </a>
          </div>
        </section>
        <section class="card-body">
          We recently asked our members and those working in charities, voluntary groups and social enterprises across Scotland to share any successful partnership projects they have with the public sector.
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="/policy/positive-partnerships">Find out more</a>
        </section>
      </div>
    </div>
    <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="/policy/intermediaries">
              <span class="r-margin far fa-fw fa-retweet"> </span>
              Intermediaries
            </a>
          </div>
        </section>
        <section class="card-body">
          Details on everything from our intermediaries network to resources and directories for those working in intermediary bodies.
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="/policy/intermediaries">Find out more</a>
        </section>
      </div>
    </div>
    <div class="column col-4 col-lg-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h4">
            <a href="https://app.powerbi.com/view?r=eyJrIjoiYzk1NTg3YmYtODU4Mi00ZjM4LWJiNjgtMjYxMjAxYmY3ZWVhIiwidCI6ImMyOTQ5NGY5LTNhY2EtNGE3MS05NWUyLWM4ODBjNWE1ZThmOSIsImMiOjh9" target="_blank" rel="noopener" class="no-ext">
              <span class="r-margin far fa-fw fa-book-heart"> </span>
              SCVO Core Grant Plan 2018-20
            </a>
          </div>
        </section>
        <section class="card-body">
          We work in a strategic partnership with the Scottish Government to support, develop and promote the voluntary sector in Scotland.
        </section>
        <section class="card-footer">
          <a class="btn btn-link" href="https://app.powerbi.com/view?r=eyJrIjoiYzk1NTg3YmYtODU4Mi00ZjM4LWJiNjgtMjYxMjAxYmY3ZWVhIiwidCI6ImMyOTQ5NGY5LTNhY2EtNGE3MS05NWUyLWM4ODBjNWE1ZThmOSIsImMiOjh9" target="_blank" rel="noopener">Find out more</a>
        </section>
      </div>
    </div>
  </div>
</div>

{{> footers_posts_blog}}