<div class="bg-white">
  <div class="container">
    <div class="columns v-padding-full">
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/coronavirus">
                <span class="r-margin far fa-fw fa-viruses">&nbsp;</span>
                Coronavirus
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We will ensure that action is taken to mitigate the impact of COVID-19 on the voluntary sector.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/coronavirus" class="mr">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/europe">
                <span class="r-margin far fa-fw fa-globe-europe">&nbsp;</span>
                Europe
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We will ensure that the consequences of Brexit for the Scottish Voluntary sector are understood and addressed.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/europe">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/economic-actor">
                <span class="r-margin far fa-fw fa-chart-pie">&nbsp;</span>
                Economic actor
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We will ensure that the Scottish Voluntary sector is recognised as a significant social and economic actor.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/economic-actor">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/employment">
                <span class="r-margin far fa-fw fa-briefcase">&nbsp;</span>
                Employment
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We will ensure that the sector is recognised as both a significant employer and a contributor to the employability landscape.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/employment">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/partnerships">
                <span class="r-margin far fa-fw fa-chart-network">&nbsp;</span>
                Partnerships
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We will ensure that the sector is recognised a strategic partner in public service planning, delivery and evaluation.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/partnerships">Read our work</a>
          </section>
        </div>
      </div>
      <div class="column col-4 col-lg-6 col-md-12 b-margin-full b-padding-full">
        <div class="card v-padding-full">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/regulation">
                <span class="r-margin far fa-fw fa-gavel">&nbsp;</span>
                Regulation
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              We work with colleagues across the voluntary sector to ensure the impacts of regulation on the sector is fully considered and understood.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/regulations">Read our work</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>