<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    <li class="breadcrumb-item"><a href="/policy/research">Research</a></li>
    <li class="breadcrumb-item">Posts</li>
  </ul>

  <h1>Research posts</h1>
</div>