{{> footers_posts_topic}}

{{#with @root.data.primaryResponse.hits.hits.[0]._source.quotation}}
  {{#ifAll author_title text}}
    <div class="container b-padding-full b-margin-full">
      <h2>
        {{{author_title}}}
      </h2>
      <p>
        {{{text}}}
      </p>
    </div>
  {{/ifAll}}
{{/with}}