<div class="container v-padding-full">
  {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
</div>

{{#compare @root.route.name "page_policy-coronavirus"}}
  {{> sections_coronavirus title="Coronavirus research" icon="house-user" description="Research in response to the COVID-19 pandemic" link="/policy/research/coronavirus"}}
{{/compare}}

<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns b-padding-full">
      {{#compare @root.data.supplimentaryResponses.latest_blog.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12">
          <h3 class="b-padding">Blog posts</h3>

          {{#each @root.data.supplimentaryResponses.latest_blog.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_blog.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/blog">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
      {{#ifAny (compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total 0) (compare @root.data.supplimentaryResponses.latest_research.hits.total 0)}}
        {{#compare @root.data.supplimentaryResponses.latest_blog.hits.total ">" 3 ~}}
          <div class="column col-4 col-lg-6 col-md-12">
            <h3 class="b-padding">&nbsp;</h3>

            {{#each @root.data.supplimentaryResponses.latest_blog.hits.hits ~}}
              {{#ifAll (compare @index ">=" 3) (compare @index "<" 6)}}
                {{> content_post_gist _source}}
              {{/ifAll}}
            {{/each ~}}
          </div>
        {{/compare}}
      {{/ifAny}}
      {{#compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12">
          <h3 class="b-padding">Briefings &amp; consultations</h3>

          {{#each @root.data.supplimentaryResponses.latest_briefings_consultations.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/briefings">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
      {{#compare @root.data.supplimentaryResponses.latest_research.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12 no-border">
          <h3 class="b-padding">Research</h3>

          {{#each @root.data.supplimentaryResponses.latest_research.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_research.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/research">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
    </div>
  </div>
</div>
