<div class="container t-padding">
  <div class="columns v-padding-full">
    {{#compare @root.route.name "page_policy-partnerships"}}
      <div class="column col-6 col-md-12">
        <div class="card">
          <section class="card-header">
            <div class="card-title h3">
              <a href="/policy/positive-partnerships">
                <span class="r-margin far fa-fw fa-handshake-alt"> </span>
                Positive partnerships
              </a>
            </div>
          </section>
          <section class="card-body">
            We recently asked our members and those working in charities, voluntary groups and social enterprises across Scotland to share any successful partnership projects they have with the public sector.
          </section>
          <section class="card-footer">
            <a href="/policy/positive-partnerships">Find out more</a>
          </section>
        </div>
      </div>
    {{/compare}}
    <div class="column col-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h3">
            <a href="/policy/get-involved">
              <span class="r-margin far fa-fw fa-info-circle"> </span>
              Get involved
            </a>
          </div>
        </section>
        <section class="card-body">
          Collaborate with us to develop voluntary sector policy perspectives for Scotland.
        </section>
        <section class="card-footer">
          <a href="/policy/get-involved">Find out more</a>
        </section>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="card">
        <section class="card-header">
          <div class="card-title h3">
            <a href="/policy/achievements">
              <span class="r-margin far fa-fw fa-award"> </span>
              Our achievements
            </a>
          </div>
        </section>
        <section class="card-body">
          Find out more about what SCVO has been doing.
        </section>
        <section class="card-footer">
          <a href="/policy/achievements">Find out more</a>
        </section>
      </div>
    </div>
  </div>
</div>

{{#with @root.data.primaryResponse.hits.hits.[0]._source.quotation}}
  {{#ifAll author_title text}}
    <div class="container b-padding-full b-margin-full">
      <h2>
        {{{author_title}}}
      </h2>
      <p>
        {{{text}}}
      </p>
    </div>
  {{/ifAll}}
{{/with}}