<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/policy">Policy &amp; research</a></li>
    <li class="breadcrumb-item">{{@root.route.metaData.title}}</li>
  </ul>

  <h1>{{@root.route.metaData.title}}</h1>
</div>