<div class="container v-padding-full">
  <div class="columns">
    <main class="body column col-xs-auto">
      {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
    </main>
    <aside class="sidebar sidebar-right column col-3 col-xl-4 col-lg-12">
      {{> sidebars_menu_topic}}
    </aside>
  </div>
</div>

{{#compare @root.route.name "page_policy-coronavirus"}}
  {{> sections_coronavirus title="Coronavirus research" icon="house-user" description="Research in response to the COVID-19 pandemic" link="/policy/research/coronavirus"}}
{{/compare}}

<div class="bg-primary">
  <div class="container t-padding-full">
    <div class="columns t-padding-full">
      <div class="column col-12 b-margin-full b-padding-full">
        <div class="card">
          <section class="card-header no-padding">
            <div class="card-title h2 b-margin-full">
              <a href="/policy/get-involved">
                {{!-- <span class="r-margin far fa-fw fa-info-circle"> </span> --}}
                Get involved
              </a>
            </div>
          </section>
          <section class="card-body no-padding">
            <p>
              Collaborate with us to develop voluntary sector policy perspectives for Scotland.
            </p>
          </section>
          <section class="card-footer no-padding">
            <a href="/policy/get-involved">Find out more</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns b-padding-full">
      {{#compare @root.data.supplimentaryResponses.latest_news.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12">
          <h3 class="b-padding">Latest news</h3>

          {{#each @root.data.supplimentaryResponses.latest_news.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_news.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/blog">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
      {{#ifAny (compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total 0) (compare @root.data.supplimentaryResponses.latest_research.hits.total 0)}}
        {{#compare @root.data.supplimentaryResponses.latest_news.hits.total ">" 3 ~}}
          <div class="column col-4 col-lg-6 col-md-12">
            <h3 class="b-padding">&nbsp;</h3>

            {{#each @root.data.supplimentaryResponses.latest_news.hits.hits ~}}
              {{#ifAll (compare @index ">=" 3) (compare @index "<" 6)}}
                {{> content_post_gist _source}}
              {{/ifAll}}
            {{/each ~}}
          </div>
        {{/compare}}
      {{/ifAny}}
      {{#compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12">
          <h3 class="b-padding">Briefings &amp; consultations</h3>

          {{#each @root.data.supplimentaryResponses.latest_briefings_consultations.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_briefings_consultations.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/briefings">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
      {{#compare @root.data.supplimentaryResponses.latest_research.hits.total ">" 0 ~}}
        <div class="column col-4 col-lg-6 col-md-12 no-border">
          <h3 class="b-padding">Research</h3>

          {{#each @root.data.supplimentaryResponses.latest_research.hits.hits ~}}
            {{#compare @index "<" 3}}
              {{> content_post_gist _source}}
            {{/compare}}
          {{/each ~}}

          {{#compare @root.data.supplimentaryResponses.latest_research.hits.total ">" 3 ~}}
            <div class="card-footer">
              <a href="{{@root.request.url.pathname}}/research">See more</a>
            </div>
          {{/compare}}
        </div>
      {{/compare}}
    </div>
  </div>
</div>
