<div class="container b-margin-full b-padding-full">
  <h2>
    Thank you for your interest in the Community & Third Sector Recovery Programme
  </h2>
  <h3>
    Your organisation has already been offered a grant
  </h3>
  <p>
    If you think that you haven't submitted a successful application please use the <a href="/support/coronavirus/funding/scottish-government/community-recovery/helpdesk">helpdesk</a> or email <a href="mailto:grantsupport@scvo.scot">grantsupport@scvo.scot</a> with your details.
  </p>
</div>