<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you for completing your Community capacity & resilience fund 2021 online application form.
  </p>
  <p>
    We will be assessing applications from mid August and will be back in contact with you in early September.
  </p>
</div>