<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=88d2338a3b7d98705a2271fea6a51efa46fffee6" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=88d2338a3b7d98705a2271fea6a51efa46fffee6"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=88d2338a3b7d98705a2271fea6a51efa46fffee6"></script>

<div class="form-horizontal form b-margin-full b-padding-full">
  <div class="wFormContainer">
    <div class="wFormHeader"></div>
    <div class="wForm" id="4850786-WRPR" dir="ltr">
      <div class="codesection" id="code-4850786"></div>
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsTooltip labelsAbove" id="4850786" role="form" enctype="multipart/form-data">
        <div id="tfa_1883" class="section">
          <h3 id="tfa_1883-L">Organisation details</h3>
          <div class="form-group oneField field-container-D" id="tfa_1941-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1941-L" class="form-label preField " for="tfa_1941">Scottish Charity Number</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <div class="has-icon-right">
                <input type="text" id="tfa_1941" name="tfa_1941" value="" maxlength="8" style="text-transform: uppercase;" autocomplete="nope" data-lpignore="true" title="Scottish Charity Number" class="form-input">
                <i id="charity_number_validation" class="form-icon far fa-times text-error"></i>
              </div>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2324-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2324-L" class="form-label preField " for="tfa_2324">Company number</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2324" name="tfa_2324" value=""  maxlength="12" style="text-transform: uppercase;" autocomplete="nope" data-lpignore="true" title="Company number" class="form-input">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1876-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1876-L" class="form-label preField reqMark" for="tfa_1876">Organisation name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1876" name="tfa_1876" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="Organisation name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2733-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2733-L" class="form-label preField reqMark" for="tfa_2733">Street</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2733" name="tfa_2733" value="" maxlength="250" aria-required="true" autocomplete="nope" data-lpignore="true" title="Street" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2735-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2735-L" class="form-label preField reqMark" for="tfa_2735">Area / town</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2735" name="tfa_2735" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="Area / Town" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2737-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2737-L" class="form-label preField reqMark" for="tfa_2737">Postcode</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2737" name="tfa_2737" value="" maxlength="20" aria-required="true" autocomplete="nope" data-lpignore="true" title="Postal code" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D   hintsTooltip " id="tfa_2398-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2398-L" class="form-label preField reqMark" for="tfa_2398">Area of work</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2398" name="tfa_2398" title="Area of work" aria-required="true" aria-describedby="tfa_2398-HH" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2749" id="tfa_2749" class="">Advice/Advocacy </option>
                <option value="tfa_2750" id="tfa_2750" class="">Community/third sector development &amp; support </option>
                <option value="tfa_2752" id="tfa_2752" class="">Childcare </option>
                <option value="tfa_2753" id="tfa_2753" class="">Construction and the Built environment </option>
                <option value="tfa_2754" id="tfa_2754" class="">Creative and Media </option>
                <option value="tfa_2755" id="tfa_2755" class="">Distribution and Warehouse </option>
                <option value="tfa_2756" id="tfa_2756" class="">Education, training (provision &amp; development) </option>
                <option value="tfa_2757" id="tfa_2757" class="">Energy and Utilities </option>
                <option value="tfa_2758" id="tfa_2758" class="">Finance </option>
                <option value="tfa_2759" id="tfa_2759" class="">Hair and Beauty </option>
                <option value="tfa_2760" id="tfa_2760" class="">Health and Social Care </option>
                <option value="tfa_2761" id="tfa_2761" class="">Hospitality and Catering </option>
                <option value="tfa_2762" id="tfa_2762" class="">Housing </option>
                <option value="tfa_2763" id="tfa_2763" class="">Information Communication Technology (ICT) </option>
                <option value="tfa_2764" id="tfa_2764" class="">Landbased, Animal Welfare and Environment </option>
                <option value="tfa_2765" id="tfa_2765" class="">Law and Politics </option>
                <option value="tfa_2766" id="tfa_2766" class="">Low carbon/Green </option>
                <option value="tfa_2767" id="tfa_2767" class="">Retail </option>
                <option value="tfa_2768" id="tfa_2768" class="">Sports and Leisure </option>
                <option value="tfa_2769" id="tfa_2769" class="">Travel and Tourism </option>
                <option value="tfa_2770" id="tfa_2770" class="">Youthwork </option>
                <option value="tfa_2771" id="tfa_2771" data-conditionals="#tfa_2773-D" class="">Other </option>
              </select>
              <p id="tfa_2398-HH" class="form-input-hint text-secondary">Please select the area that best describes your organisation’s primary area of work </p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2773-D" data-condition="`#tfa_2771`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <textarea rows="5" id="tfa_2773" name="tfa_2773" title="Area of work other" class="form-input"></textarea>
            </div>
          </div>
          <div class="form-group" id="tfa_2820-D" role="group" aria-labelledby="tfa_2820-L" data-tfa-labelledby="tfa_2820-L">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">&nbsp;</div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <label class="form-checkbox" id="tfa_2820-L" for="tfa_2820">
                <input type="checkbox" value="tfa_2820" id="tfa_2820" name="tfa_2820" aria-labelledby="tfa_2820-L" data-tfa-labelledby="tfa_2820-L">
                <i class="form-icon"></i>
                Associated with SPFL Trust/Scottish FA/SFP
              </label>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2681-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2681-L" class="form-label preField reqMark" for="tfa_2681">Status of organisation</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2681" name="tfa_2681" title="Status of organisation" aria-required="true" aria-describedby="tfa_2681-HH" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2744" id="tfa_2744" class="">Large&gt;250</option>
                <option value="tfa_2777" id="tfa_2777" class="">Medium&lt; 250 £41 Million</option>
                <option value="tfa_2776" id="tfa_2776" class="">Small&lt; 50 £8.2 Million</option>
                <option value="tfa_2747" id="tfa_2747" class="">Micro&lt; 10 £1.7 Million</option>
              </select>
              <p id="tfa_2681-HH" class="form-input-hint text-secondary">We have used the European Commission definition of an SME for guidance referring to staffing numbers and annual turnover.  Do not include volunteers or trainees in your organisation head count. </p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2691-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2691-L" class="form-label preField reqMark" for="tfa_2691">Organisation category</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2691" name="tfa_2691" title="Organisation category" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2692" id="tfa_2692" class="">Charitable Trust</option>
                <option value="tfa_2693" id="tfa_2693" class="">Charity</option>
                <option value="tfa_2694" id="tfa_2694" class="">Community Interest Company (CIC)</option>
                <option value="tfa_2695" id="tfa_2695" class="">Community Organisation</option>
                <option value="tfa_2696" id="tfa_2696" class="">Credit Union</option>
                <option value="tfa_2697" id="tfa_2697" class="">Development Trust</option>
                <option value="tfa_2698" id="tfa_2698" class="">Housing Association</option>
                <option value="tfa_2699" id="tfa_2699" class="">Mutual</option>
                <option value="tfa_2700" id="tfa_2700" class="">SCIO</option>
                <option value="tfa_2701" id="tfa_2701" class="">Social Enterprise</option>
                <option value="tfa_2702" id="tfa_2702" class="">Voluntary Organisation</option>
                <option value="tfa_2703" id="tfa_2703" data-conditionals="#tfa_2748-D" class="">Other</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2748-D" data-condition="`#tfa_2703`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2748" name="tfa_2748" title="Organisation Category Other" autocomplete="nope" data-lpignore="true" class="form-input">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2717-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2717-L" class="form-label preField reqMark" for="tfa_2717">Organisation registered with HMRC</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2717" name="tfa_2717" title="Organisation registered with HMRC" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2718" id="tfa_2718" class="">Yes</option>
                <option value="tfa_2719" id="tfa_2719" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1925-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1925-L" class="form-label preField reqMark" for="tfa_1925">PAYE reference number</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1925" name="tfa_1925" value="" maxlength="50" aria-required="true" autocomplete="nope" data-lpignore="true" title="PAYE reference number" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2721-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2721-L" class="form-label preField reqMark" for="tfa_2721">Equivalent full time paid staff</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="number" id="tfa_2721" name="tfa_2721" value="" maxlength="12" aria-required="true" autocomplete="nope" data-lpignore="true" title="Equivalent full time paid staff" class="form-input validate-integer required" required>
            </div>
          </div>
          <div class="htmlSection" id="tfa_2778"><div class="htmlContent" id="tfa_2778-HTML"><h4>Does your Organisation have the following written policies and procedures?</h4></div></div>
          <div class="form-group oneField field-container-D" id="tfa_2782-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2782-L" class="form-label preField reqMark" for="tfa_2782">Health &amp; Safety Policy</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2782" name="tfa_2782" title="Health &amp; Safety Policy " aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2783" id="tfa_2783" data-conditionals="#tfa_2786-D" class="">Yes</option>
                <option value="tfa_2784" id="tfa_2784" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2786-D" data-condition="`#tfa_2783`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2786-L" class="form-label preField " for="tfa_2786">Health &amp; Safety Policy last review date</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2786" name="tfa_2786" value="" maxlength="12" autocomplete="nope" data-lpignore="true" title=" Health &amp; Safety Policy last review date" class="form-input validate-datecal">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2790-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2790-L" class="form-label preField reqMark" for="tfa_2790">Equal Ops Policy</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2790" name="tfa_2790" title="Equal Ops Policy " aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2791" id="tfa_2791" data-conditionals="#tfa_2794-D" class="">Yes</option>
                <option value="tfa_2792" id="tfa_2792" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2794-D" data-condition="`#tfa_2791`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2794-L" class="form-label preField " for="tfa_2794">Equal Ops Policy last review date&nbsp;</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2794" name="tfa_2794" value="" autocomplete="off" maxlength="12" autocomplete="nope" data-lpignore="true" title="Equal Ops Policy last review date " class="form-input validate-datecal">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2798-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2798-L" class="form-label preField reqMark" for="tfa_2798">Disciplinary Policy</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2798" name="tfa_2798" title="Disciplinary Policy" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2799" id="tfa_2799" data-conditionals="#tfa_2802-D" class="">Yes</option>
                <option value="tfa_2800" id="tfa_2800" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2802-D" data-condition="`#tfa_2799`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2802-L" class="form-label preField " for="tfa_2802">Disciplinary Policy last review date&nbsp;</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2802" name="tfa_2802" value="" autocomplete="off" maxlength="12" autocomplete="nope" data-lpignore="true" title="Disciplinary Policy last review date " class="form-input validate-datecal">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2806-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2806-L" class="form-label preField reqMark" for="tfa_2806">Dismissal Procedures</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2806" name="tfa_2806" title="Dismissal Procedures" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2807" id="tfa_2807" data-conditionals="#tfa_2810-D" class="">Yes</option>
                <option value="tfa_2808" id="tfa_2808" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2810-D" data-condition="`#tfa_2807`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2810-L" class="form-label preField " for="tfa_2810">Dismissal Procedures last review date&nbsp;</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2810" name="tfa_2810" value="" autocomplete="off" maxlength="12" autocomplete="nope" data-lpignore="true" title="Dismissal Procedures last review date " class="form-input validate-datecal">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2814-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2814-L" class="form-label preField reqMark" for="tfa_2814">Absence/Sickness/Policy</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2814" name="tfa_2814" title="Absence/Sickness/Policy" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2815" id="tfa_2815" data-conditionals="#tfa_2818-D" class="">Yes</option>
                <option value="tfa_2816" id="tfa_2816" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2818-D" data-condition="`#tfa_2815`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2818-L" class="form-label preField " for="tfa_2818">Absence/Sickness/Policy last review date&nbsp;</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2818" name="tfa_2818" value="" autocomplete="off" maxlength="12" autocomplete="nope" data-lpignore="true" title="Absence/Sickness/Policy last review date " class="form-input validate-datecal">
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2824-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2824-L" class="form-label preField reqMark" for="tfa_2824">Data Protection Policy</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2824" name="tfa_2824" title="Data Protection Policy" aria-required="true" class="form-select required" required>
                <option value="" selected disabled>Please select&hellip;</option>
                <option value="tfa_2825" id="tfa_2825" class="" data-conditionals="#tfa_2827-D">Yes</option>
                <option value="tfa_2826" id="tfa_2826" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2827-D" data-condition="`#tfa_2825`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2827-L" class="form-label preField " for="tfa_2827">Data Protection Policy last review date</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_2827" name="tfa_2827" value="" title="Data Protection Policy Last Review Date" autocomplete="nope" data-lpignore="true" class="form-input validate-datecal">
            </div>
          </div>
        </div>
        <div id="tfa_1880" class="section">
          <h3 id="tfa_1880-L">Contact information</h3>
          <div class="htmlSection" id="tfa_2327"><div class="htmlContent" id="tfa_2327-HTML"><h4>Main contact</h4></div></div>
          <div class="form-group oneField field-container-D" id="tfa_1-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">First name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1" name="tfa_1" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="First name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1875-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1875-L" class="form-label preField reqMark" for="tfa_1875">Last name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1875" name="tfa_1875" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="Last name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1958-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1958-L" class="form-label preField reqMark" for="tfa_1958">Job title</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1958" name="tfa_1958" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="Job title" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1932-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1932-L" class="form-label preField reqMark" for="tfa_1932">Email address</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="email" id="tfa_1932" name="tfa_1932" value="" maxlength="250" aria-required="true" autocomplete="nope" data-lpignore="true" title="Email address" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_1949-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_1949-L" class="form-label preField reqMark" for="tfa_1949">Contact phone number</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="text" id="tfa_1949" name="tfa_1949" value="" maxlength="150" aria-required="true" autocomplete="nope" data-lpignore="true" title="Contact phone number" class="form-input required" required>
            </div>
          </div>
        </div>
        <div id="tfa_2567" class="section">
          <h3 id="tfa_2567-L">Job support information</h3>
          <div class="form-group oneField field-container-D" id="tfa_2632-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2632-L" class="form-label preField reqMark" for="tfa_2632">Involved in other Kickstart applications</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2632" name="tfa_2632" title="Involved in other Kickstart applications" aria-required="true" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2722" id="tfa_2722" data-conditionals="#tfa_2608-D" class="">Yes</option>
                <option value="tfa_2723" id="tfa_2723" class="">No</option>
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2608-D" data-condition="`#tfa_2722`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2608-L" class="form-label preField reqMark" for="tfa_2608">Application involved with</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <textarea rows="10%" aria-required="true" aria-describedby="tfa_2608-HH" maxlength="255" id="tfa_2608" name="tfa_2608" title="Application involved with" class="form-input required" required></textarea>
              <p id="tfa_2608-HH" class="form-input-hint text-secondary">Tell us who is forwarding the Kickstart application, number and types of jobs you are requesting with that employer/representative</p>
            </div>
          </div>
          <div class="htmlSection col-9 col-xl-12" id="tfa_2774">
            <h4>How will you support a young person to progress toward sustained employment through your Kickstart job(s)?</h4>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2610-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2610-L" class="form-label preField reqMark" for="tfa_2610">Can you support a young person to develop their basic work skills?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2610" name="tfa_2610" title="Can you support a young person to develop their basic work skills? " aria-required="true" aria-describedby="tfa_2610-HH" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2724" id="tfa_2724" data-conditionals="#tfa_2611-D" class="">Yes</option>
                <option value="tfa_2725" id="tfa_2725" class="">No</option>
              </select>
              <p id="tfa_2610-HH" class="form-input-hint text-secondary">Basic work skills includes and is not limited to; timekeeping, attendance, communication, problem solving etc.</p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2611-D" data-condition="`#tfa_2724`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2611-L" class="form-label preField " for="tfa_2611">How will this be achieved?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <textarea rows="10%" maxlength="2000" id="tfa_2611" name="tfa_2611" title="How will this be achieved?" class="form-input"></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2612-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2612-L" class="form-label preField reqMark" for="tfa_2612">Can you provide Jobsearch training/support for a young person?&nbsp;</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2612" name="tfa_2612" title="Can you provide Jobsearch training/support for a young person? " aria-required="true" aria-describedby="tfa_2612-HH" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2726" id="tfa_2726" data-conditionals="#tfa_2613-D" class="">Yes</option>
                <option value="tfa_2727" id="tfa_2727" class="">No</option>
              </select>
              <p id="tfa_2612-HH" class="form-input-hint text-secondary">This includes and is not limited to; CV preparation, producing supporting letters, interview skills/techniques, mock interviews etc</p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2613-D" data-condition="`#tfa_2726`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2613-L" class="form-label preField " for="tfa_2613">What will you provide for each young person?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <textarea rows="10%" maxlength="2000" id="tfa_2613" name="tfa_2613" title="What will you provide for each young person?" class="form-input"></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2631-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2631-L" class="form-label preField reqMark" for="tfa_2631">Support to look for Jobs</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <select id="tfa_2631" name="tfa_2631" title="Support to look for Jobs  " aria-required="true" aria-describedby="tfa_2631-HH" class="form-select required" required>
                <option value="" disabled selected>Please select&hellip;</option>
                <option value="tfa_2730" id="tfa_2730" data-conditionals="#tfa_2729-D" class="">Yes</option>
                <option value="tfa_2731" id="tfa_2731" class="">No</option>
              </select>
              <p id="tfa_2631-HH" class="form-input-hint text-secondary">This includes and is not limited to; goal setting, career advice, viewing and identifying suitable jobs etc. </p>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2729-D" data-condition="`#tfa_2730`">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2729-L" class="form-label preField " for="tfa_2729">What Support will you provide for each young person?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <textarea rows="10%" maxlength="2000" id="tfa_2729" name="tfa_2729" title="What Support will you provide for each young person?" class="form-input"></textarea>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2741-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2741-L" class="form-label preField reqMark" for="tfa_2741">Employers Liability Insurance</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="file" id="tfa_2741" name="tfa_2741" size="" title="Employers Liability Insurance" autocomplete="nope" data-lpignore="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_2743-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 r-margin">
              <label id="tfa_2743-L" class="form-label preField reqMark" for="tfa_2743">Contract of employment</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12 r-margin">
              <input type="file" id="tfa_2743" name="tfa_2743" size="" title="Contract of employment" autocomplete="nope" data-lpignore="true" class="form-input required" required>
            </div>
          </div>
        </div>

        <div class="actions columns" id="4850786-A">
          <div class="col-9 col-xl-12 align-centre v-margin-full">
            <input type="submit" data-label="Submit" class="primaryAction btn btn-primary btn-lg h-margin b-margin-full" id="submit_button" value="Submit">
          </div>
        </div>
      </div>

      <div style="clear:both;"></div>
      <input type="hidden" value="4850786" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="a9267ec2c5d4477897374dacb6b5d9d4" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="69" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  $charityNumber = $('#tfa_1941');
  var valid = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 67, 83, 99, 115, 37, 39, 111, 79, 46, 35, 36];
  $charityNumber
  .on('keydown', function(evt) {
    if (evt.ctrlKey) {
      return;
    }

    if (valid.indexOf(evt.which) === -1 && evt.which > 31) {
      evt.preventDefault();
    }
  })
  .on('keyup', checkCN)
  .on('change', checkCN)
  .on('paste', function(evt) {
    setTimeout(function() {
      checkCN(evt);
    }, 0);
  })
  .select();

  function checkCN(evt) {
    var matches = evt.target.value.replace(/[^sco0-9]/img, '');
    var charityNumber = evt.target.value = (matches || '').toUpperCase().replace(/o/ig, '0');

    if (evt.ctrlKey || charityNumber.match(/SC[0-9]{6}/)) {
      $('#charity_number_validation').addClass('text-success fa-check').removeClass('text-error fa-times');
    } else {
      $('#charity_number_validation').removeClass('text-success fa-check').addClass('text-error fa-times');
    }
  }
});

function validate_filesize(file) {
  var filesize = file.files[0].size / 1024 / 1024; // in MB
  if (filesize >= 5) {
    alert('Uploaded filesize exceeds 5Mb - please choose a smaller file');
    $(file).val('');
  }
}
</script>