<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support/digital">Digital</a></li>
    <li class="breadcrumb-item"><a href="/support/digital/events">Events</a></li>
    <li class="breadcrumb-item">{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</li>
  </ul>

  <h1>Digital events</h1>
</div>