<div class="b-margin-full b-padding-full">
  <h2>
    Sorry - your organisation has already completed an application
  </h2>
  <p>
    We are only accepting one succesful application per organisation of the Wellbeing Fund.
  </p>
  <p>
    If you think you haven’t submitted a successful application, contact <a href="mailto:wellbeingfund@scvo.org.uk">wellbeingfund@scvo.org.uk</a>
  </p>
</div>