<h2>
  Sorry – you cannot access the Wellbeing Fund application form
</h2>
<p>
  We are only accepting applications from organisations who completed an Expression of Interest.
</p>
<p>
  The only way to access the application form is by clicking on the link in the email you received inviting you to apply.
</p>
<p>
  If you did not receive this email, contact <a href="mailto:wellbeingfund@scvo.org.uk">wellbeingfund@scvo.org.uk</a>
</p>