<div class="form-horizontal form b-margin-full b-padding-full">
  {{#if @root.request.params.charity_number}}
    <div class="bg-error x-padding v-margin-full">
      Invalid charity number
    </div>
  {{/if}}
  <div class="columns">
    <div class="column col-sm-12 col-xs-12">
      <div class="form-group">
        <label for="charity_number" class="form-label">Scottish Charity Number</label>
        <input name="charity_number" id="charity_number" class="form-input" autocomplete="nope" data-lpignore="true" maxlength="8" style="text-transform: uppercase;" value="{{@root.request.params.charity_number}}" autofocus="true">
        <p class="form-input-hint text-secondary">Please enter your full Scottish Charity Number beginning with 'SC' then six digits</p>
      </div>
      <a href="" id="charity_number_submit" class="btn btn-primary btn-block" disabled>
        Start applying as a charity
      </a>
    </div>
    <div class="divider-vert hide-sm" data-content="OR"></div>
    <div class="divider text-center show-sm col-12" data-content="OR"></div>
    <div class="column col-sm-12 col-xs-12">
      <p>
        If you are not a registered charity you can still apply. Click the link below to continue.
      </p>
      <a href="/support/coronavirus/funding/for-organisations/wellbeing-fund/apply/not-a-charity" class="btn btn-block">
        Not a registered charity
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var valid = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 67, 83, 99, 115, 37, 39, 111, 79, 46, 35, 36];

    $('#charity_number')
      .on('keydown', function(evt) {
        if (valid.indexOf(evt.which) === -1 && evt.which > 31) {
          evt.preventDefault();
        }
      })
      .on('keyup', function(evt) {
        var charityNumber = evt.target.value = evt.target.value.toUpperCase().replace(/o/ig, '0');
        if (charityNumber.match(/SC[0-9]{6}/)) {
          var url = '/support/coronavirus/funding/for-organisations/wellbeing-fund/apply/' + charityNumber;
          $('#charity_number_submit')
            .removeAttr('disabled', false)
            .attr('href', url);
          if (evt.which === 13) {
            window.location.href = url;
          }
        } else {
          $('#charity_number_submit')
            .attr('disabled', true)
            .attr('href', '');
        }
      })
      .select();
  })
</script>