{{!-- <div class="bg-error">
  <div class="container v-padding-full t-margin-full text-white">
    This application form is currently in development and all responses will be deleted before the fund opens on Monday 20th April
  </div>
</div> --}}

<div class="container">
  <ul class="breadcrumb breadcrumb-length-4" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus">Coronavirus Third Sector Information Hub</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding">Funding</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government">Funds: Scottish Government</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government/wellbeing-fund">Wellbeing Fund</a></li>
    <li class="breadcrumb-item">{{#ifAny @root.request.params.charity_number @root.request.body.funder}}Apply{{else}}Eligibility checker{{/ifAny}}</li>
  </ul>
</div>
<div class="container">
  <h1 class="font-default">{{#ifAny @root.request.params.charity_number @root.request.body.funder}}Apply{{else}}Eligibility checker{{/ifAny}}</h1>
</div>