<div class="b-margin-full b-padding-full">
  <h2>
    Thank you!
  </h2>
  <h3>
    Your application has been submitted
  </h3>
  <p>
    We aim to assess all applications within 10 days and make a decision as soon as possible. In some circumstances we may call you to ask for clarification on aspects of the form.
  </p>
  <p>
    The Fund will operate in a place-based way, with local intelligence from Third Sector Interfaces forming part of the assessment of applications.
  </p>
  <p>
    You will receive an email advising you of the decision. Should your application be successful, payments will be made direct to the bank account given in the application form.
  </p>
</div>