<div class="b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the Wellbeing Fund application form
  </h2>
  <p>
    Applications for the current round of the Wellbeing Fund are now closed. Assessment of those applications is now in progress as the application form closed at noon on May 22nd.
  </p>
</div>
