<div class="b-margin-full b-padding-full">
  <h2>
    Sorry – you cannot access the Wellbeing Fund application form
  </h2>
  <p>
    Expressions of interest for the current round of the Wellbeing Fund are now closed.  Assessment of those applications is now in progress and the application form is only available to those organisations that completed an expression of interest by midnight on April 19th.
  </p>
  <p>
    If you have received an email inviting you to progress your application then you need to click the link in that email to take you through to your application form.
  </p>
  <p>
    If you believe you should have received an email to progress your application please contact us at <a href="mailto:wellbeingfund@scvo.org.uk">wellbeingfund@scvo.org.uk</a> telling us the name of the organisation that you registered your interest with and the date that you registered.
  </p>
</div>