<div class="splash-image splash-image-scvo-cms-page" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-assets/test/scvo/images/home/charityawards-bg.jpg');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
            <img src="https://storage.googleapis.com/scvo-cms/scvo-wordpress-media/2019/02/J017-SCA2019-LOGO-NO-DATE-e1549871829679.png" alt="Scottish Charity Awards 2019 Voting" class="header-text">
          </div>
          {{#if title ~}}
          <div class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone" style="display:flex;align-items:center;">
            <h1 class="header-text">
              <span class="header-text-banner">
                {{{title}}}
              </span>
            </h1>
          </div>
          {{/if ~}}
        </div>
      </div>
    </div>
  </div>
</div>