<div class="splash-image splash-image-page" style="background-image: url('https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2019-header.jpg');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container-fluid">
      <div class="mdc-layout-grid">
        <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/headers/gathering-2020-logo.svg" alt="The Gathering" class="header-text">
        <div class="mdc-typography--body2">
          19th &amp; 20th February / SEC, Glasgow<br />
          <a href="https://twitter.com/scvotweet" target="_blank">@scvotweet</a> / <a href="https://twitter.com/hashtag/scvogathering" target="_blank">#scvogathering</a>
        </div>
      </div>
    </div>
  </div>
</div>