<div class="container b-margin-full b-padding-full">
  <h2>
    Your application has been submitted
  </h2>
  <p>
    Thank you, your information has been submitted.  You will receive an email acknowledgement from us to tell you we have received your form.  If you don't receive that within three days please check your junk email.   We will review your form and may be in touch for more information or clarification, however, this isn't always the case.   We aim to assess all applications and communicate the outcome the week commencing 3 May 2021.
  </p>
</div>