$primary-color: #FF595A;
$primary-color-var: FF595A;
$primary-color-light: #ffd6d6;
$primary-color-dark: #C5143D;
$secondary-color: #244B5A;
$secondary-color-var: 244B5A;
$secondary-color-light: lighten($secondary-color, 10%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$secondary-color-dark-var: 152d36;
$dark-color: #203139;
$gray-color: #D5D8DC;
$gray-color-light: lighten($gray-color, 10%) !default;
$gray-color-dark: #9BA5AD;
$light-color: #FEF9F9;
$light-color-var: FEF9F9;
$success-color: #3BAA34;
$warning-color: #F05B23;
$error-color: #f03823;

$gathering-color: #8C1C5D;
$gathering-color-light: #EAE0E8;
$gathering-color-alt: #ECCBCD;
$gathering-color-light-var: FAF5F8;
$awards-color-light-var: F9F4F5;

$goodmoves-color: rgb(68, 133, 50);
$tfn-color: #3b9db1;

$yellow-color: #FFDB00;
$green-color: #BBFDBC;
$blue-color: #45CCE4;
$purple-color: #CCBFDF;
$pink-color: #FEB3B4;

$unit: 1rem;
$padding: 1.2rem;
$thick-line: 5px;
$thin-line: 0.05rem;
$border-radius: 6px;
$heading-font-family: 'Asap';
$heading-font-weight: 800;
$heading-link-weight: 600;
$body-font-family: 'Ingra';
$body-font-weight: 400;
$body-link-weight: 600;
$page-width: 1400px;
$home-splash-height: 25vh;
$transition-speed: .3s;

@import "../node_modules/spectre.css/src/spectre";
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

::-moz-selection {
  color: #fff;
  background: $primary-color-dark;
}
::selection {
  color: #fff;
  background: $primary-color-dark;
}

.container {
  padding: 0 $padding*2;
  margin: 0 auto;
  max-width: $page-width;
  .container {
    padding: 0;
  }
  .page {
    margin-left: -2rem;
    margin-right: -2rem;
    .container {
      padding: 0 $unit*2;
    }
  }
}
.columns {
  margin-left: -($padding);
  margin-right: -($padding);
  .column {
    padding-left: $padding;
    padding-right: $padding;
  }
}
.has-2-columns {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($padding);
  margin-right: -($padding);
  .wp-block-column {
    width: 50%;
    padding-left: $padding;
    padding-right: $padding;
    iframe {
      margin-top: $padding;
      width: 100%;
    }
  }
}

footer,
body {
  background-color: $secondary-color;
}
.icon-rouleaux,
.bg-rouleaux {
  background-image:url('https://scvo.scot/rouleaux.svg?color=#{$light-color-var}&style=solid');
  background-size: $page-width;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
body.the-gathering-2020 {
  .bg-rouleaux {
    background-image:url('https://scvo.scot/rouleaux.svg?color=#{$gathering-color-light-var}&style=solid');
  }
  .splash-image-header {
    background-size: cover;
    background-position: center;
    .header-logo {
      height: calc(30vh - 94px);
      min-height: 140px;
      margin: 0 auto;
      display: block;
      padding: $unit 0;
    }
    .header-text {
      color: #933062;
      padding-bottom: $unit;
      margin: 0 auto;
      display: block;
      text-align: center;
      font-size: 1.1rem;
    }
  }
  header.toolbar {
    border-bottom-color: $gathering-color;
    .btn.active,
    .btn.active:hover {
      background-color: $gathering-color;
      border-color: $gathering-color;
    }
  }
  .sidebar-not-present {
    background: white;
    a:link,
    a:visited {
      color: $gathering-color;
    }
    .btn.btn-primary {
      color: white !important;
      background-color: $gathering-color;
      border-color: $gathering-color;
    }
  }
}
.scottish-charity-awards {
  .bg-rouleaux {
    background-image:url('https://scvo.scot/rouleaux.svg?color=#{$awards-color-light-var}&style=solid');
  }
  .splash-image-header {
    height: auto;
    background-size: cover;
    background-position: center;
    .header-logo {
      width: 80%;
      margin: 0 auto;
      display: block;
      padding: $unit 0;
    }
    .header-text {
      color: #ffffff;
      padding-bottom: $unit;
      margin: 0 auto;
      display: block;
      text-align: center;
      font-size: 1.1rem;
      a {
        color: white;
        border-bottom-color: white;
      }
    }
  }
}
.icon-rouleaux {
  background-size: contain;
  height: $unit*5;
  .icon {
    line-height: $unit*5;
    margin-left: $unit*.45;
  }
}

.page {
  background-color: white;
  padding-top: $unit;
  .full {
    img {
      max-width: 100%;
    }
  }
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font-size: 22px;
}

body,
input,
select,
textarea {
  font-family: $body-font-family, sans-serif;
  box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $heading-link-weight;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  .caption {
    font-size: 70%;
  }
}
h1 {
  font-size: 2.3rem;
  margin: $unit/2 0 $unit;
  font-weight: $heading-font-weight;
  a {
    font-weight: $heading-font-weight;
    border-bottom: none;
  }
  .caption {
    font-size: 1.2rem;
  }
}
.card-title.h2,
h2 {
  font-size: 1.55rem;
  font-weight: $heading-font-weight;
  letter-spacing: -0.08rem;
  a {
    font-weight: $heading-font-weight;
    border-bottom: none;
  }
  .caption {
    font-size: 1rem;
  }
}
.card-title.h3,
h3 {
  font-size: 1.35rem;
  font-weight: $heading-font-weight;
  letter-spacing: -0.05rem;
  a {
    font-weight: $heading-font-weight;
    border-bottom: none;
  }
  .caption {
    font-size: 1rem;
  }
}
.staff-list h3 {
  margin: $unit 0 0;
}
.card-title.h4,
h4 {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: $heading-font-weight;
  a {
    font-weight: $heading-font-weight;
    border-bottom: none;
  }
}
.caption {
  font-size: 90%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  padding-top: $unit;
  margin-bottom: $unit/2;
  a {
    font-weight: $heading-link-weight;
  }
}
h1,
.h1,
.btn.btn-lg,
.splash-image-header .header-text {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-feature-settings: "ss01" on;
  letter-spacing: -0.08rem;
}
h1.font-default,
.h1.font-default,
.btn.btn-lg.font-default,
.splash-image-header .header-text.font-default {
  font-feature-settings: "ss01" off;
}
.splash-image-header .header-text {
  letter-spacing: -0.04rem;
}
.btn.btn-lg {
  font-size: 1.1rem;
  letter-spacing: -0.02rem;
  line-height: 1.1rem !important;
  transition-timing-function: ease-in-out;
}
.btn.btn-lg:hover,
.btn.btn-primary.btn-lg:hover {
  color: white;
  background-color: $secondary-color-light;
  border-color: $secondary-color-light;
}

.card .card-title {
  a {
    display: block;
  }
  a.caption {
    display: inline;
  }
  .fa-fw {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    background-image: url('https://scvo.scot/rouleaux.svg?color=#{$secondary-color-var}&opacity=1&style=solid');
    float: right;
    margin-top: -0.6rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    padding-left: .5rem;
    padding-right: .1rem;
    margin-right: 0;
    color: #ffffff;
    transition: background-image $transition-speed;
  }
}
.card .card-title a:hover {
  .fa-fw {
    background-image: url('https://scvo.scot/rouleaux.svg?color=#{$primary-color-var}&opacity=1&style=solid');
  }
}

.search-info {
  margin: $unit 0;
  background: $gray-color-light;
  color: $secondary-color-dark;
  padding: $unit/3 $unit/2;
  box-sizing: border-box;
  .rss {
    color: #f26522;
    font-size: 145%;
    line-height: 1;
  }
  .rss:hover {
    color: #bb440b;
    border-bottom-color: transparent;
  }
}

body,
div,
li,
td,
th,
p {
  color: $secondary-color;
}
ul,
ol,
p {
  margin: 0 0 $unit/2;
}

a,
.btn,
.chip {
  font-weight: $body-link-weight;
}

.breadcrumb .breadcrumb-item {
  color: $secondary-color;
  font-weight: $body-font-weight;
  a {
    color: $primary-color !important;
    font-weight: $body-font-weight;
  }
}
.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: $primary-color;
  font-family: 'Font Awesome\ 5 Pro';
  content: "\f105";
  font-weight: 400;
}
.divider {
  border-top-color: $primary-color;
}
.divider-vert::before {
  border-left-color: $primary-color;
}
.divider-vert[data-content]::after {
  font-weight: $heading-link-weight;
  color: $secondary-color;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: $body-link-weight;
  color: $secondary-color;
  background: linear-gradient(to bottom, $primary-color-light 0%, $primary-color-light 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: $thick-line $thick-line;
  transition: background-size $transition-speed, color $transition-speed, border $transition-speed, background-color $transition-speed;
  transition-timing-function: ease-in-out;
}
h1 a:link,
h1 a:visited,
.h1 a:link,
.h1 a:visited,
h2 a:link,
h2 a:visited,
.h2 a:link,
.h2 a:visited,
h3 a:link,
h3 a:visited,
.h3 a:link,
.h3 a:visited,
h4 a:link,
h4 a:visited,
.h4 a:link,
.h4 a:visited,
h5 a:link,
h5 a:visited,
.h5 a:link,
.h5 a:visited,
.post-info a:link,
.post-info a:visited,
.related-posts a:link,
.related-posts a:visited,
footer a:link,
footer a:visited,
.tab .tab-item a,
.menu .menu-item a,
.sidebar .menu .menu-item>a {
  background: none;
}
footer a:link,
footer a:visited {
  color: white;
}
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover,
h5 a:hover,
.h5 a:hover,
.post-info a:hover,
.related-posts a:hover,
.tab .tab-item a:hover,
.menu .menu-item a:hover,
.sidebar .menu .menu-item>a:focus,
.sidebar .menu .menu-item>a:hover {
  color: $primary-color;
  background: none;
}
footer a:hover,
footer ul li a:hover {
  color: $primary-color;
  background: none;
}
a:hover {
  text-decoration: none;
  background-size: $thick-line 50px;
}
.sidebar-left,
.sidebar-right {
  // padding-top: $unit;
  padding-bottom: $padding*2;
}
.bg-goodmoves a,
.bg-primary a,
.bg-secondary a,
.bg-secondary a.no-underline,
.wp-block-image a,
footer a {
  color: white;
  background: none;
  border: none;
}
.bg-goodmoves a:hover {
  color: $secondary-color-dark;
}
.text-gray {
  color: $gray-color-dark !important;
}
.bg-gray {
  a {
    color: $secondary-color;
    background: none;
    border: none;
  }
  a:hover {
    color: $primary-color;
  }
  .form-input:focus {
    box-shadow: none;
  }
  .input-group .form-input,
  .input-group .form-select {
    background-color: white !important;
    color: $secondary-color-dark !important;
    border-color: $primary-color !important;
  }
  .input-group-btn {
    background-color: $primary-color !important;
    color: white !important;
    border-color: $primary-color !important;
  }
  .input-group .btn.btn-primary:hover {
    background-color: $secondary-color-light !important;
    color: white !important;
    border-color: $secondary-color-light !important;
  }
}

.bg-tfn {
  background-color: $tfn-color !important;
  h1,
  h2,
  h3,
  h4,
  p,
  .caption,
  a {
    color: white;
  }
  a.no-underline,
  a {
    background: none;
    color: white;
  }
  .card-image-link:hover .card-title,
  a.no-underline:hover,
  a:hover {
    color: $secondary-color-dark !important;
  }
}

.card .card-image {
  position: relative;
  padding: 0;
  margin: $unit 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: block;
  }
}

.card-image-link {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: $unit 0 0;
  overflow: hidden;
  display: inline-block;
  line-height: 0;
  img {
    border: none;
    line-height: 0;
  }
  .card-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .card-image {
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      transition: .5s ease;
    }
  }
  .card-header {
    .card-title {
      margin: $unit 0 0;
    }
    .card-subtitle {
      line-height: 1.5;
      margin-bottom: .5rem;
    }
  }
  .card-body {
    p {
      line-height: 1.5;
      font-weight: 400;
      margin: 0;
    }
  }
}
.card-footer {
  padding-top: 0;
}
.card-image-link:hover {
  .card-title {
    color: $primary-color;
    transition: color $transition-speed;
  }
  .card-image {
    -webkit-transform: scale3d(1.05,1.05,1);
    -moz-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
  }
}
.card-image-link .card-image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(100deg, $secondary-color, transparent, $primary-color);
  opacity: 0.3333;
  z-index: 2;
  -webkit-transition: $transition-speed ease-in-out;
  -moz-transition: $transition-speed ease-in-out;
  transition: $transition-speed ease-in-out;
}
.card-image-link:hover .card-image:after {
  opacity: 0;
}

.bg-primary a:hover {
  color: $secondary-color;
}
.bg-secondary a:hover {
  color: $primary-color;
}
footer .footer-copyright a.scvo-logo {
  border: none;
}
.btn,
.btn.btn-link,
.btn.btn-primary {
  border-bottom-width: $thin-line !important;
  line-height: 1.3rem;
}
.btn:link,
.btn:visited {
  color: $primary-color;
  border: $thin-line solid $primary-color;
  background: none;
}
.btn:hover {
  background-color: $secondary-color-light;
  border-color: $secondary-color-light;
  color: white;
}
.btn.btn-link:link,
.btn.btn-link:visited,
.btn.btn-link:hover {
  border-color: transparent;
  background-color: transparent;
}
.btn.btn-primary {
  background: $primary-color;
  color: white;
  border-color: $primary-color;
  transition: background $transition-speed, border $transition-speed, color $transition-speed !important;
  transition-timing-function: ease-in-out;
}
.wp-block-file .wp-block-file__button,
a.wp-block-file__button,
.post-info a:link.chip,
.post-info a:visited.chip,
a.chip {
  color: white !important;
  background-color: $secondary-color-light;
  border: $thin-line solid $secondary-color-light;
  transition: background $transition-speed, border $transition-speed, color $transition-speed;
  border-bottom-width: $thin-line;
}
.wp-block-file .wp-block-file__button:hover,
a.wp-block-file__button:hover,
a.chip:hover {
  color: white !important;
  background: $secondary-color !important;
  border: $thin-line solid $secondary-color !important;
}
.bg-header {
  background-size: cover;
  background-position: center center;
  .overlay {
    background-image: linear-gradient(100deg, $secondary-color 30%, rgba(255, 89, 90,0.5) 80%, $primary-color);
    h1 {
      height: 25vh;
      color: white;
      display: flex;
      align-items: center;
      justify-content: left;
    }
  }
}
.breadcrumb .breadcrumb-item a,
.pagination a,
.scvo-link-bar a,
.wp-block-table a,
.splash-image-header a,
.wp-block-file a,
a.no-underline,
a.thumbnail,
footer .footer-copyright .scvo-logo,
a.navbar-brand,
a.avatar,
.post-info a.avatar:link,
.post-info a.avatar:visited,
a.author,
a.rss,
.chip {
  padding-top: 0;
  padding-bottom: 0;
  color: $primary-color;
  background: none;
  border-bottom: none;
}
.breadcrumb .breadcrumb-item a {
  border-bottom: none;
}
.wp-block-table a:hover,
.breadcrumb .breadcrumb-item a:hover,
.breadcrumb .breadcrumb-item a:hover,
a.author:hover,
.no-underline:hover {
  color: $primary-color-dark;
}

.scvo-link-bar {
  background-color: $gray-color;
  height: 40px;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      margin: 0;
      display: inline;
    }
  }
  .text-link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-bottom: $thick-line solid transparent;
    margin-right: $unit*(3/4);
    color: $secondary-color;
  }
  .text-link:active,
  .text-link:focus,
  .text-link:hover {
    border-bottom: $thick-line solid $secondary-color;
    text-decoration: none;
  }
  .brand-logo {
    margin-left: $unit/4;
    line-height: 38px;
    width: 90px;
    img {
      vertical-align: middle;
    }
  }
}

.hero {
  background-color: transparent;
  padding: 0;
  .hero-body {
    padding: 0;
  }
  .hero-text {
    display: flex;
    align-items: center;
    justify-content: left;
    h1 {
      font-size: 3.9rem;
      letter-spacing: -0.15rem;
      font-weight: $heading-font-weight;
      margin: 0;
    }
  }
  .hero-illustration {
    img {
      padding-right: $padding;
      vertical-align: bottom;
      max-width: 100%;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: $page-width) {
  .bg-rouleaux {
    background-size: 100%;
  }
  .hero .hero-text h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
  }
}

.wp-block-table table {
  border-collapse: collapse;
  td {
    border: 1px solid $gray-color-light;
  }
  th, td {
    padding: $padding/4 $padding/2;
    text-align: left;
  }
  tr:first-child td {
    border: none;
  }
  tr td:first-child {
    white-space: nowrap;
  }
  tr:nth-child(even) {
    background-color: $light-color;
  }
  tr:nth-child(odd) {
    background-color: white;
  }
}

.card {
  border: none !important;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  .card-image:first-child img {
    border-radius: 0;
  }
  .card-body {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      padding-top: 0;
    }
  }
}
.card.card-no-padding {
  .card-header,
  .card-title,
  .card-body,
  .card-footer {
    padding: 0;
  }
}
.card.list {
  margin-bottom: $unit;
}
// .digital .card .card-image {
//   height: $unit*8;
//   background-size: cover;
//   background-position: center center;
//   // margin-top: $unit/2;
// }
.card.primary,
.card.secondary,
.card.yellow,
.card.blue,
.card.purple,
.card.gray,
.card.green,
.card.pink {
  margin-bottom: $unit;
  transition: background $transition-speed;
  .card-header {
    padding-top: 0;
  }
  .card-footer {
    padding-bottom: 0;
    .btn-link {
      border-radius: 0;
    }
  }
  a {
    border-bottom: $thick-line solid transparent;
  }
}
.card.primary {
  background-color: $primary-color;
  .card-title .fa-fw {
    color: $primary-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: white;
  }
}
.policy-stats {
  h3,
  span,
  p {
    color: white;
  }
}
.card.secondary {
  background-color: $secondary-color;
  .card-title .fa-fw {
    color: $secondary-color;
  }
  p,
  div,
  li,
  .card-body {
    color: white;
  }
  a {
    color: $primary-color;
  }
}
.card.yellow {
  background-color: $yellow-color;
  .card-title .fa-fw {
    color: $yellow-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: $primary-color-dark;
  }
}
.landing-header-cjs,
.card.blue {
  background-color: $blue-color;
  .card-title .fa-fw {
    color: $blue-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: $secondary-color-dark;
  }
}
.card.purple {
  background-color: $purple-color;
  .card-title .fa-fw {
    color: $purple-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: $primary-color;
  }
}
.card.gray {
  background-color: $gray-color-dark;
  .card-title .fa-fw {
    color: $gray-color-dark;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color-dark;
  }
  a {
    color: white;
  }
}
.card.green {
  background-color: $green-color;
  .card-title .fa-fw {
    color: $green-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: $primary-color-dark;
  }
}
.card.pink {
  background-color: $pink-color;
  .card-title .fa-fw {
    color: $pink-color;
  }
  p,
  div,
  li,
  .card-body {
    color: $secondary-color;
  }
  a {
    color: $secondary-color-dark;
  }
}

.projects-campaigns.eu-are-valued .body h2,
.credit-union-news .post-info-categories,
.press-media .post-info-categories,
.post-author .post-info-author,
.staff-profile .post-info-author {
  display: none !important;
}

.linked-cards,
.latest-content {
  .card-header,
  .card-body,
  .card-footer {
    padding-left: 0;
    padding-right: 0;
  }
}
.card-footer a.btn-link:first-child {
  padding-left: 0;
}
.useful-content,
.promoted-content {
  .card-image {
    position: relative;
    .logo {
      max-height: 100%;
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      left: auto;
      right: auto;
      margin: 0;
      padding: 0 $unit;
    }
  }
}
.useful-content {
  .card-header {
    padding-top: 0;
  }
}
.card.bg-secondary {
  color: white;
  background-color: $secondary-color;
  div,
  p,
  a {
    color: white;
  }
  .card-footer {
    .btn {
      height: auto;
      line-height: auto;
      padding: 0;
      margin-right: $unit/3;
    }
    .btn-link {
      border-radius: 0;
    }
  }
  a:hover {
    color: white;
    border-bottom-color: white;
  }
}
.card.the-gathering {
  .card-image .logo {
    padding: $unit 0;
  }
}
.card.i-love-charity,
.card.charity-awards,
.card.twenty-years {
  .card-image .background {
    width: 100%;
    height: 128px;
  }
}

.bg-primary {
  background-color: $primary-color;
  .btn {
    background-color: $primary-color;
    border: 1px solid white;
    color: white;
  }
  .btn:hover {
    background-color: $secondary-color-light;
    border-color: $secondary-color-light;
    color: white;
  }
  .btn.btn-primary {
    background-color: white;
    border: 1px solid white;
    color: $primary-color;
  }
  .btn.btn-primary:hover {
    background-color: $secondary-color-light;
    border-color: $secondary-color-light;
    color: white;
  }
  .input-group {
    .form-input {
      background-color: white;
      border-color: white;
    }
    .btn {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: white;
    }
    .btn:hover {
      background-color: $secondary-color-dark;
      border-color: $secondary-color-dark;
      color: white;
    }
  }
}
.bg-secondary {
  .btn {
    background-color: transparent;
    border-color: white;
    color: white;
  }
  .btn:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
  }
  .btn.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
  }
  .btn.btn-primary:hover {
    background-color: $primary-color-dark !important;
    border-color: $primary-color-dark !important;
    color: white;
  }
  .form-input:focus {
    box-shadow: none;
  }
  .input-group .form-input,
  .input-group .form-select,
  .input-group-btn {
    background-color: transparent !important;
    color: white;
    border-color: white !important;
  }
  .input-group .btn.btn-primary:hover {
    background-color: white !important;
    color: $secondary-color !important;
    border-color: white !important;
  }
}
.section-social {
  .icon-rouleaux {
    mix-blend-mode: screen;
    .icon {
      color: black;
    }
  }
  a {
    opacity: 0.8;
    transition: opacity $transition-speed;
    .icon-rouleaux,
    .title {
      opacity: inherit;
    }
  }
  a:hover {
    opacity: 1;
  }
}
.bg-white {
  background: white;
}
.text-white {
  color: white;
}
.text-secondary {
  color: $secondary-color !important;
}
.bg-primary,
.bg-secondary {
  p,
  div,
  li,
  td,
  a {
    color: white;
  }
}
a.bg-yellow {
  background: $yellow-color !important;
  border: none;
  display: block;
  color: $secondary-color;
  // .container {
  //   background-image: url('https://scvo.scot/rouleaux.svg?color=FFDD02&style=stripes');
  //   background-size: cover;
  //   background-position-y: 54%;
  // }
  .columns {
    margin-left: -($padding/2);
    margin-right: -($padding/2);
    .column {
      padding-left: $padding/2;
      padding-right: $padding/2;
    }
  }
}
a.bg-yellow:hover {
  h2,
  .fa-fw,
  .link-hover {
    color: $primary-color-dark;
  }
}

.bg-gradient {
  background-image: linear-gradient(100deg, $secondary-color 10%, $primary-color 85%) !important;
  a, h2, h3, h4, .title {
    color: white;
  }
  .icon-rouleaux {
    // background-color: white;
    mix-blend-mode: screen;
    .icon {
      // color: $primary-color;
      color: black;
    }
  }
  a {
    opacity: 0.8;
    transition: opacity $transition-speed;
    .icon-rouleaux,
    .title {
      opacity: inherit;
    }
  }
  a:hover {
    opacity: 1;
  }
}
.service-logo {
  display: block;
  margin: 0 auto;
  max-height: 45px;
}
.sponsors,
.bg-goodmoves,
.bg-tfn,
.latest-posts {
  ul {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: $unit/2;
  }
}
.goodmoves-vacancy.gist,
.fs-fund.gist {
  margin-bottom: $unit;
  h4 {
    padding-top: 0;
  }
}
.bg-goodmoves {
  background-color: $goodmoves-color;
  h2,
  h3,
  h4,
  li,
  a,
  div {
    color: white;
  }
}
.scvo-services {
  h2 {
    padding-top: 0;
  }
  .btn-lg {
    background: white;
    border: none;
    color: $primary-color;
  }
  .btn-lg:hover {
    background: white;
    color: $primary-color-dark;
  }
}

.blocks-gallery-grid {
  list-style-type: none;
  margin-left: -($padding);
  margin-right: -($padding);
  .blocks-gallery-item {
    width: 25%;
    display: inline-block;
    padding: $padding;
  }
}

// .avatar.logo {
//   background-color: white;
// }
.avatar.avatar-sm {
  margin-right: $unit/5;
}
.thumbnail {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  overflow: hidden;
  background: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.thumbnail>img {
  max-height: 100%;
  max-width: 100%;
  height: initial !important;
  width: initial !important;
  background: white;
  border-radius: 0;
}
a.rss {
  color: $warning-color;
}
.btn-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color-dark;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: $secondary-color-light;
  border-color: $secondary-color-light;
  color: white;
}

a:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}
.chip-set a:hover,
a.pure-menu-link:hover {
  text-decoration: none;
}
.chip {
  color: $secondary-color-dark !important;
  background-color: lighten($secondary-color-light, 23%);
  margin: -0.1rem 0;
  background-image: none !important;
  margin-top: $unit/10;
  margin-bottom: $unit/10;
}
.chip:hover {
  color: white !important;
  background-color: $secondary-color-dark;
}

.column.hidden {
  display: none !important;
}
form#settled_status {
  label {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
}
#settled_status_guide .guide_text {
  margin-top: $unit/2;
  border-radius: $unit/5;
}
#settled_status_guide .guide_text,
#settled_status_q_b,
#settled_status_q_c,
#settled_status_q_d,
#settled_status_q_e {
  display: none;
}

main,
aside {
  a[href^="http://"]::after,
  a[href^="https://"]::after {
    font-family: 'Font Awesome\ 5 Pro';
    content: "\f08e";
    font-weight: $body-link-weight;
    margin-left: $unit/4;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.2rem;
    font-size: 70%;
    top: -0.1rem;
    position: relative;
  }
  a.no-ext::after,
  a[href^="https://scvo.org"]::after,
  a[href^="https://scvo.org.uk"]::after,
  a[href^="https://storage.googleapis.com"]::after,
  a[href^="https://www.facebook.com/SCVO1939"]::after,
  a[href^="https://twitter.com/scvotweet"]::after,
  a[href^="https://maps.google.co.uk"]::after,
  a[href^="http://goodhq.org"]::after,
  a[href^="https://goodhq.org"]::after,
  a[href^="http://getinvolved.scot"]::after,
  a[href^="https://getinvolved.scot"]::after,
  a[href^="http://thirdforcenews.org.uk"]::after,
  a[href^="https://thirdforcenews.org.uk"]::after,
  a[href^="http://www.thirdforcenews.org.uk"]::after,
  a[href^="https://www.thirdforcenews.org.uk"]::after,
  a[href^="https://scvocreditunion"]::after,
  a[href^="https://members.scvocreditunion"]::after,
  a[href^="http://www.oscr.org.uk"]::after,
  a[href^="http://goodmoves"]::after,
  a[href^="https://goodmoves"]::after,
  a[href^="http://fundingscotland"]::after,
  a[href^="https://fundingscotland"]::after {
    content: "";
    margin: 0;
    top: 0;
    display: none;
  }
}

.wp-block-embed {
  margin: 0;
}
.wp-block-file {
  margin-bottom: $unit;
  a,
  a:hover {
    font-weight: $body-font-weight;
    color: $secondary-color;
    text-decoration: none;
    border: none;
  }
  .wp-block-file__button {
    font-size: 90%;
    font-weight: $heading-link-weight;
    margin-left: $unit/2;
    border-radius: $unit;
    padding: $unit/5 $unit*.4;
  }
  .wp-block-file__button:hover {
    font-weight: $heading-link-weight;
    text-decoration: none;
  }
}

.leaflet-marker-icon {
  width: $unit;
}
.map-content {
  h4 {
    padding-top: 0;
    a {
      font-size: 1rem;
    }
  }
  .opportunity-link .btn-link {
    padding: 0;
  }
}

.input-group {
  .form-input {
    width: auto;
  }
  .form-select {
    width: fit-content;
  }
}
.form-group .form-input,
.input-group .form-input,
.form-group .form-select,
.input-group .form-select {
  border-color: $primary-color;
}
.input-group.input-inline {
  width: 100%;
}
.form-input,
.form-select {
  background-color: white !important;
}
.form-group {
  .search-location {
    width: 100%;
  }
}

#toaster {
  position: fixed;
  z-index: 2;
  bottom: $unit;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  .btn:hover,
  a {
    color: white;
  }
  .toast {
    position: relative;
    margin-top: $unit/4;
  }
  .toast-in {
    animation: toast-in 0.4s ease-in,
               toast-out 0.4s ease-in 5.4s;
    animation-fill-mode: forwards;
  }
  .toast-hovered {
    animation: 0, 0;
    top: 0;
    opacity: 1;
  }
  .toast-out {
    animation: toast-out 0.4s ease-in 5s;
    animation-fill-mode: forwards;
  }
  .toast-closed {
    animation: toast-out 0.4s ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes toast-in {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes toast-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    99% {
      opacity: 0;
      transform: translateX(60vh);
    }
    100% {
      opacity: 0;
      transform: translateX(9999px);
      pointer-events: none;
    }
  }
}

.twitter-typeahead {
  display: block;
  width: 100%;
  .tt-input {
    width: 100%;
  }
  .tt-menu {
    cursor: default;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.05rem 0.2rem rgba(16,24,58,0.3);
    width: 100%;
    h3,
    h4 {
      font-size: 1rem;
      margin: $unit/4 0;
    }
    .tt-dataset {
      h3,
      div {
        padding: 0 $unit/4;
      }
    }
    .tt-cursor {
      background-color: $secondary-color;
      color: white;
    }
  }
}

.mobile-menu {
  .menu {
    .menu-item {
      padding: 0 $unit/2;
    }
    .menu-item>a {
      border-bottom: $thick-line solid transparent;
    }
    .menu-item>a:hover,
    .menu-item>a.active {
      color: #fff !important;
      border-bottom-color: #fff !important;
    }
  }
  .scvo-link-bar {
    background-color: transparent;
    .text-right {
      text-align: left;
    }
    li {
      display: block;
      line-height: 0;
    }
    .text-link {
      display: inline-block;
      color: white;
      line-height: 1.3;
      height: auto;
      margin: auto;
      margin-bottom: 5px;
    }
    .text-link:hover {
      border-bottom-color: white;
    }
    .brand-logo {
      display: none;
    }
  }
}

@media screen and (min-width: 961px) {
  .mobile-search,
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  header.header .navbar-brand img {
    width: 45vw !important;
  }
  .mobile-search,
  .mobile-menu {
    display: block;
    .mobile-contents {
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: $unit*1.5 $unit;
      z-index: 4;
    }
    &.mobile-search_open,
    &.mobile-menu_open {
      .mobile-background {
        animation: fade-in $transition-speed forwards;
      }
      .mobile-contents {
        animation: fade-in $transition-speed forwards;
      }
    }
    &.mobile-search_closing,
    &.mobile-menu_closing {
      .mobile-background {
        animation: fade-out $transition-speed forwards;
      }
      .mobile-contents {
        animation: fade-out $transition-speed forwards;
      }
    }
    &.mobile-search_closed,
    &.mobile-menu_closed {
      display: none;
    }
  }
  @keyframes fade-in { 100% { opacity: 1; } }
  @keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
}

.tab {
  border-bottom: 0;
}
.scvo-link-bar {
  background-color: $gray-color;
  .container-fluid .tab-bar {
    .tab {
      color: $secondary-color !important;
      border-bottom: $unit/5 solid transparent;
    }
    .tab.active {
      background-color: transparent;
      border-bottom: $unit/5 solid $secondary-color;
    }
  }
  .navbar-brand img {
    height: 36px;
  }
}
header {
  position: relative;
  .brand {
    float: left;
  }
  .mobile-header-buttons {
    float: right;
    .btn {
      padding: 0;
    }
    .btn.btn-primary:active,
    .btn.btn-primary:focus,
    .btn.btn-primary:hover {
      border-color: transparent !important;
      background-color: transparent !important;
      outline: none;
    }
  }
  .dropdown {
    text-align: left;
    .menu {
      padding: $unit/2 0;
      left: 0;
      right: 0;
      .menu-item>a {
        border-radius: 0;
        background: none;
      }
      .menu-item>a:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  .dropdown-toggle {
    padding-right: $unit/4;
  }
  .btn.btn-link.my-account {
    color: $secondary-color !important;
  }
  .my-account {
    margin-left: $unit/3;
    .dropdown-toggle {
      border-color: transparent !important;
      border-radius: 0 !important;
    }
  }
}
.navbar .navbar-section {
  align-items: flex-start;
}
.my-account.dropdown.signed-in {
  min-width: 240px;
}
header.header {
  .navbar-brand {
    line-height: 1;
    img {
      width: 320px;
    }
  }
  .form-horizontal {
    padding: $unit/2 0 0;
  }
  .input-inline .form-input {
    width: 350px;
  }
}
header.toolbar {
  border-bottom: $thick-line solid $primary-color;
  .btn {
    border: none;
    color: $secondary-color;
    border-radius: 0;
    line-height: 1.1rem;
    height: 1.5rem;
    background: linear-gradient(to bottom, $primary-color-light 0%, $primary-color-light 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0 0;
    transition: background-size $transition-speed;
  }
  .btn:hover,
  .btn:focus {
    background-size: $thick-line 50px;
    color: $secondary-color;
  }
  .btn.active,
  .btn.active:hover {
    background-size: 0 0;
    background-color: $primary-color;
    color: white;
  }
}

.cards.equal-height {
  .column {
    padding-bottom: 0.8rem;
  }
}
.equal-height {
  .column {
    margin-bottom: $unit;
  }
  .card {
    height: 100%;
  }
  .card-footer {
    .btn-link {
      height: auto;
      padding: 0;
    }
  }
}

.logos {
  img {
    max-width: 100%;
  }
}

.event-content {
  p {
    u {
      text-decoration: none;
    }
    b,
    span {
      margin-right: $unit/5;
    }
    a b {
      margin-right: 0;
    }
  }
}

blockquote {
  margin-top: 0;
}
blockquote.twitter-tweet {
  display: inline-block;
  // font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  // font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 0 0 $unit;
  padding: 16px;
  max-width: 520px;
  background: white;
  p {
    // font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  a:hover,
  a:focus {
    // text-decoration: underline;
  }
}

.col-gapless {
  .divider-vert {
    padding: 0;
  }
  .divider {
    width: 100%;
  }
}
.divider[data-content]::after,
.divider-vert[data-content]::after {
  background-color: $light-color;
  color: $secondary-color;
  font-weight: $heading-link-weight;
}

.pagination {
  justify-content: center;
  .pagination-page {
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    border-radius: 50% !important;
  }
  .pagination-page:hover {
    background-color: $primary-color;
    color: white !important;
  }
  .page-item.active:hover a {
    color: white;
  }
}

.supplimentary-list {
  margin: 0;
  .supplimentary-list-item {
    list-style-type: none;
    margin-bottom: $unit*2;
  }
}
.inline-list {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
  li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
  }
}
.inline-dl {
  margin: 0;
  dt, dd {
    float: left;
    margin: 0;
  }
  dt {
    font-weight: $heading-link-weight;
    clear: both;
    width: 30%;
  }
  dd {
    width: 70%;
    table {
      th,
      td {
        padding-bottom: $unit/2;
        padding-right: $unit/2;
        vertical-align: top;
        text-align: left;
      }
      th:last-child,
      td:last-child {
        padding-right: 0;
      }
    }
    .fa-ul {
      margin-left: $unit*1.5;
      a {
        word-wrap: break-all;
      }
    }
  }
}
.cjs-vacancy-search .inline-dl,
.cjs-vacancy .inline-dl,
.staff-team .inline-dl {
  clear: both;
  margin: 0;
  dt, dd {
    float: left;
    margin: 0;
  }
  dt {
    clear: both;
    font-weight: $heading-link-weight;
    width: 20%;
  }
  dd {
    width: 80%;
    margin: 0 0 $unit/2;
    ul {
      margin: 0 0 0 1.4rem;
    }
  }
}
.inline-dl.span-2 {
  clear: both;
  dt {
    width: 40%;
  }
  dd {
    width: 60%;
  }
}
.events .inline-dl {
  dt {
    font-weight: $heading-link-weight;
  }
  dd {
    .mdc-layout-grid__inner:last-child {
      margin-bottom: 0;
    }
  }
}
.full {
  padding-bottom: $unit*2;
  .post-info {
    padding-bottom: $unit/4;
    margin-bottom: $unit/2;
  }
}
.post-info {
  margin: $unit/2 0;
  .post-info-item {
    display: inline;
    margin-left: $unit/4;
  }
  .post-info-item:first-child {
    margin-left: 0;
  }
}

ul li,
ol li {
  margin-bottom: $unit/2;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
ul,
ol {
  margin-left: $unit;
}

.form.disabled,
form.disabled {
  pointer-events: none;
  >* {
    opacity: 0.5;
  }
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 47.4%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid $secondary-color;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1000ms;
  }
}

form {
  position: relative;
}

.authentication-form {
  min-height: 15vh;
  max-width: 500px !important;
  margin: 0 auto;
  position: relative;
  h2 {
    margin-bottom: $unit/2;
  }
  .middle-line-text {
    margin: $unit*2 0 $unit*2;
    border-bottom: $thick-line solid $gray-color;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    span {
      padding: $unit;
      color: #555;
    }
  }
  .social .btn {
    height: $unit*2.5;
    border: none;
  }
  .btn {
    position: relative;
    display: block;
    margin-bottom: $unit/2;
    width: 100%;
    color: white;
    .fa-2x {
      position: absolute;
      top: $unit/2;
      left: $unit/2;
    }
    .google-logo {
      top: .6rem;
      img {
        float: left;
        width: 28px;
        padding: $unit/4;
        background: white;
        border-radius: 3px;
      }
    }
  }
  #sign-in-message,
  #sign-up-message,
  #reset-password-message {
    display: none;
  }
}
#sign-out-form {
  justify-content: center;
  align-items: center;
  .loading {
    display: flex;
  }
}
form {
  #active-form-message {
    display: none;
  }
}

.checkup {
  .answer-block {
    margin: 0;
    .answer {
      list-style-type: none;
    }
  }
}

.sidebar {
  .menu {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    .menu-item>a {
      border-radius: 0;
      padding: 0;
      margin: 0;
      display: inline;
    }
    .menu-item>.menu-level-1 {
      font-size: 1.1rem;
      font-weight: $heading-link-weight;
      margin-bottom: $unit/2;
    }
    .menu-item>a:active,
    .menu-item>a.active {
      background-color: transparent;
    }
  }
  // .menu.menu-depth-2 {
  //   padding: 0 .6rem;
  //   .menu-item>a {
  //     margin: 0 -.6rem;
  //   }
  // }
  // .menu.menu-depth-3 {
  //   padding: 0 .9rem;
  //   .menu-item>a {
  //     margin: 0 -.9rem;
  //   }
  // }
  // .menu.menu-depth-4 {
  //   padding: 0 1.2rem;
  //   .menu-item>a {
  //     margin: 0 -1.2rem;
  //   }
  // }
  // .menu.menu-depth-5 {
  //   padding: 0 1.5rem;
  //   .menu-item>a {
  //     margin: 0 -1.5rem;
  //   }
  // }
}
.fa-ul {
  margin-left: 1.3333rem;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

footer {
  position: relative;
  .footer-main {
    // margin-top: $unit*1.5;
    padding: 0 0 $unit;
    position: relative;
    .membership {
      margin-top: -($unit*3);
      margin-bottom: $unit;
    }
    .contact p {
      margin-top: $unit/3;
    }
    .fa-li span,
    p,
    h4 {
      color: white;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    ul.fa-ul {
      margin-left: $unit*1.5;
    }
    h4 {
      padding-top: $unit/2;
    }
  }
  .footer-copyright {
    .columns {
      display: flex;
      align-items: center;
    }
    p {
      color: white;
      margin: $unit/2 0;
      font-size: 0.7rem;
    }
    .logos {
      text-align: right;
      a:hover {
        text-decoration: none;
      }
      .scvo-logo img {
        width: 125px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 18px;
  }
  .container {
    padding: 0 $unit;
  }
  header {
    .brand .logo {
      zoom: .75;
    }
    .page-title {
      clear: both;
      padding: $unit/4 0 0;
    }
  }
  .hero .hero-text h1 {
    font-size: 2.45rem;
    letter-spacing: -0.08rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.22rem;
  }
  h3 {
    font-size: 1.11rem;
  }
  h4 {
    font-size: 1rem;
  }
  .bg-gradient {
    background-image: linear-gradient(170deg, $secondary-color 10%, $primary-color 85%) !important;
  }
  .table-condensed {
    margin-bottom: 0;
    border-top: 0;
    width: 100%;
    thead, tbody {
      float: left;
    }
    th,
    td {
      width: auto;
    }
    thead {
      width: 20%;
      tr {
        width: 100%;
        margin-top: 7px;
        th {
          font-size: 1rem;
          text-align: left;
          border-width: 0;
          margin-top: .33rem;
          p {
            padding: $unit/10 0;
          }
        }
        th:last-child {
          border-bottom: none;
        }
      }
    }
    tbody {
      width: 80%;
      tr {
        width: 33.33%;
        th {
          height: 42px;
          text-align: center;
          border-top: none;
        }
        td {
          text-align: center;
        }
      }
    }
    tr {
      display: block;
      float: left;
    }
    th, td {
      display: block;
    }
  }
  footer .footer-copyright .logos {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 17px;
  }
  .container {
    padding: 0 $unit/2;
  }
  .page {
    padding-top: $unit/2;
  }
  .mobile-search .mobile-contents,
  .mobile-menu .mobile-contents {
    padding: $unit $unit/2;
  }
}

.sponsors {
  display: flex;
  margin-left: -($unit/2);
  margin-right: -($unit/2);
  .sponsor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $unit/2;
    margin-right: $unit/2;
    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
.sponsors.awards .sponsor.scvo { flex: 1; }
.sponsors.awards .sponsor.caf { flex: 1; }
.sponsors.awards .sponsor.cld { flex: .75; }
.sponsors.awards .sponsor.digital-scotland { flex: 1.8; }
.sponsors.awards .sponsor.keegan-pennykid { flex: 0.85; }
.sponsors.awards .sponsor.oscr { flex: 1.2; }
.sponsors.awards .sponsor.sgn { flex: 1.45; }
.sponsors.awards .sponsor.robertson-trust { flex: 1; }
.sponsors.awards .sponsor.goodmoves { flex: 1; }
.sponsors.awards .sponsor.sustainability { flex: 1; }

.sponsors.about .sponsor.healthy-working-lives { flex: 1; }
.sponsors.about .sponsor.flexible-working { flex: .6; }
.sponsors.about .sponsor.carer-positive { flex: 1; }
.sponsors.about .sponsor.oscr { flex: 1; }
.sponsors.about .sponsor.living-wage { flex: .45; }

.sponsors.gathering .sponsor.keegan-pennykid { flex: 0.6; }
.sponsors.gathering .sponsor.oscr { flex: 0.85; }
.sponsors.gathering .sponsor.ccla { flex: 1.2; }
.sponsors.gathering .sponsor.socialenterprise { flex: .3; }
.sponsors.gathering .sponsor.socialenterprisescotland { flex: .3; }
.sponsors.gathering .sponsor.glasgowconventionbureau { flex: .7; }
.sponsors.gathering .sponsor.thirdforcenews { flex: .55; }

.alignright {
  float: right;
  margin-left: $padding !important;
}
.alignleft {
  float: left;
  margin-right: $padding !important;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-centre {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.align-self-centre {
  align-self: center;
}
.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}
.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}
.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}
.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}
.x-padding {
  padding: $unit/2 !important;
}
.x-padding-full {
  padding: $unit !important;
}
.t-padding {
  padding-top: $unit/2 !important;
}
.b-padding {
  padding-bottom: $unit/2 !important;
}
.l-padding {
  padding-left: $unit/2 !important;
}
.r-padding {
  padding-right: $unit/2 !important;
}
.t-padding-full {
  padding-top: $unit !important;
}
.b-padding-full {
  padding-bottom: $unit !important;
}
.l-padding-full {
  padding-left: $unit !important;
}
.r-padding-full {
  padding-right: $unit !important;
}
.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}
.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}
.v-margin-full-bottom {
  margin-bottom: $unit !important;
}
.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}
.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}
.t-margin {
  margin-top: $unit/2 !important;
}
.b-margin {
  margin-bottom: $unit/2 !important;
}
.l-margin {
  margin-left: $unit/2 !important;
}
.r-margin {
  margin-right: $unit/2 !important;
}
.t-margin-full {
  margin-top: $unit !important;
}
.b-margin-full {
  margin-bottom: $unit !important;
}
.l-margin-full {
  margin-left: $unit !important;
}
.r-margin-full {
  margin-right: $unit !important;
}
.x-margin {
  margin: $unit/2 !important;
}
.x-margin-full {
  margin: $unit !important;
}
figure,
.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.border {
  border-style: solid;
  border-width: 1px;
}
.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}
.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}
.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}
.rounded {
  border-radius: 4px;
}
.tl-rounded {
  border-top-left-radius: 4px;
}
.tr-rounded {
  border-top-right-radius: 4px;
}
.bl-rounded {
  border-bottom-left-radius: 4px;
}
.br-rounded {
  border-bottom-right-radius: 4px;
}
.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-full {
  border-radius: 16px;
}
.tl-rounded-full {
  border-top-left-radius: 16px;
}
.tr-rounded-full {
  border-top-right-radius: 16px;
}
.bl-rounded-full {
  border-bottom-left-radius: 16px;
}
.br-rounded-full {
  border-bottom-right-radius: 16px;
}
.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 479px) {
  .no-float-sm {
    float: auto !important;
  }
  .no-t-margin-sm {
    margin-top: 0 !important;
  }
  .no-b-margin-sm {
    margin-bottom: 0 !important;
  }
  .no-l-margin-sm {
    margin-left: 0 !important;
  }
  .no-r-margin-sm {
    margin-right: 0 !important;
  }
  .no-v-margin-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-h-margin-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no-t-padding-sm {
    padding-top: 0 !important;
  }
  .no-b-padding-sm {
    padding-bottom: 0 !important;
  }
  .no-l-padding-sm {
    padding-left: 0 !important;
  }
  .no-r-padding-sm {
    padding-right: 0 !important;
  }
  .no-v-padding-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-h-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .t-margin-sm {
    margin-top: $unit/2 !important;
  }
  .b-margin-sm {
    margin-bottom: $unit/2 !important;
  }
  .l-margin-sm {
    margin-left: $unit/2 !important;
  }
  .r-margin-sm {
    margin-right: $unit/2 !important;
  }
  .v-margin-sm {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }
  .h-margin-sm {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }
  .t-margin-full-sm {
    margin-top: $unit !important;
  }
  .b-margin-full-sm {
    margin-bottom: $unit !important;
  }
  .l-margin-full-sm {
    margin-left: $unit !important;
  }
  .r-margin-full-sm {
    margin-right: $unit !important;
  }
  .v-margin-full-sm {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
  .h-margin-full-sm {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .t-padding-sm {
    padding-top: $unit/2 !important;
  }
  .b-padding-sm {
    padding-bottom: $unit/2 !important;
  }
  .l-padding-sm {
    padding-left: $unit/2 !important;
  }
  .r-padding-sm {
    padding-right: $unit/2 !important;
  }
  .v-padding-sm {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }
  .h-padding-sm {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }
  .t-padding-full-sm {
    padding-top: $unit !important;
  }
  .b-padding-full-sm {
    padding-bottom: $unit !important;
  }
  .l-padding-full-sm {
    padding-left: $unit !important;
  }
  .r-padding-full-sm {
    padding-right: $unit !important;
  }
  .v-padding-full-sm {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }
  .h-padding-full-sm {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }
}

@media (prefers-color-scheme: dark) {
  body,
  .page,
  .menu {
    background: $secondary-color;
    color: white;
  }
  .footer-main {
    background: $secondary-color;
  }
  .bg-gray,
  .bg-white {
    background: $secondary-color-dark !important;
  }
  a:link,
  a:visited,
  header.toolbar .btn,
  header.toolbar .btn:hover,
  header.toolbar .btn:focus,
  footer .footer-copyright p,
  footer .footer-copyright a,
  .text-primary,
  .text-secondary,
  .breadcrumb .breadcrumb-item,
  .breadcrumb .breadcrumb-item:not(:first-child)::before,
  h1, h2, h3, h4, div, p, li, div, td, th {
    color: white !important;
  }
  a.bg-yellow:hover {
    color: $secondary-color !important;
  }
  .scvo-link-bar .text-link,
  .scvo-services .btn-lg {
    color: $primary-color;
  }
  body.the-gathering-2020 {
    .header-text,
    .header-text a,
    .header-text a:hover {
      color: $gathering-color;
    }
  }
  img {
    opacity: .85;
    transition: opacity $transition-speed ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
  .sponsors .sponsor {
    mix-blend-mode: screen;
    filter: grayscale(1);
  }
  .bg-rouleaux {
    background-image: url('https://scvo.scot/rouleaux.svg?color=#{$secondary-color-dark-var}&style=solid') !important;
  }
}

@media print {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  header,
  .navbar,
  .apply-button,
  .print-button,
  .sidebar,
  .related,
  .pagination,
  .footer-image,
  .breadcrumb,
  .header-caption,
  #share-menu-button,
  .grid-info .social,
  .footer,
  footer {
    display: none !important;
  }
}
