<a href="{{link}}" class="banner banner-coronavirus-info-hub bg-yellow" style="background-color:#FFDC38 !important;background-image:url('{{~>asset_url url='images/home/covid_graphic_strip.svg'~}}') !important; background-size: cover !important;background-repeat: no-repeat !important;background-position: center center !important;">
  <div class="container v-padding-full" style="display: flex;align-items: center;justify-content: left;height: 20vh;min-height: 180px;">
    <ul class="fa-ul">
      <li>
        <span class="fa-li" aria-hidden="true"><span class="fal fa-{{icon}} fa-3x fa-fw"></span></span>
        <div class="banner-content">
          <h3 class="no-margin">
            {{{title}}}
          </h3>
          <p class="no-margin">
            {{{description}}}
          </p>
        </div>
      </li>
    </ul>
  </div>
</a>
