<div class="banner banner-coronavirus-info-hub bg-yellow" style="background-color:#FFDC38 !important;background-image:url('{{~>asset_url url='images/home/covid_graphic_strip.svg'~}}') !important; background-size: cover !important;background-repeat: no-repeat !important;background-position: center center !important;">
  <div class="container">
    <div class="columns">
      <div class="column col-auto align-centre">
        <span class="fal fa-{{icon}} fa-3x fa-fw" aria-hidden="true"></span>
      </div>
      <div class="column col align-centre" style="justify-content:left !important;">
        <div class="v-margin v-padding">
          <h2>{{{title}}}</h2>
          <p class="b-margin">
            {{{description}}}
          </p>
          <a href="{{link}}" class="btn b-margin-full">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</div>
