<div class="bg-primary bg-gradient v-padding-full">
  <div class="container">
    <h3>
      Find information on&hellip;
    </h3>
    <div class="columns b-margin-full">
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/support" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-book fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Setting up an organisation</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/funding" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-chart-bar fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Funding for my project</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/support/events" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-graduation-cap fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Training courses &amp; events</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/jobs" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-handshake fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Jobs in the sector</span>
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>