<div class="bg-header" style="background-image:url('https://storage.googleapis.com/scvo-cms/wp-content/uploads/2020/10/scope-background.jpg')!important;">
  <div class="v-padding-full" style="background-color:rgba(0,0,0,0.2);">
    <div class="container v-padding-full">
      <h3 class="t-padding-full text-white">SCOPE e-learning platform</h3>
      <p class="b-padding-full text-white">Skills recognition, capacity building, and professional education for the voluntary sector﻿</p>
      <a href="/support/elearning/scope" class="btn btn-primary b-margin">Find out more</a>
    </div>
  </div>
</div>
