<div class="bg-primary v-padding-full">
  <div class="container">
    <h2 class="b-padding-full">
      The Scottish voluntary sector
      <span class="l-margin-full caption">
        <a href="/policy/sector-stats">View the latest sector stats</a>
      </span>
    </h2>
    <div class="columns v-margin">
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-hands-heart fa-4x p-centered b-margin"></span>
        <p>
          <strong>Over 1 million people volunteered in Scotland last year</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-bullhorn fa-4x p-centered b-margin"></span>
        <p>
          <strong>There are over 250,000 charity trustees across the country</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-users fa-4x p-centered b-margin"></span>
        <p>
          <strong>Last year, 4/5 Scots used a voluntary sector organisation</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-building fa-4x p-centered b-margin"></span>
        <p>
          <strong>There are 40,000+ voluntary sector organisations in Scotland</strong>
        </p>
      </div>
    </div>
    <div class="columns v-margin">
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-hand-holding-heart fa-4x p-centered b-margin"></span>
        <p>
          <strong>Two thirds of sector income is earned, not donated</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-chart-bar fa-4x p-centered b-margin"></span>
        <p>
          <strong>In 2017, the voluntary sector had an annual turnover of £5.8 billion</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-chart-line fa-4x p-centered b-margin"></span>
        <p>
          <strong>Scotland’s voluntary sector has over 100,000 paid staff</strong>
        </p>
      </div>
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        <span class="fal fa-fw fa-home-heart fa-4x p-centered b-margin"></span>
        <p>
          <strong>78% of charities in Scotland are local</strong>
        </p>
      </div>
    </div>
  </div>
</div>