<div class="bg-secondary-light">
  <div class="v-padding-full">
    <div class="container v-padding-full">
      <h3 class="t-padding-full">Trustees Week 2020</h3>
      <p class="b-padding-full">Since 2013, Scotland's Third Sector Governance Forum has been proud to host a conference for trustees and governance geeks every Trustees’ Week.</p>
      <a href="/support/running-your-organisation/governance" class="btn btn-primary b-margin">Find out more</a>
      <a href="https://goodgovernance.scot/trustees-week/trustees-week-2020-2" class="btn b-margin">Book events</a>
    </div>
  </div>
</div>
