<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<link rel="stylesheet" type="text/css" href="https://www.tfaforms.com/css/kalendae.css" />
<script type="text/javascript" src="https://www.tfaforms.com/js/kalendae/kalendae.standalone.min.js" >
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms_calendar.js">
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=cbd26f91ffafca008a743f1fd9c8f7157ff54f9b">
</script>

<div class="container">
  <div class="wForm" id="4893809-WRPR" dir="ltr">
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="form form-horizontal labelsLeftAligned" id="4893809" role="form" enctype="multipart/form-data">
      <div class="htmlSection" id="tfa_164">
        <div class="htmlContent form-group" id="tfa_164-HTML">
          <div class="col-9 col-xl-12">
            {{!-- <h1>{{{@root.data.primaryResponse.hits.hits.0._source.title}}}</h1> --}}
            {{{replace (replace (replace (replace (replace @root.data.primaryResponse.hits.hits.[0]._source.content "@scvo.org.uk" "@scvo.scot") "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
          </div>
        </div>
      </div>
      <div class="form-group field-container-D   hintsTooltip " id="tfa_1-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_1-L" class="form-label preField reqMark" for="tfa_1">Name of organisation</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_1" name="tfa_1" value="" aria-required="true" aria-describedby="tfa_1-HH" title="Name of Organisation" class="form-input required" required>
          <span class="field-hint-inactive" id="tfa_1-H">
            <p id="tfa_1-HH" class="form-input-hint text-secondary">Provide the full name of the employing organisation including any trading names</p>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_2-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_2-L" class="form-label preField reqMark" for="tfa_2">Street</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_2" name="tfa_2" value="" aria-required="true" title="Street" class="form-input required" required>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_3-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Area</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_3" name="tfa_3" value="" aria-required="true" title="Area/Town" class="form-input required" required>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_4-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_4-L" class="form-label preField reqMark" for="tfa_4">City</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_4" name="tfa_4" value="" aria-required="true" title="City/County" class="form-input required" required>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_34-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_34-L" class="form-label preField reqMark" for="tfa_34">Local authority area</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_34" name="tfa_34" title="Local Authority Area" aria-required="true" class="form-select required" required>
            <option value="">Please select...</option>
            <option value="tfa_35" id="tfa_35">Aberdeen</option>
            <option value="tfa_36" id="tfa_36">Aberdeenshire</option>
            <option value="tfa_37" id="tfa_37">Angus</option>
            <option value="tfa_38" id="tfa_38">Argyll &amp; Bute</option>
            <option value="tfa_39" id="tfa_39">Clackmannanshire</option>
            <option value="tfa_40" id="tfa_40">Dumfries &amp; Galloway</option>
            <option value="tfa_41" id="tfa_41">Dundee</option>
            <option value="tfa_42" id="tfa_42">East Ayrshire</option>
            <option value="tfa_43" id="tfa_43">East Dunbartonshire</option>
            <option value="tfa_44" id="tfa_44">East Lothian</option>
            <option value="tfa_45" id="tfa_45">East Renfrewshire</option>
            <option value="tfa_46" id="tfa_46">Edinburgh</option>
            <option value="tfa_47" id="tfa_47">Falkirk</option>
            <option value="tfa_48" id="tfa_48">Fife</option>
            <option value="tfa_49" id="tfa_49">Glasgow</option>
            <option value="tfa_50" id="tfa_50">Highland</option>
            <option value="tfa_51" id="tfa_51">Inverclyde</option>
            <option value="tfa_52" id="tfa_52">Midlothian</option>
            <option value="tfa_53" id="tfa_53">Moray</option>
            <option value="tfa_65" id="tfa_65">Na h-Eileanan Siar</option>
            <option value="tfa_54" id="tfa_54">North Ayrshire</option>
            <option value="tfa_55" id="tfa_55">North Lanarkshire</option>
            <option value="tfa_56" id="tfa_56">Orkney</option>
            <option value="tfa_57" id="tfa_57">Perth &amp; Kinross</option>
            <option value="tfa_58" id="tfa_58">Renfrewshire</option>
            <option value="tfa_59" id="tfa_59">Scottish Borders</option>
            <option value="tfa_60" id="tfa_60">Shetland</option>
            <option value="tfa_61" id="tfa_61">South Ayrshire</option>
            <option value="tfa_62" id="tfa_62">South Lanarkshire</option>
            <option value="tfa_63" id="tfa_63">Stirling</option>
            <option value="tfa_64" id="tfa_64">West Dunbartonshire</option>
            <option value="tfa_66" id="tfa_66">West Lothian</option>
            <option value="tfa_67" id="tfa_67">Outwith Scotland</option>
          </select>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_5-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_5-L" class="form-label preField reqMark" for="tfa_5">Postcode</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_5" name="tfa_5" value="" aria-required="true" title="Postcode" class="form-input required" required>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_73-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_73-L" class="form-label preField reqMark" for="tfa_73">Primary area of work</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_73" name="tfa_73" title="Organisation Primary Area of Work" aria-required="true" class="form-select required" required>
            <option value="">Please select...</option>
            <option value="tfa_74" id="tfa_74">Advocacy/Advice</option>
            <option value="tfa_75" id="tfa_75">Community/third sector Development and Support</option>
            <option value="tfa_76" id="tfa_76">Childcare</option>
            <option value="tfa_77" id="tfa_77">Construction and the built environment</option>
            <option value="tfa_78" id="tfa_78">Creative and Media</option>
            <option value="tfa_79" id="tfa_79">Distribution and Warehouse</option>
            <option value="tfa_80" id="tfa_80">Education, Training (provision and development)</option>
            <option value="tfa_81" id="tfa_81">Energy and Utilities</option>
            <option value="tfa_82" id="tfa_82">Finance</option>
            <option value="tfa_83" id="tfa_83">Hair and Beauty</option>
            <option value="tfa_84" id="tfa_84">Health and Social Care</option>
            <option value="tfa_85" id="tfa_85">Hospitality and Catering</option>
            <option value="tfa_86" id="tfa_86">Housing</option>
            <option value="tfa_87" id="tfa_87">Information Communications Technology (ICT)</option>
            <option value="tfa_88" id="tfa_88">Landbased, Animal Welfare and Environment</option>
            <option value="tfa_89" id="tfa_89">Law and Politics</option>
            <option value="tfa_90" id="tfa_90">Low carbon/Green</option>
            <option value="tfa_91" id="tfa_91">Retail</option>
            <option value="tfa_92" id="tfa_92">Sports and Leisure</option>
            <option value="tfa_93" id="tfa_93">Travel and Tourism</option>
            <option value="tfa_94" id="tfa_94">Youthwork</option>
            <option value="tfa_95" id="tfa_95">Other</option>
          </select>
        </div>
      </div>
      <div class="form-group field-container-D   hintsTooltip " id="tfa_68-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_68-L" class="form-label preField reqMark" for="tfa_68">Organisation category</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_68" name="tfa_68" title="Organisation Category" aria-required="true" aria-describedby="tfa_68-HH" class="form-select required" required>
            <option value="">Please select...</option>
            <option value="tfa_69" id="tfa_69">Micro: &lt;10 staff &amp; turnover of ≤€2m or a balance sheet total ≤€2m</option>
            <option value="tfa_70" id="tfa_70">Small: &lt;50 staff &amp; turnover of ≤€10m or a balance sheet total ≤€10m</option>
            <option value="tfa_71" id="tfa_71">Med: &lt;250 staff &amp; turnover of ≤€50m or a balance sheet total ≤€43m</option>
            <option value="tfa_72" id="tfa_72">Large: &gt;250 staff</option>
          </select>
          <span class="field-hint-inactive" id="tfa_68-H">
            <p id="tfa_68-HH" class="form-input-hint text-secondary">We have used the European Commission definition of SME for guidance. Do not include volunteers or trainees in your organisation’s headcount for this purpose.</p>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_183-D" role="radiogroup" aria-labelledby="tfa_183-L" data-tfa-labelledby="-L tfa_183-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_183-L" class="form-label preField reqMark">Number of paid staff</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_183" class="choices vertical required">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_186-L" for="tfa_186">
                <input type="radio" value="tfa_186" id="tfa_186" name="tfa_183" aria-required="true" aria-labelledby="tfa_186-L" data-tfa-labelledby="tfa_183-L tfa_186-L">
                <span class="form-icon"></span>
                1-9
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_187-L" for="tfa_187">
                <input type="radio" value="tfa_187" id="tfa_187" name="tfa_183" aria-required="true" aria-labelledby="tfa_187-L" data-tfa-labelledby="tfa_183-L tfa_187-L">
                <span class="form-icon"></span>
                10-49
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_188-L" for="tfa_188">
                <input type="radio" value="tfa_188" id="tfa_188" name="tfa_183" aria-required="true" aria-labelledby="tfa_188-L" data-tfa-labelledby="tfa_183-L tfa_188-L">
                <span class="form-icon"></span>
                50-100
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_189-L" for="tfa_189">
                <input type="radio" value="tfa_189" id="tfa_189" name="tfa_183" aria-required="true" aria-labelledby="tfa_189-L" data-tfa-labelledby="tfa_183-L tfa_189-L">
                <span class="form-icon"></span>
                101-249
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_190-L" for="tfa_190">
                <input type="radio" value="tfa_190" id="tfa_190" name="tfa_183" aria-required="true" aria-labelledby="tfa_190-L" data-tfa-labelledby="tfa_183-L tfa_190-L">
                <span class="form-icon"></span>
                250+
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_191-L" for="tfa_191">
                <input type="radio" value="tfa_191" id="tfa_191" name="tfa_183" aria-required="true" aria-labelledby="tfa_191-L" data-tfa-labelledby="tfa_183-L tfa_191-L">
                <span class="form-icon"></span>
                No paid staff
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_96-D" role="group" aria-labelledby="tfa_96-L" data-tfa-labelledby="-L tfa_96-L">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_96-L" class="form-label preField reqMark" aria-label="What is the status of your organisation">What is the status of your organisation</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_96" class="choices vertical required">
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_97-L" for="tfa_97">
                <input type="radio" value="tfa_97" id="tfa_97" name="tfa_97" aria-labelledby="tfa_97-L" data-tfa-labelledby="tfa_96-L tfa_97-L">
                <span class="form-icon"></span>
                Charitable Trust
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_98-L" for="tfa_98">
                <input type="radio" value="tfa_98" id="tfa_98" name="tfa_98" aria-labelledby="tfa_98-L" data-tfa-labelledby="tfa_96-L tfa_98-L">
                <span class="form-icon"></span>
                Charity
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_99-L" for="tfa_99">
                <input type="radio" value="tfa_99" id="tfa_99" name="tfa_99" aria-labelledby="tfa_99-L" data-tfa-labelledby="tfa_96-L tfa_99-L">
                <span class="form-icon"></span>
                Community Interest Company (CIC)
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_100-L" for="tfa_100">
                <input type="radio" value="tfa_100" id="tfa_100" name="tfa_100" aria-labelledby="tfa_100-L" data-tfa-labelledby="tfa_96-L tfa_100-L">
                <span class="form-icon"></span>
                Community Organisation
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_101-L" for="tfa_101">
                <input type="radio" value="tfa_101" id="tfa_101" name="tfa_101" aria-labelledby="tfa_101-L" data-tfa-labelledby="tfa_96-L tfa_101-L">
                <span class="form-icon"></span>
                Credit Union
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_102-L" for="tfa_102">
                <input type="radio" value="tfa_102" id="tfa_102" name="tfa_102" aria-labelledby="tfa_102-L" data-tfa-labelledby="tfa_96-L tfa_102-L">
                <span class="form-icon"></span>
                Development Trust
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_103-L" for="tfa_103">
                <input type="radio" value="tfa_103" id="tfa_103" name="tfa_103" aria-labelledby="tfa_103-L" data-tfa-labelledby="tfa_96-L tfa_103-L">
                <span class="form-icon"></span>
                Housing Association
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_104-L" for="tfa_104">
                <input type="radio" value="tfa_104" id="tfa_104" name="tfa_104" aria-labelledby="tfa_104-L" data-tfa-labelledby="tfa_96-L tfa_104-L">
                <span class="form-icon"></span>
                Mutual
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_105-L" for="tfa_105">
                <input type="radio" value="tfa_105" id="tfa_105" name="tfa_105" aria-labelledby="tfa_105-L" data-tfa-labelledby="tfa_96-L tfa_105-L">
                <span class="form-icon"></span>
                SCIO
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_106-L" for="tfa_106">
                <input type="radio" value="tfa_106" id="tfa_106" name="tfa_106" aria-labelledby="tfa_106-L" data-tfa-labelledby="tfa_96-L tfa_106-L">
                <span class="form-icon"></span>
                Social Enterprise
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_107-L" for="tfa_107">
                <input type="radio" value="tfa_107" id="tfa_107" name="tfa_107" aria-labelledby="tfa_107-L" data-tfa-labelledby="tfa_96-L tfa_107-L">
                <span class="form-icon"></span>
                Voluntary Organisation
              </label>
            </span>
            <span class="oneChoice">
              <label class="form-radio postField" id="tfa_108-L" for="tfa_108">
                <input type="radio" value="tfa_108" id="tfa_108" name="tfa_108" data-conditionals="#tfa_116-D" aria-labelledby="tfa_108-L" data-tfa-labelledby="tfa_96-L tfa_108-L">
                <span class="form-icon"></span>
                Other
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_116-D" data-condition="`#tfa_108`">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_116-L" class="form-label preField " for="tfa_116">Please describe</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_116" name="tfa_116" value="" title="If 'Other' please describe" class="form-input required" required>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_111-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_111-L" class="form-label preField " for="tfa_111">Scottish Charity Number (if applicable)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_111" name="tfa_111" maxlength="8" class="form-input" title="Scottish Charity Number">
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_110-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_110-L" class="form-label preField " for="tfa_110">Registered Charity Number outwith Scotland (if applicable)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_110" name="tfa_110" maxlength="12" class="form-input" title="Registered Charity Number">
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_112-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_112-L" class="form-label preField " for="tfa_112">Company House Number (if applicable)</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_112" name="tfa_112" maxlength="12" class="form-input" title="Company House Number">
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_113-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_113-L" class="form-label preField " for="tfa_113">Website address</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="url" pattern="https?://.+" id="tfa_113" name="tfa_113" value="" title="Website Address: https://" class="form-input validate-custom /^(http:|https:)+[^\s]+[\w]/g">
          <p class="form-input-hint text-secondary">
            If you have a website, please copy &amp; paste the full address (beginning with http:// or https://)
          </p>
        </div>
      </div>
      <div class="form-group field-container-D  labelsAbove  " id="tfa_114-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_114-L" class="form-label preField reqMark" for="tfa_114">Provide a brief outline on your organisational aims and core activities</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <textarea cols="100%" rows="3%" aria-required="true" maxlength="10000" id="tfa_114" name="tfa_114" title="Provide a brief outline on your organisations aims and core activities" class="form-input required" required></textarea>
        </div>
      </div>
      <div class="form-group field-container-D   hintsTooltip " id="tfa_115-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_115-L" class="form-label preField reqMark" for="tfa_115">Outline current payroll arrangements</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <input type="text" id="tfa_115" name="tfa_115" value="" aria-required="true" aria-describedby="tfa_115-HH" title="Outline current payroll arrangements" class="form-input required" required>
          <span class="field-hint-inactive" id="tfa_115-H">
            <p id="tfa_115-HH" class="form-input-hint text-secondary">Payroll arrangements. Please indicate whether your payroll is an established internal or contracted out system and meets all HMRC requirements</p>
          </span>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_117-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_117-L" class="form-label preField reqMark" for="tfa_117">Do they meet with HMRC requirements</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_117" name="tfa_117" title="Do they meet with HMRC requirements" aria-required="true" class="form-select required" required>
            <option value="">Please select...</option>
            <option value="tfa_118" id="tfa_118">No</option>
            <option value="tfa_119" id="tfa_119">Yes</option>
          </select>
        </div>
      </div>
      <div id="tfa_165" class="section">
        <h3 id="tfa_165-L">Living Wage Details</h3>
        <div class="form-group field-container-D    " id="tfa_124-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_124-L" class="form-label preField reqMark" for="tfa_124">An accredited Living Wage Employer</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_124" name="tfa_124" title="An accredited Living Wage Employer" aria-required="true" class="form-select required" required>
              <option value="">Please select...</option>
              <option value="tfa_125" id="tfa_125">Yes</option>
              <option value="tfa_126" id="tfa_126">No</option>
            </select>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_127-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_127-L" class="form-label preField reqMark" for="tfa_127">Working on Living Wage accreditation</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_127" name="tfa_127" title="Working on Living Wage accreditation" aria-required="true" class="form-select required" required>
              <option value="">Please select...</option>
              <option value="tfa_128" id="tfa_128">Yes</option>
              <option value="tfa_129" id="tfa_129">No</option>
            </select>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_195-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_195-L" class="form-label preField reqMark" for="tfa_195">Do you intend to offer the Living Wage to CJS employees?</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_195" name="tfa_195" title="Do you intend to offer the Living Wage to CJS employees?" aria-required="true" class="form-select required" required>
              <option value="">Please select...</option>
              <option value="tfa_196" id="tfa_196">Yes</option>
              <option value="tfa_197" id="tfa_197">No</option>
            </select>
          </div>
        </div>
      </div>
      <div id="tfa_166" class="section">
        <h3 id="tfa_166-L">Senior contact details</h3>
        <div class="htmlSection form-group" id="tfa_184">
          <div class="htmlContent col-9 col-xl-12" id="tfa_184-HTML">
            <p>
              Enter the name of the staff member within your organisation who will have responsibility for the CJS programme including the input of your requested job descriptions
            </p>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_130-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_130-L" class="form-label preField reqMark" for="tfa_130">First name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_130" name="tfa_130" value="" aria-required="true" title="First Name " class="form-input required" required>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_131-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_131-L" class="form-label preField reqMark" for="tfa_131">Last name</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_131" name="tfa_131" value="" aria-required="true" title="Last Name " class="form-input required" required>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_132-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_132-L" class="form-label preField reqMark" for="tfa_132">Position held</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="text" id="tfa_132" name="tfa_132" value="" aria-required="true" title="Position Held" class="form-input required" required>
          </div>
        </div>
        <div id="tfa_168" class="section inline group">
          <div class="form-group field-container-D   hintsTooltip " id="tfa_134-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_134-L" class="form-label preField reqMark" for="tfa_134">Telephone</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_134" name="tfa_134" value="" aria-required="true" aria-describedby="tfa_134-HH" title="Telephone " class="form-input required" required>
              <span class="field-hint-inactive" id="tfa_134-H">
                <p id="tfa_134-HH" class="form-input-hint text-secondary">(direct dial preferred)</p>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D   hintsTooltip " id="tfa_135-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_135-L" class="form-label preField " for="tfa_135">Mobile</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_135" name="tfa_135" class="form-input" aria-describedby="tfa_135-HH" title="Mobile ">
              <span class="field-hint-inactive" id="tfa_135-H">
                <p id="tfa_135-HH" class="form-input-hint text-secondary">(work if available)</p>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_133-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_133-L" class="form-label preField reqMark" for="tfa_133">Email</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_133" name="tfa_133" value="" aria-required="true" title="Email" class="form-input validate-email required" required>
          </div>
        </div>
      </div>
      <div id="tfa_169" class="section">
        <h3 id="tfa_169-L">Does your organisation have the following written policies and procedures</h3>
        <div id="tfa_170" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_136-D" role="group" aria-labelledby="tfa_136-L" data-tfa-labelledby="-L tfa_136-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_136" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_137-L" for="tfa_137">
                    <input type="checkbox" value="tfa_137" id="tfa_137" name="tfa_137" aria-labelledby="tfa_137-L" data-tfa-labelledby="tfa_136-L tfa_137-L">
                    <span class="form-icon"></span>
                    Health and Safety Policy
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_138-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_138-L" class="form-label preField " for="tfa_138">Last Health review date</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_138" name="tfa_138" value="" autocomplete="off" aria-describedby="tfa_138-HH" title="    Last Health review date " class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_138-H">
                <p id="tfa_138-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
        <div id="tfa_171" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_139-D" role="group" aria-labelledby="tfa_139-L" data-tfa-labelledby="-L tfa_139-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_139" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_140-L" for="tfa_140">
                    <input type="checkbox" value="tfa_140" id="tfa_140" name="tfa_140" aria-labelledby="tfa_140-L" data-tfa-labelledby="tfa_139-L tfa_140-L">
                    <span class="form-icon"></span>
                    Equal Opportunities Policy
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_141-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_141-L" class="form-label preField " for="tfa_141">Last review date (Equal Opps)</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_141" name="tfa_141" value="" autocomplete="off" aria-describedby="tfa_141-HH" title="Last review date (Equal Opps)" class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_141-H">
                <p id="tfa_141-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
        <div id="tfa_172" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_142-D" role="group" aria-labelledby="tfa_142-L" data-tfa-labelledby="-L tfa_142-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span class="oneChoice">
                <label class="form-checkbox postField" id="tfa_143-L" for="tfa_143">
                  <input type="checkbox" value="tfa_143" id="tfa_143" name="tfa_143" aria-labelledby="tfa_143-L" data-tfa-labelledby="tfa_142-L tfa_143-L">
                  <span class="form-icon"></span>
                  Grievance/Complaints Procedure
                </label>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_144-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_144-L" class="form-label preField " for="tfa_144">Last review date (Grievance)</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_144" name="tfa_144" value="" aria-describedby="tfa_144-HH" title="Last review date (Grievance)" class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_144-H">
                <p id="tfa_144-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
        <div id="tfa_173" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_145-D" role="group" aria-labelledby="tfa_145-L" data-tfa-labelledby="-L tfa_145-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_145" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_146-L" for="tfa_146">
                    <input type="checkbox" value="tfa_146" id="tfa_146" name="tfa_146" aria-labelledby="tfa_146-L" data-tfa-labelledby="tfa_145-L tfa_146-L">
                    <span class="form-icon"></span>
                    Disciplinary Procedures
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_147-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_147-L" class="form-label preField " for="tfa_147">Last review date (Disciplinary)</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_147" name="tfa_147" value="" autocomplete="off" aria-describedby="tfa_147-HH" title="Last review date (Disciplinary)" class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_147-H">
                <p id="tfa_147-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
        <div id="tfa_174" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_148-D" role="group" aria-labelledby="tfa_148-L" data-tfa-labelledby="-L tfa_148-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_148" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_149-L" for="tfa_149">
                    <input type="checkbox" value="tfa_149" id="tfa_149" name="tfa_149" aria-labelledby="tfa_149-L" data-tfa-labelledby="tfa_148-L tfa_149-L">
                    <span class="form-icon"></span>
                    Dismissal Procedures
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_150-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_150-L" class="form-label preField " for="tfa_150">Last review date (Dismissal)</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_150" name="tfa_150" value="" autocomplete="off" aria-describedby="tfa_150-HH" title="Last review date (Dismissal)" class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_150-H">
                <p id="tfa_150-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
        <div id="tfa_175" class="section inline group">
          <div class="form-group field-container-D  labelsRemoved  " id="tfa_151-D" role="group" aria-labelledby="tfa_151-L" data-tfa-labelledby="-L tfa_151-L">
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <span id="tfa_151" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_152-L" for="tfa_152">
                    <input type="checkbox" value="tfa_152" id="tfa_152" name="tfa_152" aria-labelledby="tfa_152-L" data-tfa-labelledby="tfa_151-L tfa_152-L">
                    <span class="form-icon"></span>
                    Absence/Sickness Procedures
                  </label>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group field-container-D  labelsRightAligned hintsTooltip " id="tfa_153-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_153-L" class="form-label preField " for="tfa_153">Last review date (Absence)</label>
            </div>
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_153" name="tfa_153" value="" autocomplete="off" aria-describedby="tfa_153-HH" title="Last review date (Absence)" class="form-input validate-datecal">
              <span class="field-hint-inactive" id="tfa_153-H">
                <p id="tfa_153-HH" class="form-input-hint text-secondary">DD/MM/YYYY</p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group field-container-D    " id="tfa_120-D">
        <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
          <label id="tfa_120-L" class="form-label preField reqMark" for="tfa_120">Previously involved with CJS programme</label>
        </div>
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <select id="tfa_120" name="tfa_120" title="Previously involved with CJS programme" aria-required="true" class="form-select required" required>
            <option value="">Please select...</option>
            <option value="tfa_121" id="tfa_121">Yes</option>
            <option value="tfa_122" id="tfa_122">No</option>
            <option value="tfa_123" id="tfa_123">Don't know</option>
          </select>
        </div>
      </div>
      <div id="tfa_176" class="section">
        <h3 id="tfa_176-L">About your CJS vacancies</h3>
        <div class="form-group field-container-D   hintsTooltip " id="tfa_154-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_154-L" class="form-label preField reqMark" for="tfa_154">Comply with 5 week CJS timescales</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_154" name="tfa_154" title="Comply with 5 week CJS timescales" aria-required="true" aria-describedby="tfa_154-HH" class="form-select required" required>
              <option value="">Please select...</option>
              <option value="tfa_155" id="tfa_155">No</option>
              <option value="tfa_156" id="tfa_156">Yes</option>
            </select>
            <span class="field-hint-inactive" id="tfa_154-H">
              <p id="tfa_154-HH" class="form-input-hint text-secondary">There is an expectation that jobs will be filled within 5 weeks of advertising.</p>
            </span>
          </div>
        </div>
        <div class="form-group field-container-D  labelsAbove  " id="tfa_160-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_160-L" class="form-label preField " for="tfa_160">Advise of timescale &amp; why needed</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <textarea cols="100%" rows="3%" maxlength="10000" id="tfa_160" name="tfa_160" title="Advise of timescale &amp; why needed" class="form-input"></textarea>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_157-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_157-L" class="form-label preField reqMark" for="tfa_157">Vacancy or vacancies will be located within your org</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <select id="tfa_157" name="tfa_157" title="Vacancy(ies) be located within your org" aria-required="true" class="form-select required" required>
              <option value="">Please select...</option>
              <option value="tfa_158" id="tfa_158" data-conditionals="#tfa_161-D">No</option>
              <option value="tfa_159" id="tfa_159">Yes</option>
            </select>
          </div>
        </div>
        <div class="form-group field-container-D  labelsAbove  " id="tfa_161-D" data-condition="`#tfa_158`">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_161-L" class="form-label preField " for="tfa_161">Please provide details</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <textarea cols="100%" rows="10%" maxlength="10000" id="tfa_161" name="tfa_161" title="If no, provide details" class="form-input"></textarea>
          </div>
        </div>
      </div>
      <div id="tfa_179" class="section">
        <h3 id="tfa_179-L">Supporting Documents</h3>
        <div class="form-group field-container-D    " id="tfa_178-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_178-L" class="form-label preField reqMark" for="tfa_178">Liability insurance</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="file" id="tfa_178" name="tfa_178" size="" title="Liability insurance " class="form-input required" required>
          </div>
        </div>
        <div class="form-group field-container-D    " id="tfa_181-D">
          <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12 pr">
            <label id="tfa_181-L" class="form-label preField reqMark" for="tfa_181">Contract of employment</label>
          </div>
          <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
            <input type="file" id="tfa_181" name="tfa_181" size="" title="Contract of employment" class="form-input required" required>
          </div>
        </div>
      </div>
      <div class="htmlSection form-group" id="tfa_177">
        <div class="htmlContent col-9 col-xl-12" id="tfa_177-HTML">
          <p>
            Employers who apply to create CJS vacancies must be able to demonstrate a commitment to provide a high quality job. This includes the provision of an induction, on-the-job training, support/supervision and jobsearch support. This Employer Registration document will form part of the Memorandum of Understanding.
          </p>
        </div>
      </div>
      <div class="form-group field-container-D  labelsRemoved  " id="tfa_162-D" role="group" aria-labelledby="tfa_162-L" data-tfa-labelledby="-L tfa_162-L">
        <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
          <span id="tfa_162" class="choices vertical required">
            <span class="oneChoice">
              <label class="form-checkbox postField" id="tfa_163-L" for="tfa_163">
                <input type="checkbox" value="tfa_163" id="tfa_163" name="tfa_163" aria-labelledby="tfa_163-L" data-tfa-labelledby="tfa_162-L tfa_163-L" required>
                <span class="form-icon"></span>
                I can confirm that the information provided is correct
              </label>
            </span>
          </span>
        </div>
      </div>
      <div class="actions" id="4893809-A">
        <input type="submit" data-label="Submit" class="primaryAction btn btn-primary" id="submit_button" value="Submit">
      </div>
      <div style="clear:both"></div>
      <input type="hidden" value="4893809" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="efd77bc912e518a7cfacac740b501572" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="38" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>