<div class="footer v-margin-full v-padding-full text-center">
  <p>
    <strong>Community Jobs Scotland is supported by:</strong>
  </p>
  <a class="no-ext no-underline" href="http://gov.scot"><img src="{{~>asset_url url='images/logos/organisations/SG.svg'~}}" alt="Scottish Government" width="300" /></a>
</div>