{{> sidebars_menu}}

<div class="v-margin-full b-padding-full">
  <h4>About Community Jobs Scotland</h4>
  <p>
    Creating jobs in Scotland's voluntary sector for unemployed vulnerable young people.
  </p>
  <p>
    <strong>Contact</strong>
    <ul class="fa-ul">
      <li>
        <span class="fa-li"><span class="fas fa-envelope-square"></span></span>
        <a href="mailto:communityjobsscotland@scvo.org.uk">communityjobsscotland@scvo.org.uk</a>
      </li>
      <li>
        <span class="fa-li"><span class="fas fa-phone-square fa-flip-horizontal"></span></span>
        <a href="tel:+441415595026">0141 559 5026</a>
      </li>
      <li>
        <span class="fa-li"><span class="fab fa-twitter-square"></span></span>
        <a href="https://twitter.com/_cjs_">Twitter</a><br />
      </li>
      <li>
        <span class="fa-li"><span class="fab fa-facebook-square"></span></span>
        <a href="https://www.facebook.com/CommunityJobsScotland/">Facebook</a>
      </li>
    </ul>
  </p>
</div>