<div class="container-fluid">
  <div class="container-content v-margin-full v-padding-full">
    <h1 class="mdc-typography--headline3">
      Error
    </h1>
    <div class="mdc-typography--body1 b-margin-full b-padding-full">
      Something went wrong, please <a href="/checkup">start the checkup again</a>.
    </div>
  </div>
</div>