<div class="progress-bar mdc-elevation--z3 trapezoid">
  <div class="progress-label" style="width:{{progress}}%">
    <div class="progress-label-text trapezoid-content{{#compare progress 100}} text-center{{/compare}}">
      {{#compare progress "<" 100 ~}}
      {{progress}}% complete
      {{else}}
      Checkup complete
      {{/compare ~}}
    </div>
  </div>
</div>