<div class="container b-margin-full">
  <div class="columns">
    <div class="column col-5">
      <p>
        <strong>Sponsors:</strong>
      </p>
      <br />
      <div class="gathering sponsors b-margin-full b-padding">
        <div class="sponsor keegan-pennykid">
          <a href="https://www.keegan-pennykid.com" target="_blank" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/KPlogo.png" class="img-responsive" /></a>
        </div>
        <div class="sponsor oscr">
          <a href="https://www.oscr.org.uk" target="_blank" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/oscr.png" class="img-responsive" /></a>
        </div>
        <div class="sponsor ccla">
          <a href="https://www.ccla.co.uk" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ccla.png" class="img-responsive" /></a>
        </div>
          {{!-- <!-- <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a> --> --}}
      </div>
    </div>
    <div class="column col-5">
      <p>
        <strong>Partners:</strong>
      </p>
      <div class="gathering sponsors b-margin-full b-padding">
        <div class="sponsor socialenterprise">
          <a href="https://socialenterprise.scot" target="_blank" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ses-logo.png" class="img-responsive" /></a>
        </div>
        <div class="sponsor socialenterprisescotland">
          <a href="https://www.socialenterprisescotland.org.uk" target="_blank" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/seem-logo.jpg" class="img-responsive" /></a>
        </div>
        <div class="sponsor glasgowconventionbureau">
          <a href="https://glasgowconventionbureau.com" target="_blank" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/glasgow-convention-bureau-logo-black.png" class="img-responsive" /></a>
        </div>
          {{!-- <a href="https://www.rockpa.org" style="float:left;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/rpa_logo.png" width="225" /></a> --}}
          {{!-- <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a> --}}
      </div>
    </div>
    <div class="column col-2">
      <p>
        <strong>Media:</strong>
      </p>
      <br />
      <div class="gathering sponsors b-margin-full b-padding">
        <div class="sponsor thirdforcenews">
          <a href="https://thirdforcenews.org.uk?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic" class="no-ext no-underline"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/tfn.png" class="img-responsive" /></a>
        </div>
      </div>
    </div>
  </div>
</div>