{{!-- <div class="splash-image splash-image-page" style="height:30vh;background-size:cover;background-image:url('{{~>asset_url url='images/gathering/header_2020.svg'~}}');">
  <div class="splash-overlay splash-overlay-hidden">
    <div class="container">
      <img src="{{~>asset_url url='images/gathering/logo_2020_colour.svg'~}}" alt="The Gathering" class="header-text" style="height:30vh;margin:0 auto;display:block;padding:1rem 0;">
      <p>
        19th &amp; 20th February / SEC, Glasgow<br />
        <a href="https://twitter.com/scvotweet" target="_blank">@scvotweet</a> / <a href="https://twitter.com/hashtag/scvogathering" target="_blank">#scvogathering</a>
      </p>
    </div>
  </div>
</div> --}}

{{!-- <div class="bg-secondary">
  <div class="container">
    <div class="upper-nav page-upper-nav">
      {{> sidebars_menu items=@root.context.metaData.sidebarMenus.gathering-2020 path=@root.request.url.pathname id="gathering-menu"}}
    </div>
  </div>
</div> --}}