<div class="sponsors text-centre">
  <h3>
    Sponsors
  </h3>
  <p>
    <a href="https://www.keegan-pennykid.com" target="_blank" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/KPlogo.png" height="75" /></a>
  </p>
  <p>
    <a href="https://www.oscr.org.uk" target="_blank" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/oscr.png" height="75" /></a>
  </p>
  <p>
    <a href="https://www.ccla.co.uk" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ccla.png" height="75" /></a>
  </p>
    {{!-- <!-- <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a> --> --}}

  <h3>
    Partners
  </h3>
  <p>
    <a href="https://socialenterprise.scot" target="_blank" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/ses-logo.png" height="75" /></a>
  </p>
  <p>
    <a href="https://www.socialenterprisescotland.org.uk" target="_blank" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/seem-logo.jpg" height="75" /></a>
  </p>
  <p>
    <a href="https://glasgowconventionbureau.com" target="_blank" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/glasgow-convention-bureau-logo-black.png" height="75" /></a>
  </p>
    {{!-- <a href="https://www.rockpa.org" style="float:left;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/rpa_logo.png" width="225" /></a> --}}
    {{!-- <a href="/{{firstItem (split @root.request.params.path '_')}}/sponsorship" style="float:left;width:200px;overflow:hidden;"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/G2018-CM-sponsor-buttons.png" height="73" /></a> --}}

  <h3>
    Media
  </h3>
  <p>
    <a href="http://thirdforcenews.org.uk?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic" class="no-ext no-underline text-centre"><img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/gathering/tfn.png" width="80" height="80" /></a>
  </p>
</div>
