{{!-- <div class="page"> --}}
  <div class="container">
    <div class="columns">
      <div class="column col-9 col-lg-8 col-md-12">
        {{> page_full @root.data.primaryResponse.hits.hits.[0]._source}}
      </div>
      <div class="column col-3 col-lg-4 col-md-12">
        {{> footers_gathering}}
      </div>
    </div>
  </div>
{{!-- </div> --}}