<div class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column col-8 col-lg-7 col-md-12 hero-text">
        <h1>Promoting <span class="text-primary">your good work</span> in Scotland</h1>
      </div>
      <div class="column col-4 col-lg-5 col-md-12 hero-illustration">
        <img src="{{~>asset_url url='images/home/scvo_motheroftwo_montage_11.png'~}}" alt="Illustration of a group of people" />
      </div>
    </div>
  </div>
</div>
