<div class="page">
  <div class="container-fluid">
    {{> breadcrumbs}}
  </div>
  {{> headers_splash}}
  <div class="page-content">
    {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
  </div>
</div>
