{{#compare @root.data.supplimentaryResponses.related_posts.hits.total ">" 0 ~}}
<div class="related-posts t-margin-full">
  <h4 class="blogs">Related posts</h4>
  <ul class="v-margin supplimentary-list">
    {{#each @root.data.supplimentaryResponses.related_posts.hits.hits ~}}
    {{> post_list _source}}
    {{/each ~}}
  </ul>
  {{!-- {{#if @root.data.primaryResponse.hits.hits.[0]._source.categories_slug.[0] ~}}
  <a class="v-margin btn btn-link" href="/post/categories/{{@root.data.primaryResponse.hits.hits.[0]._source.categories_slug.[0]}}">More posts</a>
  {{/if ~}} --}}
</div>
{{/compare ~}}
