<div class="event">
  <div class="container-fluid page-content">
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/jobs">Jobs</a></li>
      <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
      <li class="breadcrumb-item"><a href="{{url}}">Training opportunities</a></li>
      <li class="breadcrumb-item">{{{title}}}</li>
    </ul>
    {{/with ~}}
  </div>
  {{> headers_splash_event}}
  <div class="container-fluid page-content">
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    {{> event_full}}
    {{/with ~}}
    {{!-- {{> related_events}} --}}
  </div>
</div>