<div class="event">
  <div class="container-fluid">
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li>{{{title}}}</li>
    </ul>
    {{/with ~}}
  </div>
  {{> headers_splash_event}}
  <div class="container-fluid page-content">
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    {{> event_full}}
    {{/with ~}}
    {{> same_events}}
    {{> related_events}}
  </div>
</div>
