<div class="my-1 container">
  {{!-- {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}} --}}
  <p>
    The Church of Scotland 2022 Small Grants Fund is currently closed for a summer break.
  </p>
  <p>
    It will reopen on 1 August and remain open until the end of November (or until all of the funds have been allocated).
  </p>
  <p>
    If you have any questions about the Fund please contact the Grants Unit email: <a href="mailto:2022SGF@churchofscotland.org.uk">2022SGF@churchofscotland.org.uk</a>
  </p>
</div>
