
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TFN latest news</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css'>

  {{> layout_fonts}}

  <style>
  :root {
    --main-white-color: white;
    --main-black-color: black;
  }
  body {
    width: 100vw;
    background-color: rgba(59,157,177,1);
  }
  li,
  span,
  div,
  p {
    font-family: 'Ingra';
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }

  .static {
    position: static;
  }

  .cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -25vw;
  }

  .owl-carousel .owl-slide {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
  }

  .owl-carousel .owl-slide-animated {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }

  .owl-carousel .owl-slide-animated.is-transitioned {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }

  .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }

  .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }

  .owl-carousel .owl-slide-date.is-transitioned {
    transition-delay: 0.5s;
  }

  .owl-carousel .owl-dots,
  .owl-carousel .owl-nav {
    position: absolute;
  }

  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
  }

  .owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-black-color);
    transition: all 0.2s ease;
  }

  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-black-color);
  }

  .owl-carousel .owl-nav {
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
  }

  .owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  .owl-carousel .owl-nav button:hover svg {
    opacity: 1;
  }

  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }

  .overlay {
    height: 100vh;
    width: 100vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b9db1+0,3b9db1+100&0+38,1+64 */
    background: -moz-linear-gradient(left,  rgba(59,157,177,0) 0%, rgba(59,157,177,0) 38%, rgba(59,157,177,1) 63%, rgba(59,157,177,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(59,157,177,0) 0%,rgba(59,157,177,0) 38%,rgba(59,157,177,1) 63%,rgba(59,157,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(59,157,177,0) 0%,rgba(59,157,177,0) 38%,rgba(59,157,177,1) 63%,rgba(59,157,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b9db1', endColorstr='#3b9db1',GradientType=1 ); /* IE6-9 */
  }

  .owl-slide-block {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .owl-carousel .owl-item img.top {
    width: 14vh;
    margin-bottom: 6.48148vh;
  }
  .owl-carousel .owl-item img.footer {
    width: auto;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem;
    background-color: rgba(59,157,177,1);
  }

  .owl-slide-text {
    color: white;
    margin: 0 4rem 0 auto;
    width: 35vw;
  }
  .owl-slide-text h2 {
    font-size: 6vh;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 5vh;
    font-family: 'Asap';
    font-feature-settings: "ss01" on, "liga" on;
    letter-spacing: -0.08rem;
  }
  .owl-slide-text .story-summary {
    font-size: 3.8vh;
    line-height: 1.3;
    margin-bottom: 8vh;
  }
  .owl-slide-text .story-date {
    font-size: 3.8vh;
    margin-top: 2vh;
    line-height: 1.3;
    opacity: .6 !important;
  }

  @media screen and (max-width: 575px) {
    .owl-carousel .owl-nav {
      top: 5%;
    }

    .owl-carousel .owl-nav svg {
      width: 24px;
      height: 24px;
    }
  }
</style>
<script>
window.console = window.console || function(t) {};
</script>
<script>
if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
}
</script>
</head>
<body translate="no">
  <div class="owl-carousel owl-theme">
    {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
    {{#each @root.data.primaryResponse.hits.hits ~}}
    {{#with _source ~}}
    <div class="owl-slide d-flex align-items-center cover" style="background-image: url('{{image}}');">
      <div class="overlay">
        <img src="{{~>asset_url url='images/logos/tfn-strapline.png'}}" class="footer" />
        <div class="owl-slide-block">
          <div class="owl-slide-text">
            <img src="{{~>asset_url url='images/logos/tfn.png'}}" class="top" />
            <h2 class="owl-slide-animated owl-slide-title">{{{trim title}}}</h2>
            <div class="owl-slide-animated owl-slide-subtitle mb-3 story-summary">
              {{{trim description}}}
            </div>
            <div class="owl-slide-animated owl-slide-date mb-3 story-date">
              {{replace (momentFromNow date_published) 'a day ago' 'yesterday'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with ~}}
    {{/each ~}}
    {{/compare ~}}
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script id="rendered-js">
  /*JS way for setting height: 100vh to slides' height*/
  //   const $slides = $(".owl-carousel .owl-slide");
  //   $slides.css("height", $(window).height());
  //   $(window).resize(() => {
  //   $slides.css("height", $(window).height());
  // });

  $(".owl-carousel").on("initialized.owl.carousel", () => {
    setTimeout(() => {
      $(".owl-item.active .owl-slide-animated").addClass("is-transitioned");
    }, 200);
  });

  const $owlCarousel = $(".owl-carousel").owlCarousel({
    items: 1,
    loop: true,
    nav: false,
    dots: false,
    autoplay: true,
    checkVisible: false,
    autoplayTimeout: 8100
  });

  $owlCarousel.on("changed.owl.carousel", e => {
    $(".owl-slide-animated").removeClass("is-transitioned");

    const $currentOwlItem = $(".owl-item").eq(e.item.index);
    $currentOwlItem.find(".owl-slide-animated").addClass("is-transitioned");

    const $target = $currentOwlItem.find(".owl-slide-text");
    doDotsCalculations($target);
  });

  $owlCarousel.on("resize.owl.carousel", () => {
    setTimeout(() => {
      setOwlDotsPosition();
    }, 50);
  });

  /*if there isn't content underneath the carousel*/
  $owlCarousel.trigger("refresh.owl.carousel");

  setOwlDotsPosition();

  function setOwlDotsPosition() {
    const $target = $(".owl-item.active .owl-slide-text");
    doDotsCalculations($target);
  }

  function doDotsCalculations(el) {
    const height = el.height();
    const { top, left } = el.position();
    const res = height + top + 20;

    $(".owl-carousel .owl-dots").css({
      top: `${res}px`,
      left: `${left}px`
    });
  }
  </script>
</body>
</html>