{{#compare @root.data.supplimentaryResponses.related_posts.hits.total ">" 0 ~}}
<h3 class="blogs">Related posts</h3>
<div class="columns">
  {{#with @root.data.supplimentaryResponses.related_posts.hits.hits ~}}
  <div class="column col-4 col-lg-6 col-md-12">
    {{{[0]._source.rendered.scvo_gist}}}
  </div>
  <div class="column col-4 col-lg-6 col-md-12">
    {{{[1]._source.rendered.scvo_gist}}}
  </div>
  <div class="column col-4 col-lg-6 col-md-12">
    {{{[2]._source.rendered.scvo_gist}}}
  </div>
  {{/with ~}}
</div>
{{/compare ~}}

{{> footers_services}}
