<div class="social">
  <button class="btn" id="continue-with-google" type="button" data-provider-id="google.com" data-component="TasksTrigger" data-TasksTrigger="sign-in">
    <span class="fab fa-2x google-logo"><img src="https://storage.googleapis.com/scvo-assets/test/volunteerscotland-search/images/logos/g-logo.png" /></span> Sign in with Google
  </button>
  <button class="btn" id="continue-with-twitter" type="button" data-provider-id="twitter.com" data-component="TasksTrigger" data-TasksTrigger="sign-in">
    <span class="fab fa-twitter-square fa-2x"></span> Sign in with Twitter
  </button>
  <button class="btn" id="continue-with-facebook" type="button" data-provider-id="facebook.com" data-component="TasksTrigger" data-TasksTrigger="sign-in">
    <span class="fab fa-facebook-square fa-2x"></span> Sign in with Facebook
  </button>
</div>